[2017-05-08 02:16] #593 closed

[2017-05-09 20:29] MingboPeng opened #625 "OpenStudio Glazing U value setting error"
Hi Mostapha,

It seems there is a problem of exporting glazing material to openstudio. I checked the simulation results that ran from grasshopper and OpenStudio, their final results matches, so I assuming this is not set correctly in "exportToOpenStudio".

![image](https://cloud.githubusercontent.com/assets/9031066/25870891/bde069c0-34d3-11e7-9eac-b52ef08e2aaf.png)

![image](https://cloud.githubus

[2017-05-09 22:33] chriswmackey commented on #625
@MingboPeng ,
I use this feature all of the time and see changes in the results with different U-Values.  Otherwise, I would not be able to run Design Explorer studies like this one:
http://tt-acm.github.io/DesignExplorer/?GFOLDER=0BwESNksS3Eucbm5raV85eVFQMlk
It must be something different with your grasshopper file.  Could you post a link to your GH file that is causing this issue?
-Chris

[2017-05-10 13:03] MingboPeng commented on #625
Hi @chriswmackey ,

I just recreated a example, it is still the same. please find the attached zip file (GH and osm file)
[OpenStudio.zip](https://github.com/mostaphaRoudsari/honeybee/files/989788/OpenStudio.zip)

Thanks,
Mingbo

[2017-05-10 16:24] MingboPeng commented on #625
@chriswmackey  I think this might because of the newest OpenStudio 2.1.

[2017-05-11 22:12] chriswmackey commented on #625
@MingboPeng ,
I know what's happening.  A U-Value of 1.25 (IP) is a higher U-Value than a single pane of glass.  OpenStudio must be trying to correct for such an input that would violate laws of physics.

You should set it to something more realistic like 0.4 (standard double pane) or 0.25 (standard triple pane).  For example, when I set it to Triple pane (0.25), everything works correctly:
![imag

[2017-05-11 22:12] #625 closed

[2017-05-12 00:39] jordaneasterling opened #626 "Runtime Error (MissingMemberException)"
Hi Ladybug Tools Team.

I've been having a difficult time running my rhino model into THERM via your work flow. Mostly, these have been issues with geometry that I am slowly working towards understanding better (I assume when importing Rhino arcs into THERM, there will typically be issues?)

Recently I got the following error:

===========================================================
Runtime er

[2017-05-12 04:54] MingboPeng commented on #625
@chriswmackey  ha, thanks, and I found that OS accepts max UValue(IP) 1.232771, and also someone says EnergyPlus cannot model more than 5.8 W/m2-K (IP:1.02).  [https://unmethours.com/question/890/openstudio-u-factor-maximum-value-for-simple-glazing/](url)

The reason I was using 1.25 IP is because of modeling a "poor performed" existing building.

Good to know this, thanks again.
Mingbo

[2017-05-12 15:08] chriswmackey commented on #626
@jordaneasterling ,
I apologize that the THERM workflow is a bit unstable at the moment as I've been updating everything to use the new THERM Command Line Interface (CLI), which will give us a whole set of new capabilities and make the workflow faster.  Everything should be complete by the end of this weekend.

The issue that you are experiencing is because you are using the newest version of Hone

[2017-05-12 15:08] #626 closed

[2017-05-12 15:19] chriswmackey commented on #625
@MingboPeng ,
Thanks for finding this limit.  I have added a warning to the EnergyPlus Window Material component that alerts people when they pass this acceptable limit:
https://github.com/mostaphaRoudsari/honeybee/commit/7ff72f1abf12760207ed2fa8c6c0932be307a710
Thanks again!

[2017-05-12 15:47] jordaneasterling commented on #626
Chris,

Thanks for the quick response. I'm traveling now but will check when I get back.

jrdn

[2017-05-13 08:20] saeranv commented on #497
@chriswmackey
Sorry it's taking a while to finish this! But I am making progress.
I have a question about something you wrote in the original LB post regarding this component:
You mentioned that you wanted to:
"...build up a library of functions that can divide floors into core/perimeter, which is the main function that is failing here."

What do you mean by library of functions exactly? Are you s

[2017-05-13 12:43] chriswmackey commented on #497
@saeranv ,

Thanks for asking and no worries if this is taking some time. I would rather take time and get it right now rather than produce a bunch of messy code like I did on this originally.

What I meant by "a library of functions" was just that we have a set of organized methods for subdividing the core and perimeter, with each method as its own function.
The subdivision of solids is something

[2017-05-14 18:33] chriswmackey commented on #567
We now support all versions of OpenStudio 2.x.  Closed!

[2017-05-14 18:33] #567 closed

[2017-05-14 18:33] chriswmackey commented on #618
Done!
https://github.com/mostaphaRoudsari/honeybee/commit/b1e12a3cea2be391865cfbf197d2efe743e816d6

[2017-05-14 18:33] #618 closed

[2017-05-14 18:50] chriswmackey commented on #550
@benmo1 ,

I was considering adding in an extra input to the Write THERM component for this but I have realized that there's nothing stopping people right now from working pretty much fully within IP (both within Rhino and within THERM). First, there's no reason to write polygons into the THERM XML using inches because, as long as people in THERM have the IP toggle switched, everything will displa

[2017-05-14 18:50] #550 closed

[2017-05-14 19:00] chriswmackey commented on #626
@jordaneasterling ,

I finished implementing THERM Command Line Interface such that you can now run simulations directly from Grasshopper with no need to open the file in THERM.  I updated the hydra example file here to show how to do this:
http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=THERM_Export_Workflow&slide=0&scale=1&offset=0,0

Things should now be stable and e

[2017-05-15 19:03] jankiv commented on #624
@chriswmackey #624
Hi, I'm not sure how to open this issue back up so I'm just responding here. Everything stops working when I use a panel with results file address to read in results at several points in the thermal comfort workflow.

The first error occurs after the energy plus run. When I switch from the resultsFileAddress output to a panel with a file path prior to running Microclimate Map An

[2017-05-15 19:04] jankiv commented on #624
Here is the csv file I am using, i am not able to upload the GH file

[2017-05-16 17:31] chriswmackey commented on #624
@jankiv ,

The first issue that you note is by design.  The microclimate maps work by matching the names of surfaces between the HBZones and the energy simulation results.  When you re-run your GH script and you have not named all of the surfaces, the script will generate new random names for all of the surfaces and things will no longer match.  At some point I'll see if I can finish the [Dump and

[2017-05-16 18:05] jankiv commented on #624
I named the surfaces but only by type, so if there was more then one geometry then the duplicates are autonamed by EnergyPlus. So if I convert the names to a multiline panel and name each surface with unique identifiers it should solve the problem I am having right? 
Thanks,  JV

      From: Chris Mackey <notifications@github.com>
 To: mostaphaRoudsari/honeybee <honeybee@noreply.github.com>
Cc: ja

[2017-05-18 13:31] MingboPeng opened #627 "Energy output data orders mismatching the input zones' order"
Hi @mostaphaRoudsari @chriswmackey ,

Just went into a trouble when trying to do some calculations for each zones, and found the outputs' order for each zone does not match the input zones' order. please see the attachment, "testZone" is at the last of input zone, and the output results is at the first branch.

Is this meant to be like this, or am I doing anything wrong?

![image](https://cloud.gi

[2017-05-18 21:46] chriswmackey commented on #627
@MingboPeng ,

This issue was recently fixed:
https://github.com/mostaphaRoudsari/honeybee/issues/593
http://www.grasshopper3d.com/group/ladybug/forum/topics/zonenames
https://github.com/mostaphaRoudsari/honeybee/commit/a3ef2ad4f274047b224a267bd7f2970400bd17f9

Update your components and all should work.  If the issue persists, reopen this and post a link to a GH file that recreates the error.

-C

[2017-05-18 21:46] #627 closed

[2017-05-19 02:09] MingboPeng commented on #627
@chriswmackey  that's strange, I just updated all my components before build up this grasshopper.
I just did another update, and "readEPResult" is still 2/15/2017 version.

[2017-05-22 13:19] Mahamiho opened #628 "3 and 5 phase method in Honeybee"
Hey,
I have a project where I would need to test the 3 and 5 phase methods to simulate light shelves, anidolic systems, and reflective surfaces. I heard that there is going to be a release soon of these features in Honeybee, is it sure now when is that going to be?
Thanks alot,

[2017-05-25 04:29] sariths commented on #628
@Mahamiho There are some [examples](https://github.com/ladybug-tools/honeybee-plus/tree/master/plugin/grasshopper/sampleFiles) from the [NYC AEC hackathon](http://core.thorntontomasetti.com/aec-technology-symposium-and-hackathon-2016/aec-technology-symposium-and-hackathon-2016-workshops/) that contain implementations of the Three Phase Method in Honeybee. However, I am not sure if they'd still be

[2017-05-26 19:06] chriswmackey opened #629 "Expose Radiation Model in THERM Workflow"
as per this discussion:

http://www.grasshopper3d.com/group/ladybug/forum/topics/therm-control-over-bc-radiation-model?xg_source=activity

[2017-05-27 04:45] saeranv commented on #497
@chriswmackey

Yes, I have lost many nights of sleep trying to fight Rhino's buggy solid subdivision methods :)  I like your idea of a library of functions, the key I think will be to test as many different use cases as possible to identify possible failures where we'll need a different geometric approach.

My current approach is to implement [Felkel and Obdrzalek's algorithm](http://www.dma.fi.up

[2017-05-27 20:27] Mahamiho commented on #628
Hey @sariths thanks for your reply, I will wait for it then :)

[2017-05-27 20:42] mostaphaRoudsari commented on #628
They are still functional in grasshopper but I would wait until we address this new enhancement: https://github.com/ladybug-tools/honeybee/issues/131

[2017-05-31 00:26] chriswmackey commented on #497
@saeranv ,

I feel your pain but this is looking great!  Felkel and Obdrzalek's algorithm for a 'straight skeleton' definitely seems t be the way to go for the vast majority of cases.  Any way that we can simplify the issue into a 2D one is going to give us a lot more reliability.

Feel free to send a pull request of the components whenever you like and I will merge them in.  If you still feel lik

[2017-06-01 21:12] twanito opened #630 "HB Generation Battery"
Hi, I've really enjoyed playing around with the renewable energy generation nodes and have been wanting to push it a bit further by carrying out parametric studies to determine best PV module and battery set up for an off-grid system.

I have done a bit of digging into the existing code and it appears everything is already there to create a battery object in Eplus but there is no battery node. I'v

[2017-06-01 22:27] antonszilasi commented on #630
@twanito Happy to hear that you are interested in renewable energy in Honeybee. Unfortunately I am in a bit of a crunch with work but I do plan to update all my renewable energy code towards the end of this year.

None the less I did write some code to put battery objects in Honeybee here: https://github.com/antonszilasi/Honeybee/tree/storageobjects

on the storageobjects branch of my honeybee, ta

[2017-06-04 15:58] twanito commented on #630
Well thank you for the great groundwork into getting this renewable energy nodes in. I hadn't spotted the one on your Honeybee fork. I'm also happy to see the way I scripted my battery node in was very similar to yours (clearly i was doing something right)!

I understand that you're covered in work at the moment. If I were to fork from your branch and add a few more things (I need a real battery m

[2017-06-06 22:06] chriswmackey commented on #629
This is done via :+1: https://github.com/mostaphaRoudsari/honeybee/commit/23cf2f722ed1f9a49b252d4cf47d7483675a79bd

[2017-06-06 22:06] #629 closed

[2017-06-30 12:36] chriswmackey commented on #628
@Mahamiho ,

For the sake of keeping our github issues tidy, I just wanted to point out that the implementation of 3 and 5 phase method is happening on the HoneybeePlus github repository and not this one. So you should keep a lookout here for when 3 and 5 phase are implemented:

https://github.com/ladybug-tools/honeybee

I'm going to close out this issue on this repo, which is just the Honeybee le

[2017-06-30 12:36] #628 closed

[2017-06-30 12:47] chriswmackey commented on #572
@saeranv and @antonszilasi ,

@mostapharoudsari and I finally figured out what was causing this (and other issues with large Honeybee models) a few weeks ago. It was the result of a runaway memory process that was happening after you tried to edit/copy zones that had solved adjacencies.

Specifically, after solved adjacencies, each subsequent component would copy all adjacent boundary surfaces whe

[2017-06-30 12:47] #572 closed

[2017-07-01 01:15] chriswmackey opened #634 "Add the Ability to Plug In Custom Meshes to View Factor Component"
This way, people can more easily customize the grid sizes in different portions of their view factor meshes (instead of having to create polysurfaces as they would now).  More info can be found in this discussion:

http://www.grasshopper3d.com/group/ladybug/forum/topics/storing-indoorviewfactor-viewfactorinfo?commentId=2985220%3AComment%3A1776577&xg_source=msg_com_gr_forum

-Chris

[2017-07-03 15:47] mostaphaRoudsari commented on #572
We were using `copy.deepcopy` and in this case it was copying more than what was needed because of what @chriswmackey mentioned. The solution was to customize the copying process.

[2017-07-08 02:24] DavidZTian opened #635 "Question of Modeling Prismatic Film with xml file"
Hi everyone, I am tying to model prismatic film for daylighting. I used the Honeybee_Radiance BSDF Material with the Film3M_145x1297_9142012_t.xml as well as real direct and diffuse radiation data. When I compared simulated illumiance data with real illumiance distribution data, the simulated data are way off the measured data. I asked Andy McNeil about this problem.
Andy provided the following su

[2017-07-08 16:22] sariths commented on #635
As a developer for Honeybee, I can tell you that this -"It's not advisable to use BSDF material for the window in a daylight coefficient simulation (which is the method used by ladybug/honeybee"- is only partially correct. You can do a  [point-in-time simulation using climate-based sky](http://hydrashare.github.io/hydra/viewer?owner=mostaphaRoudsari&fork=hydra_1&id=Honeybee_Grid-based_Daylight_Sim

[2017-07-09 11:11] DavidZTian commented on #635
Thanks a lot Sariths for the clarification! I think this clarification will also be of help to all Honeybee fans who want to use this BSDF Material function. Currently I am using this function with climate sky and the Film3M_145x1297_9142012_t.xml to model the point-in-time illuminance distribution in one zone. Unfortunately the simulated point-in-time illumiance distribution results are way off t

[2017-07-09 11:12] DavidZTian commented on #635
Thanks a lot Sariths for the clarification! I think this clarification will also be of help to all Honeybee fans who want to use this BSDF Material function. Currently I am using this function with climate sky and the Film3M_145x1297_9142012_t.xml to model the point-in-time illuminance distribution in one zone. Unfortunately the simulated point-in-time illumiance distribution results are way off t

[2017-07-09 15:59] mostaphaRoudsari commented on #635
@DavidZTian, A couple of questions that you can ask yourself to debug your model.

1. What are the radiance parameters / options are set to? Are they high enough?
2. Did you calibrate the sky against the measured sky?
3. What are the differences between measured and modeled results? Is the pattern similar but the values are different or you don't get the excepted pattern?
4. Did you try to also ru

[2017-07-09 16:00] mostaphaRoudsari commented on #635
In any case discussion is better to happen in the forum as it's not related to the development.

[2017-07-09 16:06] sariths commented on #635
@DavidZTian Concurring with all the points that @mostaphaRoudsari made, I'd like to add that one reliable way to validate/compare such a measurement would be to plugin the values of direct-normal and horizontal diffuse radiation in the place of values that you are currently getting from a TMY data set. There are a few studies conducted by LBNL and the Fraunhofer institute where they delve into the

[2017-07-10 07:06] DavidZTian commented on #635
Thanks Mostaoha and Sariths for your suggestions.  1. The Radiance bounce is set as 4; 2. I dont know how to check the sky against the measured sky, can you please provide a method?; 3. The measured illuminances higher than simulated values are mainly located in the inner part of the space, with depth of aroud 20 meters from windows, and are also in the place close to the window (1m from window);

[2017-07-10 17:57] sariths commented on #635
Hi @DavidZTian,

Typically, one has to measure/obtain direct-normal and diffuse horizontal radiation values and then create a sky definition from that. This [dissertation](https://etda.libraries.psu.edu/files/final_submissions/14201) contains a fairly detailed description about how the author went about doing the validation with simple instruments. I would like point out that validating daylightin

[2017-07-17 14:51] EnricoBH opened #636 "GrizzlyBear "model" Missing?"
Hi everyone,
I just updated to the new HB+LB (0.0.61 + 0.064) and noticed that the option for linking the OpenStudio to the GrizzlyBear component is missing. Just adding a new output and calling it "model" seem to solve the issue.
Was wondering if this is the right way to extract the correct model for?

Cheers

[2017-07-17 22:08] mostaphaRoudsari commented on #636
Hi @EnricoBH, That is the right approach and if the output is missing that is a bug that should be fixed. Thanks for reporting.

[2017-07-18 01:21] chriswmackey commented on #636
@EnricoBH and @mostaphaRoudsari ,

I have never used the Grizzy Bear components but I can try to address the issue.  As far as I can tell, the GBXML importer still has a model output on it:
![image](https://user-images.githubusercontent.com/5567574/28296344-c2fd0f38-6b35-11e7-95c7-035d9ad1b312.png)

Could you elaborate or upload a GH definition showing the issue?
-Chris

[2017-07-18 01:35] mostaphaRoudsari commented on #636
@chriswmackey this is how the workflow used to be. These components use OpenStudio to import/export gbXML.

![image](https://user-images.githubusercontent.com/2915573/28296695-c09beb18-6b37-11e7-8f07-0ff385ac6271.png)

As @EnricoBH mentioned the fix is just to add an output for model. I have already exposed it in the outputs that are returned from the main function.

[2017-07-20 05:01] chriswmackey commented on #636
@mostaphaRoudsari ,
Understood.  I did not realize that the component was using the actual model object and not the OSM.  I have put back the model output and everything should work fine now:
https://github.com/mostaphaRoudsari/honeybee/commit/46993c36f490718a99be3cc8e9bbaa60000a950b
-Chris

[2017-07-20 05:01] #636 closed

[2017-07-25 05:29] ayezioro commented on #548
Hi,
I've just installed OpenStudio2.2 and i get the warning that it can't find OS.
I installed it at Program Files folder.
Checking the HB_HB code i see that it can be installed either at default location (C:\) or Program Files.
So looking a bit further (line 9225), it says:

This is the problem, having O and S capital.
Changing to:

solves the problem, which BTW is what is written in the followin

[2017-07-25 14:47] mostaphaRoudsari commented on #548
@chriswmackey this has been a constant issue on the forum. I re-open this so we can get it fixed before the release.

[2017-07-26 13:25] chriswmackey commented on #624
This has new been implemented.  You can now write HBZones to a file or write the viewFactorInfo to a file and load up zones again later.

[2017-07-26 13:25] #624 closed

[2017-07-26 13:31] chriswmackey commented on #575
@TheodoreGalanos ,
You can now save viewFactorInfo to a file using the Load/Dump HBObjects component.  This should save you from running this time intensive step more than once.

[2017-07-26 13:31] #575 closed

[2017-07-26 13:46] chriswmackey commented on #548
@ayezioro ,

Your proposed change is not the best way to solve the issue and it is important to stress that OpenStudio 2.x needs to run out of the root of the machine (the C:\ drive).  If you always install OpenStudio in its default location, you will never have any issues.  So just install OpenStudio 2 and above in the root of the machine and install OpenStudio 1 in Program Files.  If you do this

[2017-07-26 13:46] #548 closed

[2017-07-26 13:49] mostaphaRoudsari commented on #548
@chriswmackey thanks for the clarification.

[2017-07-26 13:49] chriswmackey commented on #499
@mostaphaRoudsari ,

We can look back now and realize why this issue was the way that it is.  I'm so glad that we fixed that memory bug!

[2017-07-26 13:49] #499 closed

[2017-07-26 13:55] chriswmackey commented on #393
Gosh, this was an old issue.  Thanks to Honeybee HVAC, this is all addressed now and I pretty much always see savings when using an economizer on an all-air system.

[2017-07-26 13:55] #393 closed

[2017-07-26 13:56] chriswmackey commented on #387
Just made this change by turning the viewFactorInfo into a HBObject!

[2017-07-26 13:56] #387 closed

[2017-07-26 14:05] chriswmackey commented on #288
@agusHariyadi ,
I realize this issue was opened a long time ago and it probably had to do with the order of zones and names of zones not matching.  In this day and age, I would recommend using the Honeybee Transform components to do operations like this after the zones have been created.    Using the "Rotate Honeybee" component will help ensure preservation of the base zone names in the transforma

[2017-07-26 14:05] #288 closed

[2017-07-26 14:07] chriswmackey commented on #286
Now that I have gone 2 years with using this feature, I feel confident that it's all working correctly.  I'm going to close it out!

[2017-07-26 14:07] #286 closed

[2017-07-26 14:12] chriswmackey opened #637 "Implement OpenStudio Measures Consistently with OpenStudio 2.x"
This is the last major feature that I feel the legacy version of Honeybee needs.  I have been looking at the unit testing examples for the new OpenStudio measures and this is helping me understand how we can run the measure from Honeybee.  There are still a few hiccups in the process and I feel that it should be easily implementable with just a little guidance.  I know @macumber will be at the Bui

[2017-07-26 14:15] ayezioro commented on #548
Thanks @chriswmackey for the clarification.

[2017-07-26 14:19] chriswmackey opened #638 "Convert All Non-OpenStudio Features of Honeybee into EnergyPlus Measures"
Now that I see how easy it is to write EnergyPlus measures, we should definitely convert the whole class of nonOSFeatures in the OpenStudio component into EnergyPlus measures.  This will allow the instructions for writing additional features to be carried over into the resulting OpenStudio model.  This will also open up whole new workflows that start in Honeybee and end by editing things in OpenSt

[2017-07-26 14:24] chriswmackey opened #639 "Add a 'Ground Sourced' Option to Honeybee HVAC Templates"
Now that ground sourced heat pump systems are becoming more of an industry standard and I figured out ho to correctly model these in OpenStudio these past few months, I feel that this is an option that should be implemented for the Honeybee HVAC templates that can accommodate it.  We already have some ground-sourced VRF and WSHP options.  The key thing that I want to implement is just a 'central c

[2017-07-26 16:06] chriswmackey commented on #571
@ayezioro ,

I know that it's been a while since you worked on this component but it would be great to have this available for the upcoming release at least in the WIP section.  To say the least, it is very useful to have a component that converts the constructions in the library to geometry that is ready for THERM workflows.  We can leave the component in WIP until we figure out a good way to dea

[2017-07-26 16:06] chriswmackey commented on #571
I should also mention that the deadline for the next stable release is this Friday (the 28th).

[2017-07-27 12:04] ayezioro commented on #571
Hi @chriswmackey,
No problem in committing but ... since last time i wrote here (a while ago) i didn't touched the code. I "broke" with your suggestion of the legend. Have the intention to get back though.
If this is fine with you, i'll commit it AS IS.

I'll write you an email to ask about technicalities of github (ashamed to ask here ... :-()
-A.

[2017-07-28 17:30] chriswmackey commented on #571
@ayezioro ,

Comitting "As Is" is perfectly fine.  We'll just add it to the WIP section for now until we clean it up.  I'll keep a look out four your pull request.

-Chris

[2017-07-28 18:44] ayezioro commented on #571
@chriswmackey,
Commited and sent a pull request.
Hope it is fine.
-A.

[2017-07-29 16:32] chriswmackey commented on #571
Received!

[2017-07-31 06:08] ayezioro opened #643 "rotateHBObj not working when angle == 0"
Hi,
The rotateHBObj returns Null geometry when the rotation angle is 0.
Suggest to fix as follows (line 105):
if _HBObj and _angle != None:

Thanks,
-A.

[2017-07-31 15:58] chriswmackey commented on #643
@ayezioro ,
I agree with your suggestion and I'll try to implement it soon. For now, you can input 360 for a non-rotated zone output if you need this for parametric studies of rotated models.

[2017-07-31 23:35] mostaphaRoudsari commented on #643
To be the [PEP8](https://www.python.org/dev/peps/pep-0008/) police here it's recommended to use `_angle is not None` when checking a None value. 🚥

[2017-08-01 02:31] chriswmackey commented on #643
Thank you PEP8 police!
That was definitely the cleanest way to solve the issue.
Closed!
https://github.com/mostaphaRoudsari/honeybee/commit/5485041c450f592a421caa4cf57d85af45aad4cf

[2017-08-01 02:31] #643 closed

[2017-08-01 03:09] ayezioro commented on #643
Thank you officer @chriswmackey and officer @mostaphaRoudsari
Citizen -A.

[2017-08-03 09:28] DavidZTian commented on #635
Thanks Sariths for the guidance. For my research, I have got the dierct-normal and diffuse raidation values from National weather station and create the sky definiation in the epw weather file. I briefly read the dissertation you referred. But for my case, the reaseach building been measured is basically shading FREE from surrouding buildings or trees. During my visit in HongKong the past two week

[2017-08-03 13:55] chriswmackey opened #645 "Honeybee Transform Components Should Transform the E+ Daylight Control Sensor"
I just woke up this morning and realized that, if you assign an E+ daylight control sensor to a zone and then transform it, the zone will be transformed but the sensor will remain where it was.  This is a quick fix that I would implement shortly.

In the meantime, hopefully users transform their HBObjects before applying daylight control sensors with the "Set Zone Thresholds" Component.

[2017-08-03 15:55] sariths commented on #635
Hi @DavidZTian , couple of things. The radiation data in that dissertation was actually collected at a weather data measuring station. The experiments themselves were performed to determine shading related parameters. So, the measurement values as relating to weather still apply. It's just that in your research might not have the same set of confounding factors that Reza (the author) was working w

[2017-08-08 09:33] IanChaplin opened #646 "Honeybee Daylight simulation error- rotating the scene"
Running the honeybee_run_daylightsimulation component only works when not rotating the scene (see, img 1 vs 2); both when using a vector or with a number to rotate the scene . A work-around is using the HB_rotateHBObj ( img 3: as mentioned by Abraham Yezioro)

![no rotation of the scene](https://user-images.githubusercontent.com/30826498/29065665-687877c4-7c5f-11e7-9b02-6fcc4eba36d6.jpg)
![rotate

[2017-08-08 10:08] LudvigHaav opened #647 "Multiple CPU causing errors (Radiance)"
This is a copy of the issue here:

[http://www.grasshopper3d.com/group/ladybug/forum/topics/multiple-cpu-causing-errors-radiance]

I thought it might be best to have the issue dealt with here, since I suspect a bug and there has been slow response in the GH forums and it might get lost in the flood of questions.

/ Ludvig

[2017-08-10 12:16] NallaV opened #648 "View factor - Transparency schedule for outdoor calculation"
Hello there,

I am trying to run a UTCI calculation through Honeybee and I wanted to take into account the trees. I built a schedule of transparency for the trees that varies between different seasons, which I used in the E+ calculation, but I cannot use the same schedule in the ViewFactor component. It may be an "overkill" to implement transmittance schedule for the trees in the Viewfactor but I

[2017-08-12 13:13] chriswmackey commented on #648
@NallaV ,
Yes, this is possible, although it requires the use of Grasshopper data trees, which are one of the more difficult concepts to understand in Grasshopper.  Here is an example file that shows how to do it:
https://www.dropbox.com/s/j31b3ojpp4rsggx/Trees_in_Outdoor_Thermal_Comfort_ANNUAL.gh?dl=0
-Chris

[2017-08-12 13:13] #648 closed

[2017-08-12 13:15] chriswmackey commented on #646
This has been fixed via https://github.com/mostaphaRoudsari/honeybee/commit/c551c322430fc0d5f6bf9b9cbfad9a1a62cc688e

[2017-08-12 13:15] #646 closed

[2017-08-14 12:53] NallaV commented on #648
Thank you for the reply Chris. This is exactly what I did. I added the schedule as a tree. Around 500 branches, first 35 with the schedule for the 35 trees and the rest with 0 values for the opaque surfaces. I will try again and probably upload my script so you can have a look if you have time.

[2017-08-14 13:14] chriswmackey commented on #648
@NallaV ,
Make sure that the input for transmittance into the view factor component is not flattened.  In the future, I'm thinking of just having people plug in context  surfaces and read their respective transmittance schedules so that you don't have to create these data trees with 500 branches.  Would that have made things easier on your end?

[2017-08-14 14:21] NallaV commented on #648
Yes! this would definitely make things easier. Thank you Chris!

[2017-08-15 04:40] ayezioro opened #649 "rotateHBObj - Sensor points"
Hi,
As for the example i uploaded in this [discussion](http://www.grasshopper3d.com/group/ladybug/forum/topics/readepsrfresult-results-missing?page=1&commentId=2985220%3AComment%3A1798497&x=1#2985220Comment1798497) i noticed that the HB_rotateHBObj component (and probably the other HB transformation ones) is not rotating the location of the sensor point for daylighting control in E+.
Checking the

[2017-08-15 05:06] ayezioro commented on #649
For now i solved the issue like this:
![capture](https://user-images.githubusercontent.com/7526023/29302855-69060a04-8190-11e7-8ed0-d5dc4ff9f99d.JPG)
At the final stage, before simulation, i array the sensor location.
Checking the idf i see they are well located.
-A.

[2017-08-16 06:45] ayezioro commented on #645
Hi @chriswmackey,
Don't know where my head is but i opened yesterday an issue exactly about this and didn't noticed that you already did it. Sorry. I'll close it.
If this is interesting this is how i solved the issue for now:
![29302855-69060a04-8190-11e7-8ed0-d5dc4ff9f99d](https://user-images.githubusercontent.com/7526023/29350434-45b81a38-8267-11e7-8829-e31c3b0fde72.JPG)

At the final stage, bef

[2017-08-16 06:45] #649 closed

[2017-08-16 12:41] chriswmackey commented on #645
@ayezioro ,
I had a feeling that you would be the first one to recognize this issue in your workflows :). I'll move this to the top of my agenda since it's such a quick fix anyway. I'll post back here sometime before the end of today.
-Chris

[2017-08-17 14:59] chriswmackey commented on #645
@ayezioro ,
This is now fixed:
https://github.com/mostaphaRoudsari/honeybee/commit/c53796be02ff28560f32603a89b6d6e5b4c49d4d
Thanks for providing the motivation to fix this one more quickly :)

[2017-08-17 14:59] #645 closed

[2017-08-17 15:06] chriswmackey commented on #647
@LudvigHaav ,
As you saw, I provided a response on the GH forum. It might be a bit though to fix given that we're not easily able to recreate the error on our machines.  Just a thought: have you tried re-importing the results using the "Honeybee_Lookup Daylight Folder" and checking to see if they are still in the worng order?
![image](https://user-images.githubusercontent.com/5567574/29419049-13a3

[2017-08-17 15:49] ayezioro commented on #645
Thanks @chriswmackey,
Works like a char.
All those transformation components are vital, i would say.
Glad to be the trigger.
-A.

[2017-08-17 16:55] chriswmackey opened #650 "Make the Default EnergyPlus Ground Condition Calculated by KIVA"
Now that we have @nealkruis 's awesome work integrated into EnergyPlus, we should probably switch the default ground boundary condition to use it (instead of the current constant ground temperature of 18 C).  Neal's pull request to E+ can be found here:
https://github.com/NREL/EnergyPlus/pull/5901

And some documentation on using it can be found here:
http://bigladdersoftware.com/epx/docs/8-7/engi

[2017-08-23 08:48] NallaV opened #651 "Microclimate map - Wind speed as csv"
Hello there!

I have been trying to run a UTCI calculation through the OutdoorComfRecipe+MicroclimateMap components. I tried to add windspeed into the comfort recipe as a csv and I get the error "The calculation has been terminated by the user!" in MicroclimateMap. The csv has 8760 rows and same columns as the test points.

So here is the grasshopper file and the csv file. Maybe someone can help m

[2017-08-23 23:37] chriswmackey commented on #651
@NallaV ,
Your number of test points is 9216:
![image](https://user-images.githubusercontent.com/5567574/29643000-0e663938-883a-11e7-9032-825bdc86c45c.png)

The number of columns in your excel is 1024:
![image](https://user-images.githubusercontent.com/5567574/29643022-2c49463e-883a-11e7-82df-f94c79a4f487.png)

This is why your file is not running. On a side note, you should break up the ground su

[2017-08-23 23:37] #651 closed

[2017-08-24 01:19] chriswmackey opened #652 "Don't Create Multiple Loads Definitions and Schedule Sets for Different Zones in OpenStudio if They Are the Same"
I realize that there's a lot of redundant junk that we are writing into the OpenStudio file right now just because we don't have a check for whether the a given set of Loads/Schedules are already written into the OSM.  I feel that this is something that we can fix fairly easily using the same methods that we currently use to make sure that we don't write redundant materials, constructions.
More is

[2017-08-24 01:31] chriswmackey opened #653 "Use Construction Sets on OpenStudio Exports"
While I want to preserve the notion of assigning whatever construction one desires to a given surface, I feel that we can save a lot of redundancy in the OSM by doing a check to see if the construction types of one zone are different than another and using construction sets to assign these constructions if they are the same.
More info can be found on this discussion:
http://www.grasshopper3d.com/g

[2017-08-24 07:15] NallaV commented on #651
Thank you Chris!

This is weird. Maybe something went wrong in the conversion from xlsx to csv since I checked multiple times the number of points. Did you get the error with the transparency or is it only me?

P.S. Thanks for the tip! I was indeed planning to divide the ground in pieces to get a better effect from the shadows after I make sure everything else goes smoothly!

[2017-08-30 14:55] ErnstBay opened #654 "Add text to image based analyses"
I was looking to add text to radiance images. See below for an example.
http://www.solemma.net/img/Features/Animations/GlareSweep.gif

Mostapha suggested the following:
You can use Radiance's psign (http://radsite.lbl.gov/radiance/man_html/psign.1.html).

He also said that creating a new component for this purpose would make sense.
Check the glare component for an example.
https://github.com/mosta

[2017-08-30 15:03] mostaphaRoudsari commented on #654
@devngc are you interested to implement this. It is very similar to what you have already done for the Glare component.

[2017-09-04 17:00] devngc opened #655 "Search across Ladybug & Honeybee"
Hello Everyone,

[Some Background]
Usually, you when you're looking up code inside a component, You want to look up a function from Ladybug_Ladybug or Honeybee_Honeybee, and so you find that function in Ladybug_Ladybug or Honeybee_Honeybee. It's straightforward.

Recently, while working on a component, I found myself in a reverse situation. I knew a function in Honeybee_Honeybee and I had to find

[2017-09-04 18:41] devngc commented on #654
@mostaphaRoudsari,
Yes. I would be happy to take this up. Thank you! Sorry for the delay in responding. Something's wrong. I have stopped receiving Github notifications in Email. Luckily I stumbled upon this when I created a new issue myself. I am looking into it.

[2017-09-04 19:28] devngc commented on #655
[Note to self] Honeybee_Honeybee or Ladybug_Ladybug must not be a part of this list.

[2017-09-05 02:06] sariths commented on #655
Hi @devngc , just out of curiosity, which IDE do you use for Python?

[2017-09-05 02:53] devngc commented on #655
Hi @sariths,
I generally use  Atom editor, but for LB / HB development, I code inside the Python component in Grasshopper. If there's a better way, then I would love to hear about it. I read somewhere that it is possible to import Rhino libraries in Atom. I haven't tried that yet.
Thanks,
Devang

[2017-09-05 05:16] sariths commented on #655
Mostapha and I were discussing this earlier today (after seeing your post). I am not sure if this possible in Atom, but in Pycharm it is possible to locate (almost) all instances of usages through built-in functionality. Here is a HB example:
![selection_021](https://user-images.githubusercontent.com/10361848/30046264-0bdc7d46-91cf-11e7-9b9d-8118b5fb4928.jpg)
The logic inside Pycharm is mature eno

[2017-09-05 05:48] devngc commented on #655
@sariths,
Thanks for sharing this native capability of Pycharm. I was not aware of this. Pycharm is indeed great IDE.  I used it when I was learning to code.

The component I have in mind is for the users of the tool and not the developers. I believe we can offer a list of components that deal with the query the user provides.

Again, thank you for sharing and participating!

[2017-09-05 09:09] Vyrwn commented on #655
@devngc ,

I find this idea very interesting and handy especially for students, getting started. Being able to find all the relevant components to a key word or phrase is a useful addition. Even myself after all this time of following development and using LB/HB, I found out about a couple of components by accidentally typing :)

I agree pycharm is extremely strong and if you have any university a

[2017-09-05 09:39] devngc commented on #655
Hi @Vyrwn,

I totally understand when you say you found a new component by accidentally typing. It happens with me as well. LB / HB overwhelms me too.

Thank you for sharing your thoughts!

[2017-09-07 12:32] Vyrwn commented on #655
@sariths,

Updating my last comment, the last 2 days I worked only on Pycharm to give it another go and I have to agree that it has amazing capabilities, also the ease of the git push is great compared to the atom one.

[2017-09-07 15:54] sariths commented on #655
Hi @Vyrwn,

On the issue of licenses, actually I use both the Enterprise version (thanks to my concurrent .edu status!) and Community version of Pycharm. For the most part, I don't find much of a difference in my productivity except for one critical aspect: the Enterprise version has amazing SSH and Cloud (mostly remote browsing and terminal related)support. Here is an example of that:

![2017-09-

[2017-09-08 01:54] zhangzhennico opened #656 "solution exception: index out of range 1"
I have an issue "solution exception: index out of range 1" when I try to run the open studio energy simulation to calculate indoor PMV comfort. and I check all the components and still can not find the reasons. Could you help me check it?
Many thanks for all your help and my definition is attached with this issue post.
![screenshot 4](https://user-images.githubusercontent.com/26587689/30192708-a4b

[2017-09-11 17:05] devngc commented on #655
[This](https://github.com/devngc/Work-in-Progress/blob/master/Rainman/Rainman.gh) is what I have in mind. Currently, the search is limited to one keyword. But I agree with @Vyrwn's idea and eventually, the component should accept phrases as well.

[2017-09-11 17:28] Vyrwn commented on #655
@devngc,
I gave it a go and worked like a charm. And it is very useful in my opinion. My only worry is how to make people aware of the search component. It is a sort of a loop, know how to find the component that will search everything else :), but that might be me over-complicating things.

Very nice work anyway.
Thanks for this.

[2017-09-11 18:56] devngc commented on #655
Thank you @Vyrwn for review and encouraging words! A way get it noted will be to put it in 0 | Ladybug or to have a very obvious logo for the component. The magnifying glass.

[2017-09-13 12:50] chriswmackey commented on #655
@devangc ,

Sorry for the late reply on this. I will admit that the use of this component seems to be a bit redundant of github's "Search this Repo" functionality that you can probably see at the top of this web page (or at the top of any github repo homepage).  I am usually using this github feature to find all of the components that reference a certain function.

It's also perhaps a bit redundan

[2017-09-13 16:36] devngc commented on #655
Hi @chriswmackey,

Thank you for sharing your thoughts. Always appreciated.

The targetted users of this component that I had in mind were definitely not the developers. In addition to what you suggest, I found a native feature in Atom to look up multiple files [This I found after reading Sarith's posts].

I completely missed this. This is exactly why I sought your review. This makes more sense.

[2017-09-14 09:00] devngc commented on #656
@zhangzhennico,
I don't see your definition. Can you please re-attach. I can take a look.

[2017-09-14 22:18] chriswmackey commented on #655
@devangc ,

Yes, I'm sorry that I didn't post the feedback sooner. I had also wanted to take the time to understand what the setup you are using. Now that I see that the user needs to have the py files available on their machine, I'm also hesitant about how many people we will get using it. I feel that many users are still unaware of the Primers (this github issue is perhaps a case-in-point) and s

[2017-09-16 08:49] devngc commented on #655
@chriswmackey,

I like the idea of opening primer pages from GH and am willing to explore this. The primary advantage of doing this is that I no longer have to separate component information [Description + Args + Returns] from code. This is something I was doing.

Yes, download epw is a good example for opening web pages from GH. I believe I should also look at update components and/or hydra compo

[2017-09-17 15:02] JeroenBg opened #657 "Can't find Gendaymtx.exe (Dynamo)"
Hi,

I am trying to run the sample file "05_annual_radiation_gridbased.dyn" in Dynamo, with an epw-file for Amsterdam, but the Run Radiance Analysis node reports an error, stating it can't find Gendaymtx.exe

I've downloaded the file manually and:
1. placed it in the designated folder directory where the node writes the data (tried both c:/ladybug and d:/ladybug; using corporate laptop and maybe w

[2017-09-17 15:07] mostaphaRoudsari commented on #657
The error shows that Radiance is not installed on your system. Install Radiance from [here](https://github.com/NREL/Radiance/releases/tag/5.1.0) to `c:\radiance`, and try again.

[2017-09-17 15:20] JeroenBg commented on #657
Thanks for the quick response, its working now!

[2017-09-17 15:20] #657 closed

[2017-09-19 14:59] zhangzhennico commented on #656
[VERNACULAR PROTOTYPE_B_Indoor_PMV_Comfort.zip](https://github.com/mostaphaRoudsari/honeybee/files/1314696/VERNACULAR.PROTOTYPE_B_Indoor_PMV_Comfort.zip)

[2017-09-20 06:47] chriswmackey commented on #656
@zhangzhennico ,
You did not intersect your zone masses before turning them into HBZones and one of your zones had an interior surface inside of it.  Please watch all of the tutorial videos on the geometry rules of E+ before posting to any forum:
https://www.youtube.com/watch?v=cDvBWDA0aF0&index=10&list=PLruLh1AdY-SgW4uDtNSMLeiUmA8YXEHT_

Also, in the future, issues like this that aren't bugs in t

[2017-09-20 06:47] #656 closed

[2017-09-20 10:31] zhangzhennico commented on #656
Noted, many thanks for all your help.

Sent from my iPhone

[2017-10-03 03:49] saeranv commented on #497
@chriswmackey, @devngc - sorry it took so long for me to post this - I'm in the process of finishing up a major deadline at work and don't have much free time at the moment...

Anyway, to review, as we discussed in this [post](http://discourse.ladybug.tools/t/strange-results-from-splitbuildingmass-component-for-a-simple-rectangular-zone/2101/14) there are two things I'll be working on:

1. Add a c

[2017-10-03 06:05] devngc commented on #497
Hi @saeranv,

Thanks for posting this. The StackOverflow thread that Chris referred to, is great. Taking cross product is certainly a way to go about this and I am doing the same. However, I have experienced challenges with this method.

It works fine when a surface is untouched (No geometry operations have been performed in rhino). But if a surface is touched by some geometry operations such as s

[2017-10-03 14:25] saeranv commented on #497
@devngc,
Very interesting! I'm glad I asked for your input, I've never encountered this before.

For that last image, one thing to check, which perhaps you've already thought of: it looks like the surface you're checking in the triangular geometry is a vertical surface. For the 3d cross product, the sign of the resulting vector depends on the x,y coordinates of both input vectors.

i.e cross = a x

[2017-10-07 08:05] devngc commented on #497
Hi @saeranv,

I took you suggestion and rotated the surface to be in XY plane. Unfortunately, my implementation still failed to recognize it as a convex surface.

Since I started working on this problem, I have tried to use the cross-product method in various ways. However, I could not come up with a way to pass all the test geometries that I currently have. So I started from scratch.

 I thought

[2017-10-09 09:05] devngc commented on #497
non-convex checking is implemented in #660

[2017-10-11 19:47] saeranv opened #661 "Option for Geometric View Factor Calculation"
@ryanxwelch has developed a geometric view factor calculation that we've been using internally at @KieranTimberlake. Although we think it may be more geometrically limited, this method should be quite a bit faster than the existing view factor calculation method in the `Honeybee_Indoor View Factor Calculator` component because it doesn't rely on ray-tracing. So as discussed with Mostapha and Chris

[2017-10-11 20:06] saeranv commented on #497
Great work @devngc ! Glad you figured it out. And here I am falling behind on pushing out my part of the code... I'll see if I can spend the weekend doing so, and will include your the non-convex function as part of it.

One thing to note is that, while I believe checking to see if a surface can be split between all vertices is a really clever solution given the problems we're having with Rhino ge

[2017-10-11 20:16] devngc commented on #497
@saeranv ,
Thank you. I totally agree, that in terms of algorithm complexity, the cross-product approach does much better. I would look myself why I failed to implement the cross-product method. Another advantage of doing this the cross-product way will be that, we will be able to port it to Dynamo easily. Currently, we rely on Rhino API methods and the same methods may not exist on Dynamo side. W

[2017-10-12 02:41] devngc commented on #497
@saeranv ,
You can check [this](https://github.com/devngc/Work-in-Progress/blob/master/isConvex/isConvex_R3.gh).

[2017-10-13 06:06] devngc commented on #654
@mostaphaRoudsari,
I have started working on this one. Do you really think there should be a new component for adding text to the TIFF? I can also add a new input to the existing **Honeybee_Convert HDR to TIF**  component.

[2017-10-15 15:24] chriswmackey commented on #654
@devngc ,
This seems like something that is better addressed with just a new input and not a whole new component.  Adding it to the "Convert HDR to TIF" and the other image converters sounds good.

[2017-10-16 05:34] devngc commented on #654
@chriswmackey,
Thank you for your feedback. @mostaphaRoudsari has a different opinion about this. He will share his views here soon.

[2017-10-16 05:41] TheodoreGalanos commented on #654
Hi everyone,

Speaking completely selfishly, I would REALLY not mind a component that can add text to an image. If the component is able to do this to existing images even better (although I'm not sure if this would be possible).

However, it's also not clear to me if something like this is related and/or beneficial to the general scope and specific capabilities of Ladybug Tools.

I'll be quietly

[2017-10-17 09:35] devngc commented on #655
I will re-open when I get around to implement this.

[2017-10-17 23:46] chriswmackey commented on #655
Sounds good @devngc . Thanks, as always!

[2017-11-09 01:20] mostaphaRoudsari commented on #654
I think having it as a separate component will be quite useful. It can be an optional addition to the convertors too but it's really a separate step and you can do a lot with this new functionality that I think it deserves it's own component.

[2017-11-09 05:36] devngc commented on #654
@mostaphaRoudsari,
Thank you for sharing your views. I will move ahead in the direction of creating a new component. Will post here as soon as I have something.

[2017-11-09 12:28] chriswmackey commented on #654
Hello all,

I stand corrected and there's clearly a consensus here in favor of a separate component. Now that I see how psign works and I realize that there are several useful inputs, I agree we should implement it as a separate component. My only question is whether we think this component can take an image in any format and add the text (gif, Tiff, HDR) or does the image need to be in a specific

[2017-11-09 16:11] ayezioro opened #664 "makeAdiabatic - global name 'srfType' is not defined"
Hi,
Using the makeAdiabatic component i've found this error:

![capture](https://user-images.githubusercontent.com/7526023/32615995-e6461acc-c579-11e7-8247-da01459ed694.JPG)

So the srfType is not defined in the code.
I fix the code like this, but i'm not sure if this is OK as a solution to be implemented for the component (the original code is commented). The above image shows the fixed and the o

[2017-11-09 18:25] mostaphaRoudsari commented on #654
@chriswmackey, the Radiance functionality only works for HDR format but we can always use `image > TIFF > HDR` workflow for non-HDR images

[2017-11-11 14:25] chriswmackey commented on #654
Ok. All sounds good!

[2017-11-15 09:47] anupamarana opened #665 "Window Shade Generator- number of Shade"
Hi
I am trying to generate various shading options and compare EUIs.
It works fine for all other iteration, except for below
- with one horizontal shade
- with all numbers of vertical shades

for above two condition the window / wall tend to disappear prompting error " All of your HBSrfs must make a closed volume." in Create HBZone component.

I have attached my GH file. and pictures showing error

[2017-11-15 09:51] anupamarana commented on #665
![error-1_](https://user-images.githubusercontent.com/31266576/32829573-664f0b18-ca2d-11e7-9fc2-ecaa5050aa62.PNG)
![error-1](https://user-images.githubusercontent.com/31266576/32829566-6071f692-ca2d-11e7-9221-658c8c3c613d.PNG)

[2017-11-15 09:55] anupamarana commented on #665
Link for GH file is here

[https://www.dropbox.com/s/n1ii9gkqaihpgd5/Overhang.gh?dl=0&m=](url)

[2017-11-15 15:26] saeranv commented on #665
@anupamarana your link doesn't work. Maybe post it on the discourse forums? Should be easier there.

[2017-11-16 00:42] anupamarana commented on #665
https://www.dropbox.com/s/n1ii9gkqaihpgd5/Overhang.gh?dl=0

[2017-11-16 00:44] anupamarana commented on #665
Hi Saeranv
The link above shoul work now.
Thank you for your prompt response.
Best Regards
Anupama

[2017-11-16 00:46] anupamarana commented on #665
![error-1](https://user-images.githubusercontent.com/31266576/32867878-8b5e12f0-caaa-11e7-83cd-5ebb26d90dcc.PNG)
![error-1_](https://user-images.githubusercontent.com/31266576/32867883-960c0b58-caaa-11e7-8e48-bc4ed07d0803.PNG)

[2017-11-16 07:26] devngc commented on #665
[This](https://www.dropbox.com/s/n6u27sf6rafa4gs/Overhang.gh?dl=0) is one way to do it. As Saeran said, it's better to post such questions on the forum please.

[2017-11-16 07:27] anupamarana commented on #665
Hi
With Archsim create zone and energyplus components it works, but not with honebee create zone and energyplus component.
Best Regards
Anupama

[2017-11-16 07:32] anupamarana commented on #665
Thank you Devngc
I have just send request to get accepted into the honeybee/ladybug discourse forum

[2017-11-16 07:32] devngc commented on #665
@anupamarana,
Although both use the same calculation engine, the workflow for setting up a simulation may not necessarily be the same. In case you want to familiarize yourself with energy modelling routines for Honeybee, I would recommend you go through the Honeybee Energy modelling Tutorial series on Youtube from Chris Mackey.

[2017-11-16 14:16] chriswmackey commented on #665
@anupamarana ,

The reason why you don't get EPObjWShades is that, when you only have a single overhang (not a set of horizontal louvers), you really should not be using a ["blinds" or "louvers" approximation](https://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-surface-construction-elements.html#windowmaterialblind), which is what gets assigned to the HBObjWShades by the compon

[2017-11-16 14:16] #665 closed

[2017-11-17 01:40] anupamarana commented on #665
Thanks chris for the clarification.

[2017-11-18 08:57] saeranv opened #666 "Mass2Zones input geometries have same key as output geometries"
From this thread: http://discourse.ladybug.tools/t/askme-component-showing-zone-info-not-connected-to-it/2261/8

Which is causing some UI confusion.

Is the solution to this simply one line?
[code]

[2017-11-18 17:09] mostaphaRoudsari commented on #666
Yes. That will be the solution.

[2017-11-18 20:35] saeranv commented on #666
Okay, I can fix this and submit the PR then!

[2017-11-21 13:25] mostaphaRoudsari opened #667 "Strip input strings to remove extra \n"
This has been an issue for users who are getting started with Grasshopper. It's an easy fix and we need to implement it to all the components with string inputs. [Here is an example](http://discourse.ladybug.tools/t/runenergysimulation-cannot-create-the-working-directory/2288/2).

[2017-11-21 16:32] saeranv commented on #667
@mostaphaRoudsari Should we strip all white spaces, or just beginning and end?

Just the beginning and end:
[code]
All white spaces:
[code]
The argument for stripping all white spaces is to prevent white spaces in your path creating trouble with the way python reads file paths. Unless we treat file names very carefully with raw strings, or the python os.path module, we can quickly run into very ha

[2017-11-21 17:50] mostaphaRoudsari commented on #667
@saeranv we should use re to catch all these cases and give a warning. Fixing it for user without giving proper warning can end up creating other issues. [Here is how it's implemented](https://github.com/ladybug-tools/honeybee/blob/bf6d32ed83bf08c8d84c05cfd22a47c2b6300d9a/honeybee/utilcol.py#L18-L31) in honeybee[+].

[2017-11-21 22:35] saeranv commented on #667
That's perfect @mostaphaRoudsari

I know I've said it before, but I have to say, I love the coding practices you guys are integrating into honeybee[+]. What a great foundation.

[2017-11-23 04:37] saeranv commented on #497
Square geometries causing a bug, from here:
http://discourse.ladybug.tools/t/strange-results-from-split2zone-component/2300

I'll see if I can tackle this later this week.

S

[2017-11-24 05:44] chriswmackey commented on #597
This one finally explained it all to me incredibly clearly:

https://youtu.be/y9c8oZ49pFc

You were so right, @sariths .and more so than I ever realized.

[2017-11-25 13:30] #666 closed

[2017-11-29 23:10] MingboPeng commented on #664
This happens in makeAdiabaticByNames as well.

[2017-11-30 08:01] wta12 opened #671 "Supportted Software custom installation path"
Moved from [non default install path #426](https://github.com/mostaphaRoudsari/ladybug/issues/426#issuecomment-346903137)
Currently, installation guide is advising that support software (OpenStudio, Radiance, DaySim) should be installed at c:\. How to set installation path for in different path.
Actually, i have multiple installations of OpenStudio and Radiance and (might be Daysim at UserData/Loc

[2017-12-12 18:25] ayezioro opened #672 "Honeybee - Issue with orientation of walls using HBTransformation components"
Hi,
I was in doubt if re-opening [this issue](https://github.com/mostaphaRoudsari/honeybee/issues/615) or opening a new one. Though it is related, it doesn't fit the title of the issue.
So here it is: For my class i prepared i file that wanted to demonstrate the advantages of defining a single zone and then copying it with the HB transformation components.
Everything works fine but ... when i adde

[2017-12-13 14:43] chriswmackey commented on #672
@ayezioro ,
Thanks for finding this issue.  It definitely looks like a bug and I will check it as soon as I can.

[2017-12-15 16:42] chriswmackey commented on #672
@ayezioro ,
Excellent work finding this.  It seems there was one final bug t be fixed in the transform code:
https://github.com/mostaphaRoudsari/honeybee/commit/fe45010a0d7ddb78e8bb7ea1f1fe934a35657cc5
It all works correctly now:
![image](https://user-images.githubusercontent.com/5567574/34051556-0d740634-e18d-11e7-8fff-ebf8a02d8f4d.png)

Thanks again!
-Chris

[2017-12-15 16:42] #672 closed

[2017-12-15 16:53] chriswmackey commented on #664
@ayezioro  and @MingboPeng ,

Thank you for finding this and this one was definitely my fault:
https://github.com/mostaphaRoudsari/honeybee/blame/master/src/Honeybee_Make%20Adiabatic.py#L50

I must have copy/pasted this code from elsewhere where there was another variable called srfType.  I have just fixed it and you assumption was correct, @ayezioro
https://github.com/mostaphaRoudsari/honeybee/co

[2017-12-15 16:53] #664 closed

[2017-12-15 16:55] chriswmackey commented on #653
This is now taken care of thanks to https://github.com/mostaphaRoudsari/honeybee/commit/25b6c7b11fff0abcb28b43a5ec423ad6cbc957c2

[2017-12-15 16:55] #653 closed

[2017-12-15 16:56] chriswmackey commented on #652
This is also taken care of thanks to https://github.com/mostaphaRoudsari/honeybee/commit/25b6c7b11fff0abcb28b43a5ec423ad6cbc957c2

[2017-12-15 16:56] #652 closed

[2017-12-15 16:56] chriswmackey commented on #637
This is pretty much done but I want to integrate the OSMeasure input into the OpenStudio component.  I will do this soon.

[2017-12-15 18:21] ayezioro commented on #672
Thank YOU @chriswmackey !!

[2017-12-18 18:44] chriswmackey opened #673 "Add the Ability to Customize Radiant HVAC Systems"
Since it seems that there are people in need of the ability to model both different types of radiant constructions (ie. metal panel vs radiant slab) as well as different surfaces (different wall surfaces or walls and ceilings at the same time).

[2018-01-10 13:44] eddiespaghetti187 opened #675 "Honeybee_IES Luminaire"
This component seems to generate an error message ("1. Solution exception:Local variable 'dirpath' referenced before assignment.") related to folder paths when the radiance folder doesn't exist. Similar components seem to create the folder if they don't already exist. Is it possible to update this component to do the same?

[2018-01-11 14:24] chriswmackey commented on #675
@eddiespaghetti187 ,
Yes, I'm sure that we can add something here to create the directory. Can you let me know what line of the code in the component the error is occurring on? This should be output in the ReadMe of the component.

[2018-01-11 14:34] eddiespaghetti187 commented on #675
Cheers Chris. Full output from the component below.
[code]
Thanks,
Ed

[2018-01-14 21:36] chriswmackey commented on #675
@eddiespaghetti187 ,
This has been fixed:
https://github.com/mostaphaRoudsari/honeybee/commit/9d0a9131570878dd2435b755b9bee2e66b177ad9
Thanks for bringing this to our attention!

[2018-01-14 21:36] #675 closed

[2018-01-14 21:50] chriswmackey commented on #673
This has been addressed via:
https://github.com/mostaphaRoudsari/honeybee/commit/fc0bc9161a2750a1fbc942b6d624a52abcdeae51

[2018-01-14 21:50] #673 closed

[2018-01-14 21:57] chriswmackey commented on #671
@wta12 ,
I'm having trouble understanding what your issue is: is it that you are not able to install the engines in the recommended paths? If so, I can see how this might be an issue.  Otherwise, I'd just recommend that you have two installations of a given software: one for Honeybee in the recommended location and another for this "other installation" that you need.

[2018-01-14 21:59] chriswmackey commented on #650
I realized that this could take substantial effort.  Help is definitely wanted here.

[2018-01-14 22:08] chriswmackey commented on #661
I just wanted to reiterate what I mentioned in the email a while back, which is that I can see this as very helpful for certain situations.  I recommend getting this stable as it's own component and then we can start merging it into existing workflows.

[2018-01-14 22:14] chriswmackey commented on #647
I'm closing out this issue due to inactivity and because no one was able to recreate it except for @LudvigHaav .  If the issue still persists, @LudvigHaav , feel free to let us know and we will reopen the issue.

[2018-01-14 22:14] #647 closed

[2018-01-14 22:16] chriswmackey commented on #638
I started doing this as you can see from the measures that I have written here:
https://github.com/mostaphaRoudsari/honeybee/tree/master/resources/measures
However, I have realized that there are some downsides to going with this route at the moment and so I'm going to save the full implementation of this for HB+.  If anyone wants to start tackling the measure-writing process, though, this will be

[2018-01-14 22:18] chriswmackey commented on #637
This is all done!  We now fully welcome measures to Honeybee.

[2018-01-14 22:18] #637 closed

[2018-01-14 22:23] chriswmackey commented on #639
There is still a bit of work to be done on the side of the Opnestudio team if this is to become a reality.  When this issue gets closed by the NREL team:
https://github.com/NREL/OpenStudio/issues/2916
This feature can be revisited.

[2018-01-14 22:24] chriswmackey commented on #634
I should do this at some point but it's low on the priority list right now.

[2018-01-14 22:26] chriswmackey commented on #635
I am closing this out as an issue since this if more of a discussion.  If anyone wishes to continue it, this should be done on the forums as @mostaphaRoudsari suggests.

[2018-01-14 22:26] #635 closed

[2018-01-14 22:28] chriswmackey commented on #621
I am starting to think that this should be best implemented as an EnergyPlus measure that changes the daylight control input of the IDF.  This would also make this change generally more do-able with openstudio models.

[2018-01-14 22:53] chriswmackey commented on #607
I just wanted to add that this issue persisted until today and so added a try/except loop:
https://github.com/mostaphaRoudsari/honeybee/commit/c1eab3b9983920cc3d826f7f2dfd0e754d17ea5a
So this kinda solved both issues but it will not be correct when someone applies two different window materials to two curved child surfaces of the same zone.  So it's still kinda a bug but it seems like such a rare

[2018-01-14 22:53] #607 closed

[2018-01-14 22:55] chriswmackey commented on #568
Since this is not a HB bug, we can close out this issue.

[2018-01-14 22:55] #568 closed

[2018-01-14 22:56] chriswmackey commented on #597
I realize that I am guilty here for posting an issue that really should have been a discussion on the forum.  So I'm going to close out this issue and maybe we'll bring it back onto the forum at some point.

[2018-01-14 22:56] #597 closed

[2018-01-14 22:58] chriswmackey commented on #542
This goes along with this issue:
https://github.com/mostaphaRoudsari/honeybee/issues/638
We'll implement this in HB+ using measures and, if anyone wants to take a stab at writing the measures now, please do!

[2018-01-14 23:00] chriswmackey commented on #563
Now that we know that annual BSDF simulations aren't a part of DAYSIM and we have support for annual BSDF simulations in HB+, I'm closing this issue out.

[2018-01-14 23:00] #563 closed

[2018-01-14 23:03] chriswmackey commented on #497
Since that PR was merged, this seems to all be fixed. so I'm going to close out this issue

Thank you @saeranv and @devngc for all of the help with bringing this to fruition.  I look forward to posting about this in the upcoming release notes!

[2018-01-14 23:03] #497 closed

[2018-01-14 23:06] chriswmackey commented on #493
@mostaphaRoudsari , Is this still a bug?  I have to admit, multi-modifier materials are at the edge of my Radiance knowledge.

[2018-01-14 23:06] chriswmackey commented on #486
I would like to do this but I'm thinking that this is a feature that is best reserved for HB+

[2018-01-14 23:09] chriswmackey commented on #477
@sariths and @mostaphaRoudsari ,
Is this issue still relevant now that we have ASE running on HB+ and we have [a method for calculating ASE with Ladybug](http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=Calculate_ASE_for_LEED)?
If not, perhaps we should close out this issue.

[2018-01-14 23:13] chriswmackey commented on #462
Wow, I left this one hanging without a description.  The gist is that all of the Ladybug visual components have bakeIt options that allows you to export colored meshes as hatches, which is useful for exporting to Illustrator/pdf.  I never implemented this on the HB visual components and it would be nice to have but I'm really thinking that it's not worth going after this until HB+ since people can

[2018-01-15 00:06] wta12 commented on #671
Hi Chris,
It's fine to have 2 installations but the problem is installation location. I want set it in specific folder (other than C:\ location ) to better management (copy, fix update etc).

[2018-01-17 01:09] mostaphaRoudsari commented on #568
Just for the reference it has been solved in the new release of Radiance.

[2018-01-17 01:15] mostaphaRoudsari commented on #477
I think we should close this issue and also remove the component if we have ever added it to honeybee.

Finally I have been waiting to run a comparative study between ladybug and honeybee[+] solutions. If we have two solutions we should have a clear statement about why and what are the differences.

[2018-01-17 15:21] saeranv commented on #661
Thanks Chris, we have made progress on this calculation: https://github.com/mostaphaRoudsari/honeybee/compare/master...ryanxwelch:master; and are working on scheduling some time in our busy work schedules to finish off the first implementation. We'll hopefully have some form of a PR soon.

[2018-01-17 15:22] mostaphaRoudsari commented on #477
It's the half-hour mark: https://github.com/ladybug-tools/honeybee/blob/f2d8a4d61a4d00cd8346531b7b27a3ddf43dca2d/honeybee/radiance/sky/sunmatrix.py#L177

The other source of difference is how you calculate the intensity of the sun for each hour. Honeybee[+] uses gendaylit which we should compare with Ladybug method.

[2018-02-06 16:27] antonszilasi commented on #630
@twanito sorry for never getting back to you - for some reason this didn't pop up as a notification on my account.

Please do take my work and run with it! I'll be happy to assist in whatever way I can - the last work I did with the batterys was at: https://github.com/antonszilasi/Honeybee/tree/storageobjects

The Honeybee code is well out of date but if you take the code which I wrote for the bat

[2018-02-14 10:48] FilippoIT opened #677 "Seasonal Schedule bug"
Hi guys,
I post here a bug I may have obtained on the Seasonal Schedule component following Abraham suggestion to switch my thread from the Honeybee forum to here.

Long Story short, the seasonal schedule component creates some overlapping days.
This is my Seasonal schedule file with the problem highlighted
[https://www.dropbox.com/s/j0ygtw0x5xymswd/Seasonal_schedule_3.gh?dl=0](url)
This is the fo

[2018-03-01 05:49] mostaphaRoudsari opened #678 "Plenum spaces included in total area"
See this: http://discourse.ladybug.tools/t/plenum-spaces-included-in-total-area/2616

[2018-03-01 21:39] #678 closed

[2018-03-01 23:01] mostaphaRoudsari commented on #671
This is something that can be implemented fairly easily by adding a settings file. The main challenge will be to get the user up to speed with the new workflow. OpenStudio installation is not the best choice all the time as they have their own flavor of EnergyPlus. Before OpenStudio 2 installation path had a white space which would have cause issues for some radiance commands but that's now solved

[2018-03-15 17:09] devngc commented on #655
@chriswmackey,
This [PR](https://github.com/mostaphaRoudsari/ladybug/pull/437) is made in compliance with your comment.

[2018-03-23 22:02] mostaphaRoudsari opened #681 "IntersectMasses fails after the new fix for Rhino 6"

[2018-03-26 00:09] chriswmackey commented on #681
This has been fixed via https://github.com/mostaphaRoudsari/honeybee/commit/256ca5c23265d9b47d5ea96a42462b7502b6e91a

I tested the new component in a lot of cases with both curved and planar geometry and up to 100 zones. I could not get it to fail so it seems that this newer component finally has the reliability of the older one.

[2018-03-26 00:09] #681 closed

[2018-03-26 00:22] chriswmackey commented on #677
@FilippoIT ,
I apologize for such a late response.  Somehow, your email fell through the cracks on a busy week.  There is, indeed, a bug in the seasonal schedule and I will investigate it now to see if I can fix it. I'll report back here shortly.

[2018-03-26 00:38] chriswmackey commented on #677
The issue was a small typo with some big consequences for the output.  I fixed the bug here:
https://github.com/mostaphaRoudsari/honeybee/commit/693ddf5f615e56202fb68a6365b9b473ad41cf53

If you sync you components with the github, you should be able to use the seasonal schedule component without issues.

[2018-03-26 00:38] #677 closed

[2018-03-30 07:13] #655 closed

[2018-03-31 09:53] DavidZTian opened #682 "Question Regarding Simulated illuminance data Vs. Measured Data Difference"
Dear All,

Thanks for the previous help on modeling using Ladybug+Honeybee. I encountered a problem with the difference of illuminance vlaues between measured data and Honeybee simulated data. Interesting engough, the major difference happened in the positions 2 m away from east and west side walls. In the simulation results, the highest illuminance data happens on 4 m away from walls and position

[2018-04-02 00:02] chriswmackey commented on #655
Thanks again, @devngc .  This component is really helpful.

[2018-04-02 00:06] chriswmackey commented on #682
@DavidZTian ,
This issue does not have to do with any bugs or new features in the Honeybee software and so it belongs on [our forum](http://discourse.ladybug.tools/t/welcome-to-ladybug-tools-forum/8) instead of the github here.  Accordingly, I am closing out this issue and I will respond with some possible explanations for your mis-match with your measured results after you post the question to th

[2018-04-02 00:06] #682 closed

[2018-04-04 01:41] chriswmackey opened #683 "Expose the Ability to Set Curves for Boilers, Chillers, and Fans"
I don't necessarily want to expose all of the possible HVAC equipment that can be assigned a curve but it seems that many people would get use out of the ability to assign curves to just boilers, chillers and fans.  I'll try to enable this before the next stable release.

[2018-04-04 01:44] chriswmackey opened #684 "Enable Demand Controlled Ventilation / Variable Speed Fans for Packaged Single Zone Systems"
There's no reason why the fan can't be swapped out with a variable speed one whenever demand controlled ventilation is enabled.

[2018-04-04 01:47] chriswmackey opened #685 "Allow People to Assign Multiple Zones to Single-Zone HVAC Templates"
I didn’t realize that people would have a need to run multiple zones for the single zone system templates but it makes sense.  For example, if you have an entire apartment off of one “single zone” loop.  I guess the “zone” in this sense refers to the area governed by one thermostat and not necessarily the number of different microclimates or rooms.  We can enable the single-zone template system to

[2018-04-06 23:28] chriswmackey commented on #685
This was addressed via https://github.com/mostaphaRoudsari/honeybee/commit/280ecd105af1ec88d8839211869f2a01b04ecab0

[2018-04-06 23:28] #685 closed

[2018-04-06 23:28] chriswmackey commented on #639
This has now been addressed via https://github.com/mostaphaRoudsari/honeybee/commit/280ecd105af1ec88d8839211869f2a01b04ecab0

[2018-04-06 23:28] #639 closed

[2018-04-13 17:05] chriswmackey opened #686 "Change Current Two Heat Recovery Inputs to be Sensible Effectiveness and Latent Effectiveness"
As noted in this discussion:
http://discourse.ladybug.tools/t/suggested-improvements-for-hvac-templates/2777/4

[2018-04-17 11:55] chriswmackey commented on #686
This has been addressed via https://github.com/mostaphaRoudsari/honeybee/commit/84ca152ea85062b6bd94dd3b36b07d8ea82c5e8e

[2018-04-17 11:55] #686 closed

[2018-04-17 11:56] chriswmackey opened #687 "Add ASHRAE 90.1 2013 Constructions into the OpenStudioMaterTemplate.idf"
More information can be found here:
http://discourse.ladybug.tools/t/ashrae-90-1-2013-constructions-in-epconstruction-library/2812/2

[2018-05-03 10:09] dbriels opened #689 "forced natural ventilation - schedule shorter timestep"
Hello everyone!

First of all: standing ovations for the ladybug tools team. Thanks a lot!

At the moment I´m working on simulations of prototypical climbing halls espacially regarding the natural ventilation. Therefore I wanted to test a forced natural ventilation (because some climbing halls are using this at the moment) where the openable windows open with a certain time schedule. I was thinkin

[2018-05-03 14:59] mostaphaRoudsari commented on #689
Hi @dbriels. Thank you for the kind words. This is a question and not a bug report and should be posted to the forum. See here: http://discourse.ladybug.tools/t/welcome-to-ladybug-tools-forum/8

[2018-05-03 14:59] #689 closed

[2018-05-07 08:55] dbriels commented on #506
Hi everyone,

I´m currently trying to use the ladybug tools to analyze and optimize the control of (forced) natural and hybrid ventilation of climbing halls. Because of their room height and high air volume the assumption of a well mixed zone (energy plus zone) is pretty missleading espacially for looking at the comfort.

Therefore I was thinking about first using butterfly for getting the air cha

[2018-05-08 04:48] ayezioro opened #690 "Holidays not working for simulation"
Hi,
I updated a file that was working a couple of months ago.
When  try to run the _HB_OS complains about:

I input the holidays as a list of dates to the HB_EnergySimPar (also tried as a list of DOYs). When i disconnect the list it works fine.
So i assume that in the process of updating the last HB_OS something get unsync with this issue.

![capture](https://user-images.githubusercontent.com/7526

[2018-05-08 20:09] chriswmackey commented on #690
@ayezioro ,
I'll take a look as soon as I get the chance.

[2018-05-08 20:32] ayezioro commented on #690
Thanks @chriswmackey,
No rush. Luckily i can run with R5.
-A.

[2018-05-08 21:05] chriswmackey commented on #690
@ayezioro ,
I am not able to recreate the issue on my end.  Could you share a file that recreates the issue?  Also, what version of Rhino 6 are you using?  Is it an experimental version like the one mentioned here?
https://discourse.ladybug.tools/t/rhino-6-and-honeybee-intersect-masses-issue/2650/24
-Chris

[2018-05-09 03:25] ayezioro commented on #690
Hi @chriswmackey,
I'm using 6.3.18090.471, 03/31/2018, which is the most official release.
Attached the Rhino and GH files.
Thanks,
-A.
[HolidaysIssue.zip](https://github.com/mostaphaRoudsari/honeybee/files/1986278/HolidaysIssue.zip)

[2018-05-09 14:17] chriswmackey commented on #690
@ayezioro ,
The issue was that you had two empty strings at the end of your list of holidays:
![image](https://user-images.githubusercontent.com/5567574/39819602-d26673ea-5371-11e8-87fc-f83e8764cad9.png)
If you remove these, it runs fine.  I added some code to automatically remove empty strings and nulls:
https://github.com/mostaphaRoudsari/honeybee/commit/bf9af228158f09574cb17e0c98fba7d479e8af45

[2018-05-09 14:17] #690 closed

[2018-05-11 12:34] chriswmackey commented on #690
It's all good! R5 must have had some means of taking the empty strings out of the list and this isn't present in R6. Now we know better about this and I'm definitely thinking of implementing some plugin wide Checks in HB+ to remove empty strings.

[2018-05-15 11:54] ayezioro opened #691 "glazingCreator with Rhino 6"
Hi,
I just get this issue that was getting me crazy. Checking a parametric window i'm getting the same results from some window size on.
Investigating further in the model (a simple box) i noticed that from some window size the window is eliminated in the HB_createHBZones, even though the HB_glazingCreator is showing it as expected.
This is happening with R6 and working fine in R5.
For this exampl

[2018-05-16 14:38] chriswmackey commented on #691
@ayezioro ,
I can't check your file right now but this warning can sometimes happen if your Rhino model units are different. Are the unit systems and tolerances that you are using in Rhino 5 and Rhino 6 the same? If so, then you are right that this is probably a bug and I will have a look soon.

[2018-05-16 16:53] ayezioro commented on #691
Hi @chriswmackey,
Yes the units are the same for R5 R6: meters. Tolerance too: 0.001.
The weird thing is that some window sizes are fine.
Thanks,
-A.

[2018-05-18 16:29] mikhaildemtchenko opened #692 "Honeybee addHBGlz strange bugs from R5 -> R6"
Windows are not being correctly added to the HBObj_ in the addHBGlz module. After some testing, the exact same model in Rhino 5 adds glazing correctly, however in Rhino 6 only adds some of the glazing. I assume this is due to the component referencing something that doesn't exist anymore in Rhino 6.

Just wanted to make you aware of this bug,
Thanks for the hard work

[2018-05-18 16:52] mostaphaRoudsari commented on #692
@mikhaildemtchenko thanks. probably it happens for the same reasons behind this one: https://github.com/mostaphaRoudsari/honeybee/issues/691

[2018-05-22 03:35] ayezioro commented on #691
Hi,
Wanted to report that the issue is expanding to other components: HB_createHBZones.
I have one surface with a large window on it. After plugging it into the component the window disappeared. The print in the editor reports the same as i wrote before (Tiny window).
-A.

[2018-05-25 17:47] ayezioro commented on #691
Hi again,
Trying to identify where this issue is happening i get to the following section in the HB_HB component (starting at line 6802):
[code]

Somehow at line 6811 the calculated area is negative for some cases, and as a result, the window is omitted.
I assume that jGlzCrv is creating a reversed curve, then the negative calculation.
For now i added the absolute value of the area as a temporary

[2018-05-29 01:54] oscarperk opened #695 "export to open studio not working. receiving error:cannot create a surface with vertices[...]"
I was following a tutorial online to perform an energy simulation however it used an old version of honeybee/ladybug where the simulator automatically generated an .idf file to send to energyplus (i think). I have installed openstudio however this is the complete error i receive:

1. Solution exception:C:\Git\OS\openstudiocore\src\model\PlanarSurface.cpp@644 : Cannot create a surface with vertices

[2018-05-29 08:51] devngc commented on #695
You should please post on the forum for such errors. Their you can get attention of a lot of experienced users

[2018-05-29 08:52] oscarperk commented on #695
Hello, which forum is that?

Thanks

[2018-05-29 08:54] devngc commented on #695
discourse.ladybug.tools

[2018-05-29 08:55] oscarperk commented on #695
Ok thank you I will try find that

[2018-05-29 09:12] oscarperk commented on #695
Sorry devngc, I am unsure on how to create an account for discourse.ladybug.tools , cannot find a register link anywhere on the home page

Do you know how to?

[2018-05-29 09:14] devngc commented on #695
Can you share your email id?

[2018-05-29 09:15] oscarperk commented on #695
oscar.perkins@connect.qut.edu.au

[2018-05-29 09:16] devngc commented on #695
Alright. I sent you an invite

[2018-05-29 09:16] oscarperk commented on #695
Thanks for your help

[2018-05-29 09:21] devngc commented on #695
I also checked your model. It ran without any fatal errors. please check if the unit in rhino is Meters. You can check this by typing Units in the command line of Rhino.

[2018-05-29 09:30] devngc commented on #695
I replied to your post on the forum. I will close this now.

[2018-05-29 14:05] chriswmackey commented on #695
Thanks @devngc for taking care of this ones and, yes I have seen people get his error a lot when they think they are working in Meters but the Rhino units are actually millimeters. I going to close this issue now that it is taken care of. Thanks again.

[2018-05-29 14:05] #695 closed

[2018-05-30 13:43] chriswmackey commented on #691
@ayezioro ,
Thanks for getting to the bottom of this and I apologize for the incredibly late reply.  Negative areas really seem like a major bug in Rhino SDK and I hope that McNeil fixes it soon.  We need to let them know about this since a bug this large can really wreck havoc on a lot of stuff.  In the meantime, I have added  a patch here and this has addressed, using the absolute value as you s

[2018-05-30 13:43] #691 closed

[2018-05-30 13:59] chriswmackey commented on #692
This has been fixed via:
https://github.com/mostaphaRoudsari/honeybee/commit/920ddf5ebf58d3ff7eae22a6059ab5937ac24eda

[2018-05-30 13:59] #692 closed

[2018-05-30 14:01] #634 closed, assigned to chriswmackey

[2018-05-31 02:36] ayezioro commented on #691
Thanks @chris,
Those kind of things that can make you crazy sinc you don't expect thay can happen.
Rely on you to reportMcNeel.
-A.

[2018-06-05 17:25] emccormi opened #696 "What are the R/U-values of the insulation materials?"
I've recently started using the THERM plug in - great job and THANK YOU!  I'm a little confused, though.  Honeybee seems to think that my insulation materials are windows?  I'm trying to identify the R-values (SI) and nothing is popping up with the Decompose EP Construction command.  Why is it saying "
![hb1](https://user-images.githubusercontent.com/23248062/40992128-7dcae1fe-68bb-11e8-8a15-7c3c1

[2018-06-05 18:33] saeranv commented on #696
@emccormi  It's best to post these kind of questions on the Ladybug-tools forums: https://discourse.ladybug.tools/

My guess on what is happening here is that because unlike in E+, a THERM R-value (m2K/W) is based on thickness taken from an input geometry. Therefore the THERM material definition doesn't include R-value, it must be derived from the provided geometry.

That's why conductivity is pro

[2018-06-05 22:37] emccormi commented on #696
Thanks, I knew there had to be a better place to post.  Thanks also for your feedback - I'll look into calculating the R value from the conductivity.

[2018-06-06 00:15] chriswmackey commented on #696
Thanks for taking care of this @saeranv .  I'm closing out this issue and I'll see you on the forums!

[2018-06-06 00:15] #696 closed

[2018-06-07 15:25] MingboPeng opened #697 "What is the best way to add HVAC system to current "ExportToOpenStudio""
Hi @mostaphaRoudsari  @chriswmackey ,

As you know, I am adding a bunch of hvac components to current HB workflow (HB+ as well when the energy part is added), and thinking what is the best way to merge the osm model that HB generated.

Here is a diagram of workflow:
![image](https://user-images.githubusercontent.com/9031066/41109438-0701fcde-6a45-11e8-8509-c76d12e32ea5.png)

Solution1:
Keep everyt

[2018-06-08 22:40] chriswmackey commented on #697
@MingboPeng ,
It's hard to give advice on the best route forward without knowing exactly what you want to customize in the HVAC.  I can tell you that the way to implement the first one is very straightforward.  You just export the conditioned zones with the thermostat only and then you can add a fully detailed HVAC after the export.  For the second one, you'd likely have to edit the HVAC-setting s

[2018-06-10 01:00] MingboPeng commented on #697
Agreed, the first one changes the minimum of "ExportToOpenstudio". This might be easier to maintain later.

[2018-06-14 23:04] chriswmackey opened #699 "Add the Ability to Set All Mesh Control Settings From Honeybee"
Specifically, I at least need to expose these things:

Maximum % Energy Error Norm
Maximum iterations

More info can be found in this conversation:
https://discourse.ladybug.tools/t/therm-therm-file-options/3122

[2018-07-12 03:54] saeranv opened #700 "Enhancement: Using OpenStudio intersectSurfaces to more reliably intersect zone masses"
Hey guys,

This is in response to some issues that the intersect masses component has:

https://discourse.ladybug.tools/t/masses-intersections-issues/3262/5

As I explain in that post, I think we can use the OpenStudio API's built-in method to intersect coplanar surfaces in a more robust way then what Grasshopper/Rhino offers us.

I made a quick and dirty proof-of-concept last night, which is show

[2018-07-20 13:33] eryd opened #701 "Honeybee createEPGround component bug"
Honeybee createEPGround component creates the following line in the Zone object of IDF file:
`False; !- Part of Total Floor Area`

The word "False" in not acceptable and creates a severe error when the EPlus simulation starts. The IDF works fine if the word is changed to "No".

[2018-07-24 21:43] #701 closed

[2018-07-26 23:34] chriswmackey commented on #701
Thanks for fixing this @mostapharoudsari .

[2018-07-27 02:10] chriswmackey opened #702 "Have the "Read THERM Result" Component Output the UFactorLengths and the DeltaT"
@edpmay did a good example of this on this discussion:
https://discourse.ladybug.tools/t/using-honeybee-therm-to-calculate-psi-values/3328

The info just lives in the UFactorFile:
![image](https://user-images.githubusercontent.com/5567574/43297667-a125c7f8-9120-11e8-8e74-91cfcd8927ab.png)

... and it can be parsed in as @edpmay shows here:
![image](https://user-images.githubusercontent.com/5567574

[2018-07-29 23:21] chriswmackey commented on #702
This has been addressed via https://github.com/mostaphaRoudsari/honeybee/commit/aba3ea33c4020225a23808683b0c0c54a69898a7

[2018-07-29 23:21] #702 closed

[2018-08-10 12:36] TobySkov opened #703 "Enhancement: Suggestions of functionalities, Honeybee - EnergyPlus"
Hi

I have a few suggestions of functionalities that I think could be generally helpfull:

-The Honeybee component "Honeybee_Set EnergyPlus Zone Thresholds" should when inputtet "2" in "outdoorAirReq_" write "None" in the Energyplus object "HVACTemplate:Zone:IdealLoadsAirSystem" under "!- Outdoor Air Method"; instead of writing "None" in the EnergyPlus object "DesignSpecification:OutdoorAir" under

[2018-08-22 01:40] Worrily commented on #214
Omg, I`ve been suffering from this issue as well. Is there any possible solution to this issue? OpenStudio has updated to 2.6.0 in 2018 now, the problem still exists. And I`ve read all things you`ve talked about in 2016, and have tried things you said, nothing worked. I`m so depressed.

[2018-08-28 14:07] Sonderwoods commented on #202
@mostaphaRoudsari  I have a daylight autonomy/annual daylight script that works fine without the north input, but as soon as I enter either a number or a vector into the north component, it screws up. All my points show DA>90%... The ill files contains same value for all points. My best guess will be that geometry is rotated but points arent? The ill values vary by hour, but all points are the sam

[2018-08-29 13:38] mostaphaRoudsari commented on #202
@Sonderwoods, thank you for letting us know. That sounds like a bug. For now please rotate the model itself.

[2018-09-05 00:03] chriswmackey commented on #202
@sonderwoods ,
Also bear in mind that the HB+ components only accept rotations in degrees as input right now (not vectors). Unfortunately, GH casts input vectors to float values so you can end up running a while simulation with the wrong angle right now. I think we'll need to implement something to catch this case soon and it could be another possible explanation for your odd results.

[2018-09-06 01:38] hopezh opened #704 "The extract time period function in the runEnergySimulation component doesn't check if the last output variable end with one of the four time period terms."
The observation is originally posted [here](https://discourse.ladybug.tools/t/issue-with-the-extract-time-period-function-in-the-runenergysimulation-component/3648).

**1. Issue**
As shown below, in some situations, in the IDF file generated from GH+LB+HB workflow in which generator system object is created, the last output variable **_DISTRIBUTIONSYSTEM,Electric Load Center Produced Electric Ener

[2018-09-12 21:58] chriswmackey commented on #704
@hopezh ,

This has been addressed via the latest commit that I have made:
https://github.com/mostaphaRoudsari/honeybee/commit/512282195b03be6c04caf97132a2350a5b39c56a

Thank you for reporting the isssue.  You may also be happy to know that I have now moved the generation components back out of WIP and I have uploaded an updated example file here:
http://hydrashare.github.io/hydra/viewer?owner=chr

[2018-09-12 21:58] #704 closed

[2018-09-13 04:01] hopezh commented on #704
Dear Chris, thank you very much for the update. Can't wait to use the new generation component.

[2018-09-17 14:56] ayezioro opened #705 "Honeybee Generation is Now Fully-Functional missing HB_HB update"
Hi @chriswmackey,
I believe the HB_HB should also be synced to the github. The example in hydra uses September 11 and the github is September 4. The later makes the PV components to fail.
Thanks,
-A.

[2018-09-18 05:02] ayezioro commented on #705
Hi,
In the meantime i've found an issue with the PVgen component.
Having more than one surface plugged into te _HBSurfaces input, you have to input 2 (or more) values into the _cellsEfficiency input. It doesn't take only one value and complains of:

and the PV_HBSurfaces output gives a value of -1.

Other inputs do accept one value.

Didn't catch in the code where to fix it ... :-(

-A.

[2018-09-29 15:02] hopezh commented on #705
Dear @chriswmackey,

I encountered the following error using the latest PVgen component. As shown in the image attached it seems to be an issue I reported in [this post ](https://discourse.ladybug.tools/t/pv-simulation-doesnt-work/3313/13?u=grasshope) that PVgen component doesn't recognize the other PV surfaces other than the first one.

Appreciate if you can kindly advise which part of the code i

[2018-10-04 22:34] saeranv opened #706 "Potential bug in "Honeybee_gbXML to Honeybee" when extracting construction layers from gbxml"
I've been importing a gbxml model from OpenStudio into Honeybee using the "Honeybee_gbXML to Honeybee" component, and noticed today that all the material layers I'm specifying in each OpenStudio construction, don't seem to be extracted from the gbxml.

![image](https://user-images.githubusercontent.com/1685956/46506526-94fe8c80-c802-11e8-97d8-6cd618afa57f.png)

It looks like HB is using some sort

[2018-10-04 22:57] saeranv commented on #706
Github isn't allowing me to drag and drop my gbxml, gh sample files here so I've added it here: https://github.com/saeranv/Fermi/tree/master/bin/gbxml_sample for you to download. This is a simplified example that should reproduce the bug.

S

[2018-10-05 16:41] saeranv commented on #706
Update: I just was talking this through with the OpenStudio guys on the unmethours slack, and was able to isolate the problem to OpenStudio. So it has to do with either the way I'm creating my OSM file, or the gbxml conversion process - but it's definitely not a Honeybee bug.

Therefore I'll close this issue and open it up on the OpenStudio github.

[2018-10-05 16:41] #706 closed

[2018-10-31 02:00] chriswmackey commented on #703
@TobySkov ,

Sorry for the late response but you should definitely be opening different issues for each change that you are proposing here.  I would also recommend asking if such functionality exists on the forum before opening github issues (we really want to reserve github issues for just the things that we know are either new features or bugs).

Frame and Divider objects are already supported i

[2018-10-31 02:00] #703 closed

[2018-10-31 02:40] chriswmackey commented on #705
@ayezioro and @hopezh ,
I apologize for such a late response and thank you for finding this issue.  It seems to have fallen through the cracks as I was amidst the craziness of working two jobs.  I have corrected the issue here:
https://github.com/mostaphaRoudsari/honeybee/commit/165531230d02331b4bde23150adc84342d8a7dc7
And I updated the hydra version accordingly:
https://github.com/chriswmackey/hy

[2018-10-31 02:53] chriswmackey commented on #700
@saeranv ,

I am sorry that I never posted here but I did post on the forum.  This issue has gotten renewed interest now that we have decided that the ladybug tools core will have its own geometry library:
https://github.com/ladybug-tools/ladybug-geometry/blob/master/README.md

You will see that one of the of the items marked as difficult is intersecting masses like this.  I think that we should t

[2018-10-31 04:10] hopezh commented on #705
Dear Chris,

Thank you very very much for checking and updating the PVgen compoent.

I did a quick test and found the following two issues:

1. The PV electricity results generated from the newPVgen+OpenStudio workflow is significantly different from that from the oldPVgen+EPlus workflow. The difference is shown below which is based on the html reports generated.

![difference in pv electricty res

[2018-10-31 04:14] ayezioro commented on #705
Thanks @chris for the update and thanks @hopezh for the checking.
-A.

[2018-10-31 04:30] ayezioro commented on #705
OMG!!

[2018-10-31 06:49] hopezh commented on #705
Dear @chriswmackey , I noticed what you mentioned above, and it seems you're right that the problem is with **OpenStudio**.

The **newPVgen+newEPlus** components can produce the same results as that from the **oldPVgen+oldEPlus** components, as shown below.

![image 7](https://user-images.githubusercontent.com/23435810/47770531-b5930700-dd1a-11e8-8161-d8f03ba0fad1.png)

I suspect it is related to

[2018-10-31 22:36] chriswmackey commented on #705
Ok, I realized that there was a bug in the old code here:
https://github.com/mostaphaRoudsari/honeybee/commit/0658b2b8ae40b10fd5d0815feb70afc8ffd964d0

I believe that commit should fix it and let me know if you are unable to recreate the old results, @hopezh

[2018-11-01 14:07] IrisLoche opened #708 "Color Zones Ladybug does not work when I input analysis period"
Hello! I really need a help. I have tried everything already.
I am trying to generate a graphic for some hours in the day (8am to 6pm), using the colorZones component, and it works just fine, until I input the analysis period on it. It gets red and doesnt work anymore. Do you have any Idea why this is happening? :(
Help me
[Helpme.zip](https://github.com/mostaphaRoudsari/honeybee/files/2538776/Hel

[2018-11-04 20:46] chriswmackey commented on #705
Thanks for letting me know @hopezh ,
Now, I think it is probably the E+ Run Simulation component that is not correct and I will take a look when I get the chance.

[2018-11-07 16:53] saeranv opened #709 "gbXML to HB minor bug re: loading constructions/materials into HB libraries"
Heads up @chriswmackey:
I just updated and tested the updated gbXML to HB component, and it looks like the latest update doesn't force all the constructions/materials to be in upper case, which means it's still failing to be found in subsequent HB components.

I've fixed the problem on my end, so I should be able to send you a PR with my fix end of day.

[2018-11-08 05:04] hopezh commented on #705
I'm trying to use a "horrified" emoji here which is not available here obviously...

[2018-11-08 19:54] chriswmackey commented on #700
@saeranv ,

The main reason why we are starting the ladybug geometry library is so that we have a cross-platform, standard, way of doing these geometry calculations, which can be called by all of the plugins and Ladybug Tools interfaces that need it.  The second priority is making it faster.

Some of the ways that we could make Python code faster once we have it in use (1. Compiling the Python cod

[2018-11-09 04:40] chriswmackey commented on #700
I should have also been clear that by "converting to .osm format" I just meant that you don't need to create OpenStudio model objects, which definitely takes a lot of time and computer memory.  I wasn't referring to writing OpenStudio model objects to .osm files.

[2018-11-09 06:28] saeranv commented on #700
@chriswmackey

I see, preserving cross-compatibility isn't something I had considered, and converting to Python in that case makes sense, and is the right way forward.

👍 👍 👍!!!

[2018-11-10 01:33] chriswmackey commented on #705
There is a horrified emoji:
:astonished:

Thankfully, we don't need to use it here.  I can see that I'm not inputting the PV efficiency correctly into the OpenStudio workflow.  I will try to fix the OpenStudio component now.

[2018-11-10 03:19] chriswmackey commented on #705
Ok.  Now I have gone through and verified for myself that the OpenStudio component and the Run Simulation component give the same exact results for a range of cases:
https://github.com/mostaphaRoudsari/honeybee/commit/cea35ac7af89d73ee37a54c8624982ddd2155de4

While I have learned to never say never, I am 99% sure that this has finally fixed the issue.
So now I think a 😄 is appropriate!

[2018-11-10 03:19] #705 closed

[2018-11-10 10:58] orcunkoraliseri commented on #555
Hi,

I still have same problem about building function corridor.

How did you solve it?

Instead of using corridor, I connected office:stair as building function and it did it worked.

[2018-11-12 09:48] hopezh commented on #705
Dear @chriswmackey , thank you very much for the update! (followed by multiple emoji of "thumbs up" and "applauding"). Glad that you left a 1% chance for debugging.

Yes, the calculation for **PV electricity production** is consistent btw the old and new PVgen, EPlus and OpenStudio components.

However, there are still differences, although small, in cooling and heating energy results.

As shown b

[2018-11-12 22:41] chriswmackey commented on #705
@hopezh ,

Thank you for verifying the results with your scripts.

If I am reading your chart correctly, the difference between the Eplus and OpenStudio component results is just ~1%, which really is not a significant difference for an energy model.  The OpenStudio and Eplus components have all inputs matching except for a small difference on the ideal air loads system.  The OpenStudio component i

[2018-11-20 08:51] hopezh commented on #705
Dear @chriswmackey , thanks for the clarification.

Yes, the good news is that the difference in results btw the new EPlus and the new OpenStudio components are not very big.

I did another test using a larger model with about 80+ zones. The comparison is shown below.

I'm curious about the small difference in modeling the ideal loads air system btw the OpenStudio and EPlus components. Maybe I sha

[2018-11-20 10:11] hopezh opened #711 "the new EPlus and OpenStudio components always use "hourly" timestep for additional output variables specified by users"
I specified the report timestep as "annual" for all the default and the additional output variables as shown below.

However, the timestep for those additional output variables are still specified as "hourly" in the IDF file generated from both the latest EPlus and OpenStudio components.

Appreciate if the development team can take a look of this issue.

Thanks.

![image 14](https://user-images.gi

[2018-11-25 20:58] chriswmackey commented on #705
@hopezh ,
I think that the difference in the two ideal air loads systems comes from the fact that the OpenStudio ideal air loads system is actually being sized according to the cooling/heating design days while the E+ one is an infinite capacity system.  So given this, the OpenStudio ideal air loads system results should always be a little lower than the E+ one because the OpenStudio one hits its

[2018-12-01 00:34] chriswmackey commented on #709
@saeranv ,

As you see in my comments on the PR, I believe that @mostaphaRoudsari has already addressed this now.

Let me know if you feel otherwise.

[2018-12-01 00:36] chriswmackey commented on #542
I have realized that doing this is not at all the right way to go so I am closing out the issue.  Needless to say, the methods used by HB+ will be much better.

[2018-12-01 00:36] #542 closed

[2018-12-02 20:08] mostaphaRoudsari commented on #709
@saeranv, sorry that I didn't see this PR sooner. This addresses the issue as well. I just jumped to the solution after seeing the issue on the forum without checking your PR. Sorry!

[2018-12-05 02:48] chriswmackey commented on #709
@saeranv ,
Admittedly, using `get()` AFTER checking whether a parameter is initialized is probably what the OpenStudio developers would recommend.  However, using `get()` when a parameter is not initialized will result in an uncaught exception that causes all of Rhino to crash (a painful experience that I have endured many times while developing for OpenStudio).  For this reason, it is important t

[2018-12-05 03:12] saeranv commented on #709
@chriswmackey oh yes, I forgot if should be:
if obj.is_initialized(): obj.get()

Yeah, I've definitely hard crashed making this mistake.

S

[2018-12-18 15:19] Larry7707 opened #714 "Reinforced Honeybee_Intersect_Masses for complicated cases"
Current `Honeybee_Intersect_Masses (VER 0.0.64)` doesn't work so well on complicate geometry, which is true in most cases in real world. To my understanding, current function will occur bugs in cases including but not limited to:
    1.  If two `building` have multiple intersections, it will always only do the first one.
    2. Finding intersections between `brep` might result in non-planar surfac

[2018-12-21 22:19] chriswmackey commented on #714
Hi @Larry7707 ,
Thanks for reporting this. I hadn't encountered the errors that you cite but I trust that you found some issues that resulted from when we tried to adapt the component to Rhino 6. I know a lot of Rhino's Boolean intersect methods were changed in Rhino 6 and this forced us to take a different strategy.

With that point noted, what version of Rhino are you using to test your new code

[2018-12-24 19:21] Larry7707 commented on #714
Hi @chriswmackey ,
I tested my code based on Rhino 5 but I used the API docs for Rhino 6 (see [here](https://developer.rhino3d.com/api/)). It should work fine with Rhino 6. The function is based on intersection between surfaces and it will be more reliable when handling complex cases. I will do a pull request and I can also provide an example in real case if needed.
Thanks for your response and ha

[2018-12-24 20:00] Larry7707 commented on #714
Hi @chriswmackey ,
I tried to create a branch and pull request but failed due to authentication issue. I attached all the code for `Honeybee_IntersectMasses.py` below. Sorry for the inconvenience.
[code]

[2019-01-21 10:26] ayezioro opened #717 "importIdf - E+V9.0 - No windows imported"
Hi,
Trying to import an IDF i noticed that for version 9.0 the windows are not imported while for version 8.9 they are.
I know there were some formatting changes in E+ that can cause this issue.
Can you help?
An example can be found [here](https://www.dropbox.com/s/v55qhj03a20kfdw/NonCompact_01.zip?dl=0).

Thanks,
-A.

[2019-01-21 10:33] ayezioro opened #718 "importIdf - Floor instead f Roof"
Hi,
Importing an IDF i noticed that the roof is imported as a floor.
Is not a big issue but it affects the materials/constructions assigned.
It relates to [another issue](https://github.com/mostaphaRoudsari/honeybee/issues/717) i've just reported.

Thanks,
-A.

[2019-01-27 18:32] zdenomalik opened #719 "HB_HVAC Air details: solution exception:__init__() takes at most 14 arguments (15 given)"
Hi, I am running into a problem with the HVAC Air Details component, the simulation won't run and the component says: 1. Solution exception:__init__() takes at most 14 arguments (15 given). Is there a problem on my side or is this happening in someone else's simulations?

[2019-01-30 13:58] chriswmackey commented on #719
@zdenomalik ,
This issue happens when the version of the _Honeybee Air Detail_ is not correctly matched with the version of _Honeybee_Honeybee_ flying on your canvass.  Update all of your components on you canvass to the same version using the _Ladybug_Update File_ component and everything should work fine.

Also, this is not a bug and so it really does not belong on the github but rather [our for

[2019-01-30 13:58] #719 closed

[2019-02-04 09:40] wta12 commented on #671
@mostaphaRoudsari Could you give me some outlines how to setup a settings file *customPath* of OpenStudio ? Thanks

[2019-02-07 07:21] ayezioro commented on #718
Hi,
As an "extension" of this issue i also see the following:
Using @chriswmackey  hydra example for photovoltaics i mirrored the simulated zone.
As you can see in the image the created mirrored zone has the Roof on the Floor and visceversa.

![01](https://user-images.githubusercontent.com/7526023/52395970-a4dff300-2ab8-11e9-928d-f54102e26060.jpg)

The link for the file is [here](https://www.dropb

[2019-02-08 18:01] RMistrick opened #721 "Gendaylit Error"
There appears to be an error in gendaylit in the calculation of skyclearness (def sky_clearness).  The equation for skyclearness (value = ) is doing integer arithmetic  when it divides (diffuseirradiance + directirradiance) / (diffuseirradiance).   If you float() either the numerator or denominator, this fixes the error.  I don't know if a similar error might be occurring in any other modules.  I

[2019-02-08 18:29] mostaphaRoudsari commented on #721
Hi @RMistrick, This issue seems to be related to Honeybee[+]: https://github.com/ladybug-tools/honeybee/issues

Thank you for reporting the issue. This should fix it.

https://github.com/ladybug-tools/honeybee/commit/ac514d0f99bf43b5b446a1e423edb32fb583a1fa

[2019-02-08 18:29] #721 closed

[2019-02-14 10:08] MaxMarschall commented on #506
Hi all,

I have been fiddling around with AFN in Honeybee and was wondering if there is any implementation of this yet that I am not aware of?

I am aware of the AFN's shortcomings (especially stack-ventilation and large atriums), but would like to visualise basic airflows through a building without having to do a fully-fledged CFD simulation for each design idea.  Is this something that could be

[2019-02-14 13:14] antonszilasi commented on #506
@MaxMarschall  I'll see if I can dig up that AFN old script which I had and post it here

[2019-02-15 07:50] MaxMarschall commented on #506
@antonszilasi That would be great thanks!

[2019-05-29 07:46] aegis1980 opened #723 "KeyNotFoundException when creating own HBZone geometries."
So, I have possibly taken a long-way-round and made my own adjacent inner and outer zones in HB.
But I broke something.
I get the same error if I try and run the AdjacentZones component or the ExporttoOpenStudio component:

[code]

The common error is from line 8385 in callFromHoneybeeHive

 I have tried:
- Using the Intersect masses component
- Using the same a duplicate surface object for the ad

[2019-05-29 14:59] mostaphaRoudsari commented on #723
@aegis1980,

You should post this question to the forum (https://discourse.ladybug.tools/).

To address this issue right click on canvas and select Recompute.

[2019-05-29 14:59] #723 closed

[2019-05-29 18:28] aegis1980 commented on #723
Thanks. WIll post on forum.
Recompute does not work.

On Thu, 30 May 2019 at 02:59, Mostapha Sadeghipour Roudsari <
notifications@github.com> wrote:

[2019-06-05 14:32] chriswmackey commented on #717
We now know that this is just a display issue that was solved here:
https://discourse.ladybug.tools/t/missing-windows-in-idf/4876

... so I am closing out this issue.

[2019-06-05 14:35] chriswmackey commented on #714
Now that this issue has been fixed via @Larry7707 's [Pull Request](https://github.com/mostaphaRoudsari/honeybee/pull/716), I am closing out this issue.

[2019-06-05 14:35] #714 closed

[2019-06-05 14:35] #717 closed

[2019-07-02 20:35] Larry7707 opened #724 "`importOSMeasure` fail when parameter description contains "%"."
When importing `ReduceSpaceInfiltrationByPercentage`, the parameter description contains "%", so it will raise error on line 172.
[code]
Suggest to change it to something like below.
[code]

[2019-07-04 15:26] chriswmackey commented on #724
Thanks for reporting this @Larry7707 .

By any chance are you working with Elliot_Glassman?
I see that [the same case was reported on the forum a couple of days ago](https://discourse.ladybug.tools/t/infiltration-measure-fails/6649/2).

It seems that I incorrectly identified the faulty character in my forum response, though. I thought is was a '(' but it seems I should have been reading the code i

[2019-07-04 15:26] #724 closed

[2019-07-04 15:47] Larry7707 commented on #724
Thanks for the update. Your way seems better and yes Elliot and I are on the same team. One more note may be that I think a general way to prevent this kind of bugs is to avoid any formatting with variables because people are evil and they want to break our functions by assigning an evil value to it :)
Happy July 4th!

[2019-07-07 12:28] ayezioro opened #725 "OS 9.01 and above - WindowProperty:ShadingControl not working"
Hi,
As for [this post](https://discourse.ladybug.tools/t/os-9-01-and-above-windowproperty-shadingcontrol-not-working/6684) in the discourse, i'm reporting also here.
Hoping this is an easy one to solve.
Thanks,
-A.

[2019-07-09 03:51] ayezioro commented on #725
The issue was addressed and solved. See the thread in the discourse for the solution.
Closing the issue and thanks @chriswmackey ,

-A.

[2019-07-09 03:51] #725 closed

[2019-07-09 21:36] Larry7707 opened #726 "`importOSMeasure` error when valid inputs are choices taken from .osm"
This is basically a followup for issue [#724](https://github.com/mostaphaRoudsari/honeybee/issues/724). When importing `ReduceSpaceInfiltrationByPercentage`, the first input `_ApplytheMeasuretoaSpecificTypeortotheEntireModel` is to choose a space type to apply the measure. When validating the inputs, the valid values taken from the xml file is a GUID in a curly bracket, which will lead a warning f

[2019-07-31 03:52] MingboPeng opened #727 "CSV file from OpenStudio's "Schedule:File""
Hi @chriswmackey ,

https://github.com/mostaphaRoudsari/honeybee/blob/71ab0eebb98c2482ce7cd45c984444ba347705e3/src/Honeybee_Export%20To%20OpenStudio.py#L4981-L5011

writeNonOSFeatures here removes ".csv" file extension in "Schedule:File" that generated from OpenStudio (this is new from 2.7)
![image](https://user-images.githubusercontent.com/9031066/62182153-8c43ed80-b323-11e9-8a6d-083cce50c71b.png

[2019-07-31 21:59] saeranv opened #728 "Normalize Data by Floor Area divides simulation data by incorrect HBZones"
@chriswmackey

I believe I found a bug/typo in the `flrNorm' component, that is leading to zone simulation values to be divided by the wrong floor areas.

The typo appears to happen here, when the HBZone area property and simulation header/data is combined to normalize the latter:
https://github.com/mostaphaRoudsari/honeybee/blob/71ab0eebb98c2482ce7cd45c984444ba347705e3/src/Honeybee_Normalize%20Da

[2019-08-28 22:04] saeranv opened #729 "Correction to Honeybee Wiki re: wind direction"
Hi @alexandermatthias,

Fantastic job with the Honeybee Wiki, definitely a resource I plan to use while introducing others to HB! I was just reading through it today and noticed what seems to be a small error in [Energy Modeling Assumptions](https://github.com/mostaphaRoudsari/honeybee/wiki/Intro-IV-%E2%80%90-Energy-Modeling-Assumptions) regarding airflow accounting for wind direction.

Specifical

[2019-08-29 00:03] chriswmackey commented on #729
Thanks for point this out @saeranv .  To clarify a little more, when the "Opening Effectiveness" of the  ZoneVentilation:WindandStackOpenArea is not set to "autocalculate", the wind direction is discounted.  You will see that I recently exposed this as an option on the HB Airflow component:
https://github.com/mostaphaRoudsari/honeybee/commit/2d4c2af515afd19c8bd37598270f9e284edda4f8
This was in res

[2019-09-26 01:52] chriswmackey commented on #728
Thank you for taking care of this one @saeranv . Feel free to do the honors of closing the issue.

[2019-09-26 15:12] #728 closed

[2019-09-26 15:54] mostaphaRoudsari opened #731 "Moving this repository to ladybug-tools organization"
We are moving this repository to ladybug-tools organization: https://github.com/ladybug-tools/ so we can add the issues to `hacktoberfest`.

This will break the update components! I will send a fix after the migration and update [this example](http://hydrashare.github.io/hydra/viewer?owner=mostaphaRoudsari&fork=hydra_1&id=Update_Ladybug_and_Honeybee&slide=0&scale=1&offset=0,0) on Hydra which you c

[2019-09-26 16:47] mostaphaRoudsari commented on #731
Done! See the fix here:

https://discourse.ladybug.tools/t/update-component-error-ini-object-is-not-iterable/7273/2

[2019-09-26 16:47] #731 closed

[2019-09-27 22:48] AntoineDao commented on #1
Is this... resolved @mostaphaRoudsari ? Seems like we can probably close as it's not a code issue and pretty stale.

[2019-09-28 02:27] mostaphaRoudsari commented on #1
Oh wow! 2014 - and there was a user who is now a ghost! https://github.com/ladybug-tools/honeybee-legacy/issues/1#event-88991885

We did released enough videos to be able to close this!

[2019-09-28 02:27] #1 closed

[2019-10-07 21:01] guramritpalsaggu commented on #506
Great Work @MaxMarschall

[2019-10-08 19:27] MingboPeng commented on #727
fixed in https://github.com/ladybug-tools/honeybee-legacy/pull/733

[2019-10-08 19:27] #727 closed

[2019-10-09 16:59] chriswmackey commented on #727
Thanks for fixing this @MingboPeng . I'm so happy that OpenStudio now supports CSV schedules and we won't have to worry about this crazy workaround in honeybee[+]

[2019-10-31 02:28] chriswmackey commented on #462
I have come full circle on this issue and I now think that bakeIt options on ladybug components is not good practice. In ladybug[+], the default baked form of the geometry is good enough to work with such that we don't need a special option for it. And if people need auto-baking for parametric runs that output stuff to the file, they can use another plugin like Human for it.

[2019-10-31 02:28] #462 closed

[2019-11-12 06:54] jarjarven commented on #361
Hi, all,
Comment from 2019. I am having a similar issue when I run the glare analysis, which warned me to download evalglare.exe from the link first. However, the link did not valid anymore. Could anyone share the evalglare.exe with me, please?
-Jarven

[2019-11-12 15:52] mostaphaRoudsari commented on #361
Evalglare is now part of the official Radiance distribution. Try to download the latest version of Radiance.

[2019-11-13 06:15] jarjarven commented on #361
@mostaphaRoudsari Thank you for your quick reply! I tried and it does work now!

[2019-11-18 00:16] Koziu233 opened #736 "Honeybee (in Dynamo) illumination result extrenly high"
Hi,

I'm new to honeybee and is attempting to run a point in time gride based daylight optimization within Dynamo (Revit) -Honeybee.

I'm aware that the `Collect Rooms and Spaces` node does not work well according to the current Autodesk policy. I chose to use the traditional way of making HoneybeeSurfaces.

However, I found the illumination result in lux being extremely high which seems unreasona

[2019-11-19 20:56] #736 closed

[2020-02-04 14:20] devngc opened #738 "Error - Dump HB objects with shading controlled by Schedule"
https://discourse.ladybug.tools/t/error-dump-hb-objects-with-shading-controlled-by-schedule/8254?u=devang
I can look into this. I tested it and it does look like a bug.

[2020-02-04 15:49] mostaphaRoudsari commented on #738
Not sure how much work it will take to address this issue. @devngc, it will be great if you can address this issue otherwise I'm tempted to consider this as not-fixed for the legacy and we will have an alternative solution in the [+] libraries. @chriswmackey what do you think?

[2020-02-05 02:57] chriswmackey commented on #738
@devngc ,
It looks like it may be a quick fix if you want to go for it. I wouldn't spend more than an hour, though. Our system for serializing things into files is a lot more robust in the [+] plugins and we're hopefully just a month or two away from an official release.

[2020-02-06 03:45] devngc commented on #738
Use [this](https://we.tl/t-1audLwsio0) file for testing

[2020-02-06 12:46] devngc commented on #738
This is tested by Rafael [here](https://discourse.ladybug.tools/t/error-dump-hb-objects-with-shading-controlled-by-schedule/8254/4?u=devang)

[2020-02-06 18:15] #738 closed

[2020-02-08 00:45] devngc commented on #571
@chriswmackey,
Can you please close this if this is already implemented?

[2020-02-09 13:04] chriswmackey commented on #571
Will do. FYI, I have implemented some better functions for getting temperature profiles of constructions in the honeybee-energy library for Honeybee[+]. The nice thing is that I have methods that work for both [Opaque Constructions](https://github.com/ladybug-tools/honeybee-energy/blob/master/honeybee_energy/construction/opaque.py#L100-L131) and for [Window Constructions](https://github.com/ladybu

[2020-02-09 13:04] #571 closed

[2020-02-28 14:36] JustinShultz opened #740 "EnergyShadeBenefit Index Error"
I am attempting to run an Energy Shade Benefit study, similar to the [Hydra example](http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=Energy_Shade_Benefit&slide=0&scale=1.0000000000000024&offset=-36.98694546837669,108.86468674045989).

At the EnergyShadeBenefit component, I get an index error that reads:
`Runtime error (ArgumentOutOfRangeException): Index was out of rang

[2020-02-28 14:43] devngc commented on #740
This looks like something that should be posted on the forum

[2020-02-28 14:54] JustinShultz commented on #740
@devngc I can post on the forum. When should an error associated with the coding of a component be posted on the forum versus the github issues?

[2020-03-28 14:32] sariths opened #741 "Add functionality for colored climate-based sky."
Discussion here: https://discourse.ladybug.tools/t/generating-colored-sky-in-honeybee/
I already coded the component but some of the functionality seems to be not working in the Windows version of gendaylit. I will send a PR once I have a resolution to that issue.

[2020-03-28 23:33] mostaphaRoudsari commented on #741
We don't really want to add any new functionalities to the legacy components at this point. This can be something to consider for the [+] plugins.

[2020-03-29 09:38] sariths commented on #741
Alright. At commandline level it's a lot easier to add this functionality to the [+] library (it's just a couple of extra flags). Does it make sense to close this issue here and open one in the core repo?

[2020-04-09 07:07] jarjarven opened #742 "Missing NormbyFloorArea in Honeybee Read EP Results component"
Hi, all,
I am doing honeybee energy simulation following Chris's guiding videos. However, when I tried to use the Honeybee Read EP Results component, I found that the option called NormbyFloorArea was missing. I checked that my component version was 0.0.65 Jan_01_2020 while the one used by Chris in his video was 0.0.55 Sep_11_2014. I wonder if the way of doing it has been changed in the newest upd

[2020-04-09 07:08] jarjarven commented on #742
@mostaphaRoudsari @chriswmackey

[2020-04-13 15:48] roxas358 opened #743 "Failed to find schedules in the Honeybee schedule library"
I got the error running honeybee energy simulation.   Is there anyone know what to do?
And what is the folder of the Honeybee schedule library file?
10. Failed to find MEDIUM OFFICE BLDG OCC in the Honeybee schedule library.
11. Failed to find MEDIUM OFFICE HTGSETP in the Honeybee schedule library.
12. Failed to find OFFICE BLDG LIGHT in the Honeybee schedule library.
13. Failed to find MEDIUM OFF

[2020-04-13 17:09] chriswmackey commented on #742
@jarjarven ,

This issue is happening because honeybee isn't able to load up the schedules from the OpenStudioMasterTemplate.idf:

![image](https://user-images.githubusercontent.com/5567574/79141499-ec7ea080-7d87-11ea-920b-ba8b56b092ae.png)

Make sure you have that file there and, if it isn't able to automatically download, try manually replacing it using the file here:
https://github.com/ladybug-

[2020-04-13 17:11] chriswmackey commented on #743
@jarjarven ,

This issue is happening because honeybee isn't able to load up the schedules from the OpenStudioMasterTemplate.idf:

![image](https://user-images.githubusercontent.com/5567574/79141499-ec7ea080-7d87-11ea-920b-ba8b56b092ae.png)

Make sure you have that file there and, if it isn't able to automatically download, try manually replacing it using the file here:
https://github.com/ladybug-

[2020-04-13 17:11] #743 closed

[2020-04-13 17:16] chriswmackey commented on #742
@jarjarven ,

The ability to normalize results by floor area has been pulled out into another component "Honeybee_Normalize Data by Floor Area":
![image](https://user-images.githubusercontent.com/5567574/79142149-0a003a00-7d89-11ea-8211-16809c2234a0.png)

Questions like this that are not bugs in the software should be posted to the forum:
https://discourse.ladybug.tools/

[2020-04-13 17:16] #742 closed

[2020-04-14 00:52] roxas358 commented on #743
Super thanks！

[2020-04-14 00:53] roxas358 commented on #743
@chriswmackey
Super thanks！

[2020-04-16 07:21] jarjarven commented on #742
@chriswmackey

I see. Thank you so much, Chris.

[2020-06-12 14:22] tobkri opened #745 "Threshold Selector - divide by zero"
Hello,

I posted on the Ladybug Forum:

https://discourse.ladybug.tools/t/threshold-divide-by-zero/10048

The Threshold Selector gives an error due to division by zero. I see that the “totalArea” in the code is the issue (line 185). Can this be fixed by creating an if-statement which set the totalEnergy to sum(shadeNetFinal) if totalArea is 0?

From the code:
` #Calculate the total area and the en

[2020-06-20 12:41] Farhang223 opened #746 "Schedule for fan driven natural ventilation"
Dear LB developers community,

I believe it is a simple but necessary functionality to assign a schedule to fan-driven ventilation (Type 3) in Honeybee_Set EP Air Flow.
One use-case for this would be to maintain a fixed recommended ventilation rate during occupancy hours.

Please let me know if further details on this is needed.

All the best,
Farhang

[2020-09-14 07:33] hongyuanjia opened #747 "Wind speed and direction calculation in DDY calculation"
Thanks for this great plugin!

I am trying to manually calculate DDY data using EPW files. And I found `createDdyFromEPW` being quite useful. I got a little bit confused by how the wind speed and direction calculation.

https://github.com/ladybug-tools/honeybee-legacy/blob/3bbc3a9c0b770d494f066570dc84d8562f539fd4/src/Honeybee_%20Run%20Energy%20Simulation.py#L267-L286

In `createDdyFromEPW`, `coldS

[2020-09-18 03:21] AnnaCPeres opened #748 "Can`t run this microclimate analysis - Terminated by user"
Hi everyone,
I am trying to run this Outdoor Microclimate analysis but for some reason end up getting the error that it was terminated by the user when it clearly wasnt. I`ve tried fixing it in every possible way, with no result. Could anyone please help me?
GH file - https://drive.google.com/drive/folders/1OWKYFfhzUz27YyqIJwtenCIHkWG1bqRD?usp=sharing

[2020-09-29 14:46] mostaphaRoudsari commented on #748
Hi @AnnaCPeres, you should post your questions to the forum: https://discourse.ladybug.tools

[2020-09-29 14:46] #748 closed

[2020-11-09 14:56] CongzhengZOU commented on #214
Hi, all, sorry to disturb all of you. Now we are in November 2020, I have the same error.
I have Rhino 6, Ladybug tools, Openstudio 3.0.1, Radiance 5.1.0 installed.
And I am just jusing the example file " [Multizone_Energy_Balance_Chart](http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=Multizone_Energy_Balance_Chart&slide=0&scale=5.278031643091579&offset=-2828.1801646555

[2020-11-11 18:53] mostaphaRoudsari commented on #214
@CongzhengZOU, see the forum. This is a very old issue and has been resolved.

https://discourse.ladybug.tools

[2020-11-11 18:53] #214 closed

[2020-11-19 18:00] smyliemeg opened #749 "honeybee masses2zones error"
![error index 1](https://user-images.githubusercontent.com/74729418/99704825-ce50ef80-2a90-11eb-84fe-6d819eef9bc3.png)

Hi all, Honeybee 0.0.65, component "Honeybee_Masses2Zones"
1. Solution exception:index out of range: 1

Any solutions? Have tried multiple geometries (closed breps), same issue.

[2020-11-19 18:07] devngc commented on #749
Hi @smyliemeg,
I would recommend that you report this on https://discourse.ladybug.tools/
Somebody would have found a solution to this issue already.

[2020-11-19 18:08] #749 closed

[2020-11-20 02:24] aliceb99 opened #750 "Honeybee on a Mac - Installation and letting fly"
Hi there. I have downloaded Ladybug_0_0_69_Honeybee_0_0_66 on my MacBook. ladybug works fine, but honeybee will not work. I have tried reinstalling it and looked everywhere online, but I can't seem to work out what the problem is. All of the tools show up in my Grasshopper document under HB Legacy, but I can't actually use them. I think it is something to do with the installation somewhere as it t

[2020-11-20 02:25] aliceb99 commented on #750
I also tried installing Radiance 5.3 official release (2020-09-03) from this link https://github.com/LBNL-ETA/Radiance/releases, but couldn't get it to work

[2020-11-20 03:02] devngc commented on #750
Hi @aliceb99,
The legacy plugins are not mac compatible.
Although not as developed as the legacy plugins but the [Ladybug 1.1.0](https://www.food4rhino.com/app/ladybug-tools) is mac compatible.

[2020-11-20 03:26] mostaphaRoudsari commented on #750
@aliceb99, please post questions like this to the forum: https://discourse.ladybug.tools - thanks!

[2020-11-20 03:26] #750 closed

[2021-10-03 07:02] melika-b opened #753 "Honybee Installation"
how can I download EP-construction? I cant find that in the site.
can you help me where is it?
How do I fix this error? (the thired one I mean)
Thank you very much

![1](https://user-images.githubusercontent.com/56600082/135743686-7d39a96d-a81f-4e4a-8062-a62767010c13.png)

[2021-10-03 07:03] #753 closed, assigned to nobody