[2016-04-11 21:48] mostaphaRoudsari commented on #505
This is what it is supposed to be. Here is the folder structure for EnergyPlus under openstudio folder:

![image](https://cloud.githubusercontent.com/assets/2915573/14443486/9f6f3062-000d-11e6-98fd-5fa4e4aac48e.png)

[2016-04-11 23:13] antonszilasi commented on #505
@mostaphaRoudsari

Ok so the question is, why isn't my folder structure like this? Should I put a 2nd method in the code so that this kind of issue can be accounted for?

[2016-04-11 23:14] mostaphaRoudsari commented on #505
Unless OpenStudio has changed their installation routines I think we should not. Which version of OpenStudio do you have and what is the structure of the folder?

[2016-04-15 14:19] antonszilasi opened #506 "Air Flow Network for Honeybee!"
@mostaphaRoudsari @chriswmackey

I am about 60-70% developing a airflow network for Honeybee (not functional yet). I've put the code on my profile under the AFN branch on my profile.

I wanted your thoughts on how the components should be structured. I've written the AFN in Chris's nat vent component and it has two components that accompany it. One to create "DetailedOpenings" or windows and holes

[2016-04-15 22:29] chriswmackey commented on #506
@antonszilasi ,
I will try to give you more feedback on your code soon. In the meantime, I just wanted to make sure that you are aware that OpenStudio seems to be close to having a full implementation of the airflow network:

https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-1.8.3-doc/airflow/html/annotated.html

I am not sure if they are all of the way there yet but I just want

[2016-04-18 16:52] antonszilasi commented on #506
@chriswmackey
I was aware of this, I guess I should work them to port the code over

[2016-04-25 15:09] mostaphaRoudsari commented on #487
@antonszilasi as discussed please add reference to code that you're using ID for generators and I will suggest some solutions based on that. Thanks.

[2016-04-28 00:01] #505 closed

[2016-05-02 14:18] antonszilasi commented on #487
@mostaphaRoudsari

There are three checks for which I need consistent HB surface IDs across components.

1. I use the ID of each honeybee surface to identify if there is a duplicate surface in the dictionary of Honeybee surfaces or not (each surface should only be added to the dictionary once).

https://github.com/antonszilasi/Honeybee/blob/master/src/Honeybee_Generator_PV.py#L276-L317

2. I also

[2016-05-02 14:24] #383 closed

[2016-05-03 18:10] antonszilasi commented on #111
@chriswmackey  Chris I've noticed that when you pass a honeybee zone into this component the component will remove all previous glazing. This can be tricky sometimes, could we add some functionality so that previous glazing won't be removed when only skylights need to be added? Perhaps I can just add another tab that allows that?

[2016-05-04 04:29] chriswmackey commented on #360
This is now implemented on both E+ and Openstudio Components.

[2016-05-04 04:29] #360 closed

[2016-05-04 04:31] chriswmackey commented on #111
@antonszilasi ,
Yes, that sounds useful.  This component was also up for being split into two components:
https://github.com/mostaphaRoudsari/Honeybee/issues/449
If you want to take a stab at this, I trust you.  Otherwise, I'll get to it before the next stable relase.
-Chris

[2016-05-06 12:02] mostaphaRoudsari commented on #273
@ayezioro @chriswmackey should we close this issue?

[2016-05-06 14:38] chriswmackey commented on #273
I thin @ayezioro should do the honors of closing the issue unless he thinks anything is missing.

[2016-05-06 14:46] ayezioro commented on #273
Trying to close but i don't think i have the rights to do that.
Anyway, it can be closed.
-A.

[2016-05-06 14:48] mostaphaRoudsari commented on #273
Thanks Abraham. I close it on behalf of you.Thanks for taking care of this component.

[2016-05-06 14:48] #273 closed

[2016-05-06 22:22] basdav commented on #106
Hi, sorry for invading this post...
I just have a question regarding your answer of about 2 years ago... is that possible already to use 3-5 Phase Method in honeybee?...  I see that the use of BSDF is implemented but maybe only availabe for point in time simulations? I'm soon-to-be user of Honeybee, so at the moment just exploring the software capabilities...
I'll appreciate your reply... thanks i

[2016-05-06 23:00] mostaphaRoudsari commented on #106
Hi @basdav! not yet. 3-5 phase is one of the most delayed features for our development. Keep an eye to the new [honeybee repository](https://github.com/ladybug-analysis-tools/honeybee). We're working on it.

[2016-05-10 01:27] chriswmackey commented on #396
This has been addressed with the new implementation of ASHRAE Baseline systems.  Everything is assigned on the zone level and, in the event that we need recirculated air, I automatically, hard size some elements of the HVAC system to make sure that we get enough.

[2016-05-10 01:27] #396 closed

[2016-05-10 01:33] chriswmackey commented on #395
At this point, this only needs to be a labeling of the system type and system Group ID.  Labeling airDetails, heatingDetails, and coolingDetails is probably too much unless someone thinks otherwise.

[2016-05-10 01:34] chriswmackey commented on #359
This list is getting narrower.  Now, we just need the following:

1) Blinds and Dynamic Blinds

2) Adding Internal Mass to Zone

3) Add in additional strings for the IDF

[2016-05-10 01:48] chriswmackey commented on #325
@jacoposartore ,

I have finished adding the ability to import energy results for all ASHRAE baseline HVAC types and I realized that importing zone-level heating/cooling loads for centralized systems is really not what is wanted most of the time.  I would much rather have the Read EP Result component bring in the system energy use and the Read EP HVAC Result component bring in the zone-level heati

[2016-05-10 01:52] chriswmackey commented on #321
@jacoposartore ,
I am just letting you know that humidity control and heat recovery (+ effectiveness) are now things that you can specify with HB OpenStudio systems.  Some templates for radiant systems should be up here in the next few days.

We still don't have all of the other things on your checklist but I believe that domestic hot water should be high on the priority list.  Also @antonszilasi

[2016-05-10 01:53] chriswmackey commented on #246
These capabilities now exist with the new HVAC implementation and so I am closing out the issue.

[2016-05-10 01:53] #246 closed

[2016-05-10 01:56] chriswmackey commented on #161
I think that I should readdress this issue for the time being with an implementation of compact schedules.  @AntonelloDN 's components offer a good opportunity for this.

[2016-05-10 01:57] chriswmackey commented on #136
This is now complete.  We've got all 10 and a budding library for some now ones.

[2016-05-10 01:57] #136 closed

[2016-05-10 01:59] chriswmackey commented on #135
All system-level results of OpenStudio systems can now be imported with the ReadEPResult component and so I think this issue is close-able.  Please re-open if you disagree.

[2016-05-10 01:59] #135 closed

[2016-05-10 02:02] chriswmackey commented on #134
Basic natural ventilation objects have been implemented in the OpenStudio workflow using a work-around for the fact that OS currently doesn't support these basic nat vent objects.  @antonszilasi is also working towards the airflow network.  I would suggest @antonszilasi check the status of OpenStudio's work towards the airflow network on the SDK as he continued work.

[2016-05-10 02:04] chriswmackey commented on #133
I'm going to put a template in for this over the next few days following the plan I have laid out here:
https://github.com/mostaphaRoudsari/Honeybee/commit/e76331052179231569dbe573d2b54231230514d1
.. that is, unless someone says thinks otherwise.

[2016-05-10 02:05] chriswmackey commented on #132
This will also be implemented over the next few days following this plan:
https://github.com/mostaphaRoudsari/Honeybee/commit/e76331052179231569dbe573d2b54231230514d1

[2016-05-10 02:11] chriswmackey commented on #131
Man, it's funny to realize that ideas that I think are novel have actually been around the forums for a while.
https://github.com/mostaphaRoudsari/Honeybee/commit/e76331052179231569dbe573d2b54231230514d1

[2016-05-10 02:13] chriswmackey commented on #130
@mostaphaRoudsari ,
Can you clarify whether this issue is still relevant?  Right now we have a separate name for each system, no?  Is this an alternative workflow that you are thinking about here?
-Chris

[2016-05-10 02:15] chriswmackey opened #507 "Make a Way to Write Day/Week/Year Schedules from HB"
Building off the momentum that @AntonelloDN has set and the fact that many of us want to be able to export custom schedules into OpenStudio files.

https://github.com/mostaphaRoudsari/Honeybee/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22All+That+Needs+to+Happen+in+Order+to+Claim+Full+OpenStudio+Functionality%22

[2016-05-10 02:16] mostaphaRoudsari commented on #130
@chriswmackey I don't it is anymore. I'm closing this.

[2016-05-10 02:16] #130 closed

[2016-05-10 02:38] mostaphaRoudsari commented on #161
@chriswmackey [here](http://bigladdersoftware.com/epx/docs/8-0/input-output-reference/page-009.html#scheduledayhourly) is the EnergyPlus object that I mentioned. You can parse the csv schedule and create daily schedules which can be used to create weekly schedules and so on. Using these objects you can have a single function that will work for any csv schedule. It should work well with @AntonelloD

[2016-05-10 02:54] chriswmackey commented on #161
Awesome!  Thanks Mostapha.  This will be useful.

[2016-05-10 04:10] chriswmackey commented on #133
Done!
https://github.com/mostaphaRoudsari/Honeybee/commit/ddae852af5da3895f86eb7c9a144b7dfcffcdcde

[2016-05-10 04:10] #133 closed

[2016-05-10 09:33] stgeorges commented on #321
@jacoposartore
You have been asking for Honeybee components, but you can also check for[ Ladybug Domestic Hot Water and Solar Water Heating components](http://www.grasshopper3d.com/group/ladybug/forum/topics/ladybug-solar-water-heating-components-released?xg_source=activity).

[2016-05-10 14:57] antonszilasi commented on #134
@mostaphaRoudsari @chriswmackey thanks as you can see here: https://github.com/mostaphaRoudsari/Honeybee/issues/506

I've written most of the code I'll need to check on the status of the open studio AFN at the moment, please do give me your thoughts on whether the work flow that I have proposed is ok.

[2016-05-11 09:34] nikunjSh commented on #402
Hi,

I am trying to add irregular illuminance map that fits in space. please guide me how to implement it? In above code what should I pass in map.setTransformation() , glare.setTransformation() as well as dc.setTransformation() . please help to achieve the same.... :)

I am writing measure in openstudio using Ruby

[2016-05-11 15:38] rpg777 commented on #402
Unfortunately these methods only support rectilinear illuminance maps, as these are what are supported in EnergyPlus. ¯\_(ツ)_/¯

[2016-05-11 15:54] macumber commented on #402
You can add a bunch of DaylightingControl points, not sure if that will help you.

[2016-05-11 16:26] rpg777 commented on #402
^ unlikely. =(

[2016-05-11 19:33] mostaphaRoudsari commented on #402
@rpg777 why adding a bunch of DaylightControl points is not helpful? Is it because the measure looks for a illuminance map? or is it because then all the points will be considered as sensors to generate lighting shcedule?

What about adding a ```classmethod``` to let us create the illuminance map by location and direction? Is it something that can be added to the API at some point soon?

[2016-05-12 14:54] Omidmr opened #508 "Honeybee PMV ComfRecipe+AdaptComfRecipe Runtime+Error in newer Version.!"
Hi every one.
I used  latest version of (LB 0.0.62 & HB 0.0.59) of this components (VER 0.0.59\APR_12_2016) returns this error:
"1. Solution exception:expected float, got NoneType"

![25](https://cloud.githubusercontent.com/assets/11173265/15218626/091a9bb6-1876-11e6-8945-675145bb043d.PNG)

TNX
-Omid

[2016-05-12 15:29] rpg777 commented on #402
It's more of a usability thing; seems like a giant PITA to place individual points in a uniform grid. Secondarily, yes, the Radiance stuff would have to be refactored as well. Of course one could write a script to do the placing, but we might as well do it the right way and have an object and some methods. This is the right thing to do, but there isn't any money to do the work. We had been hoping

[2016-05-12 23:54] mostaphaRoudsari commented on #402
@rpg777 thank you for the clarification.

We should be able to do this too. Do you have an example of their output that will be called during the OSM > Radiance translation? I will be more than happy to write that part. The whole workflow is on hold because of this single missing piece.

[2016-05-13 06:37] nikunjSh commented on #402
please provide code what to pass in map.setTransformation() function

[2016-05-15 03:57] chriswmackey commented on #506
@antonszilasi ,
I apologize for not taking a deeper look at your proposed components and workflow until now.  It's a bit difficult to know exactly what you are thinking about without a GH file but my initial reactions to the components in your image are as follows:

1) Do we need a separate component for zoneControls or could the inputs of this component just be on the Nat Vent component when you

[2016-05-15 04:08] chriswmackey commented on #508
@Omidmr ,
Can you post a link to the GH file with the error?  I can't recreate it on my machine and everything is working well for me:
![workingpmv](https://cloud.githubusercontent.com/assets/5567574/15271969/25d481ec-1a31-11e6-89f4-f3ea87a8443d.JPG)

https://www.dropbox.com/s/l4qyi4fodovdotb/Indoor_Microclimate_Map.gh?dl=0
-Chris

[2016-05-19 10:41] nikunjSh commented on #402
provide complete example of above code.... I dont understand how to set daylight control ?

[2016-05-19 15:41] rpg777 commented on #402
Here is an example. This assumes the sensor setpoint has been set (```daylight_stpt_lux```) and the extents of the map and the sensor location have been automagically determined (```sensor_vertex```, ```min_x_val```, etc). ```self``` in this context is the current space. HTH!
[code]

[2016-05-23 15:01] antonszilasi opened #509 "Question: Radiance solar radiation values when using gendaylit"
This is a question regarding the Honeybee generate sky components that use gendaylit I noticed in the code that the input for gendaylit -O, please see: https://www.radiance-online.org/learning/documentation/manual-pages/pdfs/gendaylit.pdf

Is hardcoded to 0, that is the output is W/m2/sr visible radiation. I am correct in assuming that all radiation studies using these components are considering o

[2016-05-24 23:21] mostaphaRoudsari commented on #509
@antonszilasi honeybee [modifies the sky](https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_Honeybee.py#L1290-L1313) for radiation analysis and changes -O 0 to -O 1 [if necessary](https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_Honeybee.py#L1280-L1282).

[2016-05-26 22:13] ayezioro opened #510 "HB_extrudeWindows normal inconsistency"
Hi,
I've found inconsistencies when using the HB_extrudeWindows component. Sometimes the extruded surfaces are done inwards.
I made some checkings extracting the normals of the windows calculated inside the component and i see that they point to the wrong direction.
Attached an example showing this. Also with some changes in the component just to isolate a case, but don't know how to fix.
Thanks,

[2016-05-27 16:56] sariths commented on #510
Hi @ayezioro, thank you for reporting. It has been while since I visited this component. @chriswmackey , we were planning to include this component in other component as per a discussion before (I can't find it here). Is that still happening ?

[2016-05-27 19:24] #510 closed

[2016-05-27 19:27] mostaphaRoudsari commented on #510
Hi Abraham! Thank you for reporting. It was happening because input type was set to surface and Grasshopper was changing normal directions. It's fixed.

![image](https://cloud.githubusercontent.com/assets/2915573/15618968/1e1300d0-241f-11e6-8212-015e0352f2cb.png)

[2016-05-27 19:28] mostaphaRoudsari commented on #509
@antonszilasi I'm closing this as it is already addressed.

[2016-05-27 19:28] #509 closed

[2016-05-27 19:29] mostaphaRoudsari commented on #508
@Omidmr I'm closing this as it has been addressed in the newer version. Feel free to re-open it if the issue still exists.

[2016-05-27 19:29] #508 closed

[2016-05-27 21:05] ayezioro commented on #510
Great Mostapha,
Thanks!!
-A.

[2016-05-27 23:40] sariths commented on #510
That was quick !

[2016-05-31 16:23] antonszilasi commented on #509
@mostaphaRoudsari Thanks Mostapha I see that for a radiation analysis -O is changed to 1 which is W/m2/Sr

[2016-05-31 20:34] antonszilasi opened #512 "Honeybee generation Always On schedule not being written to IDF by default"
@mostaphaRoudsari, it seems that the Always On schedule is not being written to the IDF please see: http://www.grasshopper3d.com/group/ladybug/forum/topics/honeybee-generation-is-ready-to-fly-example-work-flow?commentId=2985220%3AComment%3A1539547&groupId=2985220%3AGroup%3A658987

I thought it was written by default, I fixed this issue by writing it manually any ideas on what is happening here? Pl

[2016-05-31 21:45] mostaphaRoudsari commented on #512
@antonszilasi thank you for reporting this. If I remember right we had this issue before in OpenStudio component that @chriswmackey has resolved. I won't be able to check it today but will try to check both of the issues tomorrow.

[2016-06-07 20:39] chriswmackey commented on #512
@antonszilasi ,

You are correct in that the "Always On" schedule is not written into the IDF by default but it is incorrect to label this as a bug as it has been intentional up until this point.  While I thought about adding in the ALWAYS ON schedule regardless of whether it is specified by any EnergyPlus objects (since it's used as a default for so many objects), I had decided to stick to @mosta

[2016-06-11 15:45] antonszilasi commented on #512
@chriswmackey I agree and I will put a check in the generator script

[2016-06-13 15:44] chriswmackey commented on #488
This has been changed in a series of recent commits.  I'm happy to say that the components are now optimized for CFD integration.

[2016-06-13 15:44] #488 closed

[2016-06-13 15:45] chriswmackey commented on #442
This has been done!

[2016-06-13 15:45] #442 closed

[2016-06-13 22:57] NENEN commented on #359
Aha, now seeing this, I will pause for the moment in my effort to simulate dynamic blinds through the OS exporter. Thanks for all the work, CWM - it's uncanny how you have been just a couple steps ahead of what I've been trying to do for a couple years now, making the right HB modeling and simulations possible just in the nick of time, over and over.

[2016-06-28 19:42] chriswmackey opened #516 "Add an Option for People to Hard-Size the System Based on Ventilation"
I also realized that EnergyPlus's autosize feature can result in incorrect system sizing if a zone is dominated by ventilation loads instead of thermal loads.  As a result, I am going to add in a input to hard-size the HVAC system using the sum of ventilation loads and a sizing factor input by the user.  The default will still be to autosize based on thermal loads since this is ok for the vast maj

[2016-06-28 19:47] chriswmackey commented on #134
@mostaphaRoudsari and @antonszilasi ,

Given that this issue has changed so much, it seemed to me that it should be renamed.  We currently have the ability to model natural ventilation with E+/OpenStudio and this discussion is specifically about the airflow network for complex natural ventilation cases.

It also seems that this is not necessary to clear this issue in order to claim that we have fu

[2016-06-29 14:13] benmo1 opened #517 "writeTHERM component input workingDir_ doesn't work"
Honeybee Version: 0.0.59
Windows: Windows 7.
Grasshopper: Version August-27 2014
Rhino: Version 5 SR12 64-bit

The writeTHERM component has an input workingDir_ which doesn't seem to work.
Any string that I feed it makes the whole component turn red and shut down.

There error that is thrown is:

1. Solution exception:unsupported operand type(s) for +: 'NoneType' and 'str'

It says the input type

[2016-06-29 14:24] benmo1 opened #518 "input _sightLineToGlzBottom_ on component importWINDOW not working"
Honeybee Version: 0.0.59
Windows: Windows 7.
Grasshopper: Version August-27 2014
Rhino: Version 5 SR12 64-bit

The importWINDOW component has an input called _sightLineToGlzBottom_ which doesn't seem to do anything. The component still works and produces an output at thermPolygons which can be used to export to THERM. However, changing the input doesn't affect the shape of the polygons in any way.

[2016-06-29 15:00] mostaphaRoudsari commented on #517
@benmo1 thank you for posting the issues. We will check soon and let you know the results.

[2016-06-29 23:48] chriswmackey commented on #518
@benmo1 ,
The _sightLineToGlzBottom_ does change the output.  It's just subtle.

It changes the placement of the "edge" boundary condition that comes out of the indoorBCs output of the component.  For example, here is the edge Boundary with the default 0 value for _sightLineToGlzBottom_:
![0cm](https://cloud.githubusercontent.com/assets/5567574/16472491/651e817a-3e32-11e6-9fce-38bdae8ec336.JPG)
An

[2016-06-29 23:54] chriswmackey commented on #517
@benmo1 ,

I can't recreate your error.  The workingDir feature works fine for me:
![workdirworking](https://cloud.githubusercontent.com/assets/5567574/16472576/1cb0ad04-3e33-11e6-92ef-9b773030ac85.JPG)

Can you post a link to a file that has the error? I won't be able to help much if I can't get the error to happen on my machine.

-Chris

[2016-06-30 08:56] benmo1 commented on #518
Thanks Chris for your prompt reply,

However, I think there is still a bug but the nature is different. The reason that I thought it didn't do anything is because it doesn't respond the same way to the inputs as THERM does. Let me explain:

It seems that in therm:

1) The 'glaze system height' sets overall height.
2) The 'spacer height' variable removes some height from the cavity. (creating a pro

[2016-06-30 12:17] chriswmackey commented on #518
@benmo1 ,

Thanks for pointing this out.  I must have mis-interpreted how THERM was working when I wrote the component.  My intention was to match the THERM importing process and I'll take a look at this later today.

-Chris

[2016-06-30 13:01] benmo1 commented on #517
Here you go

[workingdirexample.zip](https://github.com/mostaphaRoudsari/Honeybee/files/341473/workingdirexample.zip)

Ben

[2016-06-30 20:36] chriswmackey commented on #518
@benmo1 ,

Thanks again for clarifying.  I fixed the Import WINDOW component to work the same way that THERM does.  The updated component is here on the github and I have updated [this example file](http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=Import_Glazing_System_from_LBNL_WINDOW&slide=0&scale=1&offset=17.254472609197023,-1.2397322390536374) as well.

-Chris

[2016-06-30 20:36] #518 closed

[2016-06-30 20:50] chriswmackey commented on #517
@benmo1 ,
After updating your file, it is working for me.  My guess is that it had something to do with a bug I fixed in the last few months.  The updated working file is here:
https://www.dropbox.com/s/62t94omr3a9o48d/workingdirdemo.gh?dl=0
Use the "Honyebee_Update Honeybee" component to keep your GH components synced with the version here on the github.  This will allow you to benefit from the l

[2016-06-30 20:50] #517 closed

[2016-07-01 08:53] benmo1 commented on #517
Hi Chris, thanks so much for your help.

However, this new component writeTHERM VER 0.0.59 MAY_13_2016 doesn't work on my machine. It has an error saying I need a newer version (see end). However, when I use the update Honeybee_Update Honeybee component and redrag the Honeybee_Honeybee component onto the canvas it doesn't resolve the issue. The problem is that I already have the latest release ver

[2016-07-01 09:07] benmo1 commented on #517
In Addition

Running the Honeybee_Update Honeybee component replaced

readTHERM VER 0.0.59 JAN_26_2016

with

readTHERM VER 0.0.59 FEB_03_2016

which also doesn't work.

---------------- Error

1. Solution exception:global name 'SIorIP_' is not defined

[2016-07-02 17:06] chriswmackey commented on #517
@benmo1 ,
Are you able to run the file that I uploaded at the dropbox link?  That one has the components up-to-date.

If you are NOT able to run it, then there is a problem that is specific to your system or the directory that you are trying to write to.  If you are able to run it, then your issues are just because you are not syncing with the github correctly.  Search [GH Discussions like this](h

[2016-07-03 17:40] Omidmr opened #520 "latest updated of Honeybee EP Run simulation "Solution exception:too many values to unpack""
Hi every one.
using latest updated of Honeybee EP Run simulation returns this error:
"Solution exception:too many values to unpack"
Runtime error (ValueErrorException): too many values to unpack
Traceback:
  line 1432, in main, "<string>"
  line 2200, in script
![image](https://cloud.githubusercontent.com/assets/11173265/16546781/e3c1440a-416a-11e6-8bb3-ee94f279d00e.png)

TNX
-Omid

[2016-07-03 19:00] chriswmackey commented on #520
@Omidmr ,
Thanks for finding this and reporting.  The bug resulted from a small change I made yesterday for the OpenStudio workflow.  I just fixed it now:
https://github.com/mostaphaRoudsari/Honeybee/commit/3ba0d6616a955f5a8d2428ea3b209edd1f92ac2c

Thanks gain,
-Chris

[2016-07-03 19:00] #520 closed

[2016-07-03 21:17] chriswmackey opened #521 "Figure Out Why I Keep Getting Adjacent Surface Constructions not Matching with OpenStudio"
In my use of the OpenStudio component over the last few months, I keep getting this re-occurring error from EnergyPlus in various different forms:

   ** Severe  ** GetSurfaceData: Construction EXTERIOR WALL 3 of interzone surface ZONE_0_SRF_3 does not have the same number of layers as the construction INTERIOR WALL of adjacent surface ZONE_1_SRF_1

The odd thing about this error is that it goes a

[2016-07-03 21:19] chriswmackey commented on #521
I have one other update, once I run the "Run Simulation" component with the exact same zones, the OpenStudio component works fine.  So the check must be changing something about the zone properties stored in memory.

[2016-07-03 21:26] chriswmackey commented on #521
Here's an example file:
https://www.dropbox.com/s/1q5mxdbm20u2wl9/OSBug.gh?dl=0

There's a quirk with it, though.  It will only show the bug the first time that you open the file.  The second time you try to run OpenStudio component, the bug vanishes.

[2016-07-03 23:25] mostaphaRoudsari commented on #521
@chriswmackey, this is a very strange one! Surfaces look fine before using the component. Also it runs fine using the energyplus component. Let me take a look to the results of reEvluateZones and if that is also fine then it has to do something with the OpenStudio component.

![image](https://cloud.githubusercontent.com/assets/2915573/16548152/ba2499ba-4153-11e6-8140-b58d07bac54a.png)

[2016-07-03 23:34] mostaphaRoudsari commented on #521
It doesn't look to be the reEvaluteZones too. Here is the construction after reEvaluateZones.

![image](https://cloud.githubusercontent.com/assets/2915573/16548210/18bb9266-4155-11e6-8d10-70d5872738fe.png)

[2016-07-04 00:02] mostaphaRoudsari commented on #521
At least now I can see where the issue happens:
![image](https://cloud.githubusercontent.com/assets/2915573/16548324/f88d91b6-4158-11e6-89d7-b03e39ade816.png)

hopefully next update is the fix.

[2016-07-04 00:27] #521 closed

[2016-07-04 00:46] chriswmackey commented on #521
Awesome!! Thank you, Mostapha!

[2016-07-05 21:55] chriswmackey commented on #516
I figured out a better way of doing this that does not rely on hard sizing the system components.

[2016-07-05 21:55] #516 closed

[2016-07-05 21:58] chriswmackey commented on #507
This is done thanks to the wonderful work of @AntonelloDN !
https://github.com/mostaphaRoudsari/Honeybee/commit/d0c1b110bd2a9237d089298c46fe54aff8f33a45

[2016-07-05 21:58] #507 closed

[2016-07-05 22:09] chriswmackey commented on #325
@jacoposartore ,
The original issue has long since been fixed and I have been using the HVAC Result Reader a lot to check detailed information on HVAC systems (especially airflow rates).

As for the desire to read heating/cooling loads of individual spaces, it becomes nearly impossible with centralized systems like VAV to tease out the contributions of individual zones.  At the end of the day, if

[2016-07-05 22:09] #325 closed

[2016-07-05 22:11] chriswmackey commented on #132
This is done!!! Woohoo!!!!
https://github.com/mostaphaRoudsari/Honeybee/commit/ab2df53a7090e83d64f0e396ae7d364110886a3a

[2016-07-05 22:11] #132 closed

[2016-07-05 22:48] chriswmackey commented on #161
Given that we now have [components to write schedules in the format that OpenStudio likes](https://github.com/mostaphaRoudsari/Honeybee/commit/d0c1b110bd2a9237d089298c46fe54aff8f33a45) and that we have [a workaround if someone really needs to use a CSV schedules with OS-generated IDFs](https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_Export%20To%20OpenStudio.py#L2879-L2912), I

[2016-07-05 22:48] #161 closed

[2016-07-05 22:50] chriswmackey commented on #359
Thank you for the kind words, @NENEN .
We are down to just the Blinds now.  We have almost everything we need!

[2016-07-05 23:05] chriswmackey commented on #321
Radiant systems are here:

There's a separate chiller/bolier in the template such that the radiant systems can get lower supply temperatures and you can adjust the "radiant fraction" as you say.

Unfortunately, I couldn't find any examples of radiant wall panels but we have radiant floors and, if there's enough demand for walls, I can find a way to put them in.

Also, because it's going to be a wi

[2016-07-05 23:07] chriswmackey commented on #290
Since OpenStudio measures aren't critical to say that we have full support for the OpenStudio exporter, I am taking this issue off the milestone for the time being.

[2016-07-05 23:08] chriswmackey commented on #131
Since this issue is going to be addressed with OpenStudio measures, I am taking it off the milestone for what is needed for OpenStudio support.

[2016-07-05 23:22] chriswmackey opened #522 "Add VRF System Template to Honeybee OpenStudio Systems"
This is that last system that I want to implement before the next release.  From what I have seen in the measures so far, the system isn't too complex so I'll hopefully be able to get it in soon.

[2016-07-05 23:46] mostaphaRoudsari commented on #132
Great job @chriswmackey!

[2016-07-06 00:06] antonszilasi opened #523 "Read simulation unmet hours"
@mostaphaRoudsari @chriswmackey

Folks I was thinking that since Chris has added all this awesome HVAC stuff, I would like to know the unmet hours of my simulation this is especially useful for ASHRAE 90.1.

I would like to add it to the read EP HVAC results component (to work only with the OpenStudio component, since the write E+ file component will soon be redundant) Chris where is the best plac

[2016-07-06 03:25] chriswmackey commented on #523
@antonszilasi ,
Here's the method:
1) Run a simulation and open the folder with theIDF.
2) Open the .rdd file and search through the hundreds of outputs to find the unmet hours output.
3) Add this output to the Generate EP Output component's HVACParams.
4) Edit the Read EP HVAC Result component to bring in the output after simulation is run.
-Chris

[2016-07-06 03:33] macumber commented on #290
@chriswmackey @mostaphaRoudsari are you both familiar with the [OpenStudio CLI](https://docs.google.com/document/d/1PYL-vPMEMgsZdATlUh6ZbVatdf7zSl3g460Xyx7B-Zc/edit#) that is being developed for OpenStudio 2.0?  We are starting to post alpha builds, let us know if you are interested in trying it out, just ping us on Slack.

[2016-07-06 06:35] jacoposartore commented on #325
@chriswmackey,

I see your point, an ideal air loads system is fine for me as well to visualize every zone's quota of the whole building's heat added or removed, then I'll use each percentage to calculate the specific VAV energy use for the zone.
Thank you,

[2016-07-06 06:42] jacoposartore commented on #321
@chriswmackey,

Great! I'll give them a try and let you know. Thanks for everything!

[2016-07-06 12:41] benmo1 opened #524 "VER 0.0.59 createThermPolygons doesn't recognize cavityModel_ Material Property"
VER 0.0.59 createThermPolygons doesn't seem to recognize cavityModel_ Material Property. If you create a component in Rhino and manually assign a cavity type to the material, then open the .thmx file in THERM 7.4, the material type will have switched from 'Solid' to 'Frame Cavity' correctly, but the 'Cavity Model' will always be 'ISO 15099'.

The output of the ThermMaterial component is correct. I

[2016-07-06 14:49] benmo1 commented on #517
@chriswmackey

I was able to run the file you uploaded, I just checked, thanks very much. Before I tried using the update components and I think I made a mistake on one of the inputs simultaneously so I thought it didn't work. This has been fixed!

Ben

[2016-07-06 14:49] benmo1 commented on #517
Thank you so much!!!

[2016-07-06 21:04] chriswmackey commented on #522
This is done.
https://github.com/mostaphaRoudsari/Honeybee/commit/86d4df626a837c1f670eb3ac311fda6cb2669ba9

I am officially done with all HVAC edits for the release.  At this point all that I need to implement is dynamic blinds/shades/

[2016-07-06 21:04] #522 closed

[2016-07-06 21:27] chriswmackey commented on #148
I'm not going to be able to get this done for the release but I will look into it afterwards.

[2016-07-06 21:47] chriswmackey commented on #524
@benmo1 ,

Thank you for finding and reporting the bug!

Now it is fixed:
https://github.com/mostaphaRoudsari/Honeybee/commit/faa721dc96d1041b46b5a517ec28af7b1dbc83a9

Enjoy!
https://www.dropbox.com/s/zu5wfvvvzu6l6ox/example_CWM.gh?dl=0

-Chris

[2016-07-06 21:47] #524 closed

[2016-07-07 23:33] chriswmackey commented on #359
Ladies and Gentlemen of the Bug and Bee!

It is with great pleasure that I finally close out this issue.  It has been a long time coming but I can say at last that all current "Non-WIP" Honeybee components are fully compatible with the "Export to OpenStudio" component.

Almost all of the features that we use in Honeybee could be written into the OpenStudio file with the exception of 4 abilities, w

[2016-07-07 23:33] #359 closed

[2016-07-08 07:33] jacoposartore opened #526 "'hb_EPFenSurface' object has no attribute 'shade material'"
Hello,

I updated today my defintion and this error came out:
![image](https://cloud.githubusercontent.com/assets/8501837/16680468/efee17ee-44ee-11e6-8bc3-3af806bace7c.png)
I guess it has something to do with shading.

[2016-07-09 13:12] Omidmr opened #527 "Put Back the Window Shade Generator into Run Simulation Component (Since it was removed to make way for the new OpenStudio Workflow)"
Hi,
@mostaphaRoudsari, @chriswmackey &...
Honeybee EnergyPlus Window Shade Generator
no effect on energy use/ cooling need and etc, to approximate blinds/shades in latest update.!
Thanks.
-Omid

[2016-07-10 14:35] #487 closed

[2016-07-10 14:35] mostaphaRoudsari commented on #512
Fixed via https://github.com/mostaphaRoudsari/Honeybee/commit/0cb8c11ec49cc694b6f2bdad874e27e3f4966ba8

[2016-07-10 14:35] #512 closed

[2016-07-10 15:34] mostaphaRoudsari commented on #290
@macumber I talked to Kyle about it. I think we need to pick between using the API and CLI and since we're heavily dependent on the API in the process using CLI will be a separate way that we need to debug and maintain. IMO we need to pick one out of the two and make it work but I can be wrong.

There are some major decisions that we need to make about the integration of the [new development](http

[2016-07-11 08:13] jacoposartore commented on #526
The error is caused by the grazing based on ratio component: if I bypass it, the simulation runs.

[2016-07-11 19:21] chriswmackey commented on #526
@jacoposartore ,

Thanks for reporting this.  It was a really stupid bug on my part that I have just fixed:
https://github.com/mostaphaRoudsari/Honeybee/commit/b78cc15038d04c8407e527835f9d2f347a9d883a

Thanks again
-Chris

[2016-07-11 19:21] #526 closed

[2016-07-11 19:32] chriswmackey commented on #527
@Omidmr ,

Ahhh, I should explain.  I took out the ability for the "Run Simulation" component to run shades the other day in order to enable a cleaner version of it on the "Export To OpenStudio" component.

I did not anticipate this affecting people so quickly.  I can put the capability back into the "Run Simulation" component once I get the chance but I would strongly recommend switching your wor

[2016-07-12 06:21] jacoposartore commented on #526
@chriswmackey ,

thank you very much!

[2016-07-12 06:42] jacoposartore commented on #526
@chriswmackey,

i have updated my definition and I still have the same error, now also with Openstudio.

[2016-07-12 07:32] jacoposartore commented on #526
I tried with a file from scratch and I get the same error.

![image](https://cloud.githubusercontent.com/assets/8501837/16758680/63f2f9bc-4813-11e6-9b31-90c41d221bde.png)

[2016-07-12 10:38] benmo1 opened #528 "createThermBoundaries component runs before ladybug"
createThermBoundaries is throwing an error (turns red):

1. Solution exception:ladybug_Preparation

Which goes away simply when I reconnect any of the inputs. It seems it is running before ladybug has started to fly or something along those lines.

To the 'coder' this isn't a problem. However, I am trying to make a program that can be used by someone who doesn't understand grasshopper. So all the

[2016-07-12 19:33] chriswmackey commented on #526
@jacoposartore ,

Try now after this change that I just made and let me kno:
https://github.com/mostaphaRoudsari/Honeybee/commit/0e41a76a8d7db143e5919c466e70bb6d43902918

[2016-07-12 22:31] mostaphaRoudsari commented on #359
Thank you @chriswmackey! impressive...

[2016-07-12 22:54] mostaphaRoudsari commented on #528
Hi @benmo1, the first time that you open the file ladybug_ladybug and honeybee_honeybee push themselves to the back of the list. The dependency on order will be totally removed in [the new honeybee and ladybug](https://github.com/ladybug-analysis-tools).

Meanwhile if you recalculate the component before saving  (assuming that ladybug_ladybug and honeybee_honeybee components are on canvas) the fil

[2016-07-13 00:22] chriswmackey commented on #526
Yes, I am 99.9% positive that the commit I posted there fixes this.

[2016-07-13 00:32] chriswmackey commented on #528
@benmo1 ,
Mostapha's explanation is spot on.  This component was not originally dependent upon Ladybug_Ladybug but, as it developed, it required it's functions and I forgot to add in the check to be sure that Ladybug is on the canvas.
I have fixed this here:
https://github.com/mostaphaRoudsari/Honeybee/commit/5141fae82e948810432e7bf8e2987db390fc996d

Thanks for reporting.
-Chris

[2016-07-13 00:32] #528 closed

[2016-07-13 06:43] jacoposartore commented on #526
@chriswmackey,

Great! Now everything works fine!
Thank you!

[2016-07-13 11:24] benmo1 opened #529 "ThermMaterial doesn't handle colors correctly"
ThermMaterial, and therefore createThermPolygon doesn't handle colors correctly. Some grasshopper colors output as special names rather than RGB components.

For example, set a layer in Rhino to color Chartreuse
Reference an object from that layer in GH
Go to Human > Reference > Object Attributes
hover your mouse over the col output and it will read Chartreuse

However, set a layer in Rhino to col

[2016-07-13 13:02] chriswmackey commented on #526
Glad to hear it and thanks, again!

[2016-07-13 13:10] chriswmackey commented on #529
@benmo1 ,

This seems to be an issue with the Dot NET color translating function that I use to take RGB colors in GH and turn them into the Hex code that THERM likes. It looks like I should add in another check for color types. I'll try to do this soon. In the meantime, if you could post a link to an example file that shows the issue, that would save some time and help me address this faster.

-Ch

[2016-07-13 15:08] jacoposartore opened #530 "EnergyPlus and OpenStudio ideal air load system discrepancies"
Hi there,

As I am about to change my definitions' simulation engine from EnergyPlus to OpenStudio (I read that this will happen in a close future), I did a simple comparison to see if the results were more or less the same.
I modelled a simple room and I figured out some discrepancies: as shown in the picture cooling, heating and lighting consumptions have changed significantly. Do you know why t

[2016-07-13 15:21] mostaphaRoudsari commented on #530
Hi @jacoposartore, Thanks for getting this started. To make sure we're comparing apples to apples can you check the idf files and see if they are using the same version of EnergyPlus? You can find it in the header of the file.

[2016-07-13 17:02] Omidmr commented on #527
Many thanks @chriswmackey ,
But unfortunately HB export openstudio component couldn't run fine with my custom epw file.
https://www.dropbox.com/s/chawnm327xun5ke/Custom%20epw.rar?dl=0
TNX.
-Omid

[2016-07-13 17:54] Omidmr commented on #527
Another issue for development of create shading devices are possibility of supporting all standard types of shading in energyplus rules to consideration shading/overhang such as side fins overhangs with assuming distance from windows ( horizontal/vertical ).
also Current limitations for set size of shading devices.
Thanks.
-Omid

[2016-07-13 19:46] mostaphaRoudsari commented on #527
@Omidmr what is the error when you use OpenStudio to run the analysis?

[2016-07-13 20:02] chriswmackey commented on #530
@jacoposartore ,
Thanks for posting the comparison.  If I had to make a guess, I think that the difference is not the result of any settings on the ideal air system because the lighting is affected too.  Rather, I think that the "Run Simulation" component and the "OpenStudio" component might be using different start week days of the year.  I think that the run simulation component uses Monday by d

[2016-07-13 20:26] Omidmr commented on #527
Hi @mostaphaRoudsari
[Shade_test_error_custom_epw.txt](https://github.com/mostaphaRoudsari/Honeybee/files/362394/Shade_test_error_custom_epw.txt)
TNX
-Omid

[2016-07-13 21:17] chriswmackey commented on #530
@jacoposartore ,
Nevermind about posting an example file.  I was able to create a very similar situation myself.  I verified that I am using the same version of EnergyPlus (E+ 5.0) for both OpenStudio and standalone E+.  It turns out that there is a lot that does not match between the IDF generated by the Run Simulation component and that which is exported from OpenStudio.  In particular, there se

[2016-07-13 21:55] chriswmackey commented on #527
@Omidmr ,

I will try to look at your epw file soon.  In the meantime, I wanted to make a note that I should get the ideal air system on the Run Simulation component to respond to the inputs assigned on the air HVAC airDetails component.  This seems necessary to ease everyone's transition to using OpenStudio component for ideal air simulations.

I have a lot to do before I close out this issue.
-C

[2016-07-13 22:36] chriswmackey commented on #530
Ok.  I got the lighting to match.  It was the result of a glaring bug in the Export to OpenStudio component.
https://github.com/mostaphaRoudsari/Honeybee/commit/26b8679cbb66b0f6a7f06dd49c0688b9820c87e9

The remaining differences in heating/cooling seem to be the result of the system sizing parameters.  Namely, OpenStudio is sizing based on a design day and Run Simulation is sizing based on an extr

[2016-07-14 01:51] arif-hanif commented on #522
@chriswmackey @mostaphaRoudsari  awesome job with the HVAC system, i am not a grasshopper user so was never involved with this project but as you guys are porting to Dynamo I can definitely help out. I am getting familiar with your code base now. Can we get on a call to see how I can lend a hand. I have some ideas to expand whole building simulation.

[2016-07-14 07:39] jacoposartore commented on #530
@mostaphaRoudsari I checked the idf files and OpenStudio component is version 8.5 whereas the EnergyPlus one the 8.4. Can we use EnergyPlus 8.5? A couple of weeks ago I got an error from honeybee main component saying that it couldn't find any EnergyPlus installed (I had to revert to version 8.4)
@chriswmackey thank you for your investigations.

[2016-07-14 08:45] jacoposartore opened #531 "Phase out "Set Ideal Air Loads Parameters" and Have E+ Component use the HVAC Components to Set these Parameters"
Hi there,

After updating an old definition containing the Set Ideal Air Loads Parameters (which I used to account for no outdoor air coming to the zone, typical of fan coils installed in rooms without duct air systems), I figured out that this component is causing a severe error that stops the simulation, as in the picture below. I guess that it has been abandoned because of the upcoming switch t

[2016-07-14 11:16] mostaphaRoudsari commented on #531
I think @chriswmackey has already mentioned this in some other issue which I can't find now. I'm sure Chris will get back to you on this issue. I just wanted thank you for doing all the comparisons and keeping us the posted about the bugs. It's very helpful! Thanks. :100:

[2016-07-14 12:07] jacoposartore commented on #530
@mostaphaRoudsari this morning, as soon as I read your answer, I installed EnergyPlus 8.5 and it's working fine. Great, thank you!

[2016-07-14 12:26] jacoposartore commented on #531
You're welcome, but it's me that should thank you for all the efforts you put into Ladybug and Honeybee and your careful answer toward user's suggestions and opinions :+1: .
P.S. Can't wait to see Butterfly in action! :100:

[2016-07-14 14:04] chriswmackey commented on #527
@Omidmr ,

I think that I know why your custom EPW is not running but I have not fixed it yet.  Openstudio sizes the system using a design day and there is not ddy file for your epw.  I will write in a check to size the system another way if you don't have the ddy file and report back here soon.

-Chris

[2016-07-14 14:42] chriswmackey commented on #530
@jacoposartore ,
I now have the HVAC system sizing protocol matching between the E+ and OS components, The resulting heating and cooling values are now matching within 1% but they are still not perfectly equal to one another.  I am not sure if we are going to be able to get them to match perfectly because the E+ component uses a template ideal air system while the OS component uses a complete idea

[2016-07-14 14:59] jacoposartore commented on #530
@chriswmackey it seems a good plan to me!
1% difference is reasonable if compared to the previous 8-10%.
Thank you! :+1:

[2016-07-14 16:16] chriswmackey commented on #530
@jacoposartore ,

I added in one last thing that brought the heating and cooling values a bit closer together.  The overall difference in heating and cooling is still around +/- 1% and this is because the full Ideal Air system that OpenStudio uses has a few more sizing specifications that can be assigned in comparison to the template Ideal Air system that the E+ component uses.  I think that it is

[2016-07-14 17:12] jacoposartore commented on #530
@chriswmackey,

I exedend this comparison to the other outputs available and everything seems fine under the 1% error except the glazingEnergyFlow (5% errror) and the surfaceEnergyFlow (40% error): as in the pictures some surfaces have similar energy flow across the whole year, other are much different (some flow balances are 50% lower in OS than EP).

![image](https://cloud.githubusercontent.com/

[2016-07-14 22:02] Omidmr commented on #527
@chriswmackey ,
I apologize for my late response,
I don't have design day data in ddy file.
thanks.
-Omid

[2016-07-15 02:14] chriswmackey commented on #530
@jacoposartore ,

I am getting some pretty good matching of values for surface and glazing energy flow with my file.  The energy Balances seem almost identical and the overall loss/gain through the envelope in the different months is fairly comparable:
![conductioncomaprison](https://cloud.githubusercontent.com/assets/5567574/16861613/55316f04-4a10-11e6-9f72-beafd8001044.JPG)

This said, I just ma

[2016-07-15 07:43] jacoposartore commented on #530
@chriswmackey,

I just have updated my definition and completed the energy balance as you did. I also get that the results have a neglectable difference when comparing opaque and glazing conduction (see the images below). Very good!

![image](https://cloud.githubusercontent.com/assets/8501837/16866983/5faecf62-4a6f-11e6-9676-89cb72e8a61e.png)

![image](https://cloud.githubusercontent.com/assets/85

[2016-07-16 17:56] chriswmackey commented on #527
@Omidmr ,

Thanks again for reporting and sorry for getting to this so late.
You can now run the OpenStudio component with your custom weather file.  The issue was that there were no design day objects in the ddy file and so OpenStudio could not figure out how to size the system.  I wrote in a workaround to automatically size the system based on extreme periods int he weather file if there are no

[2016-07-16 19:23] Omidmr opened #534 "Honybee shade generator results : Compare with EP and OS (without DDY)"
Hi @chriswmackey ,
Thanks for check and fix the sizing of the OS.
OS run Fine with custom EPW.
Here is the result of comparation with EP and OS. with shade, without shade, HB context (no shade).
I think the reason of the difference in results of analysis when we using shade as context, EP dosen't calculate account for the surface temperatures of the blinds (EP assume like as tree and also detached

[2016-07-16 20:38] Omidmr commented on #534
@chriswmackey ,
You can find that file in Here.
https://www.dropbox.com/s/18jz2trzonp1xnt/EP_and_OS%20NO%20DDY%20OMD.gh?dl=0

OS component doesn't have capability for run in background like as EP component.
That capability for optimization process very useful.
Thanks
-Omid

[2016-07-16 22:03] chriswmackey commented on #534
@Omidir ,

You are correct that surface temperatures are NOT calculated with HB context but this assumption is fine for large shades like overhangs and single fins. In fact, using HB context to account for these large shades is much more accurate than using the EPBlinds material because the context will do a better job of modeling solar distribution accurately (the EPblind material uses a generali

[2016-07-16 23:02] Omidmr commented on #534
@chriswmackey ,
Many thanks to clarify between two crucial differences.
Finally, we couldn't set materials and layers (such as insulation layer, green roof and etc) to these objects (sidefins, overhang) like DesignBuilder and also TRNSYS, to analysis thermal performance of shade material.

Thanks,
-Omid

[2016-07-18 18:28] chriswmackey commented on #534
@Omidmr ,

Adding insulation to fins or overhangs that lie outside of the envelope of the building will not have a significant effect on the building's thermodynamics.  However, if you have shades or blinds that are covering a significant portion of a window, then you might start to see some change from increasing their insulation value.  This is why, for the former, you do not need to define a ma

[2016-07-18 18:28] #534 closed

[2016-07-18 18:41] chriswmackey commented on #531
@jacoposartore ,

Thanks for opening this issue.  The "Set Ideal Air Loads Parameters" component is about to be retired in the next release and you will instead assign these parameters with the components in the Energy HVAC tab.  I have not yet put these capabilites into the Run Simulation component and I will post back here once I do so.

For now, I would recommend you use the ideal air system wi

[2016-07-18 18:43] chriswmackey commented on #530
@jacoposartore ,
I am reopening this issue because I think I know what is causing the discrepancy with the surfaces.  I am going to try to fix it shortly.  I'll post back here once I do so.

-Chris

[2016-07-18 20:46] chriswmackey commented on #530
@mostaphaRoudsari ,

Here is a file that shows the error:
https://www.dropbox.com/s/fiovhz0ogti9g5h/SurfaceEnergyMatching.gh?dl=0

It is definitely the mis-match in global geometry rules that is causing the error (LowerLeftCorner vs UpperLeftCorner).

-Chris

[2016-07-19 06:43] jacoposartore commented on #531
@chriswmackey ,

thanks for the explanation!

[2016-07-19 19:03] #403 closed

[2016-07-19 21:18] antonszilasi opened #535 "Default outputs for export to OpenStudio component not the same as Run Energy Plus"
@chriswmackey
I have added default outputs for the OpenStudio component in my latest commit as previously there weren't any.

I am writing this issue as even with the same default outputs as the Run Energy Plus component, I am not getting the same outputs. See the code on https://github.com/antonszilasi/Honeybee/blob/master/src/Honeybee_Export%20To%20OpenStudio.py#L3447 and the pictures below

![o

[2016-07-20 10:30] Omidmr opened #536 "Energyplus & Opensudio components doesn't run fine!"
Hi @antonszilasi & @chriswmackey,
Here is the errors from the energy plus of latest update of HB :

[Testerrors.txt](https://github.com/mostaphaRoudsari/Honeybee/files/373423/Testerrors.txt)

Thanks,
-Omid

[2016-07-20 13:21] #536 closed

[2016-07-24 00:07] chriswmackey commented on #535
@antonszilasi ,
I had to clean up your code a lot:
https://github.com/mostaphaRoudsari/Honeybee/commit/6fbaffeaabb4bc307d8df61d9343ddc3eb10e93d
https://github.com/mostaphaRoudsari/Honeybee/commit/7770f0b29d50adfd4db03bfa3b65f874ea065ec1
but this is now taken care of.
-Chris

[2016-07-24 00:07] #535 closed

[2016-07-24 00:14] chriswmackey commented on #530
@jacoposartore ,

Let me thank you again for riggorously testing this and finding/reporting this discrepancy. I can see now that, had you not pointed out the difference in surface energy flow to us, there could have been a bug in OpenStudio that could have gone undetected for a very long time.

Needless to say, I have now fixed this with these commits:
https://github.com/mostaphaRoudsari/Honeybee/

[2016-07-24 00:14] #530 closed

[2016-07-24 00:16] chriswmackey commented on #531
@jacoposartore ,

I am renaming the issue to reference the new workflow for assiging the ideal air loads parameters.  I should hopefully be able to address this tomorrow.

[2016-07-24 00:29] chriswmackey commented on #494
Even more checks were added in with [this commit](https://github.com/mostaphaRoudsari/Honeybee/commit/7ad0041298674795711a7e4826eaf37bfc27b21a#diff-c2ecdd14851cd387b1d939828dbec897R6135).

Now, you can specify what start point you want.  Direction is always anticlockwise.

[2016-07-24 00:29] #494 closed

[2016-07-24 00:52] chriswmackey commented on #523
This has now been implemented.  Closing out the issue.

[2016-07-24 00:52] #523 closed

[2016-07-25 07:47] jacoposartore commented on #530
@chriswmackey,

Great! Now they are almost identica (0,0001 % error)! Thank you!

[2016-07-26 02:54] chriswmackey commented on #527
@Omidmr ,

The ability to use the shades component with the 'Run Energy Simulation component' is back.
https://github.com/mostaphaRoudsari/Honeybee/commit/c39a9a2bbeaa6630876daef0e5c033c11a00f273
As such, I am closing out this issue.

Also, I remembered that you requested the ability to run the OpenStudio in the background (without the black command-line popup) and I have now implemented this capa

[2016-07-26 02:54] #527 closed

[2016-07-26 04:30] chriswmackey commented on #531
@jacoposartore ,
I just finished implementing this:
https://github.com/mostaphaRoudsari/Honeybee/commit/a6b1bc2db1f4da25ceae479f7822dbe7015f85c9
You can find an example file showing how to set the parameters of the ideal air system here:
https://www.dropbox.com/s/ssuh6mie1precyn/AssignIdealAirParams.gh?dl=0

Cheers,
-Chris

[2016-07-26 07:06] jacoposartore commented on #531
@chriswmackey,

Thank you for the update!
I can't find the "outdoorAirReq" or an air recirculation option, any chance to have it back?

[2016-07-26 07:22] Omidmr commented on #527
Thank you  @chriswmackey.
Regards.
-Omid

[2016-07-26 12:59] chriswmackey commented on #531
@jacoposartore ,
Air re-circulation is still there and is on the 'Set EnergyPlus Zne Loads' component.
I can add back the 'outdoorAirReq' but it should be assigned on the zone level (I am thinking the "Set EnergyPlus Zone Thresholds" component).  I'll repoen the issue until I can implement it.

The cooling/heating capacity is much more difficult to bring back as it is not as easily generalizable t

[2016-07-26 13:49] jacoposartore commented on #531
@chriswmackey,

adding the "outdoorAirReq" to the "Set EnergyPlus Zone Thresholds" component would be perfect. Now I see the air recirculation! Thank you for both.

The scaling for the whole HVAC system seems a good compromise, once it's ready I can test it.

[2016-07-26 17:23] chriswmackey opened #540 "Where to Put Electric Lighting Components Once Out of WIP"
@sariths ,

I have been testing out your electric lighting components today and have been working well.  I agree that they are ready to come out of WIP.   I just wanted to know if you had any thoughts on where they would best fit in the current Honeybee tabs.  I could see them fitting under the "02 | Daylight | Sky" tab (maybe we change it to "02 | Daylight | Light Sources").

I could also see the

[2016-07-26 19:08] Omidmr opened #541 "HB Energyplus & Openstudio Results!"
Hi @chriswmackey ,
In the latest update, I think when we get the results, the values of units aren't right!
It looks like something occurred in  unit or has been displaced.
![result was changed](https://cloud.githubusercontent.com/assets/11173265/17151724/e4e5a732-5389-11e6-91d3-17fe3edd37a5.PNG)

Thanks.
-Omid

[2016-07-26 19:28] #541 closed

[2016-07-26 23:20] chriswmackey commented on #531
@jacoposartore ,
I added back the outdoor air requirement:
https://github.com/mostaphaRoudsari/Honeybee/commit/7c2c361b5ccde2dc3a19eda54e6bd7844be3b517
I'll add in the sizing factor soon and post back here once I am done.
-Chris

[2016-07-27 00:09] chriswmackey commented on #531
@jacoposartore ,
The sizing factor has been implemented on the 'Energy Simulation Par' component:
https://github.com/mostaphaRoudsari/Honeybee/commit/961207ec8703c0f22e0966c8eb41e007649511d3
  It seems to be working fine for me and let me know if you get to test it.  I am closing out this issue as it looks good from my end.
-Chris

[2016-07-27 00:09] #531 closed

[2016-07-27 04:18] chriswmackey opened #542 "Enable Running Features Not Yet Supported by OS on "Re-Run OSM" Component"
This will complete the intended workflow in albeit a very hacky way but it is the best we can do now:  Users can export to OpenStudio and, if they need to change detailed parameters of the HVAC in the OS interface, they can.  Then, if they assigned things in Honeybee that are not yet supported by OpenStudio like natural ventilation or CSV schedules, the can use the "Re-run OSM" component and a set

[2016-07-27 06:37] jacoposartore commented on #531
@chriswmackey,

thank you for the updates, I will test them soon.

[2016-07-27 17:20] sariths commented on #540
Hi @chriswmackey, I like the "02|Daylight| Light Sources" option too.

Anyways, I think people who want to find them will locate them regardless of wherever they are. So I will leave it to you and the BDFL (@mostaphaRoudsari ) to take a call on this. I totally agree that the number of components are too less for them to deserve a tab of their own. I want to add some dimming options moving forward

[2016-07-27 17:56] mostaphaRoudsari commented on #540
@chriswmackey @sariths though it's irony to have electrical lighting components under Daylight let's give them a separate section under 02|Daylight|Light Sources. I think we will give them their own tab in honeybeeX.

[2016-07-27 18:48] chriswmackey commented on #540
@sariths and @mostaphaRoudsari ,

I like all aspects of the plan.  I'll move them to "02|Daylight| Light Sources" once I get the chance and then close out the issue.

Before doing this, I have one feature request, though.  I have been using the components to evaluate whether a project at my office passes the LEED Light Pollution credit and I have a list of ~20 exterior fixtures each with a slightl

[2016-07-27 20:10] sariths commented on #540
@chriswmackey this...

...makes sense to me and your approach for implementing it also appears to be correct. I didn't really think of perimeter lighting or pathway lighting when writing the code.

I would suggest that you ahead and implement the change as it will be a while before I get access to a Rhino/Gh on a desktop. I have a trial version on my laptop that I had installed when coming to Cali

[2016-07-27 20:29] chriswmackey commented on #540
@sariths ,

Ok.  I will implement this capability tonight and report back here once done.  I have one (hopefully final) question:

A number of the .ies files that I am trying to use give me the error: 'The luminous dimensions are neither rectangular nor circular.  This is not supported currently.'
However, if I comment out the part of the code that is giving me the warning, I get illuminance resul

[2016-07-27 20:54] sariths commented on #540
Hi @chriswmackey ,

In line 14 of the ies file, -1.83,-1.83,2.43 correspond to the luminous dimensions. The conventions followed for these numbers are given in the table (from LM-63) below:
![7-27-2016 1-49-20 pm](https://cloud.githubusercontent.com/assets/10361848/17191874/f472f0b6-5400-11e6-8fdd-7512f238a8ba.png)
The shape in your IES file corresponds to a vertical cylinder. Mostly due to my lim

[2016-07-27 21:43] chriswmackey commented on #540
@sariths ,

Thanks for the explanation.  I understand exactly what your thought process was with restricting the types of luminares that can be run because I implemented a lot of similar restrictions when I first built out the THERM workflow.  However, I soon realized that many of the users are smart and can fill in the gaps where our code is not yet complete.  As a result, I found that it is bett

[2016-07-27 21:57] sariths commented on #540
@chriswmackey

Yes please! (to the warning message and light geometries).

luminaireID was a case of bad defult. The luminaireID is required because we would to prevent the user from overwriting the same file in case the same ies file is used in two different ways in the same simulation.

For example, lets say that someone is simulating a colorfully lit facade where the same flood-light is used in

[2016-08-01 09:57] benmo1 commented on #529
Here is the example file as requested. I look forward to the fix, this will make our project much more intuitive for users.

[general color bug.zip](https://github.com/mostaphaRoudsari/Honeybee/files/393432/general.color.bug.zip)

Thanks so much for your time,

Ben

[2016-08-01 14:55] chriswmackey commented on #529
@benmo1 ,

I apologize for taking so long to address this issue.  The past month was very busy and there were several features that had to be cleaned up in the OpenStudio components.  Thanks for posting the example file and I will try to get this fixed this afternoon.

-Chris

[2016-08-01 15:47] chriswmackey commented on #529
@benmo1 ,

This is now fixed.

https://github.com/mostaphaRoudsari/Honeybee/commit/1c7533a1934792b82903f99b00c7068501a5744e

https://www.dropbox.com/s/1j1yvwnwhy0dnkc/ThermColorFix.gh?dl=0

Thanks again fro reporting the bug!
-Chris

[2016-08-01 15:47] #529 closed

[2016-08-01 16:35] benmo1 commented on #529
Thanks so much, no worries about the time delay. I was switched onto another project for 2 weeks so I only just came back to it. Thanks so much,

Ben

[2016-08-02 22:43] chriswmackey commented on #540
I am just posting this as a good reference on all of the luminous geomtry types:
http://docs.agi32.com/PhotometricToolbox/Content/Indoor_Report_Tool/IES_Indoor_Report_Summary.htm

[2016-08-03 00:00] chriswmackey commented on #540
@sariths ,

I have implemented all 14 of the light geometries on the Luminaire component:
https://github.com/mostaphaRoudsari/Honeybee/commit/f5c48fe027314530956aaa97e06977c1e23817d7

You can test out all of them with these mock ies files that I generated here:
https://www.dropbox.com/s/l24zfqo5zqdvk6l/DifferentDim.zip?dl=0

I can see how it was largely an exercise in Rhinocommon, which can take s

[2016-08-03 02:56] chriswmackey commented on #540
@sariths ,
I moved the components out of WIP.  Congratulations on a wonderfully useful contribution!!!

[2016-08-03 11:04] benmo1 opened #543 "createThermBoundaries upgrade broke component"
This report is actually about 2 bugs. I found one while investigating the first and so they are both in the same example file.

Firstly it works with the old createThermBoundaries component (vintage Jan_26_2016) but the Jul_12_2016 createThermBoundaries component causes the writeTHERM component to fail.

I am not sure why this is. I actually discovered this as the result of investigating another i

[2016-08-03 17:27] sariths commented on #540
@chriswmackey All 14 of them?! Well.....Bravo!! I would have never gotten around to doing them, not in one sitting any way.

I don't have proper access to Rhino/Gh right now so I don't remember the exact name, but are you using the IES BOQ component? I think the reason I required the the luminaireID thing to be input was because I was using that to generate BOQs as well. I totally see your point o

[2016-08-03 18:02] chriswmackey commented on #543
@benmo1 ,

I was not able to re-create the case of the writeTHERM component to failing.  However, I was getting the ThermBoundaries component failing in your file and I [added an extra line such that this does not happen in the future.](https://github.com/mostaphaRoudsari/Honeybee/commit/302103f938b710dc059ea6d9f33d496ad84fcacf)

I was able to recreate the color issue and it was the same as in the

[2016-08-03 21:48] chriswmackey commented on #540
@sariths ,

You are correct that the edit that I made currently does not allow you to assign a custom ID to the luminaire and I agree that we should leave the option to the user to set this name if they want to make the reading of the BOQ easier (much in the same way that the names of HBSrfs or HBZones is optional but setting them can make the interpretation of results easier).  However, the compo

[2016-08-03 22:09] sariths commented on #540
@chriswmackey I remember that I had added the customLumName in response to certain IES files not having any name tags at all. But those names aren't the same as assigning two different names to the same luminaire. For example, a luminaire X can be used for illuminating a pathway as well as a boundary wall with lamps a and b respectively. My idea was that the user should be able to name the two lum

[2016-08-03 22:28] chriswmackey commented on #540
@sariths ,

Sounds good.  I will try to implement this tonight and there is no pressure with running simulations.  Thank you for being so responsive during your travels.

-Chris

[2016-08-06 15:55] chriswmackey commented on #542
I have realized that I am not going to be able to do this for the release but I will do it soon thereafter along with understanding the state of OpenStudio measures.

[2016-08-06 15:57] chriswmackey commented on #543
@benmo1 ,

I checked the issue again and it all seems fine.  As such, I am closing out the issue.  Feel free to reopen if you find the error again.

-Chris

[2016-08-06 15:57] #543 closed

[2016-08-06 21:11] chriswmackey opened #544 "Adding HBZone.HVACSystem as a NamedTuple Broke LoadHBObjects"
@mostaphaRoudsari ,

You mentioned to me a while back that I should change the HBZone.HVACSystem to a namedTuple.  However, this has broken the "Load HB Objects" component causing it to constantly return the following error:
1. Solution exception:No module named namedtuple_HVACSystem

I was thinking to turn the HVAC System object back to a list, dictionary or a class to fix this but I wasn't sure

[2016-08-06 22:53] chriswmackey commented on #540
@sariths ,

I edited the component such that it will now use the customLumName as the LuniareID.  I also checked to be sure the the customLumName is inthe BOQ:
![image](https://cloud.githubusercontent.com/assets/5567574/17459450/9eff5ee0-5c06-11e6-8fe9-69730819fcf7.png)

https://github.com/mostaphaRoudsari/Honeybee/commit/ed215321c48199f0901140c02f73e2ab79656aef
I am closing out the issue now but

[2016-08-06 22:53] #540 closed

[2016-08-07 00:02] chriswmackey opened #545 ""Mirror HBZone" Component Causes Energy Simulation To Fail"
I double-checked the Honeybee transform components over a number of cases and the Move and Rotate components work well.  As such I [moved them out of WIP](https://github.com/mostaphaRoudsari/Honeybee/commit/5548a7007b674e609d319c0fc9d07ff00db4d861).

However, the Mirror Honeybee component causes the simulation to fail as you see here:
![mirrorbug](https://cloud.githubusercontent.com/assets/5567574

[2016-08-07 00:37] chriswmackey commented on #395
This is done:
https://github.com/mostaphaRoudsari/Honeybee/commit/74c5f0398a26e02507b5c77ef07dfb0b7fd8a158

[2016-08-07 00:37] #395 closed

[2016-08-08 13:51] mostaphaRoudsari commented on #545
@chriswmackey let me see if I can get this fixed  before Wednesday.

[2016-08-08 17:58] chriswmackey commented on #545
Sounds good!

[2016-08-09 10:17] gperonato opened #546 "Working directory in drive other than C:"
I am running a grid-based analysis using a directory in D drive.
The files are written in the correct location, but the batch files cannot run as the cd command does not work if the project directory is not in C:

[code]

If I change the third line to D: it works correctly.

[2016-08-09 10:39] mostaphaRoudsari commented on #546
Hi @gperonato,
Which version of Honeybee are you using? I just checked the code again and we have already fixed this issue: https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_Honeybee.py#L2088

[2016-08-09 12:47] gperonato commented on #546
Sorry, I had an older version installed. It works with 0.0.59!
Thanks!

[2016-08-09 12:47] #546 closed

[2016-08-10 00:54] mostaphaRoudsari commented on #545
I tried a couple of solutions but each time EnergyPlus complains about one of the surfaces. Will take care of it later.

[code]

[2016-08-10 01:04] chriswmackey commented on #545
Ok.  Sounds good.

[2016-08-13 19:41] chriswmackey commented on #544
@mostaphaRoudsari ,

Simply adding the namedtuple import did not fix the issue.  You can see a simple example reproducing the error here:
https://www.dropbox.com/s/dq4fcqaho38w2z9/NamedTupleError.gh?dl=0

Let me know if you get the chance to look at it.  Otherwise, I can take another crack at it in a few days.
-Chris

[2016-08-15 13:54] mostaphaRoudsari commented on #544
@chriswmackey [it seems to be a bug in NamedTuple](http://stackoverflow.com/a/33797905). There seems to be workarounds but maybe we should just create a class instead of using NamedTuple?

[2016-08-15 14:33] chriswmackey commented on #544
A class it is!
I will implement it soon.

[2016-08-18 16:14] chriswmackey opened #547 "Set Default HB Natural Ventilation to Not Have Wind"
The E+ wind driven object is really only meant for cases when you have windows on opposite sides that are roughly equal area.  Because I am realizing that many users do not immediately recognize this, I have been considering making the default to have no wind-driven ventilation.  This is both to be more conservative with airflow rates and because I am realizing that so many buildings these days do

[2016-08-18 22:46] antonszilasi commented on #398
@mostaphaRoudsari  I'll get around to doing this

[2016-08-20 02:28] sariths opened #548 "Honeybee can't find OpenStudio?"
Hi @mostaphaRoudsari and @chriswmackey ,
Someone raised this [question](http://www.grasshopper3d.com/xn/detail/2985220:Comment:1584088) as a part of another question. I have no idea about the OpenStudio part of the HB interface so I thought I should let you guys know...

[2016-08-20 02:46] chriswmackey commented on #548
@sariths ,

The reason why this has come up is because I put in a check for OpenStudio installation in HB_HB that replaced the check for EnergyPlus (since we are officially supporting OpenStudio now and people already get EnergyPlus when they install OpenStudio). It's the same type of check that people get if they don't have Radiance installed.

[2016-08-20 02:50] sariths commented on #548
@chriswmackey Makes sense, thanks. Actually, the fact that OpenStudio ships perl along with it is turning out to be really useful for the new Radiance workflows that we are trying out for HB-core.

[2016-08-20 02:57] chriswmackey commented on #548
Indeed, there are a lot of great things that come with OpenStudio (including Radiance). At some point in the future, I think we might just have people install OpenStudio to get almost everything that LB and HB rely on.

[2016-08-20 22:24] Omidmr opened #549 "Honeybee "Simulation par" component Doesn't Have Default Value!"
Hi,
Dear @mostaphaRoudsari and @chriswmackey ,
When we connect HB sim par to Run EP simulation, the energy simulation run fail.
Because Honeybee "Simulation par" component Doesn't Have Default Value of "Heating Sizing Factor" (1.15) and "Cooling Sizing Factor" (1.25).

![hh](https://cloud.githubusercontent.com/assets/11173265/17834118/9c5966c6-6747-11e6-9f22-02789c1aa262.PNG)

![cooling](https://c

[2016-08-23 01:44] chriswmackey commented on #549
@Omidmr ,
Thanks for reporting.  This is fixed:
https://github.com/mostaphaRoudsari/Honeybee/commit/a7dffe472e20a96fb441aaf9c729def3b71e4f0c

[2016-08-23 01:44] #549 closed

[2016-08-23 12:45] benmo1 opened #550 "No SI/Imperial units option on the writeTHERM component"
Why is it that there is only an option to use Imperial/SI on the readTHERM component and not on the writeTHERM component. Is this a mistake? What is the rationale behind this?

We have developed a script for our UK office but be would like to make it available to our US offices.

Thank so much for your time,

Ben

[2016-08-23 13:14] chriswmackey commented on #550
I tried my best to make the components able to accommodate all units systems.  Your Rhino model can be in IP units (ie. inches or feet) and you can import the results as IP units (degrees F and BTU/hr).  Are you saying that you need the exported THERM file to be in IP units as well?  As a US citizen, I can tell you many scientific people who are actually working with the calculation engines prefer

[2016-08-23 14:14] benmo1 commented on #550
Ah excellent, if people in the states tend to use SI then that's fine. We'll have a chat with the offices and see what the normal thing is for them personally, if it varies across the field. I was trying to ask this more as a question. If it is intentional as this is needed then that is also good to know. I thought it might have been an oversight.

[2016-08-23 14:15] benmo1 commented on #550
Ah sorry I meant rationale not rational!

[2016-08-23 15:18] chriswmackey commented on #550
@benmo1 ,

From my perspective, the IP / SI change is happening in the US but it's a more complex, slower (and perhaps more painful :) transition than I feel a lot of other countries have had.  Many hardcore scientific teams in the US work only in SI.  For example, all of EnergyPlus is written in SI and the heart of the THERM engine is also written in SI.  Still, all of the US architectural projec

[2016-08-23 18:14] chriswmackey commented on #214
Great gurus of energy modelling software,

It is with a grave heart that I report that this issue has not been fully stamped-out.  It dangles to life by a thread but we have one confirmed user (in a total of maybe a thousand that have used the OpenStudio component) that still faces this issue in OpenStudio 1.12.0:
http://www.grasshopper3d.com/group/ladybug/forum/topics/cannot-export-to-openstudio?

[2016-08-26 04:16] antonszilasi commented on #509
@mostaphaRoudsari
Just for my own reference here when the study is set to simulation type 1 on the _simulationType_ input on the grid analysis -O is changed to one see: (https://www.radiance-online.org/learning/documentation/manual-pages/pdfs/gendaylit.pdf )and Radiance will return W/m2/Sr over the entire solar spectrum.

This is why there is no weighting in readRadiationResult see here:

[2016-08-29 16:30] antonszilasi commented on #398
@mostaphaRoudsari  can you assign this to me?

[2016-08-29 16:31] mostaphaRoudsari commented on #398
@antonszilasi Github doesn't let me to assign it to you but I removed myself. Consider it assigned!

[2016-08-29 20:05] ayezioro opened #551 "Small fix for Lighting Density Per Area Calculator"
Hi Chris,
I'm asking for this here since it will be quicker to do than me dealing with github ... :-)
I've found that there is a small fix inn the HB_Lighting Density Per Area Calculator component.
Line 152 should be:
    lightLoad = (lightLevel / luminousEfficacy) / (1 - efficiencyCoefficient)
instead of:
    lightLoad = (lightLevel / luminousEfficacy) / efficiencyCoefficient
The reason is that e

[2016-08-30 12:28] ayezioro commented on #551
Hi again,
Checking more thoroughly ... doesn't makes sense. So i close the issue.
Luckily you didn't get here ... sorry.
-A.

[2016-08-30 12:28] #551 closed

[2016-08-30 19:57] chriswmackey commented on #551
@ayezioro ,
Glad to hear it's all worked out and I agree that it's nicer to interpret the efficiency coefficient as efficiency rather than the reciprocal of it.
-Chris

[2016-08-30 22:00] sariths commented on #540
Hi @chriswmackey , there is a one line bug in the Honeybee_IES Luminaire component. In [line 819](https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_IES%20Luminaire.py#L819) can you please change `_iesFilePath = filePath` to `_iesFilePath = _iesFilePath[0]`.

On a related note, there is a "hidden" feature that you might not be aware of.  Users need not link IES files via path. T

[2016-09-02 18:32] antonszilasi commented on #243
@mostaphaRoudsari  is his the vector of the camera?

[2016-09-02 21:08] antonszilasi opened #552 "Default design day sizing runs in Honeybee"
@mostaphaRoudsari  @chriswmackey
I just realized,

According to G3.1.2.2.1 of ASHRAE 90.1

"Sizing Runs: Weather conditions used in sizing runs to determine baseline equipment capacities may be based on either on hourly historical weather files containing typical peak conditions or design days developed using 99.6% heating design temperatures and 1% dry bulb and 1% wet bulb cooling design temperat

[2016-09-04 00:35] chriswmackey commented on #552
@antonszilasi ,

Thanks for posting.  What version of ASHRAE is this from?  I have a sense that they may have changed this a few times over the last few years.  If that comes from the most recent version of ASHRAE 90.1 (which I think is 2013), I could see good grounds for changing it.  = Also, do you know what they say about all 7 of the design days that we use to size systems in OpenStudio:
![all

[2016-09-06 07:34] ayezioro opened #555 "exportToOpenStudio and zone program definition bug"
Hi,
I've found a bug when using the HB_exportToOpenStudio while applying a zone program to the zones.
The error says:

and it happens in:

If i disconnect the definition of the programs the error dissapears.
See file in: https://www.dropbox.com/s/e7uyza039becqlg/Export2OS%2BZoneProgramBug.gh?dl=0

Thanks,
-A.

[2016-09-07 02:36] chriswmackey commented on #555
@ayezioro ,

Very good catch and thanks for reporting.  It seems we did not realize that there were zone programs  (like corridors) that don't have any equipment or people.

I just fixed this:
https://github.com/mostaphaRoudsari/Honeybee/commit/13eb55fedd740f7103dcbd917d1dc74e85706073

Thanks again!
-Chris

[2016-09-07 02:36] #555 closed

[2016-09-10 00:48] mostaphaRoudsari commented on #243
@antonszilasi yes however this shouldn't be an issue with honeybee as it does normalize the vector for the analysis.

[2016-09-10 01:03] mostaphaRoudsari commented on #222
@chriswmackey [has already addressed](https://hydrashare.github.io/hydra/index.html?keywords=HVAC) this on Hydra

[2016-09-10 01:03] #222 closed

[2016-09-10 15:37] mostaphaRoudsari commented on #540
@sariths is the bug still there? should we re/open an issue for that and get it fixed?

[2016-09-10 18:37] mostaphaRoudsari commented on #148
@chriswmackey do we even need this now that you implemented custom result reader for EnergyPlus?

[2016-09-10 20:13] sariths commented on #540
@mostaphaRoudsari Yup. I actually forgot all about it since put this note here. I will open an issue for this. While on it, let me see if I can implement Type B photometry as well (we don't support that at present).

[2016-09-10 20:14] sariths opened #556 "Filename bug and Type B photometry for IES components."

[2016-09-11 01:36] sariths commented on #556
Errors/bugs to fix:
1. Not sure why iron-python isn't catching these, but [251](https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_IES%20Luminaire.py#L251) and [253](https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_IES%20Luminaire.py#L253) are wrong. Negative indexing inside formatted strings are not supported.

2. https://github.com/mostaphaRoudsari/Honeybe

[2016-09-11 15:36] mostaphaRoudsari commented on #556
@sariths what about [len(0) - 2] as you would do it in JS?

[2016-09-11 15:37] mostaphaRoudsari opened #557 "Explanation for "heating" on Read EP Result component may need to be revised"
See this: http://www.grasshopper3d.com/group/ladybug/forum/topics/words-in-the-explanation-for-heating-on-read-ep-result-component

[2016-09-11 17:36] sariths commented on #556
Yup. I was thinking something similar. This is a trivial issue which
occurred because I was trying something too fancy with the new style string
formatting!

On Sep 11, 2016 11:37 AM, "Mostapha Sadeghipour Roudsari" <
notifications@github.com> wrote:

[2016-09-11 20:09] yenhsuanho opened #559 "Code not working for honeybee with Generate Colors and Display.ByGeometryColor(node)"
hello @mostaphaRoudsari ,

I followed the steps of tutorial video,
(SFDUG July 2016: LadyBug | A Parametric Environmental Plugin for Dynamo)
but now I am getting the error below in Generate Colors and Display.ByGeometryColor(node).

(As shown in the attached file)

[Generate Colors]

ERROR:
interation over non-sequence of type StackValue.
If you think this is a bug submit an issue on github.
https

[2016-09-11 21:12] chriswmackey commented on #557
Fixed:
https://github.com/mostaphaRoudsari/Honeybee/commit/fb3c7f8794a22aa192f56c0fb9f57e3f66edc69f

[2016-09-11 21:12] #557 closed

[2016-09-11 21:18] chriswmackey commented on #148
@mostaphaRoudsari ,
I was thinking this myself.  I can't think of what else the SQL will add that the custom result reader and RDD parsing component do not offer.  Then again I don't know the uses of SQL as much.  If you can't think of anything, may be we just close out the issue?

[2016-09-11 22:02] mostaphaRoudsari commented on #559
Hi @yenhsuanho, What are the values generated by the component after running the analysis. As far as I can see Honeybee doesn't pick up window geometries correctly.

[2016-09-11 22:05] mostaphaRoudsari commented on #559
I just checked the first image again. In Run Radiance Simulation honeybee objects are missing!
![image](https://cloud.githubusercontent.com/assets/2915573/18420835/440299ca-784a-11e6-9f5c-e27ddfd8110f.png)

[2016-09-11 22:07] #559 closed

[2016-09-11 22:08] mostaphaRoudsari commented on #148
Let's close this for now. It will come up again when we move all the development to OpenStudio.

[2016-09-11 22:10] chriswmackey commented on #148
Sounds good.

[2016-09-17 21:53] chriswmackey commented on #547
I think that I should also give a warning if the component senses that the zones have air walls.  It should say that that the component isn't really build to handle the calculation of effective area with interior surfaces and that you have to use a custom windandstack object for this.

[2016-09-17 21:59] chriswmackey commented on #547
Also, this example file should not have any interior partitions in it:
http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=Natural_Ventilation&slide=0&scale=1.0000000000000027&offset=60.38919750775841,26.411682806353127

[2016-09-18 08:51] Omidmr opened #560 "Runtime error Honeybee run EnergyPlus Component"
Hi @chriswmackey ,

Runtime error (KeyNotFoundException): honeybee_ExtraConstrProps
Traceback:
  line 2153, in main, "<string>"
  line 2374, in script
![image](https://cloud.githubusercontent.com/assets/11173265/18614373/8f75d90a-7da2-11e6-84d1-6abab9fab67d.png)

-Omid

[2016-09-18 17:34] chriswmackey commented on #560
@Omidmr ,

Ji had also posted this here:
http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1601436&xg_source=msg

It is fixed now:
https://github.com/mostaphaRoudsari/Honeybee/commit/752565a33ad925754c2d9d4c9c7f37266a19300a

-Chris

[2016-09-18 17:34] #560 closed

[2016-09-18 18:30] Omidmr commented on #560
Thank you @chriswmackey .

[2016-09-20 21:57] saeranv opened #561 "exportToOpenStudio checkSubSurfAzTiltNorm error"
Hey guys, getting an error where certain geometries, relatively simple, are failing to run an energy analysis in the exportToOpenStudio: "Simulation has not run because of this severe error: checkSubSurfAzTiltNorm: Outward facing angle of subsurface differs more than 90.0 degrees from base surface"

Currently am trying on DIVA to see if it's something wrong with my geometries.

I made a GH file wi

[2016-09-20 22:40] mostaphaRoudsari commented on #561
Hi @saeranv, do you get the same error with runEnergyPlus component?

[2016-09-21 00:38] chriswmackey commented on #561
@saeranv ,

Here is what is going on:
Your input geometry is 3,000 kiolmeters from the rhino origin, which essentially means that your model is about 1/2 of a continental US away from where it should be.  Normally, Rhino is ok with large distances but, in this case, the enormous number of digits in the vertices is actually brushing up against how Rhino stores floating point numbers, causing a whol

[2016-09-21 00:38] #561 closed

[2016-09-21 12:32] saeranv commented on #561
Ah, thanks @chriswmackey! Sorry, I thought this might be a bug, but guess it's just a newbie mistake on my part.

[2016-09-21 20:58] sariths commented on #561
@chriswmackey I didn't have a dog (bug ?) in this fight but this was some interesting bit of sleuthing!

[2016-09-22 19:19] antonszilasi commented on #398
note to self see discussion here: http://www.grasshopper3d.com/group/ladybug/forum/topics/what-is-building-program-and-how-to-customize-it?xg_source=activity

[2016-09-26 17:16] jacoposartore opened #562 "outdoorAirReq selection "None" not affecting simulation results"
Hello,

by changing the input of this parameter, the simulation runs fine but the energy used for heating or cooling if "None" is selected is the same as "Sum", whereas usually full air re-circulation gives smaller energy consumption.
Here are some pictures (see also the mechVentilationEnergy value):

"Sum = 0"
![image](https://cloud.githubusercontent.com/assets/8501837/18844137/42d64f32-841c-11e6

[2016-09-28 21:41] chriswmackey commented on #562
@jacoposartore ,

Thanks for finding this.  I never encountered this bug as I don't usually run simulations without ventilation requirements (or I do so by setting ventilationPerArea and ventilationPerPerson to 0).  It seems that, for full Ideal Air Systems like the one the OpenStudio component uses, we are not supposed to say that the Outdoor Air Method is  'None' but we are just supposed to leav

[2016-09-28 21:41] #562 closed

[2016-09-29 11:36] jcrichard commented on #284
hi mostaphaRoudsari. I am using your viz thanks a lot for sharing. I just find a bug when we want smoothness and bundleDimension. Di you desactivate these options ?

[2016-09-29 20:34] chriswmackey opened #563 "BSDF Files Not Supported in Annual Simulation"
I had a guess for the answer to this and I figured that I should ask it here so that others are aware of the answer.  I noticed that I was not able to run an annual simulation with a BSDF material and I wanted to ask whether this is a limitation of DAYSIM or RADIANCE?  In other words, can we expect the new version of Honeybee that is independent of DAYSIM to be able to run annual simulations with

[2016-09-30 21:27] sariths commented on #563
Hi @chriswmackey, BSDFs are already implemented, admittedly in a shaky manner at present, with the Three Phase Method in the new Honeybee. See [#113](https://github.com/ladybug-analysis-tools/honeybee/blob/master/scripts/ThreePhaseImage.py#L113) in the [Three Phase script](https://github.com/ladybug-analysis-tools/honeybee/blob/master/scripts/ThreePhaseImage.py).

We should be able to run annual s

[2016-10-01 04:45] chriswmackey commented on #563
@sariths ,

You are awesome.  Just knowing that this is working in the new 3-Phase method makes me incredibly happy.  Thank you and keep rocking the daylight world!

-Chris

[2016-10-01 22:23] sariths commented on #563
Hi @chriswmackey , with regards to the file that you posted, the BSDF material in itself appears to be  getting defined properly. However the geometry it is supposed to be modify (i.e. the window polygon) is not getting written to disk. I haven't used HB enough to know my way around childSurfaces etc. , however, a quick hack might be to define the window separately (with BSDF material and geometry

[2016-10-02 00:23] chriswmackey commented on #563
@sariths ,

The issue does not seem to be with child surfaces as I get the same error when I define the geometry using only HBSrfs:
https://www.dropbox.com/s/voci901x9hah16t/2-OfficeDaylightAnnualSim_SrfBySrf.gh?dl=0

Still, defining windows this way has made me realize that there are some major bugs with defining different RadMaterials for different windows of a HBZone.  From what I have found, t

[2016-10-02 00:59] chriswmackey opened #564 "Can't Model BSDF Skyights"
I have tried about 3 different ways to specify a BSDF skylight and none of them are affecting the final Illuminance result:
https://www.dropbox.com/s/cfwsk758uw8utt7/CantSpecifyBSDFSkylights.gh?dl=0
https://www.dropbox.com/s/cxrqxoi8p52coyh/Okalux_Kapipane_20_klems.xml?dl=0

The geometry is written into Radiance correctly and it definitely has to do with the material because, once I change it to a

[2016-10-02 01:25] sariths commented on #564
Hi @chriswmackey, try these: https://www.dropbox.com/sh/3zu3pxvm9zgz4x0/AADBaWdtaJFIu4D4eUQySnaYa?dl=0

Two of those (ven0 and ven45) are venetian blinds, however, that really shouldn't matter as far as the troubleshooting aspect of the simulation goes.

[2016-10-02 01:27] chriswmackey opened #565 "HBzones Can Only Have One Type of Window RadMaterial"
@mostaphaRoudsari ,

This seems to be a bug with the way that the HBZone2Rad workflow happens.  I am trying to assign two different RadMaterials to two different windows of a zone and I use the same workflow that I would use for the E+ workflow:
![image](https://cloud.githubusercontent.com/assets/5567574/19017931/bfe81636-881d-11e6-99b9-1a53a674e677.png)

However, the Run Simulation Component is w

[2016-10-02 01:30] chriswmackey commented on #563
Actually, I am going to take the bug label off of this issue and open up a separate issue for the HBZone workflow:
https://github.com/mostaphaRoudsari/Honeybee/issues/565

The HBZone issue is clearly a HB bug but this annual simulation one is unknown still.  In other words, this issue should just be devoted to figuring out how to run annual simulations with BSDF.

[2016-10-02 01:35] sariths commented on #564
![10-1-2016 9-33-34 pm](https://cloud.githubusercontent.com/assets/10361848/19017977/ce2dcc80-881e-11e6-993f-536022d32d10.png)

Hi @chriswmackey , the culprit was an incorrectly assigned hemispherical sampling parameter for the BSDF material. See the part highlighted through red ellipses above..

[2016-10-02 01:38] chriswmackey commented on #564
@sariths ,

You are awesome.  Let me see if I can fix this now.  Am I correct in understanding that these 3 numbers should correspond to the normal direction of the HBSrf that they are being applied to?

-Chris

[2016-10-02 01:40] chriswmackey commented on #564
I can also verify that it is working correctly on my system for all of the BSDF files once I change the  hemispherical sampling parameter.

[2016-10-02 01:46] sariths commented on #564
@chriswmackey, Actually any direction that isn't parallel to the normal direction of the surface should work. In your case the directional-normal of the skylight was either facing upwards or downards. So the simulation wasn't working with the original 0 0 1. Changing that to 0 1 0 or -1 0 0 etc. will make it work.

[2016-10-02 01:56] chriswmackey commented on #564
@sariths ,

Understood.  I just ran the material with a few different hemispherical sampling parameters and I got fairly similar results.

Can I ask one final question then: Does Radiance know the direction that the cells (or blinds) that my material is facing based on the orientation of the rad mesh faces?  If so, I think that I might just change this sampling parameter to be something that will

[2016-10-02 02:08] sariths commented on #564
@chriswmackey

I had posed a similar question to the creator of Radiance when I was working at LBNL this summer.  His answer to that was pretty much along the same lines as what you mentioned above. I think if you were to ensure that the plane specified by those three numbers are never in the same plane as the the normal, it will work in almost all cases.

Things might get interesting, however, if

[2016-10-02 02:19] chriswmackey commented on #564
@sariths ,

Thank you very much for the response.  I am realizing that the reversing of the hemispherical sampling parameter has the same effect as flipping the direction of the HBsurface and I get similar results as long as the parameter is a vector in the same hemisphere about the HBSrf normal plane.  So it's ok if the vector isn't perfectly in the plane of the HBSrf.  It just has to be +/- 90 d

[2016-10-02 02:35] chriswmackey commented on #564
Done!

https://github.com/mostaphaRoudsari/Honeybee/commit/721d817844c11b2cf94c1bbbf82431828a2c6d09

[2016-10-02 02:35] #564 closed

[2016-10-02 02:46] chriswmackey commented on #563
@sariths ,

I am trying the additionaRadFiles method now but without success. Can you confirm that this is the correct type of addidionalRadFile that I should be adding?
https://www.dropbox.com/s/k100iebbjenbwcn/OkaStuff.rad?dl=0

-Chris

[2016-10-02 02:52] sariths commented on #563
@chriswmackey, I haven't run the file with HB yet, but it appears to me that the issue is that your modifier definition is below the geometry.

Changing this ...
[code]

to this should make it work.
[code]

[2016-10-02 02:54] chriswmackey commented on #563
Actually, a part of Andy's presentation here caught my eye:
![image](https://cloud.githubusercontent.com/assets/5567574/19018311/ba4266a8-8829-11e6-8546-f2285ad461c4.png)

http://www.radiance-online.org/community/workshops/2014-london/presentations/day1/McNeil_BSDFsandPhases.pdf

He states that the DAYSIM implementation is "nearly complete."  Perhaps there isn't full support yet.

-Chris

[2016-10-02 02:58] sariths commented on #563
Aha, okay ! I wasn't quite sure of the development of Daysim as I stopped using it a couple of years ago. So, I gather you can't make BSDFs work with Daysim even when they are added to the scene using additionalRadFiles ?

[2016-10-02 16:38] chriswmackey commented on #563
@sariths ,

I tried reversing the order of the .rad file without success.  I feel 80% sure that it's an issue with DAYSIM as none of the BSDF files are working no matter what I try but they all work with the straight-to-radiance simulations.

I feel ok leaving this issue the way it is knowing that it will work in your new 3-Phase implementation.  I will leave it open just so that people know the c

[2016-10-02 21:39] sariths commented on #563
Hi @chriswmackey, thanks for testing this out. I had no idea that BSDFs weren't ported into Daysim yet. The BSDF primitive became [a first class citizen of Radiance](https://www.radiance-online.org/community/workshops/2011-berkeley-ca/presentations/day2/GW5_BSDFFirstClass.pdf) back in 2011, so I assumed that by now the BSDF functionality was supported in Daysim as well.

[2016-10-02 23:31] mostaphaRoudsari commented on #565
@chriswmackey this looks like a bug. As a workaround, you can connect both openings and materials to the same component, which should work fine.  Thanks for reporting.

[2016-10-02 23:31] mostaphaRoudsari commented on #556
@sariths should we close this issue?

[2016-10-02 23:35] mostaphaRoudsari commented on #563
Hi @chriswmackey and @sariths. If I'm not mistaken BSDF was never supported by Daysim4 and the earlier versions.

For anyone who may read this discussion later. Th implementation is done in the newer version of Honeybee which is not yet publicly released for Grasshopper.

[2016-10-03 00:13] sariths commented on #556
@mostaphaRoudsari Um..yeah, let's close it for now. The thing is that I wanted to implement Type B photometry. I tried and failed once and then got bored (in that order). I will open this later when I get to it again. This is actually not a major issue anyway because if someone wants to do Type B they can still do that by converting the photometry online.

[2016-10-03 00:13] #556 closed

[2016-10-04 15:13] jacoposartore commented on #562
@chriswmackey,

Thank you, everything is working great now!

[2016-10-05 18:41] saeranv opened #566 "Minor bugs in EPWindowShades for vertical shades and glzParam input parameters"
Hey guys, I recently started using this component while working on a project, and have run into a couple of issues when: (a) using the vertical option for the horOrVertical_ input and (b) using certain combinations of the glzParam component.

I've been rewriting it as needed, here's my revised code (from the 'VER 0.0.60\nSEP_17_2016'):
https://github.com/saeranv/Honeybee/commit/08d42c35cb6fe12e0fc

[2016-10-08 00:55] mostaphaRoudsari opened #567 "Add in Honeybee Support for OpenStudio 2.0"
OpenStudio 2 is introducing some major changes to how OpenStudio works. Some of them are good news but some about the API makes me nervous. I hope the basic workflow just works fine with the new version and we will figure out the rest (e.g. measures, etc) as we go.

[2016-10-08 01:38] mostaphaRoudsari commented on #567
1. Importing C# library in IronPython threw 'OpenStudio.OpenStudioModelCorePINVOKE'
https://github.com/NREL/OpenStudio/issues/2371

2. Installation doesn't include Radiance and Perl. If this is a final decision it will affect our workflows for next releases of honeybee.

[2016-10-08 17:10] chriswmackey commented on #566
@saeranv ,

Sorry for the late response and thank you so much for fixing these issues!  I checked out your file and your commit and everything looks great.  SEP 17 is still the last version of this component so, if you are able to fix your pull request, you should be able to send it without overwriting any work.

Sending a pull request would really be the best way of bringing in your fixes.  It en

[2016-10-08 20:20] chriswmackey commented on #567
@mostaphaRoudsari ,

This is good to know.  Once we get past the PINVOKE issues, I can put some time into addressing any API changes.  We'v always known that the measures components would have to be revised when formats became more established and, if certain API features are not working at first, we will hopefully get errors that will point us towards fixing them.  I am far less nervous about API

[2016-10-08 20:31] chriswmackey commented on #567
Reading through the list of changes, we might have to make two separate OpenStudio components: one for the older version and another for 2.0.

It looks like most of the changes in the API are NOT in areas that we are using but, if this proves to not be the case, it might be best to try and support both versions for a little bit.

Let's get past the PINVOKE first.

[2016-10-09 15:53] mostaphaRoudsari opened #568 "Evalglare v1.31 in Radiacne v5.0.a.12 is not working with Honeybee glare analysis component"
Check [this discussion](http://www.grasshopper3d.com/group/ladybug/forum/topics/evalglare-v1-31-in-radiacne-v5-0-a-12-is-not-working-with).

[2016-10-10 06:40] saeranv commented on #566
Thanks @chriswmackey . While I understand steps 3,4, I don't understand 1,2. Are these steps done in order to sync my fork of the repository to keep it up-to-date with the upstream repository?

It sounds easier than using git bash for sure, but I'm not sure I understand how it achieves this. Aren't pull requests used to merge changes back to the master? How can I make a pull request from the maste

[2016-10-10 13:49] chriswmackey commented on #566
@saeranv ,

Pull requests are used both to bring your changes into the master branch and to sync your branch with the master branch.

In your usual workflow that you would use to send a pull request to the master branch, you can hit the button that says "switch the base" to set up a pull request in the opposite direction.

Let me know if this works or if you need more information.

-Chris

[2016-10-10 18:53] saeranv commented on #566
@chriswmackey,

Thanks for explaining that, I always have issues syncing branches using the command line. This is much better.

I just did it, and it looks like my fork is up to date with Mostapha's. So, I think we're ready to merge.

FYI I did make some additional changes since the last post, finding some additional edge cases where my modifications failed. Fairly minor adjustment, and I tested e

[2016-10-10 19:03] chriswmackey commented on #566
@saeranv ,

I'm glad that you were able to navigate the perils of github pull requests. Everything looked good and so it's been merged in.  In the future, you should also remember to update the date on the component whenever you produce a newer version.  I updated the date on the component here:
https://github.com/mostaphaRoudsari/Honeybee/commit/bb42065dd2b8e30e890d6e3ff9d2abdbcc0a0be2

I think w

[2016-10-10 19:03] #566 closed

[2016-10-11 20:50] mostaphaRoudsari commented on #567
@chriswmackey , now that the PINVOKE issue is solved, I checked and the component works fine for a simple model. The only caveat is that `RunEPlus.bat` is not shipped with OpenStudio anymore. We need to use EnergyPlus CLI to run the analysis.

[2016-10-12 00:47] chriswmackey commented on #567
@mostaphaRoudsari ,

Woohoo!  Glad that it's resolved!  Switching to the CLI seem do-able.  Perhaps we can deal with the two ways of running the IDF using duck typing and that will hopefully avoid the need for a whole new OpenStudio component.

-Chris

[2016-10-12 04:33] saeranv commented on #497
Hey @chriswmackey, how's progress on this issue going?

I'm willing to take a stab at addressing the issues here (currently a huge bottleneck in my own workflow). If I am reading your thread comments correctly, it seems that there's two issues here:
1) Separating the perimeter/core zoning into a different components. (Shouldn't be too difficult).
2) Resolving some of the inadequacies of the perime

[2016-10-14 06:18] chriswmackey commented on #497
@saeranv ,

I have not made much progress on this and please feel free to take a stab at it.  Definitely the first step is separating the code into two components for everyone's sanity.

Improving the perimeter/core split is also a mostly reductive process in my mind.  I think that I just got overly-ambitious about trying to handle curved geometry in the core/perimeter zoning.  In retrospect, I pr

[2016-10-17 14:43] saeranv commented on #497
@chriswmackey, cool - I'll try to get to it this week.

[2016-10-20 21:46] mostaphaRoudsari commented on #568
not a honeybee bug apparently:
http://www.radiance-online.org/pipermail/radiance-dev/2016-October/001645.html

[2016-10-24 00:49] saeranv commented on #497
@chriswmackey

Two components! https://drive.google.com/open?id=0B1aL4rZ85UMSZk0zWDRNZGxTSWc

https://github.com/saeranv/Honeybee/blob/master/src/Honeybee_SplitBuildingMass.py
https://github.com/saeranv/Honeybee/blob/master/src/Honeybee_SplitZone.py

It's working, however there are redundancies that I need to eliminate, i.e. the same getFloorCrvs function is in both components right now. I tested

[2016-10-26 13:57] hamborg commented on #506
Is there any news or developments on this issue?
Can Air Flow Networks be utilized - even in a very simple case - to predict thermal stratification in large rooms due to buoyancy effects in, say, large atria?

- Lasse Hamborg
stud. MSc Arch.Eng.

[2016-10-27 00:49] chriswmackey commented on #506
@hamborg ,

We don't have an update yet but I am thinking that we should integrate the AFN once we have Butterfly up and running for CFD (one of it's primary applications is supplying flow coefficients to the AFN).

On a sidenote EnergyPlus says that the AFN is not meant to model your case of large atria stratification:
http://bigladdersoftware.com/epx/docs/8-5/input-output-reference/group-airflow

[2016-10-27 18:07] NENEN commented on #565
@mostaphaRoudsari, do you mean to plug in the two openings together in one list, and the two materials together as a separate list?

[2016-10-27 19:02] saeranv commented on #191
@mostaphaRoudsari I'm on the P+W Research team (with @antonszilasi) , and we've internally discussed phasing out the EPC method due to it's inability to consider latent loads (Anton can probably give you more info about this). Who were you working on this with at P+W? I can see if there was any progress done with this component, but if not, perhaps we can consider closing this issue.

[2016-10-27 19:08] mostaphaRoudsari commented on #191
Hi @saeranv, We started this with @pchopson and @sahuja9. I think they both have left P+W.

@pchopson and @sahuja9, any updates on this? Are you still trying to fully implement the method in python? otherwise, we can close this issue and remove the component as it currently just returns the area for surfaces.

[2016-10-27 20:28] mostaphaRoudsari commented on #191
ok. I'm closing this for now. @pchopson and @sahuja9 if you're interested in working on this please open a new issue and we can start this over.

[2016-10-27 20:28] #191 closed

[2016-10-29 19:58] chriswmackey commented on #565
@NENEN ,
Yes, this is what @mostaphaRoudsari means.  Plug in a list of geometries and a corresponding list of materials in the same component.
-Chris

[2016-10-31 03:53] ayezioro opened #571 "Condensation+DewPoint+RH+Temperature on construction layers"
Hi,
Inspired by Chris's webinar on THERM I've written a component that calculates what's in the subject of the issue.
Of course it is based on steady state equations. I will ask your opinion about it.
Right now it has many outputs. Some of them can be cleared. But for now is WIP.
I intend for the next stage to draw the section of the wall/roof/floor with the lines connecting the results.
Also ther

[2016-10-31 04:29] chriswmackey commented on #571
@ayezioro ,

I just took a look at the dropbox link and this looks great!  We're slowly making our way into the capabilities of WUFI now!

Because the component takes inputs inputs of EP Constructions, I think you are right that the 6-Construction tab is the most appropriate place.  Still, you should be aware of a number of other components that calculate similar results in different tabs: The "La

[2016-10-31 05:24] ayezioro commented on #571
Hi Chris,
Thanks.
As for the vapor moisture you are right. No properties for that in EP materials, and that's the main obstacle. I've found some equations to calculate (for steady state) the moisture value, but without the properties it will be cumbersome to deal with that. So i agree to leave it as is. Maybe i'll provide the location of the vapor barrier in the graphics. I'll see.
I'm waiting Arp

[2016-10-31 14:57] saeranv opened #572 "'Honeybee_Glazing based on ratio' crashes Grasshopper/Rhino"
When I add glazing to my HBZone using the Glazing based on ratio component - Rhino is immediately crashing. It will work if I'm generating a 1-5 floors (with 5 zones each) but if I try to generate glazing for an entire tower (as I am in the sample gh file) - I'm getting an immediate crash.
Here's a link to my forum post with a gh file reproducing the problem.

http://www.grasshopper3d.com/group/la

[2016-11-02 15:09] chriswmackey commented on #572
@saeranv ,
I have noticed that this tends to happen more often when people use the splitbldgMass component before the glazing ratio component.  My inclination is to say that the code that needs improvement is there rather than in the glazing ratio component.
Also, it's important to realize that the underlying reason is an instability within Rhino/GH and, while there may be better ways of organizin

[2016-11-03 09:19] ayezioro commented on #571
Hi Chris,
I'm going to ask for a bit of assistance.
Find this updated example:
https://www.dropbox.com/s/wm6u7dk575r7f06/TemperatureGradient%2BDewPointCalculator%2BCondensation_for%20DB.gh?dl=0
The wall is drawn and the result lines too.
I want to know if there is a way of getting the lines with some thickness and color if the polyline is not closed. I can do that for the wall layers since they ar

[2016-11-03 20:10] saeranv commented on #497
Making note of progress and issues that remain to be addressed: http://www.grasshopper3d.com/group/ladybug/forum/topics/split-building-mass-component-error-again

[2016-11-03 22:02] saeranv commented on #572
@chriswmackey that's surprising, do you have any idea what it could be in the splitBldgMass component that would be causing the issue (i.e. is it to do with the floor height splitting or to do with the perimeter core split? I'm a little wary about trying to debug this component since debugging code that crashes Rhino/GH is a nightmare, but I can try and keep an eye out while dealing with the split

[2016-11-04 21:03] antonszilasi opened #573 "Warning for overlapping geometries?"
Hi Guys,

I am a bit confused by what is going on here, when I was running a workshop there was a case where there were 2 overlapping geometries and EnergyPlus threw an error (unfortunately I can't remember which one) I've tried to reproduce the error with 3 over lapping geometry's here.

![overlapping geometries](https://cloud.githubusercontent.com/assets/8773483/20021226/ee2eef16-a2a2-11e6-8610-

[2016-11-04 21:10] antonszilasi commented on #573
@mostaphaRoudsari  I also wanted to confirm what you said the other day which was that EnergyPlus doesn't need a closed zone in order to perform a calculation, is that correct? Does that mean that it only assumes heat transfer through the actual surfaces that are present?

[2016-11-04 22:36] antonszilasi commented on #572
@chriswmackey  @saeranv  @mostaphaRoudsari

I did some investigation with the profiler, what ever is happening it is increasing the processing time exponentially see below:

With 10 honeybee zones:

![10 hb zones](https://cloud.githubusercontent.com/assets/8773483/20024459/cf1ed8ae-a2b4-11e6-83de-a1eb78cb950f.JPG)

With 20 honeybee zones

![20 hb zones](https://cloud.githubusercontent.com/assets/8

[2016-11-04 22:48] antonszilasi commented on #572
The plot thickens I re opened the file and now the process time in both the 20 hb zone case

![20 zones re opened](https://cloud.githubusercontent.com/assets/8773483/20024795/c6f4d866-a2b6-11e6-8d30-93411b70794a.JPG)

and the 50 hb zone case has halved!

![50 hb zones reloaded](https://cloud.githubusercontent.com/assets/8773483/20024799/cc58f436-a2b6-11e6-9cd4-2b69f4aca001.JPG)

[2016-11-07 04:59] devngc opened #574 "Honeybee_Set Energyplus Zone Thresholds. Missing inputs"
Hi @chriswmackey,

In Honeybee_Set Energyplus Zone Thresholds component, there are three inputs in the code named, daylightIllumSetPt_, daylightCntrlPt_ and, daylightCntrlFract_. However, the same are not there as inputs for the components. Can you please take a look? I believe, it just needs adding back those inputs with list access.

Thanks,
Devang

[2016-11-10 08:16] ayezioro commented on #571
Hi,
As for the text i managed, so no need to reply to this respect.
The example was updated and can be found at the link above. I'll be glad to hear your opinions.
There are some issues to be solved: Section for different situations (wall, roof, floor), Rh/Temp scales.
I'm in doubt if plotting the results as text will be good/nice or just to "be happy" with the panel outputs.
Thanks,
-A.

[2016-11-11 06:50] TheodoreGalanos opened #575 "viewFactor component: allow saving viewFactorInfo and viewFactorMesh"
This is usually the most computational intensive step of the thermal comfort map process.

It would be nice if we could save the resulting view factors in some way to be used later on. I've had multiple crashes of the definition only to need restarting the viewFactor calculation.

I hope this isn't already implemented and I lost it some place.

Kind regards,
Theodore.

[2016-11-11 18:14] ayezioro opened #576 "Window shade generator - ShadingHeight issue"
Hi,
As for this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/window-shade-generator-sometimes-won-t-output-hb-object?page=2&commentId=2985220%3AComment%3A1637339&x=1#2985220Comment1637339
i can't understand the limitation of shadingHeight to 1 mt, so beyond this no HBObjects are created.
Can this be explained?
Thanks,
-A.

[2016-11-11 19:56] saeranv commented on #576
@chriswmackey

For further clarification @ayezioro is talking about this line: https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_EnergyPlus%20Window%20Shade%20Generator.py#L898  - which I found to be stopping the production of an HBObject in the linked GH post.

Is my interpretation correct?

S

[2016-11-14 13:06] ayezioro commented on #571
Almost ready!
Texts are there. Please check the example file for remarks.
Need to solve the bake option. Not addressed at all. Any help will be appreciated (to make the path shorter ...).
Need to solve the drawing of roofs/floors. Right now everything is drawn as walls (vertical).
Need to consider a new scale axis for DewPoint. For unusual cases the line falls below the wall section.
Any remarks?

[2016-11-17 02:46] chriswmackey commented on #575
@TheodoreGalanos ,

You have told me in a chat that you already found the "Ladybug_Surface View Analysis" component, which might take care of part of the issue (if all that you need is the numeric surface view factors).  However, it sounds like you need all of the viewFactorInfo (if you want to be able to run the comfort maps).  This is very difficult because there is a lot more information that i

[2016-11-17 03:13] TheodoreGalanos commented on #575
Hi @chriswmackey

Thanks for your response. It is not really a priority so no worries. It's just nice to be able to do it in the future. Thanks also for giving details on how you plan to do it, I'll try and go over that module for educational purposes.

May I ask, is calculating numeric surface view factor calculation a big part of the total viewFactorInfo calculation time? I was thinking, but I a

[2016-11-17 22:21] chriswmackey commented on #575
Theodore,

View factor calculation is almost all of the runtime of the component (the readMe gives a breakdown). It's still difficult to implement the ability to plug values in but I guess it is easier than the alternative. I'll think about whether it's worth it in comparison to the implementation on the revision.

-Chris

[2016-11-18 02:26] TheodoreGalanos commented on #575
Ok Chris,

It's no problem, as I said not a big priority everything works just fine as it is

[2016-11-21 14:04] ayezioro opened #577 "Tunred HB HVACSystems Into a Class - ISSUE"
Hi Chris,
A recent change (as in the subject) leads to a bad function of the HB_runEnergySimulation component (the HB_exportToOpenStudio works fine so far).
It complains about:

I assume this error is related to the change, since it was working before.
I'll apreciate fixing this one since i'm in the middle of some simulations ...

Thanks,
-A.
![capture](https://cloud.githubusercontent.com/assets/7

[2016-11-22 03:01] chriswmackey commented on #573
@antonszilasi

EnergyPlus, like most simulation engines, is only as intelligent as it's input.  It can take a whole range of things and run a calculation but it won't always tell you everything that is wrong with the model.  I get the sense that the E+ development team thought that basic geometry checks like this are things that should be handled by either the user or the interface (rather than th

[2016-11-22 03:20] TheodoreGalanos commented on #573
Hi Anton and Chris,

I have this problem as well. Usually it comes down to my own bad practices in modelling and failing to really check my curves, which end up to surfaces, which end up to breps, which end up to zones.

Having good quality control while doing the model, early on if possible, is quite good.

That said, any ways to automatically scrape off annoying little segments after intersectin

[2016-11-22 04:28] chriswmackey commented on #577
@ayezioro ,

Thank you for reporting this. I will fix it once I get off the train that I am on right now.

-Chris

[2016-11-22 23:31] chriswmackey commented on #577
@ayezioro ,

Sorry this took a while.  The issue is fixed:
https://github.com/mostaphaRoudsari/Honeybee/commit/c7e8aa0742f4c1b005d1a57315d14a979e610291

-Chris

[2016-11-22 23:31] #577 closed

[2016-11-23 04:27] ayezioro commented on #577
Thanks Chris!!

[2016-11-23 10:00] ayezioro commented on #571
Bake solved ... thank God!
Just a question: When bake == 2, it is supposed to bake meshes. In  my case it bakes only curves. Do you mind to have a look?
The roof/floor cases are drawn as in walls, though the calculation is fine. Is just a cosmetic issue that i'll address soon. For now i'll commit the component AFTER the above bake explanation.
As usual, please check the dropbox example.
Thanks,
-A

[2016-11-23 11:59] chriswmackey commented on #571
@ayezioro ,

I apologize for such a late response on this one. I will check the uploaded file as soon as I get the chance, which should be sometime later today.  I am sure that we can figure out the bake issue quickly and I'll try to give feedback on the other features.

-Chris

[2016-11-25 01:03] chriswmackey commented on #576
@ayezioro and @saeranv ,

I have added a response on the GH group, which should explain the issue.  As such I'm closing out this one but feel free to open it again if you feel the explanation is not complete.

-Chris

[2016-11-25 01:03] #576 closed

[2016-11-25 21:59] chriswmackey commented on #571
@ayezioro ,

Sorry that it took so long for me to check this.  The component is looking really good.  I'm realizing how useful the visual output is not just for understanding temperature gradients and condensation but also just understanding what the constructions look like and doing visual comparisons between constructions.

The bakeIt option seems to be working well as you said.  I have a few co

[2016-11-30 06:46] TheodoreGalanos commented on #572
Hi everyone,

I'm not sure this is completely relevant but I am also facing some problems with the combination of split building mass and glazing based on ratio components. I keep getting that annoying "outward facing angle of subsurface differs more than 90 degrees" error that crashes my E+ simulation. Passing the same zones without adding glazing seems to work.

I hope there's some work around f

[2016-11-30 23:53] mostaphaRoudsari commented on #574
You just need to update Honeybee and take the component from the tab.

![image](https://cloud.githubusercontent.com/assets/2915573/20776382/2b6e65ce-b72e-11e6-818d-d794e05eb28d.png)

[2016-11-30 23:53] #574 closed

[2016-11-30 23:59] mostaphaRoudsari commented on #573
All,
EnergyPlus has no check for models in 3d. It simply follows the hierarchy between the surfaces and the zone. @antonszilasi the example file that you shared is just poor modeling. Are you proposing that we should throw a warning in cases such as this? In that case we need to check every zone with every other zone which will add to the calculation time based on the number of the zones and the n

[2016-12-01 00:05] mostaphaRoudsari commented on #572
@antonszilasi profiling is a different issue and you should open a new issue for that one. My suggestion is to do the same study on Rhino WIP and Grasshopper I. I suspect that GHPython component itself has a lot to do with this issue. Check [this post](https://github.com/mcneel/ghpython/issues/71).

[2016-12-01 18:14] mostaphaRoudsari opened #578 "OpenStudio component fails to read the header of epw file"
http://www.grasshopper3d.com/group/ladybug/forum/topics/openstudio?commentId=2985220%3AComment%3A1650027&groupId=2985220%3AGroup%3A658987

[2016-12-01 19:04] ayezioro opened #579 "HBZones before and after HB_IndoorViewFactor - Differences"
Hi,
Per this discussion, Mostapha recommends to open an issue here:
http://www.grasshopper3d.com/group/ladybug/forum/topics/hbzones-before-and-after-hb-indoorviewfactor-differences?commentId=2985220%3AComment%3A1650143&xg_source=msg_com_gr_forum
Thanks,
-A.

[2016-12-02 00:24] chriswmackey commented on #579
I put a response on the GH group because the issue seems like more of a request for an explanation than a bug.  If it is a bug, we can pick up the discussion here.

[2016-12-02 00:32] chriswmackey commented on #572
@antonszilasi ,
The decrease in runtime can be explained by the fact that the code was already compiled the second time that you opened the file.  Compiling code after an edit can add to the runtime a lot.  As @mostaphaRoudsari suggests, a lot of these issues likely have to do with idiosyncrasies of GHPython and Rhino Common of Rhino 5.  We should start looking to the next release of Rhino for the

[2016-12-02 00:34] chriswmackey commented on #573
I agree a quality check component is a good idea.  So people have the option of running intense calculations to tell them what they did wrong but they don't necessarily have to.

[2016-12-04 14:03] chriswmackey commented on #578
This issue is fixed!
https://github.com/mostaphaRoudsari/Honeybee/commit/c54e4b5137fe584b99de6704ec24284afc8b595f

[2016-12-04 14:03] #578 closed

[2016-12-06 21:49] antonszilasi commented on #573
gents that does sound like a good idea

[2016-12-12 17:14] antonszilasi opened #580 "Question: Ladybug analysis tools Honeybee +ready to fly?"
@mostaphaRoudsari

Hi Mostapha, I would like to create a Grasshopper component which only writes the geometry of a OpenStudio model. All the non-geometric attributes will then be applied to the osm using measures.

 Is Honeybee+ ready to fly for this? If not is there something I can do to help sped it along?

[2016-12-12 22:55] mostaphaRoudsari commented on #580
Honeybee+ currently imports idf files but doesn't write an idf file but it is an easy method to add. If you're interested to give it a try you need to implement toEPString methods in the level of HBSurface and HBZone.

Check how the toRadString method is implemented, and follow the same pattern for toEPString:
https://github.com/ladybug-analysis-tools/honeybee/blob/master/honeybee/hbsurface.py

[2016-12-13 15:28] antonszilasi commented on #580
@mostaphaRoudsari  I would like to write an OpenStudio file not an idf I believe that I need to port all the code in the currrent export to OpenStudio component across and make a new component to put here: https://github.com/ladybug-analysis-tools/honeybee-plus/tree/master/plugin/grasshopper/userObjects

Is that correct?

[2016-12-14 10:23] THEtantaarchitect opened #581 "itegrating light to E+ thermal analysis for multiple zones"
hi guys
thank you so much for your continuous support

how can we do this integration for multiple zones at the same run
http://hydrashare.github.io/hydra/viewer?owner=mostaphaRoudsari&fork=hydra_1&id=Integrated_Daylight_and_Energy_simulation&slide=0&scale=1&offset=0,0

your help is very appreciated
thanks
anas

[2016-12-14 10:33] THEtantaarchitect commented on #414
boris
does your merging component works for ILL files created for multiple zones ?

regards
anas

[2016-12-14 13:36] chriswmackey commented on #580
@mostaphaRoudsari ,

I remeber that we had a discussion about this at one point but I can't remeber the outcome. Did we decide that we would have a toOsObj function that accepts the model as an input instead of (or in addition to) a toEpString function?

Also, I know that you're on vacation now so there's certainly no rush to respond.

-Chris

[2016-12-14 22:47] antonszilasi commented on #580
@mostaphaRoudsari

If I dont hear from you I will implement a OSObj function and proceed with porting the export to OS component over

[2016-12-14 23:39] antonszilasi opened #582 "Honeybee thinks raw grasshopper breps are Honeybee zones"
@chriswmackey  @mostaphaRoudsari

I am getting some very strange behavior from a raw Grasshopper brep. Honeybee thinks that this brep is a Honeybee zone **before** it has been passed into the Honeybee mass component see:

![honeybee id from raw object](https://cloud.githubusercontent.com/assets/8773483/21205844/09f7b160-c224-11e6-8ca8-db6489700ac7.JPG)

I am guessing that it is picking up on the H

[2016-12-14 23:54] antonszilasi commented on #582
an update here, this happens when I unload and reload Grasshopper

[2016-12-15 15:06] antonszilasi commented on #572
@chriswmackey

Ah so each time you run a Gh component the code is compiled? so if you change the code it has to compile again?

[2016-12-15 15:07] antonszilasi commented on #581
@THEtantaarchitect if you want to create a series of runs with daylighting and energy analysis on each run use the Ladybug fly component and connect it up to all the sliders that you are changing, it will iterate through each configuration until all the runs are complete.

Be sure to record your results to excel though, using the flux components is a good way to do this!

[2016-12-15 15:44] antonszilasi opened #583 "Circular perimeter and core solve adjacencies"
@chriswmackey  @mostaphaRoudsari

Gentlemen yesterday I tried to make a circular energy model where the perimeter zone is circular and the core is circular. See below:

![perimeter and core circular](https://cloud.githubusercontent.com/assets/8773483/21230233/e874e996-c2a9-11e6-8381-738a2aa9e37a.jpg)

I found that whatever tolerance I set in the input of the solve adjacency component, the componen

[2016-12-15 16:02] THEtantaarchitect commented on #581
@antonszilasi thank you for your reply
but the thing is i have a 4 storey building with almost 20 zones i used honeybee masstozones components so there are no sliders to change  and i'll do this for other iterations so your comment will be helpful then
but i thought there might be a way to do the same building's 20 zones at one run if possible

[2016-12-15 17:42] antonszilasi commented on #581
@THEtantaarchitect  I'm not really sure what you mean. If you want to post a description on the Grasshopper forum with pictures with a detailed file we will be able to help. You can link your post here.

[2016-12-15 18:00] THEtantaarchitect commented on #581
http://www.grasshopper3d.com/group/ladybug/forum/topics/lighting-integration-for-multiple-zones?xg_source=activity

thank you

[2016-12-15 19:35] mostaphaRoudsari commented on #580
@chriswmackey, there is a major API design issue to implement `toOsObjects`.  OpenStudio objects can only be created under a `Model` object which means to get the OpenStudio string for a surface one needs to initiate an OpenStudio model first, add a zone to a the model, add the surface to the zone and then get the whole model together. Maybe there is a way not to do this but since every OS object

[2016-12-15 19:35] #580 closed

[2016-12-15 19:39] mostaphaRoudsari commented on #583
It doesn't have to do with tolerance. It's happening because the center of the core and perimeter are the same. You need to break down the perimeter zone into pieces (North, East, West, South) and then it will work. This is a very unique, and from energy modeling point of view wrong, form of perimeter and core zone.

[2016-12-15 19:39] #583 closed

[2016-12-15 19:43] mostaphaRoudsari commented on #582
Regardless of why this is happening how does this make an error? Once you create a new honeybee object this will work just fine.

My guess is that you have internalized Breps which used to be HBObjects and since you haven't closed both Rhino and Grasshopper the ID still matches the objects ID in sticky. If you close both Grasshopper and Rhino this will be reset. In any case this is just working as

[2016-12-15 19:49] mostaphaRoudsari commented on #581
@THEtantaarchitect see this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topics/pick-sensor-for-annual-dl-analysis-in-multiple-zones?xg_source=activity

By default honeybee generates a separate lighting schedule for each list of points in a separate branch. These schedules can be then used to set up the lighting schedule for each zone. You should only make sure that the input for t

[2016-12-15 19:49] #581 closed

[2016-12-15 22:05] #582 closed

[2016-12-15 22:05] antonszilasi commented on #582
@mostaphaRoudsari  ok good to know, you are right its not going to cause chaos! So let's just close the issue.

[2016-12-15 22:11] antonszilasi commented on #580
@mostaphaRoudsari  Ok if you think that the best way to go about things then thats what I'll do. However where does this leave Honeybee +? When can we expect to use OpenStudio with it?

[2016-12-18 12:56] ayezioro opened #584 "readTHERM - meshValues vs mesh faces (wish)"
Hi,
Trying to define my own title for a THERM simulation i've noticed that the number of values is different than the number of faces. Being so, i can't use the reColorMesh component to give my own title ... or even bake the results as with other simulations.
My wish, if what i described is correct, is to fit the mesh and the results as in other simulation types.
Thanks,
-A.

[2016-12-18 21:32] boris-p commented on #414
hi @THEtantaarchitect , as long as the ill files match in terms of the number of test points it should work.

[2016-12-20 22:45] chriswmackey commented on #572
@antonszilasi ,
Yes, that's how the GHPython compiling usually works.  Part of the increased speed with the new Ladybug is that there should be less compiling time overall as the library gets loaded once.
-Chris

[2016-12-20 22:48] chriswmackey commented on #583
I agree with @mostaphaRoudsari that this is not the correct way to zone a space like this.  Also, your edit @antonszilasi , is not fixing the issue as the zone is essentially making the zones adjacent to themselves.

-Chris

[2016-12-21 00:30] chriswmackey commented on #584
@ayezioro ,

You bring up a good point here.  The mesh that THERM generates to perform the finite element heat flow simulation is not structured in the same way that our other meshes are in LB+HB.  Notably, each vertex of a THERM mesh has its own color while each face of a LB+HB mesh has its own color.  This is the reason why the recolor mesh component does not work with the THERM meshes.

I can t

[2016-12-21 00:32] chriswmackey commented on #579
This issue was solved on the GH forum

[2016-12-21 00:32] #579 closed

[2016-12-21 06:42] ayezioro commented on #584
Thanks Chris,
Option 2 is the preferable one since it will align with the standards of LB+HB.
Is not only the title issue but also the whole other possibilities the recolorMesh enables. So, it is not "urgent". Whenever it comes it will be welcomed.
Thanks again,
-A.

[2016-12-23 15:10] yenhsuanho opened #585 "About Path"
hello @mostaphaRoudsari ,

I followed the steps of tutorial video,
(SFDUG July 2016: LadyBug | A Parametric Environmental Plugin for Dynamo)
but now I am getting the error  about "Run radiance simulation"

(As shown in the attached file)
How can I achieve this?
Thank you very much!

![w1](https://cloud.githubusercontent.com/assets/22050885/21456669/d3fe14b2-c964-11e6-88e8-44068eee2fa6.png)

[2016-12-23 15:30] mostaphaRoudsari commented on #585
@yenhsuanho if you read the error message you can see that the component fails to create the folder since you typed an illegal path. try: `c:\12ladybug` instead of **:** c\12ladybug. The **:** is in the wrong place.

[2016-12-23 15:30] #585 closed

[2016-12-23 15:37] yenhsuanho commented on #585
thank you @mostaphaRoudsari
but still not work
![w1](https://cloud.githubusercontent.com/assets/22050885/21457226/8e1afa9c-c968-11e6-9cbc-84a23a4f02e0.png)

[2016-12-23 15:57] mostaphaRoudsari commented on #585
Do you have Radiance installed in c:\radiance? It's not currently part of the installation and you have to install it separately.

[2016-12-23 16:01] mostaphaRoudsari commented on #585
Also please post issues related to dynamo to https://github.com/ladybug-analysis-tools/honeybee-plus/issues
Thanks!

[2016-12-23 16:03] yenhsuanho commented on #585
oh .. I did not install radiance
Where can I download this ?
Thank you very much!

[2016-12-23 16:08] mostaphaRoudsari commented on #585
https://github.com/NREL/Radiance/releases/download/5.0.a.12/radiance-5.0.a.12-win64.exe

Make sure to install it to c:\radiance and not c:\Program Files\radiance which is the default installation path. You may also need to recreate the recipe so it picks up the new path.

[2016-12-23 16:25] yenhsuanho commented on #585
I  installed radiance ,but still not work
can you check it for me ?  thanks you
![default](https://cloud.githubusercontent.com/assets/22050885/21458185/6af1dd04-c96f-11e6-817d-77f9d7f07ad9.png)

![w3](https://cloud.githubusercontent.com/assets/22050885/21458132/03d53b48-c96f-11e6-8a58-75e325640a2b.png)

[2016-12-23 16:25] mostaphaRoudsari commented on #580
@antonszilasi the energyplus/openstudio integration is not implemented to Honeybee[+] so I still don't know. As I mentioned we first need to figure out how to address the API design issue before implementing it to honeybee[+]. In any case I think your case is much easier to address if you use the current honeybee implementation.

[2016-12-23 16:34] mostaphaRoudsari commented on #585
Hmmm. My best guess is that radiance path is not added to your system, so the radiance run fails and you don't get the results.

Sorry for all the issues. Honeybee for Dynamo is pretty beta at this point. All of these issues will be addressed in the next release. You need to add c:\radiance\bin and c:\radiance\lib to PATH and RAYPATH. Radiance installation should do it for you by default but seems

[2016-12-23 16:53] yenhsuanho commented on #585
thank you for your help @mostaphaRoudsari
I'll try again

[2016-12-24 09:24] yenhsuanho commented on #585
hello @mostaphaRoudsari ,
I succeeded in the step you told me thanks so much! And one more question,
Is it possible to put the illumination(lux) into the Excel, which means to export the result to Excel form?
Hope to hear from you soon !
![11](https://cloud.githubusercontent.com/assets/22050885/21466254/cf430362-c9fd-11e6-9494-4f9e65cb35d0.png)

[2016-12-25 02:32] mostaphaRoudsari commented on #585
@yenhsuanho, nice!
yes. you can. Just take the values from run daylight analysis node and write them to excel. You can both use Dynamo nodes or one of the available packages for Dynamo to write it to excel.

[2016-12-27 16:43] antonszilasi commented on #580
@mostaphaRoudsari  thanks. A few more questions however, I managed to get the Honeybee+ example file working by loading the modules in using the load_source import methods. See:

![load source](https://cloud.githubusercontent.com/assets/8773483/21503260/b65e7bcc-cc1b-11e6-87a1-0dae046c48c3.JPG)

I realize that this is not the correct way to point python to the modules and instead there should actu

[2016-12-28 23:11] mostaphaRoudsari commented on #328
Started addressing this. I couldn't export a revit gbXML with thermal properties. It only exports the names. There is also no schedule, and loads. @arkdanielnielsen do you know if there is a better way to do this?

![image](https://cloud.githubusercontent.com/assets/2915573/21533497/1d930d9a-cd29-11e6-8918-e78356eb24b1.png)

[2016-12-30 03:06] #328 closed

[2017-01-02 01:11] chriswmackey commented on #584
@ayezioro ,

I just added this capability to the recolor mesh component:
https://github.com/mostaphaRoudsari/ladybug/commit/eaae3ae1b3dac9e0c5b645054a5fdf21d0c562cc
![recolorthermmesh](https://cloud.githubusercontent.com/assets/5567574/21583805/4c43ed3e-d05e-11e6-89e0-716d430b63fb.JPG)

You can find a file showing how to use it with the THERM meshes here:
https://www.dropbox.com/s/rz9vzjm69a707s4/

[2017-01-02 01:20] mostaphaRoudsari commented on #584
@chriswmackey this is pretty cool! Opens up new possibilities.

[2017-01-02 04:37] ayezioro commented on #584
This is great Chris!!
Thanks,
-A.

[2017-01-02 05:11] chriswmackey commented on #544
I forgot to close out this issue after changing the HVAC systems to be their own class.  All is good now.

[2017-01-02 05:11] #544 closed

[2017-01-02 05:15] chriswmackey commented on #552
@antonszilasi ,

I am closing out this issue because I am pretty sure that the defaults of OpenStudio would be following ASHRAE.  Let me know if you think this is wrong.

-Chris

[2017-01-02 05:15] #552 closed

[2017-01-02 05:18] chriswmackey commented on #441
The general consensus seems to be that I should not integrate these objects but I should include an option to generate the window frame shading geometry.  I will do this soon before the next stable release.

[2017-01-02 05:18] #441 closed

[2017-01-02 07:07] chriswmackey commented on #449
This is done!
https://github.com/mostaphaRoudsari/honeybee/commit/76c67ebac812e213093918bc4ed3281656f04f19

[2017-01-02 07:07] #449 closed

[2017-01-02 16:45] arkdanielnielsen commented on #328
hi @mostaphaRoudsari No easy way to get thermal prop, only through Green Building Studio... :/

[2017-01-02 17:36] chriswmackey commented on #584
Glad that you guys like it.  There are a few other small visualization capabilities that I wanted add before the next release. Stay tuned!

[2017-01-03 04:43] chriswmackey commented on #584
@ayezioro ,

I will give the Rhino 6 a try once I get the chance.  I am using a lot of Rhino's geometry functions to help clean up the inputs so it does not surprise me that there might be some new issues.  I have integration with the new THERM CLI at the top of my list and this is the next one in terms of THERM support.

Also, check out what we can do with the new contour component:
![contourther

[2017-01-03 05:52] ayezioro commented on #584
This is not good ... this is VERY good!!!
-A.

[2017-01-03 20:15] mostaphaRoudsari commented on #328
Hi @arkdanielnielsen, Thanks. That's what I figured. There is a construction name but no details.

[2017-01-03 21:21] ayezioro commented on #584
A small bug report.
Choosing option 2 for _contourType_ (labeled lines) gives you the following error if no legendPar is provided:
Runtime error (ValueErrorException): max() arg is an empty sequence
Traceback:
  line 2679, in gradientColor, "<string>"
  line 176, in main, "<string>"
  line 369, in script
-A.

[2017-01-04 02:07] chriswmackey commented on #584
Thank you @ayezioro , the great catcher of bugs!
It is fixed:
https://github.com/mostaphaRoudsari/ladybug/commit/5145e6854fd6026a7e544505f3c7e1c60f7b0e43

[2017-01-04 02:07] #584 closed

[2017-01-12 11:07] hwoehrle opened #586 "CreateHBSrfs Nov_04_16 doesn't accept BREPs"
Hi Mostapha,

when i connect CreateHBSrfs Nov_04_16 with a brep i get an error "You need a newer version...". Honeybee is updated with the update-tool.

if i replace the userobject with version  Aug_10_2016 everything works as expected.

Best regards,
Heiko
![error_createhbsrfs](https://cloud.githubusercontent.com/assets/22678487/21887271/98124800-d8bf-11e6-89d4-9627d537e435.png)

[2017-01-12 12:53] hwoehrle commented on #586
sorry, my fault. I did not realize that i have to replace the honeybee_honeybee component after running an update...

[2017-01-12 13:02] chriswmackey commented on #586
@hwoehrle ,
Glad that you see how the component warnings are intended to work. You can also set a True boolean to the updateThisFile_ option on the Honeybee_Update Honeybee component to sync all of your components on the canvass with the github.
-Chris

[2017-01-12 13:02] #586 closed

[2017-01-12 13:04] hwoehrle commented on #586
Great, thanks for this hint. I already started to replace the components manually... :-)

[2017-01-16 16:59] antonszilasi commented on #398
@mostaphaRoudsari  @chriswmackey

I was hoping to use a value list for both the climates and the and the standards like the bldgPrograms value list. See below:

![climate zone and construction set](https://cloud.githubusercontent.com/assets/8773483/21991652/0f523a9e-dbd9-11e6-9a5e-79c334fdf7aa.JPG)

Unfortunately, while the building types are consistent in the OpenStudio_Standards.json ("Office","

[2017-01-16 17:05] mostaphaRoudsari commented on #398
Hi @antonszilasi, Thank you for looking into this. I believe there has been a lot of progress on this during the last year: https://github.com/NREL/openstudio-standards

@asparke2 or @macumber can hopefully help us to find the right way to get the construction set based on climate zone and building type.

[2017-01-17 05:05] arif-hanif commented on #567
@mostaphaRoudsari @chriswmackey i am going through same challenges will be sure to share anything i learn as well

[2017-01-17 16:37] antonszilasi opened #589 "Unreadable code line in EPConstruction component"
@mostaphaRoudsari @chriswmackey

I have to convert your code in the EP construction component to the enhancement I am working on at https://github.com/mostaphaRoudsari/Honeybee/issues/398

line 123 in this component is unreadable to me, I understand what exec does but I can't understand what:

`exec('materialName = ' + layerName)`

is doing furthermore I can't replicate it in my own code. Can you

[2017-01-17 17:10] mostaphaRoudsari commented on #589
@antonszilasi can you help me to understand why do you need to make any changes to the component to address #398?

To answer your question the code is trying to get the value for each input of the component. The number of inputs for this component and hence the number of input variables in GHPython can change dynamically. For instance if you have two layers, variables will be `_layer_1_` and `_lay

[2017-01-17 20:08] antonszilasi commented on #589
@mostaphaRoudsari

I am not making changes to the EP construction component, I simply trying to move the pieces of code that put together the EP construction definitions, so that the line of code:

`added, materialName = hb_EPMaterialAUX.addEPConstructionToLib(materialName, overwrite = True)`

Can place the constructions in the Honeybee Hive

[2017-01-17 20:38] #589 closed

[2017-01-17 23:34] mostaphaRoudsari commented on #589
@antonszilasi all the constructions and materials from OpenStudio library has been already added to Honeybee. It's not under hive but you can access them by name. Can you share a little bit more of what are you currently trying to do? You just need to do something similar to setEPConstruction component. Take a look how does Honeybee updates the construction based on surface type. That should give

[2017-01-18 04:19] antonszilasi commented on #589
@mostaphaRoudsari

Thanks that was foolish of me I didn't check to see if the OpenStudio materials were already added or not.  I just assumed that, they had not been.

As I've described here https://github.com/mostaphaRoudsari/Honeybee/issues/398, I want the user to specify the climate and standard and the constructions will be assigned by default.

Assuming that **all** the OpenStudio constructio

[2017-01-18 13:01] mostaphaRoudsari commented on #589
It is a fair assumption. All you really need to do is to find the construction set based on climate zone and building type and then assign them (the construction) to each surface. The challenge is to get the right construction set from the json file.

[2017-01-19 15:17] NallaV opened #590 "PMV Microclimate map - Zones with irregular shape"
I am not sure if this is a bug or if the component only works for rectangular rooms.
I tried to calculate the PMV for 4 zones and I got the msg "The calculation has been terminated by the user" out of the "Microclimate Map anaysis" component. I realized it was because of one zone that is not rectangular but rather "T" shaped. The calculation worked for the rest of the zones.

[2017-01-20 13:33] Aurelien-K commented on #118
Dear Mostapha,
I have a question related to this issue (I guess):
when I try to set a daylight control in SetEPZoneThreshold component, the runEPcomponent tells me to use the Export to OS component instead to account for that control. Question are the following:
- What are the differences ?
- Could that be taken into account in the EP energy simulation ?

Thanks for your work !

[2017-01-20 13:37] chriswmackey commented on #590
@NallaV ,

The microclimate map analysis is intended to work with all possible zone geometries, although E+ can only do simplified solar distribution calculations for T-shaped rooms (note that the microclimate map workflow still runs with this simplified solar).  In any case, you should not be getting that error and it is either happening because:
1) You have a mis-match between your versions of t

[2017-01-22 14:37] NallaV commented on #590
Okay. The error was occurring because this zone's name included the letter "ö". I could never imagine that the zone name was somehow included in the PMV calculation. I usually avoid using letters other than standard Latin alphabet since I encountered errors before but this was an automated process so it took me a while to figure it out. The weird thing is that I had no problems with the Energy+ ca

[2017-01-24 08:00] devngc opened #592 "Simulating Street Lights"
Hi @sariths,

I am reaching out with a question today.

When we perform illuminance simulation for a street light, should we not account for possible diffusion due to air pollution? If yes, what will be the best way to do that? Do we have some factor that we can use?

Thanks,
Devang

[2017-01-24 18:50] sariths commented on #592
Hi @devngc,

Great question! There are actually no specific provisions within conventional lighting simulations to **photometrically mimic** the effect of pollution. As such, I am not aware if any lighting regulations call for it. AGI32, the lighting simulation software used by virtually every lighting engineer in North America, is a radiosity-based engine. So, surfaces have to be physically prese

[2017-01-25 07:13] devngc commented on #592
Thank you very much @sariths!
That is exactly what I was looking for. Thanks a lot.
-Devang

[2017-01-25 07:14] #592 closed

[2017-01-25 08:34] NallaV opened #593 "E+ output in different order than the input zones"
I was running a simulation that included 16 zones and I realized that the results out of the ReadEPResult or ReadEPSrfResult component were not in the same order as the zones.

My zones were named with a single number from 0 to 15. Even thought the zones were in numerical order (0,1,2,3,4....), I noticed that my results were appearing in order starting from 10 instead of 0 (10,11,12,13,14,15,0,1,2

[2017-01-26 01:43] mostaphaRoudsari commented on #148
http://www.grasshopper3d.com/xn/detail/2985220:Comment:1677965

[2017-01-26 06:55] ayezioro opened #595 "HB_ThermalAutonomy - _totalThermalEnergy_ input"
Hi,
I've found a small bug in the ThermalAutonomy component.
As it is now it complains about:

Changing lin3 347 from:
    if _totalThermalEnergy_.BranchCount > 0: checkData3, checkData4, totEnergyUnits, totEnergyHeaders, totEnergyNumbers, totEAnalysisPeriod = checkCreateDataTree(_totalThermalEnergy_, "_totalThermalEnergy_", **_"Total Thermal Energy"_**)

to:
    if _totalThermalEnergy_.BranchCoun

[2017-01-28 18:54] chriswmackey commented on #595
Thank you @ayezioro ,
This must have been a bug from several months ago.  I've just fixed it now:
https://github.com/mostaphaRoudsari/honeybee/commit/d68ac5eb02d1444410c2bf76fda210dad7002226

-Chris

[2017-01-28 18:54] #595 closed

[2017-01-28 19:53] chriswmackey commented on #148
I posted a response of why I don't think the SQL is a good way of addressing the issue brought up in the GH discussion (and showed the better way to address this issue with the custom result reader now).  Feel free to reopen the issue, @mostaphaRoudsari , if you think I'm misinterpreting anything or if you have reasons for why the SQL method is better than the one that I posted.

[2017-01-28 19:53] #148 closed

[2017-01-28 20:25] chriswmackey commented on #593
@NallaV ,

Thanks for posting this.  It would be good to understand why this is happening and see if there is some way that I could correct it.  Would you mind posting a GH file that recreates the issue of the initial disordering?

-Chris

[2017-01-28 20:48] chriswmackey opened #597 "Simulating the Double-Slit Experiment with Radiance?"
@sariths and @mostaphaRoudsari ,

I have to admit that I am asking this question while only having a tangential practical application in mind.  Part of it is because I want to know if Radiance is accounting for the "dappling" or diffraction of light around some louvers on a project at my office, which seems to be the case from these high quality renderings:
![image](https://cloud.githubusercontent

[2017-01-28 20:49] chriswmackey commented on #592
@devngc and @sariths ,
Really great question and answer.  Thank you both for the intellectual stimulation!

[2017-01-29 01:30] sariths commented on #597
Hi @chriswmackey to quote the glossary from Rendering with Radiance..

"**diffraction**: The deviation &om linear propagation that occurs when light passes a small object or opening. This phenomenon is significant only when the object or opening is on the order of the wavelength of light, between 380 and 780 nanometers for human vision. For this reason, diffraction effects are ignored in most rend

[2017-01-29 16:00] chriswmackey commented on #590
Ahh, Thanks for sharing the fix and non-Latin letter can definitely cause issues.

I would not have immediately guessed that having non-standard letters in the zone name would affect the PMV microclimate maps but I can tell you that the microclimate maps pull A LOT of data off of the zones.  In addition to the outputs from the Read EP Result component the list of zone properties includes but is no

[2017-01-29 16:00] #590 closed

[2017-01-29 16:47] mostaphaRoudsari commented on #148
@chriswmackey I read your response and as you said it addresses all we need currently. I think we still will be developing the functionalities to read sql files for Honeybee[+]. I understand your concerns about the speed of the process but at the same time it's an efficient way of parsing results for larger files. Let's discuss this more when we are in the place to get this implemented.

[2017-01-30 13:01] chriswmackey commented on #148
@mostapharoudsari ,
Sounds good. I agree that there is value in using the SQL format, especially if it allows us to easily do things like import all results for 1 zone in a multi-zone model or import results for just 1 HVAC node without having to import the hundreds that can existing in a model. I think that we need to fuse it with the way we request inputs for the CSV format, though, so that peop

[2017-01-30 13:55] chriswmackey commented on #148
I made a new issue here:
https://github.com/ladybug-analysis-tools/honeybee/issues/123

[2017-01-30 23:51] chriswmackey commented on #597
@sariths ,

Thank you for the explanation and your reason for the graininess of the rendering makes sense.  I think I must have never realized how small the slits of the double slit experiment are.  Also, I must have really misinterpreted the applicability of light diffraction to everyday issues.

Is it safe to say, then, that the dappling of light and fuzziness of shadow definition that happens a

[2017-01-31 03:04] sariths commented on #597
Hi @chriswmackey,

The main cause of fuzziness in shadows is due to multiple sources of light (primary source and their secondary derivatives). This effect can be demonstrated in Radiance ..(this has always been an afterthought to me, but I am going to get this to work in a test render and update it here soon).

I'd say that most things that we are interested in measuring from a photopic perspecti

[2017-02-01 15:51] mostaphaRoudsari commented on #398
This is how OpenStudio itself does it under the hood: https://github.com/NREL/openstudio-standards/blob/master/openstudio-standards/lib/openstudio-standards/standards/Standards.Model.rb

I'm still not sure how constructions_sets helps the whole process in finding the right constructions.

[2017-02-01 16:36] macumber commented on #398
The constructions end up as a big look up in [this file](https://raw.githubusercontent.com/NREL/openstudio-standards/master/openstudio-standards/data/standards/OpenStudio_Standards_construction_properties.json).  Then once you find the construction for the climate zone/standard you want, you can look up the construction in [this file](https://github.com/NREL/openstudio-standards/blob/master/openst

[2017-02-01 16:54] mostaphaRoudsari commented on #398
Hi @macumber! Thanks. GitHub has removed the last part of your comment but you have already discussed the part that we're facing the issue. I see what has changed now. Constructions are not named based on the standard anymore! Now everything is much more clear. This forces a re-write to our API but I think it totally worth it and is much cleaner than what we do right now. I will be working on this

[2017-02-02 18:51] Omidmr opened #598 "Honeybee Runtime error Invalid integer literal"
Hi @mostaphaRoudsari  and @chriswmackey,

I got this error after update.
Runtime error (ValueErrorException): Invalid integer literal
Traceback:
  line 9049, in <lambda$223>, "<string>"
  line 9049, in script

![new text document](https://cloud.githubusercontent.com/assets/11173265/22563356/7b0b6cd2-e995-11e6-8469-9edb3a4b69db.PNG)

King regards,
-Omid

[2017-02-03 02:04] mostaphaRoudsari commented on #598
@Omidmr can you try the new version? I just made a modification in the method that finds OpenStudio installation version.

[2017-02-03 08:25] Omidmr commented on #598
@mostaphaRoudsari, yes. I reinstalled the new version of Honeybee and update that.
Without any change. The error persists yet.
Thanks.

[2017-02-03 11:38] Omidmr commented on #598
@mostaphaRoudsari ,
Update: I reinstalled the OpenStudio. The error was fixed!
for But I do not know why did it happen?
many thanks for taking the time to answer.

Please reopen this issue if another issue exists.

King regards,
-Omid

[2017-02-03 13:17] mostaphaRoudsari commented on #598
Hi @Omidmr! Thank you for checking. Can you tell me where was OpenStudio installed initially before you re-install it? I'm trying to understand how does the script fail to find the version.
At the minimum we need to have an exception for this error.

[2017-02-03 13:48] Omidmr commented on #598
Hi @mostaphaRoudsari, You're welcome.
That locate the same path and same version before and after.
In this path:  C:\Program Files\OpenStudio 1.14.0
It was a little strange. For solving the problem that was necessary to refresh the OpenStudio(Uninstall and Install).
Thanks,
King regards,
Omid

[2017-02-05 02:33] chriswmackey commented on #597
@sariths ,

Thank you for all of the information and it took me some time to soak it all in.  The explanation of fuzziness makes sense and I can clearly visualize now that much of the fuzziness that we see from shadows in sunlight results from the diffusion of light as it enters the atmosphere and the fact that not all sunlight is coming from a single point in the sky.  This results in a "multiple

[2017-02-05 02:41] chriswmackey commented on #398
@macumber ,
This is much more organized than the previous version and I'm excited to get this implemented on Honeybee[+] if not sooner.
I also echo @mostaphaRoudsari 's sentiment here.  Your support has enabled so many things that would not have been possible otherwise.  Thank you!!!

[2017-02-05 04:48] sariths commented on #597
@chriswmackey
I am hardly the Radiance expert to have a definitive opinion on this matter. However, based on what I have learned till now, I agree with you that with the exception of the wave-like properties of light, most of the other phenomena, especially from a geometric optics perspective, can be simulated with Radiance. As you recalled, I had mentioned during the workshop that Radiance can si

[2017-02-06 03:00] chriswmackey commented on #597
@sariths ,
This is very cool.  It is good to know that underwater renderings might be already possible and it is just pending validation.

[2017-02-06 03:46] #598 closed

[2017-02-06 04:21] mostaphaRoudsari commented on #547
@chriswmackey I believe you have done this already and this can be closed.

[2017-02-06 04:22] mostaphaRoudsari commented on #467
This has been fixed for sometime now.

[2017-02-06 04:22] #467 closed

[2017-02-07 13:43] NallaV commented on #593
Hi Chris,

I am sorry fot the delay. Here is an example (I couldn't upload it directly):

https://dl.dropboxusercontent.com/u/70479514/pub/Example.gh

I used a rather strange way to see if the zones' outputs are in the correct order as the initial zones. I compared the window area per zone. You can run the simulation with both sets of "ZONE NAMES" I have in the example and check the result.

//Nal

[2017-02-08 08:25] TheodoreGalanos commented on #545
Hi,

Do we have any news on this? I just made a model using quite a lot of mirror and move HB zone components and got this error quite a lot.

Another thing that came up (not sure if I should open a new post) is that the zone names were becoming too long for E+ to handle, but not sure if this is even a problem.

Kind regards,
Theodore.

[2017-02-08 22:13] antonszilasi opened #600 "Daylighting controls with conditioned and nonconditioned zones"
@mostaphaRoudsari

I found that daylight controls only appear when zones are conditioned: See the code here:
https://github.com/mostaphaRoudsari/honeybee/blob/master/src/Honeybee_Export%20To%20OpenStudio.py#L3808-L3811

Wouldn't it make more sense for the controls to appear regardless of the whether the zones are conditioned or not?

[2017-02-08 22:27] mostaphaRoudsari commented on #600
@antonszilasi thanks for reporting this. @chriswmackey has implemented this and knows more. I had a quick look and I think you're right but again Chris is the right person to comment on this.

[2017-02-10 01:24] chriswmackey commented on #545
@TheodoreGalanos ,
It was killing me that we were about to do the release and we were leaving these components in WIP that only required a simple fix.  I have gotten them working now with this commit and I've taken them out of WIP:
https://github.com/mostaphaRoudsari/honeybee/commit/ff51c5dd1c09df35dc2d5e8c1cffe9dcdd720145

Also, while I was at it, I shortened the unique identifier that gets added

[2017-02-10 01:24] #545 closed

[2017-02-10 01:28] chriswmackey commented on #600
Thanks for catching this bug @antonszilasi .  I just fixed it:
https://github.com/mostaphaRoudsari/honeybee/commit/9e7495ce2838ada0abdf81de1cecc5489f098933

[2017-02-10 01:28] #600 closed

[2017-02-10 01:36] chriswmackey commented on #593
@NallaV ,
Thank you for the very well-organized file.  Unfortunately, I was not able to run it because the zone geometry in the file was not closed:

![image](https://cloud.githubusercontent.com/assets/5567574/22810445/d3d281c2-ef06-11e6-8133-7e6aff4695f2.png)

Perhaps this may be the underlying cause of the issue?  Or maybe the incorrect geometry was internalized?

-Chris

[2017-02-10 13:45] jankiv opened #601 "Honeybee IES Luminaire Component Dimensions Error"
Hi, I am trying to run an electrical lighting simulation for light trespass from multiple indoor lighting types.
I have IES files for three lighting types, of which two are recessed fixture types. I am unable to run the simulation because of the following error: 1. Solution exception:The luminous dimensions for the specified luminaire are (-0.5,0.0,0.0). This format, which is neither rectangular n

[2017-02-10 15:35] chriswmackey commented on #601
@jankiv ,
I thought that I had revised the component so that it would still run in cases of different luminaire geometry but I could be mistaken.  If you could post a link to the IES file that you are trying to run, I can recreate the issue on my machine and fix the issue.

-Chris

[2017-02-11 16:10] chriswmackey commented on #547
Yes, this is done!  Closed!

[2017-02-11 16:10] #547 closed

[2017-02-12 12:53] devngc opened #602 "Set Ep Air Flow possible Bug"
on [this](https://github.com/mostaphaRoudsari/honeybee/blob/master/src/Honeybee_Set%20EP%20Air%20Flow.py#L509) line, should it not be windDisCoeff == 1 ?

[2017-02-12 13:11] mostaphaRoudsari commented on #602
Thanks @devngc! I think it is a bug but let's wait for @chriswmackey's input.

[2017-02-12 17:36] chriswmackey commented on #602
Thank you very much for catching this @devngc ,
I just fixed it here:
https://github.com/mostaphaRoudsari/honeybee/commit/86122238d210f48ae102140a6cadc4d96dd3a973

[2017-02-12 17:36] #602 closed

[2017-02-12 19:05] devngc commented on #602
Thank you @chriswmackey!

[2017-02-15 12:14] NallaV commented on #593
Hmm.. weird... Check this one. I updated it to the latest version of HB as well.

https://dl.dropboxusercontent.com/u/70479514/pub/Example%20(1).gh

//Nala

[2017-02-15 17:10] jankiv commented on #601
Thanks @chriswmackey ,

The IES files I was using is as follows: http://www.intenselighting.com/product/iholc6dr/

I ended up downloading IESViewer (http://www.photometricviewer.com/?i=1) and editing the IES file to change the luminare dimensions from negative to positive, as well as revising the zero values.  I think the component doesn't like negative or zero values because I was able to view th

[2017-02-15 17:47] mostaphaRoudsari commented on #601
cc: @sariths

[2017-02-15 20:14] THEtantaarchitect opened #604 "read results for multiple zones day lighting analysis"
i'm trying to read the lighting analysis results for multiple zone in order to use it as schedules in HBZones for energy analysis
the process as i understand is as follows:
1 Honeybee take the model to radiance and day sim to do the analysis and come back with results to grasshopper
2 Honey bee read the lighting results and add it to "HBzones"  before energy analysis
3 HBzones delivered to energy

[2017-02-15 22:31] sariths commented on #601
Hi @chriswmackey and @jankiv ,

The Honeybee scripts for electric lighting are based on IES L63-02. The luminous shape described in that ies file (-width, 0 , 0) is not defined in LM-63-02 and that is the cause of error. I tried out this file on a couple of different softwares and it seems that manufacturers assume the shape to be (-width, -width, 0) in such cases.

Attached is a quick-fix for thi

[2017-02-16 16:03] NallaV opened #605 "Water HVAC systems"
Hello,
I have a project that has a ventilation system along with radiators and chillers. Is there any way I can add water systems besides ventilation? I remember there were some components that could do so. Are they not available any more? Is there any other way to do this? Thank you!

[2017-02-16 18:06] chriswmackey commented on #605
@NallaV ,

Yes, you can simulate 15 HVAC templates with Honeybee.  The templates include hydronic systems like radiant slabs, chilled beams / baseboard, and fan coil units.  See here for how to simulate them:
http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=Customizing_HVAC_Systems&slide=0&scale=1&offset=0,0

If these systems are not exactly what you are looking for, you

[2017-02-16 18:06] #605 closed

[2017-02-16 18:08] chriswmackey commented on #567
Now that the OpenStudio team has addressed both the PINVOKE error and the IDF/gbXML Translators, I'm changing the title of this issue to implement version 2.0 once it's released.

[2017-02-16 18:13] chriswmackey commented on #565
I encountered this issue again today for which it was difficult to use the workaround.  I'd say that this is the last major bug in the project and it really should be fixed soon.

[2017-02-16 18:50] chriswmackey commented on #565
I finally couldn't stand this bug any longer.
Fixed.
https://github.com/mostaphaRoudsari/honeybee/commit/0621e54740237c0016b5f8ef648185b528d7d455

[2017-02-16 18:50] #565 closed

[2017-02-16 19:57] mostaphaRoudsari commented on #565
@chriswmackey thanks for getting this fixed!

[2017-02-16 20:00] NENEN commented on #565
@chriswmackey I will definitely take advantage of this. Thanks!

[2017-02-17 08:37] NallaV commented on #605
Thank you for the reply. I guess that it is not possible to have both chillers and radiant floors at the same time directly in Honeybee. I found the components I meant in an earlier version of HB where you could set the flow rate and capacity of chillers/boilers and everything was part of a plant. I guess that now everything is autosized.

[2017-02-17 12:23] THEtantaarchitect commented on #604
![untitled-1](https://cloud.githubusercontent.com/assets/20110471/23065111/73a1f336-f4d9-11e6-9eb5-654cad7b9d18.png)

a photo illustration of the component crash to get a better picture of it

[2017-02-20 12:45] chriswmackey commented on #605
@NallaV ,

The previous components in Honeybee did not usually work to set the size of components (either because they were broken or the sizing of one component does not change the overall capacity of the HVAC system). I added on variable on the airDetails to hard size the air system from honeybee, which changes everything in the air loop so that you actually see an effect on the simulation. Anot

[2017-02-20 18:16] chriswmackey commented on #604
@THEtantaarchitect ,

That results because of a bug in DAYSIM which has existed for years and no one knows where it comes from. All I know is that it usually goes away if you rerun the results importer component. The new revision of Honeybee will not have this as it is no longer using DAYSIM to run annual analyses.

[2017-02-20 18:16] #604 closed

[2017-02-20 18:21] THEtantaarchitect commented on #604
hi Chris
what are you going to use for annual daylight and when is it going to be released
regards
anas

[2017-02-20 18:27] chriswmackey commented on #604
@THEtantaarchitect ,
@mostapharoudsari will be releasing [HoneybeePlus](https://github.com/ladybug-analysis-tools/honeybee-plus) soon within the next few weeks. It will be a while before we get all of the features of this Honeybee github into HoneybeePlus but the first release will have annual daylight simulations run with just Radiance (and not DAYSIM).
-Chris

[2017-02-20 18:33] mostaphaRoudsari commented on #604
@THEtantaarchitect, @chriswmackey I just addressed this issue during the weekend: https://github.com/mostaphaRoudsari/honeybee/commit/5f6ef6cdc1e6d19cec9cd07182558dd7916fccef

@THEtantaarchitect update your definition and it should work fine.

[2017-02-20 18:56] THEtantaarchitect commented on #604
@mostaphaRoudsari thank you Mustapha very much I'm testing it right now

[2017-02-20 22:38] mostaphaRoudsari commented on #593
is this a related issue?
http://www.grasshopper3d.com/group/ladybug/forum/topics/zonenames

[2017-02-23 12:46] mostaphaRoudsari opened #607 "Daylight analysis crashes for non-planar child surfaces."
http://www.grasshopper3d.com/group/ladybug/forum/topics/rundaylightanalysis-radnonplanarchildsurface-issue?page=1&commentId=2985220%3AComment%3A1698351&x=1#2985220Comment1698351

[2017-02-23 15:36] ayezioro commented on #607
Hi Mostapha,
I put an example with different cases as you asked in the discussion. This is the link:
https://www.dropbox.com/s/n9u0ru21nolg9ll/CurvedWall%2BWIndow_01%2BUniformTestPoints_Cases.gh?dl=0

Now no one of the cases runs, complaining about the truncated octree.

Thanks,
-A.

[2017-02-27 08:56] NallaV commented on #605
Thank you Chris!

[2017-02-27 16:53] mostaphaRoudsari commented on #607
Thanks Abraham. I'm checking the file now.

It's most probably the result of [this change](https://github.com/mostaphaRoudsari/honeybee/commit/0621e54740237c0016b5f8ef648185b528d7d455) made by @chriswmackey. It seems what Chris has done makes sense. Maybe @AntonelloDN's solution covers all the cases and should be used. I'll report back.

[2017-02-27 17:39] AntonelloDN commented on #607
thanks @ayezioro for the example file!

@mostaphaRoudsari I have noted that the case 1 doesn't work because the function "RADNonPlanarChildSurface" is executed twice  (one for each curved surface).

[2017-02-27 17:47] mostaphaRoudsari commented on #607
Hi @AntonelloDN, Thanks for your input. There is a minor fix to Abraham's example. The child surfaces should not touch the edges of the parent surface but other than that if we revert back to the original code before the change that I mentioned only case 1 is going to fail. Your fix, assuming Abraham has already implemented it in the file, introduced a new bug which was writing the child surfaces

[2017-02-27 18:27] mostaphaRoudsari commented on #607
One more issue with the example file in case 1 was the srfName which should have been changed to a list:

![image](https://cloud.githubusercontent.com/assets/2915573/23373976/485525f8-fcf0-11e6-9ec0-92e041974e07.png)

Now all the cases are working fine.

I'll push a fixed version of honeybee_honeybee component to GitHub and will close this afterwards.

[2017-02-27 19:17] ayezioro commented on #607
Thanks a lot Mostapha.
Sorry that i missed this "Multiline" setting in the panel.
-A.

[2017-02-27 21:07] mostaphaRoudsari commented on #607
Thank you for finding the bug and sharing the example file! :)

[2017-02-28 14:00] jankiv commented on #601
Thanks @chriswmackey and @sariths!
Just a quick followup question. Was it okay to modified the dimensions in the IES text file? Or did I end up unintentionally altering the results by changing the shape? Just wondering if I should rerun the analysis we did. Thanks, JV

[2017-02-28 16:59] sariths commented on #601
HI @jankiv , without seeing your gh file its hard to tell with absolute certainty. Since you mentioned that you were running a light trespass calculation, I assume that the light fixture is pretty far from where the measurement points are and therefore we can assume the five times rule (See the "Point Source Approximation" part [here](https://www.intl-lighttech.com/support/basic-light-measurement-

[2017-02-28 17:43] jankiv commented on #601
Thanks @sariths! The links you've shared are very useful! Theyexplain how the photometric files are generated, so I can understand the what adjustments might be harmful vs helpful towards more accurate simulation.

[2017-02-28 18:31] chriswmackey commented on #607
@mostaphaRoudsari ,

I can confirm that your change to the code that closed this issue has brought back the bug that was previously fixed by my edit.  Now, I can no longer assign multiple RadMaterials to the different windows:

Note how the HBSrfs have the material assigned to them but only one of the window RadMaterials makes it into the final rad file.  Here's an example that recreates the issue

[2017-03-01 05:22] TheodoreGalanos commented on #455
Hi,

Does it make sense that I experience this once again after all this time? I've updated to the latest HB/LB, using OS 1.12 I believe.

Kind regards,
Theodore.

[2017-03-01 14:07] chriswmackey commented on #455
OpenStudio has not implemented it yet on their latest stable version (1.14). The honeybee workaround that writes the schedule after translating to an IDF is still there.

[2017-03-03 17:18] Vyrwn opened #608 "Honeybee_Microclimate_Map_analysis PET"
Hi @chriswmackey ,

I was checking the Microclimate Map component because I want to get the effect of vegetation and shading on the MRT and then on outdoor comfort.

The UTCI version works fine, but when i plugged the PET component, there were some errors.

PETComfMtx is not defined
line 1915:
    for lineCount, line in enumerate(PETComfMtx)

same for PETCategoryMtx
line 1928:
    for lineCount, l

[2017-03-03 21:16] chriswmackey commented on #608
@Vyrwn ,
Thank you very much for finding the bug.  This must of happened because of a change that I made in which I forgot to update the PET maps.  I'll merge it in once you send the pull request.
-Chris

[2017-03-04 06:28] willytsw30 opened #609 "Issues with initDS.bat"
I have >300 points of measurements in my project , I believe Honeybee/Daysim will separate the points into three files to work with. However, the worksfiles_InitDS.bat only perform radfiles2daysim for the first part of the points but nothing else after. Therefore, workfiles_1_DS.bat, workfiles_2_DS.bat  and beyond would not run due that.

[2017-03-06 17:50] chriswmackey commented on #608
Also, if you have a GH file that recreates the issue, I can fix if myself (if this would be faster than you sending the pull request).

[2017-03-13 08:53] #609 closed

[2017-03-14 23:17] chriswmackey commented on #601
@sariths  and @jankiv ,

I improved a bit upon your quick fix, @sariths , and I've changed the code such that Honeybee now accepts this type of IES file:
https://github.com/mostaphaRoudsari/honeybee/commit/c4e196b86e292caf78d6c13e188f8aa44c288119

Thank you both for finding this issue and working to fix it!
-Chris

[2017-03-14 23:17] #601 closed

[2017-03-14 23:23] sariths commented on #601
@chriswmackey , Thanks ! It is unlikely (despite what I promised initially) that I would have gotten to this any time soon.

[2017-03-14 23:39] chriswmackey commented on #601
Thank YOU, @sariths .  You did all of the heavy-lifting of figuring out what the luminaire should be.  I wouldn't have remotely known what type of convention they were using otherwise.

[2017-03-15 16:39] antonszilasi opened #610 "Question regarding HVAC functions in Export to OpenStudio component"
@chriswmackey @mostaphaRoudsari

Just a quick question about the openstudio HVAC functions seen here:

https://github.com/mostaphaRoudsari/honeybee/blob/master/src/Honeybee_Export%20To%20OpenStudio.py#L795-L800

Did you adapt any of the code from the OpenStudio measures or did you simply convert all the code seen [here](https://github.com/mdahlhausen/scrappEplus/blob/master/OpenStudio/Measures/ass

[2017-03-17 20:05] chriswmackey commented on #610
@antonszilasi ,

The code in the openstudio HVAC library is very much an adaptation and not a direct translation.  I only took the parts of the ruby code that were relevant to what we were trying to achieve in the Honeybee interface.  Most of the time, this was just to understand basic things like how to create an air loop or plant loop from scratch using OpenStudio SDK.  I also used it as a good

[2017-03-17 20:05] #610 closed

[2017-03-20 06:47] ayezioro opened #611 "Falsecolor link not working"
Hi,
FYI the link in the installing instructions for the falsecolor.exe is broken.

Thanks,
-A.

[2017-03-22 11:51] ayezioro opened #612 "Energy and Comfort Simulations - North issue"
Hi,
I'm not sure by now where to report about this, so i'll start here.
The thing is that the results obtained when the North input is provided (different than the 0 value default) in the HB_exportToOpenStudio are problematic.
All things related to LB and the North are fine and proved. While in HB+E+ things are more like a black box.
We are working with a student on a thermal comfort research for

[2017-03-23 05:51] zhangzhennico opened #613 "Rhino 5 crash when calculate the Psychrometric chart."
I have an issue that rhino 5 crash when I calculate the Psych chart, which is a very basic and simple program. The grasshopper and LH are all the latest version.this is the warming and error below, I would be grateful if any one could give me some suggestions. Thank you so much.

![qq 20170323134839](https://cloud.githubusercontent.com/assets/26587689/24233838/9e27ea0a-0fcf-11e7-99d2-2bc90f5ee11a.

[2017-03-25 17:53] mostaphaRoudsari commented on #613
Hi @zhangzhennico, This is a ladybug issue and not honeybee but regardless this was a bug in Rhino which they fixed two years ago. Try to update Rhino to the latest version and it will work fine.

[2017-03-25 17:53] #613 closed

[2017-03-25 21:04] mostaphaRoudsari commented on #612
Hi Abraham, Is this only an issue with OpenStudio or also happens with the EnergyPlus component?
Meanwhile I will check the idf files in both case to make sure the exported idf file matches in both cases and report back here.

[2017-03-25 23:15] mostaphaRoudsari commented on #612
I checked and there is a discrepancy between OpenStudio and EnergyPlus components only when using a vector. The OpenStudio component doesn't convert the values correctly.

![image](https://cloud.githubusercontent.com/assets/2915573/24326809/900f8fbc-118d-11e7-8c04-6a690182c271.png)

and this is why:
![screenshot 9](https://cloud.githubusercontent.com/assets/2915573/24326883/62c5167e-118f-11e7-85dc

[2017-03-25 23:21] mostaphaRoudsari commented on #612
@ayezioro The type is fixed now. I'm keeping this open as I'm not sure the type was the reason for the bug. Let us know your thoughts.

[2017-03-26 04:04] chriswmackey commented on #613
Thanks for taking care of this @mostaphaRoudsari

[2017-03-26 04:26] chriswmackey commented on #612
Oh, gosh.  This seems like an error that must have come about long ago when the north input was first added to the component.  I can confirm that this should fix the issue because the OpenStudio component uses the same function to read the north vector as all of the Ladybug components.

[2017-03-26 09:41] ayezioro commented on #612
Hi,
I started checking the fix, but ... a new issue arise: The resultsFileAddress output is giving a Null result (the other outputs are ok):
![capture](https://cloud.githubusercontent.com/assets/7526023/24330168/70337926-1221-11e7-8d1a-572f938f88b4.JPG)

Any ideas?
-A.

[2017-03-26 13:39] ayezioro commented on #612
Update on my last comment. Tried another file, with the updated OS component and the output is fine.
As for the previous case, even though the output says Null, the CSV is produced and is functional/
So i don't know why this happens.
I'll try to restart the machine. Maybe it is related (tried already closing GH and Rhino).
-A.

[2017-03-26 13:41] mostaphaRoudsari commented on #612
Thanks Abraham. I didn't change anything but the north input type: https://github.com/mostaphaRoudsari/honeybee/commit/43f703f74137d6d2184cfcd6f1a75abd6ddfd89f so if the error persists that should be for another reason.

[2017-03-27 00:05] chriswmackey commented on #612
@ayezioro ,
Glad that everything is working and I think the issue that you experienced is the result of another change I made recently where I changed the output name to be resultFileAddress instead of resultsFileAddress (to be consistent with the E+ component):
https://github.com/mostaphaRoudsari/honeybee/commit/e7e75ee765b8d1ede64b73fc2fdd562b885b79e5
-Chris

[2017-03-27 03:06] ayezioro commented on #612
Hi Chris,
I've just updated the file and needed to reinsert the OS. Is now working.
I'm in the process of checking, so it is too soon to close this. What i can say so far is that without changing the north the results changed from the previous ones (i mean with the north up. Don't know what tosay.
I'll report more detailed later this week.
Thanks,
-A.

[2017-03-28 00:19] chriswmackey commented on #612
Ok.  Sorry for closing the issue prematurely.

[2017-03-28 08:40] ayezioro commented on #612
Ok guys,
I think i get why the problem is happening ... and it is happening.
This is the last checking i did:
https://www.dropbox.com/s/qy8gzalzb0jqduh/Compare%20North_TCW.pdf?dl=0
You can see there that it was expected to get the same results for both cases (left: north upwards; right: north rotated 90 and the model rotated also). The expected results were supposed to be the same (hope you agree)

[2017-03-28 09:06] ayezioro opened #615 "HB_RotateHoneybee + North issue"
Hi,
While trying to deal with this discussion:
https://github.com/mostaphaRoudsari/honeybee/issues/612
I bumped into the following.
Using the HB_Rotate crashes the OS or E+ simulation. The OS report says:
Runtime error (KeyNotFoundException): test_apartment2_z6
Traceback:
  line 2527, in setAirMixing, "<string>"
  line 3841, in main, "<string>"
  line 3915, in script
Without using the HB_Rotate th

[2017-03-28 13:11] ayezioro commented on #612
A small update,
I need to do some homework again. I see now that the comfort components have a north input ... which i didn't used (shame on me). I'll check and will report back.
Not sure how they deal with the context, in case there is one (it is accounted in the IndoorViewFactor?
-A.

[2017-03-28 14:52] ayezioro commented on #612
This is the "report back".
I created a false alarm. Now that i connected the north input wit the comfort recipe component the results are as expected. See file:
https://www.dropbox.com/s/4psiej7nwihclsz/Compare%20North_TCW_01.pdf?dl=0
What remains open is the other discussion about the HB_Rotate.
Thanks,
-A.

[2017-03-29 03:55] chriswmackey commented on #615
@ayezioro ,
Good catch.  This is, indeed, a bug and I will fix it shortly.
-Chris

[2017-03-29 03:59] chriswmackey commented on #612
@ayezioro ,
Glad that everything is working out.  I know that makes for easy mistakes to have 2 north inputs but it seemed to be the best way of guaranteeing flexibility at the time that I was putting it all together.  In any case, feel free to close out this issue and I will fix the other one that you opened.

[2017-03-29 04:22] #612 closed

[2017-03-29 17:48] ayezioro commented on #611
Hi,
Since i told my students to install all that is need to work with LB+HB, and the links for falsecolor and evalglare are not working i sent them the files. Hope it is fine. Just FYI.
Thanks,
-A.

[2017-03-29 17:54] mostaphaRoudsari commented on #611
Thanks Abraham! If you're installing recent versions of Radiance evalglare is part of the standard distribution. We should probably remove it from the installation process.
Back to FalseColor we need to check the license and if the distribution is permitted, which I think it is, then just copy it to the resources folder.

[2017-03-29 18:00] ayezioro commented on #611
OK. Good to know. I'll take out from my instructions the evalglare stuff.
Thanks,
-A.

[2017-03-29 22:26] chriswmackey commented on #615
@ayezioro ,
This is linked to a larger issue, which is that adjacencies are currently not preserved by the Honeybee transform components.  I think that I can eventually add this in but, for the time being, I would suggest solving adjacency only after you rotate them.  This will fix your issue for the present until I get time to implement the preservation of adjacency.

[2017-03-29 22:32] mostaphaRoudsari commented on #615
@ayezioro, @chriswmackey,

This is by design. Since when you move or rotate a zone there is no guarantee that you're copying all the adjacent components with them. There is no easy way to no if you do. As a result solve adjacency should be re-calculated after using any of the transform components. It seems we don't remove all the data the needs to be removed though.

[2017-03-30 02:03] chriswmackey commented on #615
@mostaphaRoudsari ,
If you rotate or scale all of the zones around a single point, then the adjacency could be preserved and I see multiple cases where this might be useful.  Particularly when building large energy models that eat up memory, I would rather not solve adjacencies twice, which I would have to do if I want to use a transform component after assigning interior constructions.
I agree th

[2017-03-30 04:23] ayezioro commented on #615
Thanks guys,
I think i "can" live with transforming before solving adjacencies :-)
-A.

[2017-03-30 12:22] mostaphaRoudsari commented on #615
@chriswmackey, We can make keeping the adjacency as an option but then we need to update them with the new names and objects once copied, and here is when it gets tricky. Both methods for zone and surface already take `clearBC` as an argument. You can check it [here](https://github.com/mostaphaRoudsari/honeybee/blob/master/src/Honeybee_Honeybee.py#L6451-L6476). If you can find a solid solution to

[2017-03-30 16:29] chriswmackey commented on #615
@mostpaharoudsari ,

I have a solution worked out on my machine and it involves changing the input of the transform components to list access and adding the same uuid to all the names.  I have it working for the rotate component and I just have to add in some checks and apply it to the other transform components. I'll try to take care of this all shortly.

[2017-04-04 08:31] ipekgursel commented on #276
Hi everyone,
I wanted to check if the daylighting controls item is implemented in Honeybee (the last post is from 2015). As Kristoffer pointed out, this is a super fast way of estimating lightinging energy, which I tend to use a lot. I still cannot see a relevant component in HB, so I wanted to ask whether there is anything new.

Thank you, and all the best.

[2017-04-06 19:06] chriswmackey opened #616 "Add A Template for a Radiant Ceiling"
Someone asked for it today and I realized that it will be really easy to implement now that we already have the radiant floor.

[2017-04-10 22:23] chriswmackey commented on #616
Implemented!
https://github.com/mostaphaRoudsari/honeybee/commit/48d398ec56eee31849f2047ef08696661873104c

[2017-04-10 22:23] #616 closed

[2017-04-10 22:28] chriswmackey commented on #608
@Vyrwn ,
I could not recreate the issue on my end and everything is running fine.
![image](https://cloud.githubusercontent.com/assets/5567574/24885255/7824d066-1e1b-11e7-8f63-11c58e57caba.png)

As such, I am closing out the issue and feel free to reopen it if I am mistaken.
-Chris

[2017-04-10 22:28] #608 closed

[2017-04-12 03:20] chriswmackey commented on #382
This issue finished a long time ago and I'm happy to say that all of your suggestion has been implemented @Kristoffernegendahl !  I'm closing out the issue for now.
If you manage to consolidate your material library into a CSV, feel free to post it here and I will work it into the Honeybee THERM Library.

[2017-04-12 03:20] #382 closed

[2017-04-12 03:24] chriswmackey opened #618 "Implement THERM Command Line Interface"
... to run the THERM files directly from Grasshopper.  This was not previously possible but here's a copy/paste from the email that the scientists as LBNL sent me:

[2017-04-12 03:25] chriswmackey commented on #618
Also, see this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1730805&xg_source=msg

[2017-04-12 03:27] TheodoreGalanos commented on #382
Hi @chriswmackey This is pretty cool! Don't want to reopen the issue just wanted to ask if this will involve (in the future) the connection to Energy models.

I seem to remember you saying it's a bit tricky to connect therm materials to E+ simulations. Do you think that can be possible? Additionally, if we can now calculate the construction U value, what would be the best way to connect this infor

[2017-04-12 13:02] chriswmackey commented on #382
@TheodoreGalanos ,
This example file shows the current means of integrating THERM results with a Honeybee Energy Simulation:
http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=Thermal_Bridging_with_THERM_and_EnergyPlus&slide=0&scale=1&offset=0,0
Admittedly, I think the process might be streamlined a bit more but the way I would recommend is by either just plugging in a cal

[2017-04-12 22:29] TheodoreGalanos commented on #382
@chriswmackey Thanks a lot! I hadn't tried that cabapility nor seen the example file.

Will give it a shot.

Kind regards,
Theodore.

[2017-04-13 11:50] mostaphaRoudsari commented on #611
Added it to resources folder and updated the link.

[2017-04-13 11:50] #611 closed

[2017-04-13 18:00] apalapa86 opened #619 "Glazing based on ratio"
Hi ... I was following the video playlist for honeybee, and I seem to be having a difficult time with the glazing based on ration. When I follow the procedure in the video, I kind of get windows that are from floor to floor (See the attached picture), and modifying the window height and sill height does not seem to change anything.

Could someone please help me out here?

Thank You,

Kal.

![image

[2017-04-14 16:36] chriswmackey commented on #619
@apalapa86 ,
This happens because your Rhino model units are likely not set to meters.  Change the Rhino units to meters, recompute your GH canvas, and the windows should be sized correctly.  If this doesn't fix it, upload your .gh file and I'll see if I can re-create the issue on my end.
-Chris

[2017-04-14 16:37] apalapa86 commented on #619
Chris,

Again thank you for responding. I guess I asked the same question on Youtube, and you helped me out there. And it did fix it!

Warm Regards,

Kal.

[2017-04-14 16:38] chriswmackey commented on #619
Ah, good to hear. I'm closing out the issue, then.

[2017-04-14 16:38] #619 closed

[2017-04-17 16:10] malshayeb commented on #593
Hi Chris and Mostapha,
Thank you for your time and the great plugin.
I've the same issue. I noticed that HB does not a sign the results to the correct zones !! I don't know if I'm doing something wrong. If so, please help me to fix it. I attached GH file and I explained the issue here:
http://www.grasshopper3d.com/group/ladybug/forum/topics/zonenames

In addition to what I explained at the link ab

[2017-04-18 12:50] twanito opened #621 "EnergyPlus Daylight Control choice between SplitFlux and DELight method"
Hi,

I've really enjoyed the addition of the Set EnergyPlus Zone Thresholds component to directly change lighting intensity within a room based on daylighting using EnergyPlus! It's been a great help thanks. However I have noticed that it is set to default to the SplitFlux method to calculate lux levels at the control point which is ok but I would like to do a run using the DElight method, which i

[2017-04-18 13:07] mostaphaRoudsari commented on #593
@chriswmackey do you know why this is happening or do you want me to take a look?

[2017-04-18 13:15] chriswmackey commented on #621
@twanito ,
Thank you for posting this.  I was actually not too knowledgeable of the different types of lighting calculations when I added it into Honeybee.  If you need the change right now, you can do it by adding in a line of code from OpenStudio SDK here:
https://github.com/mostaphaRoudsari/honeybee/blob/master/src/Honeybee_Export%20To%20OpenStudio.py#L2634-L2646
How much longer is the calculat

[2017-04-19 11:01] Hk632062562 commented on #548
Hi there I just downloaded openstudio2.1.0  at C:\ and HB 0.061. I also tried to install it at C:\Programfile

but the same happened, i took some screen shot in this post i made:
http://www.grasshopper3d.com/forum/topics/error-honey-cannot-find-openstudio?commentId=2985220%3AComment%3A1735388&xg_source=msg_com_forum

If you know how can i fix  it? please i need it urgently to  be use. Thanks in ad

[2017-04-19 13:59] chriswmackey commented on #548
@Hk632062562 ,
OpenStudio 2.1 just came out a week and a half ago and I only just added support for it in Honeybee this past weekend:
https://github.com/mostaphaRoudsari/honeybee/commit/8748a4b6b9f52c11e37de4941b3e40813324f2cb
Update your components as it says in the GH Group discussion and all should work.

[2017-04-20 18:48] jankiv opened #623 "Issue with Energy+ Model wHVAC using Ideal Air Loads and Microclimate Maps"
I've set up an energy model for an interior space to a building with three zones. Two perimeter and one core. Side walls, ceiling and floor are adiabatic and the energy simulation is set to run with ideal loads. When I run the energy model and use the results to create an annual microclimate map, the temperature range that I see are much lower than the setpoints in my model as if ideal loads are n

[2017-04-21 16:21] jankiv commented on #623
Okay so I've been troubleshooting this further and I think I might have identified the culprit. I used the set to adiabatic surfaces prior to creating an HBzone. Once the zone is created and I check attributes for the zone boundary condition, the surfaces are still reading as outdoors. Could this be a bug?

![image](https://cloud.githubusercontent.com/assets/25178111/25286813/123fa7c4-268d-11e7-92

[2017-04-21 18:03] chriswmackey commented on #615
@ayezioro and @mostaphaRoudsari ,

After giving this a lot of thought, I have realized that it's best to just leave the option of preserving adjacency up to the user and this is what I have done in this commit by adding an extra option onto all of the transform components:
https://github.com/mostaphaRoudsari/honeybee/commit/af2380e6f5347176a3128da2aaa0f961b1400355
![image](https://cloud.githubuser

[2017-04-22 15:16] chriswmackey commented on #615
@ayezioro ,
This has now been addressed:
https://github.com/mostaphaRoudsari/honeybee/commit/62b073d40ab12e642d5fef73f26241909622f4ed
By default, the components will now delete all boundary conditions but if you set keepAdj_ to true, all adjacencies, boundary conditions, and air walls will be preserved.

-Chris

[2017-04-22 15:16] #615 closed

[2017-04-22 15:34] ayezioro commented on #615
Thanks Chris,
So the (recommended) workflow will be: Transform your model as you wish (the whole model and not individual zones) and after that solve adjacencies.
But also the other way around will work (solve adjacencies, Transform the mode + keepAdj_).
Is it right?
Thanks again,
-A.

[2017-04-22 15:53] chriswmackey commented on #615
@ayezioro,
Yes, that is correct.  This also enables you to use multiple solve adjacency components within one workflow.  For example:

Build HBZones for 1 apartment -> Solve Adjacencies for apartment zones -> Move the Apartment Zones to Make Copies for apartments above/below the original zones (keepAdj_) -> Solve Adjacencies for surfaces between apartments (set 'removeAdj' to False).

This way, yo

[2017-04-22 15:55] ayezioro commented on #615
100%.
This is great!!
-A.

[2017-04-22 20:20] chriswmackey commented on #623
@jankiv ,
Thank you very much for finding and reporting this bug.  I have just fixed it:
https://github.com/mostaphaRoudsari/honeybee/commit/59724c5dda0dd1964619303e7382b725401bb144
I had overlooked this one and I usually set surface boundary conditions on the createHBSrf component rather than using the MakeAdiabatic component.

If you sync your components with the github, everything in your file

[2017-04-22 20:20] #623 closed

[2017-04-27 14:00] jankiv commented on #623
Hi @chriswmackey Thanks for looking into this! I updated the file on my end, but I think in doing so I crashed something else. I've been troubleshooting it for 2days/3 nights now. It works once when I run the microclimate map using HOY but when I plug in an analysis period and let it run overnight it freezes and crashes. Errors are shown below. I then have to reconnect all the panels, replace some

[2017-04-27 15:28] antonszilasi commented on #567
@mostaphaRoudsari  @chriswmackey  Hi guys, I'm wondering what the status is here, is the current OpenStudio component code going to work with the OpenStudio component?

[2017-04-27 17:03] mostaphaRoudsari commented on #567
See this: https://github.com/mostaphaRoudsari/honeybee/commit/8748a4b6b9f52c11e37de4941b3e40813324f2cb

[2017-05-02 22:16] twanito commented on #621
Thanks for looking into this. After reading through this my understanding is that the OpenStudio API doesn't give you the option of changing this. It has to be coded into the idf for energyPlus to read. I'll do a test and let you know how much longer it takes. It might be a clunky patch to mod the idf in the HoneyBee workflow though.

[2017-05-03 02:45] chriswmackey commented on #621
@twanito ,
We actually have a whole class in the OpenStudio component that is devoted to writing in stuff that OpenStudio does not currently support (like CSV schedules, natural ventilation, and Earth Tubes:
https://github.com/mostaphaRoudsari/honeybee/blob/master/src/Honeybee_Export%20To%20OpenStudio.py#L3306-L3700
So adding in the DELite method is not a very big deal from a coding standpoint.  I

[2017-05-04 13:19] jankiv opened #624 "Implement Load/Dump HBZones for Ease With Long Microclimate Map Runs"
Hi @chriswmackey Thanks for looking into the "make adiabatic" component (issue #623). I updated the file on my end, but I think in doing so I crashed something else. I've been troubleshooting it for quite some time. I even rebuilt the script I was working on. The script works once, but when I plug in an analysis period or make changes to the EnergyPlus parameters and let it run overnight it freeze

[2017-05-04 19:00] jankiv commented on #624
I think this could be the problem.

I am running the energy model. Setting it to False. Then using a panel with the results file address instead of connecting the "resultFileAddress" output.
![image](https://cloud.githubusercontent.com/assets/25178111/25720224/26eafd48-30da-11e7-9111-d014e5c1e003.png)

[2017-05-06 12:21] chriswmackey commented on #624
@jankiv ,
It looks like the names of zone surfaces are not matching between your HBZones and the simulation results.  Are you plugging in the same exact zones into the "Run Energy Simulation" component as you are the ViewFactorCalculator?

[2017-05-06 12:52] jankiv commented on #624
Yup. The only change I make between the energy model run and the microclimate run is using a panel for the results address instead of the direct output from the energyplus component.

----------
Janki A Vyas

Sent from my iPhone

[2017-05-06 19:06] chriswmackey commented on #624
Ok.  So , assuming everything is working once you reconnect the resultFile to the EP component, I am closing out the issue.  Feel free to reopen it if I'm misunderstanding.

[2017-05-08 02:16] chriswmackey commented on #593
@NallaV , @malshayeb , and @mostaphaRoudsari ,
Sorry for the incredibly late reply here.  I believe that I have fixed the issue as you see here:
http://www.grasshopper3d.com/group/ladybug/forum/topics/zonenames
and here:
https://github.com/mostaphaRoudsari/honeybee/commit/a3ef2ad4f274047b224a267bd7f2970400bd17f9
Let me know if you are still able to get the problem on your end.