[2015-04-13 08:52] jacoposartore opened #326 "Wish - OpenStudio self-updating EP version reference"
Hi there,

I'm opening this discussion following #304.

I wonder if it is possible to add some checks in OpenStudio main component to self update its reference folder of EnergyPlus according to the version of OpenStudio C# library files or the EnergyPlus version installed.

[2015-04-13 23:06] mostaphaRoudsari opened #327 "Keep an eye on No-mass development"
No-mass is a behavior modeling platform for energy simulation which is currently under development.

[2015-04-16 03:47] mostaphaRoudsari opened #328 "import gbXML component"
Multiple people asked me during the conference if we will ever have a gbXML importer so they can run some energy modeling with Honeybee for their REVIT model. I can see the value but am not sure if this is the right approach. REVIT gbxml exporter doesn't really have enough information and I wonder if we should just leave these sort of functionality for a Honeybee for Dynamo at some point?

[2015-04-17 16:26] mostaphaRoudsari opened #329 "Change the screen shots!"
I'm not sure why it is happening but all the images on github page as well as Grasshopper group looks terrible!

[2015-04-18 18:51] arkdanielnielsen commented on #328
Yes please ;)

[2015-04-18 19:49] chiensiTB commented on #328
Mostapha-

Since the openstudio integration has a way to go, I think I will focus on
making the grizzlybear implementation better, as a primary method to
support the community better.

On Sat, Apr 18, 2015 at 11:51 AM, daniel nielsen <notifications@github.com>
wrote:

[2015-04-18 20:11] mostaphaRoudsari commented on #328
@arkdanielnielsen yes please for which one? :)

@chiensiTB I agree. I will assign this to you. It will make so many people happy. We may also want to use OpenStudio's import gbxml method instead of writing our own version of it?

cc: @macumber

[2015-04-18 20:15] chiensiTB commented on #328
Hi Mostahpa-

Most of the code we need is already there in GrizzlyBear.  It will be way
easier this way, just need to figure out how to port the data into Honebee
objects via python.  We already do it the other way around in GB.  I tried
for about an hour at the last hackathon.  I'm sure it will only take a
couple of days.  It may also be a good chance to try and check out the
power of the gbXML v

[2015-04-19 00:54] arkdanielnielsen commented on #328
For both, but it does not matter so much which strategy as long it gets easier. In both cases you need to do something more than just push the button, if you follow me.
But, it would be easier, I suppose if things worked in HB because it is already developed.

[2015-04-19 04:13] ayezioro commented on #329
Yes. It happens, but when you open the image it looks fine. So i'm not sure that changing them will solve the issue.
-A.

[2015-04-19 18:24] arkdanielnielsen commented on #328
@mostaphaRoudsari by the way, I think there will be the same import problems with the zone geometry as with the .idf import as we looked at for a couple of month ago. Because of the zone creator in Revit.

[2015-04-20 00:07] mostaphaRoudsari commented on #329
Ha... You are right. I have no clue why it is happening. They look good on my system! :|

[2015-04-21 02:47] chriswmackey commented on #325
@jacoposartore ,
I will get to this issue once I complete my thesis.  In the mean time, if you can find the names of the outputs in the rdd file produced after running the VAV simulation that would give you the zone level info that you want, that would save me a large amount of time going forward.  I know that there are a lot of different possible outputs that you can request with the VAV system a

[2015-04-21 03:11] chriswmackey commented on #315
I finally got tired of so many users not understanding what was going on.  I added severe errors to the component warning now:
![image](https://cloud.githubusercontent.com/assets/5567574/7245019/8a6227de-e7b2-11e4-989a-20fb80c1e851.png)

Issue closed

[2015-04-21 03:51] antonszilasi commented on #315
Personally I stop the whole component with return -1 and print an error if something is amiss that will cause EnergyPlus to crash - I only just print errors if I assign default values - you've gotta make these things as bullet proof as possible

[2015-04-21 05:35] chriswmackey opened #330 "Make a Component to Separate Srf Data Based on Orientation"
...as per this discussion:

http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1266975&xg_source=msg

-Chris

[2015-04-21 05:51] chriswmackey commented on #329
This is an issue that I have seen all over the grasshopper website starting from a single date when they must have updated the site.  I think that we need to bring it up to David Rutten or someone with a high level of authority.

[2015-04-21 06:21] chriswmackey commented on #315
Thanks for the input, @antonszilasi ,
This change was made specifically for the case where we didn't catch an error before the simulation ran but have found out later from the error report that the simulation was not successful.  I agree that, ideally, we should try to catch everything before running the simulation but we can't guarantee this in all cases (especially some very tricky geometry-rela

[2015-04-21 14:28] mostaphaRoudsari commented on #315
Thanks @chriswmackey! We really needed this.

[2015-04-21 14:40] jacoposartore commented on #315
I have updated the runEnergySimulation component and I think that the warnings are really helpful. Unfortunately, I have found a small glitch: its reporting some severe errors even though there are just warnings:

1. The simulation has not run correctly because of this severe error:
   ************* EnergyPlus Warmup Error Summary. During Warmup: 0 Warning; 0 Severe Errors.
2. The simulation has n

[2015-04-21 14:43] mostaphaRoudsari commented on #315
Thanks @jacoposartore for reporting. This should be an easy fix. I think right now @chriswmackey is looking for Severe in the line so he should make it more specific.

[2015-04-21 14:55] jacoposartore commented on #315
You're welcome @mostaphaRoudsari.

[2015-04-21 15:22] mostaphaRoudsari commented on #315
It should work fine now.

[2015-04-21 15:22] #315 closed

[2015-04-21 15:28] jacoposartore commented on #315
It works now. Thank you.

[2015-04-21 23:16] mostaphaRoudsari commented on #329
Well, the same is happening on github if you check the intro page. I wonder if this is an issue with .png files and changing to jpeg files will solve the issue. What is funny is that the one's on Grasshopper website looks fine on my laptop!

[2015-04-21 23:21] mostaphaRoudsari commented on #328
@chiensiTB you know better than anyone else what would be right approach for this so let's go ahead and do it as you suggested.
@arkdanielnielsen that's true. On the other hand I think this will push Autodesk's team to enhance their exporter. :pray:

[2015-04-22 01:15] antonszilasi opened #331 "Icons for Honeybee generation"
Hi everyone,

As an Engineer I am no artist and I don't know how to use Illustrator, therefore if someone could create icons for the following components which I will be releasing a beta of in the first week I'd really appreciate it. The components are as follows.

- Batteries,
- Inverters for EnergyPlus photovoltaics
- A energy generation system component (Takes individual components such as batt

[2015-04-22 09:02] jacoposartore commented on #325
Hi @chriswmackey,

As you suggested, I have checked the .rdd file to figure out which outputs would fit with my expectations. I did some OpenStudio tests on a couple of them and I think that those are the good ones:

'Zone Air System Sensible Cooling Energy'
![zone air system sensible cooling energy](https://cloud.githubusercontent.com/assets/8501837/7270331/d53dc374-e8db-11e4-9f6a-6c6cfe288e29.pn

[2015-04-25 03:46] HassanBaghdady opened #332 "Energy-Plus 8.3 Compatibility"
Hi Mustafa,

Is Energy-Plus 8.3 compatible with Honeybee, in the installation instructions, version 8.1 was mentioned

thank you&
best

[2015-04-26 01:10] mostaphaRoudsari commented on #332
Hi @HassanBaghdady - The version on Food4Rhino supports EP8.1 and the one on github support EP8-2-7. No support for EnergyPlus 8-3 yet.

[2015-04-26 01:10] #332 closed

[2015-04-27 04:53] RobMDoe opened #333 "totalSolarGain_3DRotation"
Having problems when 3DRotate as object goes through setEPZoneConstruction and seems to be cancelled out, so no rotation. All files and commentary at:
http://www.grasshopper3d.com/group/ladybug/forum/topics/totalsolargain
Thanks, Rob

[2015-04-27 05:02] mostaphaRoudsari commented on #333
Duplicate #183

[2015-04-29 23:52] antonszilasi opened #334 "Optimization for Honeybee generation"
Hi everyone!

Honeybee generation is almost ready to fly! im just trying to get the cashflow graph finished today, I have a question about the outputs from Read results files however, since the standard format in LB & HB is to create outputs like those below how should I craft my components so that a user could link the outputs up to Galapagos and undertake an Optermization study should I make an

[2015-04-30 07:25] jacoposartore commented on #334
Hi Anton,

Great news! Users can separate text strings and numbers by using the Ladybug_Separate Data component. You can find it under the 1 | Analyze Weather Data group of Ladybug.

![cattura](https://cloud.githubusercontent.com/assets/8501837/7408183/b05b75e8-ef1a-11e4-922f-f1b252782267.PNG)

[2015-04-30 08:35] antonszilasi commented on #334
Right - thanks I didnt know that!

[2015-04-30 08:36] #334 closed

[2015-04-30 13:58] mostaphaRoudsari opened #335 "Change the license to GPLv3"
All [which includes Ladybug+Honeybee users, developers, and also friends!],

Following [this discussion](http://www.grasshopper3d.com/group/ladybug/forum/topics/acustic-simulations) on Grasshopper group I had a conversation with Arthur and it went pretty well. There are good chances to work together and it will be awesome to finally have aucostic simulation being added to the package.

As part of

[2015-04-30 14:45] jacoposartore commented on #334
You're welcome! I'm glad to be helpful.

[2015-04-30 19:55] arkdanielnielsen commented on #335
No worry, I am just looking forward to do acoustic simulation together with daylight, comfort and energy, and maybe also LCA at some point :)

[2015-05-01 04:20] mostaphaRoudsari commented on #335
Hi Danile. I'm actually working on the LCA part too. A collaborative effort with Tortuga  project > https://github.com/moethu/Tortuga/issues/1

[2015-05-02 16:07] arkdanielnielsen opened #336 "Q to the output "mesh" from "Generate Test Points" ?"
I am wondering why the output "mesh" of the Generate test Points is not offseted together with the points. I suppose the "mesh" should be used for creating the colored analysis mesh later?
![honeybee_daylight_analysismesh-01](https://cloud.githubusercontent.com/assets/7299731/7441754/e5f9ecde-f0f5-11e4-809f-e38ecbb73da2.JPG)

[2015-05-02 16:17] chriswmackey commented on #335
@mostaphaRoudsari ,
I absolutely agree that we need to move away from the current creative commons licence as it really is not meant for software and does not really provide us with adequate protection against proprietary software that could copy our code.

I also agree that GPL is the type of new licence that we want to be using, which was the licence originally created by Richard Stallman to des

[2015-05-02 17:44] chriswmackey commented on #329
Ah.  You are right.  It's just something to do with the png format.  It happens any time a png is embedded in either github or GH.  See the last images in this discussion for the difference between the  png and the jpeg on the GH site:
http://www.grasshopper3d.com/group/ladybug/forum/topics/comfort-zone-problem

[2015-05-02 18:01] chriswmackey commented on #325
@jacoposartore ,
The issue with "Zone Air System Sensible Cooling Energy" is that it will give combined cooling that comes both from the cooling coil and from any outdoor air that is mixed into the supply air.  Usually, people want to know the cooling coming from just the coil and not the free cooling that you can get from mixing in cooler outdoor air with an economizer.
For heating output, I gues

[2015-05-02 23:59] chriswmackey commented on #336
This is something that I would like too!

[2015-05-03 01:47] chriswmackey opened #337 "Make a component to separate based on Conditioned/Unconditioned"
As per this:
http://www.grasshopper3d.com/group/ladybug/forum/topics/component-request?commentId=2985220%3AComment%3A1278806&xg_source=msg_com_gr_forum

[2015-05-03 06:39] arkdanielnielsen opened #338 "Bug !? "IntersectMasses""
I think there is something wrong with the "IntersectMasses" component. I have tried different methods I found from @chriswmackey - but none of the methods is working. As seen in the image, the two masses is not split, they are still two masses that overlaps each other.
![honeybee_intersectmasses-01](https://cloud.githubusercontent.com/assets/7299731/7443968/db9c2364-f16e-11e4-8d56-f140155efc75.JPG

[2015-05-03 13:35] mostaphaRoudsari commented on #338
@arkdanielnielsen intersection is just tricky in general. I will leave this open so we can check it at some point. Meanwhile you need to take care of the operations yourself using Grashopper/Rhino components.

[2015-05-03 13:39] mostaphaRoudsari commented on #336
We can have it as an input option but in general there are cases that you don't want to move the mesh. For instance if you run a radiation analysis on couple of external surfaces then move the surfaces out will result in a slightly open geometry.

I agree that the frequent use of the component is for interior surfaces similar to what you showed in this image. I will add the option to the component

[2015-05-03 13:54] mostaphaRoudsari commented on #336
Ah! I also rememberd one more case why it is is not there... Think of an sphere or when you have a nonplanar surface. Then where should the surface move to and based on which normal direction?

[2015-05-04 03:53] chriswmackey opened #339 "Check the Direction of Normals in Surface-by-surface Method"
As per this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/significance-of-wall-orientation?commentId=2985220%3AComment%3A1279182&xg_source=msg_com_gr_forum

[2015-05-04 03:58] chriswmackey commented on #339
I know it's not technically a bug but it's such a pain in the neck that I think it deserves the label.

[2015-05-04 04:33] chriswmackey commented on #338
@arkdanielnielsen ,
The original IntersectMasses component failed in a lot of cases where you had two adjacent zones next to each other and just wanted to get their overlapping surfaces to match (so that you would get correct heat flow across them in the E+ model).  I interpreted this as the primary purpose of this component and re-wrote it to almost never fail in these cases.  This meant that the

[2015-05-04 13:49] mostaphaRoudsari commented on #339
I think it is a bug actually. It should already check the normal direction for the faces (https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_Honeybee.py#L4764).

[2015-05-04 23:32] AvdHarten commented on #335
it seems like this conversation went very productively. I'm glad.

[2015-05-05 05:47] arkdanielnielsen commented on #338
Thanks guys for your replies.
I have not looked at the interest component for a long time, and when I was preparing the webinar I just wanted to show the different components. Actually I never use it, but it could probably be useful in some cases when modeling conceptual models.
@chriswmackey I follow your thoughts about how should the component separate the masses, but maybe it is not so importan

[2015-05-05 05:50] arkdanielnielsen opened #340 "Wish - Zone Labeling"
Often I use some of the zone components to make it easier to calculate compactness. But, it would be possible (I suppose) to build this information into e.g. the Zone labeling component?

[2015-05-05 15:47] mostaphaRoudsari commented on #338
@arkdanielnielsen I tend to agree with @chriswmackey's input here. I think if it doesn't really matter for the users then they can use Grasshopper's functionalities to union both masses beforehand.

As Chris (and the spiderman) would say: With great power comes great responsibility!

[2015-05-05 16:10] mostaphaRoudsari commented on #340
@arkdanielnielsen I'm not sure if I understand what is the case here. :|

[2015-05-05 17:30] arkdanielnielsen commented on #338
You guys are funny ;)
To the last question. I though the "Solve Adjacencies" solved intersecting surfaces?

[2015-05-05 17:46] arkdanielnielsen commented on #340
I see there is a "it" to much, but I dont that gives more sence without.
![honeybee_zone-labeling-01](https://cloud.githubusercontent.com/assets/7299731/7478976/beb5855a-f35e-11e4-81ce-0dc9817cb117.JPG)
Maybe the image helps? Often I see many dont look at this simple feedback you can get just from the compactness factor in early massing studies.

[2015-05-05 18:21] chriswmackey opened #341 "Get Comfort Map Working Correctly for Interior Windows"
I don't have time to fix this at the moment but I wanted to log it to make sure that I fix it post-thesis.

[2015-05-11 17:31] SebastienBigot opened #342 "HoneyBee_HoneyBee Erro 520 and 6715"
Hi everyone,

I got a problem to let HoneyBee flying. I have this error 520 and 6715, which talk about defined RAD library.
It worked before. Buta hour ago I changed my user name on windows and since this moment it doesn´t work anymore.
The ladybug component to get a weather file directly from internet tell me also that i am not connected to internet.

I tried reinstall Rhino 5, grasshopper y Hone

[2015-05-21 00:22] chriswmackey opened #344 "Get Decompose Zone to Work"
A student at MIT discovered a bug today trying to bring HBSrfs back together into one zone:

https://www.dropbox.com/s/6iggpyz79ytb9gz/HoneyBee_MultiZone_Advanced_ghfile.gh?dl=0

[2015-05-25 10:52] fahimehm opened #346 "index out of range"
Hi Mostafa,
I have problem with the error:
"solution exception: index out of range"
I have tried DF or Grid based simulation but no change,
What's wrong with it?
Thanks
![image](https://cloud.githubusercontent.com/assets/12594885/7796083/db8c6e04-02f0-11e5-8db7-dd469090fbbc.png)

[2015-05-27 01:01] chriswmackey commented on #346
@fahimehm ,
I don't know if this is going to fix your problem but you probably want to flip those floor surfaces around before plugging them into the test point component.  Also, you may want to update to the most recent version of the components on this github.  If you provide a link to a GH file that shows the problem, I guarantee that we can get to the bottom of it.
-Chris

[2015-05-27 04:36] mostaphaRoudsari commented on #346
I agree with @chriswmackey that updating the components should solve this issue. I close this and suggest you to open a discussion in the group. If you already have an open discussion please provide us the link.

[2015-05-27 04:36] #346 closed

[2015-05-27 17:49] chriswmackey opened #347 "Put In A Check in Daylight Simulations to Make Sure the Number of Test Points is Greater Than the Number of Cores"
Some people were running quick annual daylight simulations of 4 points on computers with 8 logical processors.  As a result, they got no .ill files out of the component.  We should put in a warning to alert people when this happens.

[2015-05-27 18:55] mostaphaRoudsari commented on #347
I thought I already took care of this. Here is where the check should be added: https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_Honeybee.py#L1503

[2015-05-27 21:23] chriswmackey commented on #347
Ah.  Therin lies the bug, no?  Shouldn't it be like so:

if numOfCPUs > numOfPoints: numOfCPUs = numOfPoints

Correct me if I am wrong.  If not, I will fix it now.
-Chris

[2015-05-28 15:52] mostaphaRoudsari commented on #347
@chriswmackey that's it. I have a hard time to upload stuff to github with my connection. Please go ahead and get it fixed! Thanks.

[2015-06-02 05:31] ayezioro opened #350 "Wish: North input back for HB_runDaylightAnalysis"
Hi,
Will be great if the input for North definition will be back for the HB_runDaylightAnalysis component.
Just needed it today, and i remember that the option was there in previous versions.
Thanks,
-A.

[2015-06-09 00:18] chriswmackey commented on #347
Awesome.  This is now fixed:
https://github.com/mostaphaRoudsari/Honeybee/commit/32582b2d2686d29c459d4faf48f3f630da83a141

[2015-06-09 00:18] #347 closed

[2015-06-09 00:21] chriswmackey commented on #341
This is now all fixed.  The comfort maps now automatically calculate the transmissivity from the EP constructions of the windows and can do this for multiple interior windows.
The maps can even account for as many different types of dynamic shades as a user inputs (no limit to shading groups like daysim).
This should be the last of the bugs in the comfort maps.  Ahead of me, there is only the addi

[2015-06-09 00:21] #341 closed

[2015-06-09 00:24] chriswmackey commented on #329
I changed this on the main GH group page a while back.  Is there anywhere else where we should change this before closing the issue?

[2015-06-09 00:28] chriswmackey commented on #320
I have come to realize that this is really going to be a pain to implement, will probably take a very long time to run (since it requires a high view resolution) and does not yield much gain for the major uses that the maps seem to be leading towards.  As such, I am going to close this issue out unless an opportunity presents itself where the timestep is badly needed.
-Chris

[2015-06-09 00:28] #320 closed

[2015-06-09 07:52] ayezioro opened #352 "readComfortResult and adaptComfMtx differences"
Hi Chris,
Just downloaded the last version, as for 9.6.2015.
Updated one file and i see that the adaptComfMtx output from the IndoorComfAnalysis, which gives the percentage in the map, is different if i read the results file with the readComfortResult component, which gives a (delta?) temperature (instead of percentages).
FYI.
Thanks,
-A.

[2015-06-09 08:24] ayezioro commented on #352
And, of course, i re-hooked the file paths and, now it is working well. Weird.
So i'm closing this one for now.
-A.

[2015-06-09 08:24] #352 closed

[2015-06-10 02:16] chriswmackey commented on #303
@jacoposartore ,
The issue you were getting was because setting "runSimfForSizingPeriods" to True adds the sizing period to the output data, hence messing up the 8760-hour annual structure that LB+HB depends on.  See below for a working file and i am closing out the issue as this seems to be resolved:
https://drive.google.com/file/d/0Bz2PwDvkjovJLUlSVkRRUl9GeG8/view?usp=sharing
-Chris

[2015-06-10 02:16] #303 closed

[2015-06-10 02:18] chriswmackey commented on #352
@ayezioro ,

There have been a lot of upgrades to the comfort map workflow over the last few days (I am happy to say that I just fixed the last of the bugs in complex geometric cases).  As such, I would recommend that you replace the 4 key comfort map components manually if you are upgrading to the most recent version.

-Chris

[2015-06-10 04:47] ayezioro commented on #352
Yes Chris,
I've done that already.
Thanks,
-A.

[2015-06-10 06:31] jacoposartore commented on #303
Great! Thank you @chriswmackey.

[2015-06-11 00:27] chriswmackey commented on #331
@antonszilasi ,
It seems like this issue has been resolved now so I am closing it out.  Correct me if I am wrong.
-Chris

[2015-06-11 00:27] #331 closed

[2015-06-12 21:08] mostaphaRoudsari commented on #350
@ayezioro it is removed because I couldn't implement it for annual analysis with Daysim at the time. You should be able to rotate the skies unless you are running an annual run. Does it solve your problem?

[2015-06-12 21:12] mostaphaRoudsari opened #353 "set _isConditioned to True in CreateHBZoneFromSrfs"
It needs to be consistent with Mass2Zones component.

[2015-06-13 05:47] mostaphaRoudsari opened #354 "import modifiers for radMaterials"
See this: http://www.grasshopper3d.com/group/ladybug/forum/topics/texfunc-material?page=1&commentId=2985220%3AComment%3A1299280&x=1#2985220Comment1299280

[2015-06-13 12:52] ayezioro commented on #350
Oh, right.
The sky north will do the job.
Thanks ... and welcome back :-)
-A.

[2015-06-13 14:05] mostaphaRoudsari commented on #350
Hi Abraham! Thank you sir. I should also thank you for taking care of discussions. We're so lucky to have you. :)

[2015-06-13 14:05] #350 closed

[2015-06-28 20:45] ayezioro opened #355 "PMVComfRecipe+IndoorComfAnalysis annual simulation"
Hi,
This time i'm trying to evaluate a comfort analysis using the PMVComfRecipe (so far i used the AdaptiveComfort).
The PMV recipe is fine. The HB_IndoorComfAnalysis works fine when the analysis period is one month or two (maybe more). But when i try the whole year this component crashes (turn red) and the readMe output plots the following:
1 JAN 1:00  -  31 DEC 24:00
Runtime error (AggregateExce

[2015-06-30 04:53] chriswmackey commented on #355
Abraham,
This is my bad.  I changed the PMV function in Ladybug but forgot to commit the new honeybee components.  The version that I just put on the github has worked on my end and, if it does for you too, feel free to close out the issue.  Note that the new commit that I just did involves some name changes for some of the components so you may have to update a few of the comfort map components m

[2015-06-30 08:36] ayezioro commented on #355
Thanks Chris,
Unfortunately is still not working for the whole year. Same comments on the readMe output of the HB_IndoorComfAnalysis.
Just to be sure the updated components are:
PMVComfRecipe, IndoorViewFactor, readMicroclimateMtx and VisualizeMicroclimate, which are dated Jun_30. The others are dated Jun_21.
-A.

[2015-06-30 09:59] ayezioro commented on #355
Forgot to mention that it fails after 22 minutes. Just want to say that it doesn't immediately after starting the run.
-A.

[2015-06-30 23:47] chriswmackey commented on #355
@ayezioro ,
The components are working without any issue on my system as you can see by this annual PMV analysis here:
![annualthermalcomfortpercent](https://cloud.githubusercontent.com/assets/5567574/8444623/e0875342-1f60-11e5-96f1-e3974bfa4513.PNG)

and in this gh file:
https://www.dropbox.com/s/a1i47t0b07sqpov/ComfortAutonomyComponent4.gh?dl=0

So the problem seems to be specific to your system

[2015-07-01 10:41] ayezioro commented on #355
Yes!! That was it. Somehow i updated the components before the Map was in the github.
It took about 2 hours (!!). Next time i'll take your suggestion just sending the critical weeks. Otherwise it will be impossible to use.
I'm glad you implemented the possibility of outdoors. Do you have an example for that? Seeing the component, there is a need of building simulation. The question is if this is a

[2015-07-01 20:24] ayezioro commented on #355
Sorry that i have to re-open the issue. I think i've found a small bug.
When i do a whole year analysis and i connect to the VisualizeMicroclimate a stepOfSimulation input (the HOY) it works fine. But when i do a simulation for one of the period from the LB__statFile the Visualization component fails. It is something like it expects the simulation starts at 1st of January (or something like this),

[2015-07-01 23:39] chriswmackey commented on #355
@ayezioro ,
To give you a sense of what is taking so much time in your run, almost all of it is going to the calculation of PMV and not the zone air and radiant temperature.  So your options for a faster simulation include:

1) USE ADAPTIVE COMFORT - In my experience, running an adaptive recipe usually takes about 1/8th of the time than the same run with a PMV recipe.  The calculation of PMV is in

[2015-07-01 23:41] chriswmackey commented on #355
@ayezioro ,
In response to you re-opening the issue, I am not experiencing the same situation on my machine (the stepOfSimulation is always starting from 0).  Perhaps it is a specific case that I did not catch.  Can you post a link to your GH file?
-Chris

[2015-07-02 04:38] ayezioro commented on #355
Great explanation. You should write the paper!!
Attached the file i'm working with. Before you open it, set the tolerance to 0.001 (!!)
See red marked zone at the right end of the file.
Say the extreme week happens between 3.1 through 3.7. In the DOY/HOY i set the day/month accordingly and then i get the error (i hook the HOY output). If i set the month to 1 and the day to 1 i get the result.
This

[2015-07-02 05:18] ayezioro commented on #355
I know this is not the proper issue to ask questions about the OutdoorComfRecipe. How you take into consideration the outdoor wind speed and relative humidity (as you do, for instance, in the LB_OutdoorComfortCalculator)? I see that you take those from the building simulation, which are indoors.
Another question:
I can understand that you take the surfaces outdoor temperatures, but why you need th

[2015-07-02 05:46] chriswmackey commented on #355
@ayezioro ,
Thanks for the encouragement.

I should have realized this sooner by re-reading your explanation but the issue that you bring up is not a bug but just a disagreement about how the "stepOfSimulation" should work.  On both the comfort maps and the Color Zones/ Color Surfaces components, the stepOfSimulation refers to the step of whatever analysis was run and not the HOY.  For the Color Z

[2015-07-02 06:00] chriswmackey commented on #355
To answer the questions about the outdoors, I am going to put out full written and video documentation for how the maps work once I put in this last bit of functionality to calculate thermal autonomy.

I should stress that the outdoor maps are not a complete representation of all outdoor conditions but they represent the assumptions about the outdoor environment made by E+ and they are the best th

[2015-07-02 08:08] ayezioro commented on #355
Closing it. Thank you.
As for the outdoors, i was sure you are taking the epw in some way. Just wanted to confirm :-)
Just one more little one: the _zoneAirFlowVol and _zoneAirHeatGain are not needed for this recipe, right? If so, maybe it will be better to take them out, or at least not making them compulsory?
-A.

[2015-07-02 08:08] #355 closed

[2015-07-04 19:53] HassanBaghdady opened #356 "cannot find 'vector math.dll' or 'gbXMLserializer'"
I have been trying to using Grizzly bear today, couldn't find any of the dll files that should be copied to C:gbXML folder

is there a link to download those files inorder be able to export gbXML files

[2015-07-05 11:10] mostaphaRoudsari commented on #356
Hi @HassanBaghdady. Looks like @gbxml has removed them from dropbox folder for some reason. I copied the file [here](https://www.dropbox.com/s/xvazch7wucooupa/GBDlls.zip?dl=0). Make sure to right click and unblock them after copying it to the local folder.

@chiensiTB I looked up gbxml repository but I couldn't find the libraries there too. Let me know where we can find the latest version online.

[2015-07-05 20:52] chriswmackey opened #357 "Make UTCI Comfort Maps with Optional Inputs for Indoor Variables"

[2015-07-05 20:53] chriswmackey commented on #355
@ayezioro ,

All three of the comfort map recipes currently support both indoor and outdoor thermal maps regardless of whether the comfort model is developed for use in indoor or outdoor conditions.  I do this because I often felt compelled to compare the indoor and outdoor conditions to one another (particularly with semi-outdoor spaces like balconies and courtyards) and because I trust that user

[2015-07-06 04:56] HassanBaghdady commented on #356
Thank you Mostapha, It works perfectly at the moment.

HB and LB are super awesome, great job

Thank you&
Regards,

Hassan Baghdady

Sent from my iPhone

[2015-07-06 04:59] ayezioro commented on #355
This is awesome!!
I have no doubt it will be abused :-) but this opens opportunities which is great.
Your upcoming videos will be an invaluable source ;-)
-A.

[2015-07-06 14:36] mostaphaRoudsari commented on #335
Done and done! ea1b05ec5f040a202b19eb0cf3958af37bf33207 :tada: :balloon:
Thanks everyone.

[2015-07-06 14:36] #335 closed

[2015-07-06 14:57] chiensiTB commented on #356
Hi Mostapha-

Some other people on the gbXML team updated the gbxml repository, so maybe
that is why.  I keep the vector math in my personal repository.  I'm
guessing that I should clone this over to gbxml?

On Sun, Jul 5, 2015 at 4:10 AM, Mostapha Sadeghipour Roudsari <
notifications@github.com> wrote:

[2015-07-06 19:12] mostaphaRoudsari commented on #356
Thanks @HassanBaghdady! Good to know that it's working fine now.

Hi @chiensiTB , if you are ok we can copy it to honeybee's [resources folder](https://github.com/mostaphaRoudsari/Honeybee/tree/master/resources) and give you and/or gbXML project credit in the license?

[2015-07-11 14:04] mostaphaRoudsari commented on #329
Other places are Food4Rhino and github pages which seems to be fine. I'm closing this. Thanks @chriswmackey!

[2015-07-11 14:04] #329 closed

[2015-07-11 14:15] mostaphaRoudsari commented on #285
This one should be solved now > https://github.com/mostaphaRoudsari/Honeybee/commit/808e592c06abdb77a4afafd9da21adf0f5ebe04d

[2015-07-11 14:15] #285 closed

[2015-07-11 20:01] mostaphaRoudsari commented on #344
@chriswmackey what is exactly the issue here. There is no note inside the file.

[2015-07-11 22:57] chriswmackey commented on #344
@mostaphaRoudsari ,

There were several students in Les's class that were using the new workflow with decompose zone and they were getting weird errors that I did not know how to fix at the time since I have not used this workflow yet.  I created the issue because I got a buggy GH file from one of the students and wanted to investigate it later when I had time.  The students might have just been u

[2015-07-12 19:15] chriswmackey commented on #344
@mostaphaRoudsari ,
It was not an issue related to the decompose zone workflow. The student was just applying windows to the wrong surfaces. Everything seems good and the next time that I build an energy model, I will use this workflow so that I feel more comfortable when I am asked questions about it.
-Chris

[2015-07-12 19:15] #344 closed

[2015-07-12 22:30] mostaphaRoudsari commented on #338
Hi @arkdanielnielsen. No, SolveAdjacencies doesn't do intersections. The reason is that it can be pretty computationally expensive to calculate the intersections each time. Sorry for the very late reply.

[2015-07-12 22:30] #338 closed

[2015-07-12 22:38] mostaphaRoudsari commented on #340
Thanks for the clarification. Now I think I see your point here. Should we change the topic to calculate Compactness Factor?

As far as I understand it is the area of all the surfaces facing outdoors divided by the volume of the zone? It will be pretty easy to add.

[2015-07-13 11:05] mostaphaRoudsari commented on #353
Done via 70ced1cc268d5616d16d1694f6555db9d5751efc

[2015-07-13 11:05] #353 closed

[2015-07-13 12:01] mostaphaRoudsari commented on #337
Done via ff9ca51f820e11ab3e1d90c5b8ca2c9f7b075af9

[2015-07-13 12:01] #337 closed

[2015-07-13 12:03] mostaphaRoudsari commented on #342
Hi @SebastienBigot! Sorry for the very late reply. can you send us a screenshot of the issue? Do you have a space in your system name?

[2015-07-14 01:01] chriswmackey commented on #135
@mostaphaRoudsari and @chiensiTB ,

Is this issue still relevant now?   You can import the system-level results of two systems with the read EP result and we have the basic SQL reader now.    I can see that we should develop out the SQL one more but the development of it seems a bit frozen on my end with the PINVOKE error.

-Chris

[2015-07-14 01:05] chriswmackey opened #358 "Get Zone/Surface Labelers to Accept Simulation Results as Labeling Info"
I know that @arkdanielnielsen has wanted this and I will try to take care of it at some point in the near future.

I also want to get the surface labeler to accept individual HBSrfs and not just zones so I think that I will do this at the same time.

-Chris

[2015-07-14 01:07] chriswmackey commented on #153
@arkdanielnielsen ,
There are a lot of things discussed on this issue and I always have to read through it all to find out what the remaining requests are.  As such, I am closing this one out and making two issues for the remaining things that need to get done:
https://github.com/mostaphaRoudsari/Honeybee/issues/156
https://github.com/mostaphaRoudsari/Honeybee/issues/358
-Chris

[2015-07-14 01:07] #153 closed

[2015-07-14 23:46] chriswmackey commented on #357
This has been addressed with https://github.com/mostaphaRoudsari/Honeybee/commit/768afbe32393916bd2364482d32b1fe481d6b238

[2015-07-14 23:46] #357 closed

[2015-07-14 23:47] chriswmackey commented on #355
@ayezioro ,
The indoor variables have been made optional for the UTCI map with this:
https://github.com/mostaphaRoudsari/Honeybee/commit/768afbe32393916bd2364482d32b1fe481d6b238
https://github.com/mostaphaRoudsari/Honeybee/issues/357
-Chris

[2015-07-15 04:29] ayezioro commented on #355
Great!!
Thanks.
-A.

[2015-07-15 19:40] mostaphaRoudsari commented on #170
This is [potentially] a good news! I downloaded OpenStudio1.8.0 today and tested the libraries and it worked with no issues on my machine. @chriswmackey and @chiensiTB can you guys also try and let me know. This can be a great news for all of us. The development for OpenStudio has been on hold for awhile because of this issue.

[2015-07-15 19:54] mostaphaRoudsari commented on #170
I'm closing this issue as this is duplicate with this one (https://github.com/mostaphaRoudsari/Honeybee/issues/214). Please leave your comments in the other issue.

[2015-07-15 19:54] #170 closed

[2015-07-15 19:54] mostaphaRoudsari commented on #214
This is [potentially] a good news! I downloaded OpenStudio1.8.0 today and tested the libraries and it worked with no issues on my machine. @chriswmackey and @chiensiTB can you guys also try and let me know. This can be a great news for all of us. The development for OpenStudio has been on hold for awhile because of this issue.

[2015-07-15 23:55] chriswmackey commented on #214
Software gods be praised! It works!

I am going to draw up a new github issue for all of the backlogged features that we need to work into the OpenStudio exporter.  Finally, it seems a dark age of development has passed!

-Chris

[2015-07-16 00:11] chiensiTB commented on #214
Oh shit. Does this mean I don't have to be the ugly black sheep of the family anymore?

Sent from my iPhone

[2015-07-16 00:44] mostaphaRoudsari commented on #214
I guess so! Also now the defaults for HVAC is supposedly way much better than what it is used to be, and apparently there is a going to be a json for the ASHRAE HVAC types > https://github.com/NREL/OpenStudio-Prototype-Buildings#resourceshvacsizing

[2015-07-16 00:57] macumber commented on #214
Well this is great news!  I'm curious what might have changed between 1.7.0 and 1.8.0, I can't think of anything (dependencies, etc) that might have fixed this.  @axelstudios can you think of anything that changed in the OpenStudio installer?

[2015-07-16 01:03] axelstudios commented on #214
I was wondering that myself - All I can guess is that maybe it was resolved with Swig 3.0.5 (3.0.6 just came out btw)

[2015-07-16 02:05] chriswmackey opened #359 "Add Features Into OpenStudio Exporter that Have Been Missing Since PINVKOE Error"
I have started this issue since there are a number of features that I have implemented on the Write IDF component that I know I need to implement on the OpenStudio exporter but have been unable to since the almighty PINVOKE error has held a tyrannical grasp over all OpenStudio development.  Now that this impediment is finally removed (), I will try to implement most of these in the next few weeks.

[2015-07-16 04:54] chriswmackey commented on #214
It's time to take care of some major backlogged development!!
https://github.com/mostaphaRoudsari/Honeybee/issues/359
-Chris

[2015-07-16 05:18] ayezioro commented on #359
Good news!
I'm for number 3 as they are the more critical (for me and for the crucial influence of shading in energy consumption).
-A.

[2015-07-16 13:46] mostaphaRoudsari commented on #359
I also add these two to the list:

Get EnergyPlus version to be updated accordingly inside OpenStudio component -> https://github.com/mostaphaRoudsari/Honeybee/issues/326

Integrate 3Phase daylight simulation ->
https://github.com/mostaphaRoudsari/Honeybee/issues/290

[2015-07-16 15:07] jacoposartore commented on #359
Thank you @mostaphaRoudsari for reporting my wish.
May I add the humidstat on this list? As @ayezioro wrote in #246.

[2015-07-16 15:18] jacoposartore commented on #214
I just wanted to add that I had to update OpenStudio to version 1.8.1 (and so the openstudio libraries) in order to get the example file working fine (https://www.dropbox.com/s/pwpsravhwk0vlal/OpenStudioExample.gh?dl=0). Did you have this kind of error? However both the versions imported correctly the libraries (https://www.dropbox.com/s/p6ze63n3k3ctmqt/testImportingOpenStudioLibs.gh?dl=0).

[2015-07-16 15:38] mostaphaRoudsari commented on #214
Thanks @jacoposartore. Strange! It works also with 1.8.0 on my system. In any case as far as it works with the newest version I will be a happy guy! :tada: :balloon:

@chiensiTB can you also try it and let us know so we can close this long-time open unsolvable issue!

[2015-07-16 16:30] jacoposartore commented on #325
Hi @chriswmackey,

I'm sorry for getting back so late, I was busy with my wedding and the honeymoon.

I agree with you that there should be a simple "Generate EP Output" component, as the current one, and an advanced one with a checklist.

As regards the "Zone Air System Sensible Cooling Energy", you are right: it's taking into account outside air and even the fans. Should we refer to "HVAC,Sum, T

[2015-07-16 17:03] jacoposartore commented on #214
@mostaphaRoudsari I did some tests and I had to revert to OpenStudio 1.7.0: I figured out that when my definition is using the 1.8.1 libraries is generating a file that in OpenStudio is missing some fields (like the Water Loops) and the simulation fails. With the libraries from version 1.7.0  it has all the expected HVAC systems and the simulation runs fine.

[2015-07-17 06:28] chiensiTB commented on #214
Ok.  Looks like we are back on!  Everything is running fine.  I did have to update all the references to 8-1-0 to 8-3-0 in the OpenStudio component.  I don't know if anyone else had this issue.  I guess it just depends on what version of E+ you have running.  But this is great news!  New life....

[2015-07-17 06:30] chiensiTB commented on #222
Sorry guys.  I hope that my videos have served their purpose.  Is this ok to close?

[2015-07-17 06:33] chiensiTB commented on #321
Hi guys.  Now that the OpenStudio issue appears to be solved, I am coming back online.  I'm sorry I have not been responsive.  I will start to collaborate.

[2015-07-17 06:34] chiensiTB commented on #328
Guys, also back on board after being gone for a while.  We want a gbXML import, is that right?

[2015-07-17 06:37] chiensiTB commented on #356
Mostapha.  Ok, what is the best way to get these into the folder?

[2015-07-17 06:38] chiensiTB commented on #356
I am guessing you are ok with me doing it?

[2015-07-17 08:38] jacoposartore commented on #214
@mostaphaRoudsari I did another test today and it's now working with 1.8.0 libraries. Strange! Maybe I forgot to copy some dll.

[2015-07-17 14:53] mostaphaRoudsari commented on #214
Perfect! Thank you all. I'm closing this with so much pleasure.

@jacoposartore back to your comment about systems such a Water Loops if there is any case that doesn't work please report them as an issue. They might be a bug in OpenStudio or a change in the API so we can update accordingly.

[2015-07-17 16:02] mostaphaRoudsari commented on #356
@chiensiTB sounds great to me. Please just copy them in! Also let me know the licensing so I can add it to the license.

[2015-07-17 16:04] mostaphaRoudsari commented on #328
@chiensiTB yes please!

[2015-07-17 16:06] mostaphaRoudsari commented on #222
We  can close this but there is one here that needs help and has been open for sometime:
http://www.grasshopper3d.com/group/ladybug/forum/topics/advanced-systems-setup?commentId=2985220%3AComment%3A1324495&groupId=2985220%3AGroup%3A658987
It is great to have you back! :)

[2015-07-17 16:08] chiensiTB commented on #222
Ok, will do.

On Fri, Jul 17, 2015 at 9:06 AM, Mostapha Sadeghipour Roudsari <
notifications@github.com> wrote:

[2015-07-17 23:58] chriswmackey opened #360 "Add in Humidistat"
I am adding in this issue as @ayezioro and @jacoposartore have requested it:
https://github.com/mostaphaRoudsari/Honeybee/issues/246
https://github.com/mostaphaRoudsari/Honeybee/issues/359

I have been keeping the humidistat low on the priority list as I have noticed that just conditioning a zone with an ideal air system includes a large restriction of indoor humidity ranges (by virtue of the fact

[2015-07-17 23:58] chriswmackey commented on #246
@ayezioro ,
The humidity deserves its own issue and I have just created one:
https://github.com/mostaphaRoudsari/Honeybee/issues/360

-Chris

[2015-07-18 00:00] chriswmackey commented on #359
@ayezioro ,
I agree that the shades should be high on the priority list and I will get to them after adding in some last features to the glazing by ratio and energy shade benefit workflow.
-Chris

@jacoposartore ,
The humidity deserves its own issue and I have just created one:
https://github.com/mostaphaRoudsari/Honeybee/issues/360

-Chris

[2015-07-18 01:40] chriswmackey commented on #325
@jacoposartore ,
No worries.  I have also been busy with thesis stuff that just ended a month ago.  Congratulations on getting married!

I have been struggling a bit with what outputs to include in a checklist component.  The reality that I feel we are facing is that each type of energy model usually requires a custom set of outputs depending upon the systems used.  In the current output component

[2015-07-18 03:14] ayezioro commented on #360
Sure!!
Thanks,
-A.

[2015-07-18 07:45] chriswmackey commented on #111
@arkdanielnielsen ,
I am sorry that this has taken so long but I can, at last, say that all 4 of your cases can be created with the newest glazingByRatio component that I committed ().

Here are all 4 of your cases:
![daniel cases](https://cloud.githubusercontent.com/assets/5567574/8760824/62754a48-2cff-11e5-86ee-a942febc36b6.PNG)

Here's the new component:
![newglzcomp](https://cloud.githubuserco

[2015-07-18 07:45] #111 closed

[2015-07-18 22:03] chriswmackey commented on #267
Fixed.
https://github.com/mostaphaRoudsari/Honeybee/commit/df011a50dbe109e729e365754582ff01cc561617
Should have done this a long time ago.
-Chris

[2015-07-18 22:03] #267 closed

[2015-07-19 00:15] chriswmackey commented on #251
@arkdanielnielsen ,

I just implemented this ability on the 3D chart.  Combined with the new color librarues, you can now do some pretty cool things with just a couple of components:
![multi-legendpar](https://cloud.githubusercontent.com/assets/5567574/8764031/c8f12eb0-2d89-11e5-802b-d422605a333c.PNG)

Find the GH file here for how to format the LegendPar
https://www.dropbox.com/s/gqfng8hvqf5hfh2/

[2015-07-19 10:40] mostaphaRoudsari commented on #251
Speechless! this is beautiful.

[2015-07-20 15:39] jacoposartore commented on #325
@chriswmackey,

That's great! This new component seems a clever way to avoid the current discrepancies (see the missing cooling energy in the Read EP Result when selecting Packaged VAV as a system). Are you then going to somehow link the SQL result reader with the OpenStudio HVAC System ID, am I right? Looking forward to see your development, I'm sure you'll come up with a "swiss army knife" resul

[2015-07-20 15:59] jacoposartore commented on #360
No problem!
Thank you!
"Radiant systems"... great news! :thumbsup:

[2015-07-26 18:42] ayezioro commented on #251
Speechless is not a word for this!! So nice!!

[2015-08-02 19:06] chriswmackey opened #361 "Glare Component Does Now Work With Most Recent evalglare.exe"
@mostaphaRoudsari ,

This was a bug that came up in the Rome workshop.  I had everyone download the most recent evalglare from http://www.ise.fraunhofer.de/en/downloads-englisch/software/evalglare_windows.zip/at_download/file.  This is currently what we tell everyone to do in our install instructions (https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/Installation_Instructions.txt).

[2015-08-02 20:10] chriswmackey opened #362 "Shading with Daysim has no .ill files out of the daylight simulation component"
@mostaphaRoudsari  ,

I will admit that I am not sure if this is just me not understanding how to run the components (so feel free to change the label or close the issue if its a simple explanation).

When trying to run a Daysim annual simulation with blinds, I am never able to get daylight autonomy values.  First, it would be great to know if this is the correct way to take into account dynamic s

[2015-08-03 06:51] ayezioro commented on #362
Hi Chris,
Tried your file with no success but i also get this:
![capture](https://cloud.githubusercontent.com/assets/7526023/9032232/1dc2a3a0-39c5-11e5-9be3-420c7902a7cb.PNG)
It happens 2-3 times in the same run.
-A.

[2015-08-03 12:08] ayezioro commented on #361
Hi,
I'm in doubt the problem is with Evalglare. I've just tried to broke my installed files and is still working. In the path, in my machine, it finds evalglare in Daysim/bin and Diva/DaysimBinaries (not in Radiance/bin. Weird). I changed the existing file with the one in the website and it runs OK. The version is 1.1.
I changed the name of the evalglare to something else but in the radiance\bin.

[2015-08-05 19:48] chriswmackey commented on #362
@ayezioro ,
Thanks for testing this out on your machine.  Something certainly seems to be matter.

@mostaphaRoudsari ,
Please let us know if you have any suggestions.  I get the sense that you would be able to explain this issue WAY faster than it is going to take me to figure out.  I can also help edit the components once I understand what is supposed to be happening.

-Chris

[2015-08-05 19:59] chriswmackey commented on #361
@ayezioro ,
I still get the error if I replace both the evalGlare in Daysim/bin and in Radiance/bin with the most recent one.  I don't understand what would be different about my case than yours, @ayezioro .  You have it in the DIVA folder and I don't but I feel that should not make a difference.
-Chris

[2015-08-05 20:05] ayezioro commented on #361
Hi Chris,
Can you check your PATH for Radiance\bin or just check in command window "where evalglare" (without quotes).?
I'm suspicious that even though the utility is in the right folder the path to find it is not right.
-A.

[2015-08-06 01:11] chriswmackey commented on #361
@ayezioro ,

The paths where I have it are:
C:\Radiance\bin\evalglare.exe
C:\DAYSIM\bin\evalglare.exe

When I type "where evalglare" into a command window, I get "INFO: Could not find files for the given pattern(s)".

-Chris

[2015-08-06 04:22] ayezioro commented on #361
Hmmm ...
So we now know the illness. Is not the version but the fact that the program is not found on the path.
If you were someone else i would ask: Are you sure evalglare is in (at least) one of those locations on your PATH? Maybe the name is not correct?
Weird.
Mostapha: Any words of wisdom here?
-A.

[2015-08-06 12:55] chriswmackey commented on #361
@ayezioro ,
Yes, I can confirm that the program not being found on the path is also the reason why the component is failing (I have looked at the line of code that is trying to call evalglare).
As further proof to myself that I am not going crazy, I have posted images showing the locations of the two evalglare files:
![evalglare1](https://cloud.githubusercontent.com/assets/5567574/9111812/84ba3d3e

[2015-08-06 13:23] chriswmackey commented on #361
@ayezioro ,
I will report an update that did not fix the problem but is still significant.  I noticed that the evalglare files had been blocked on my machine and I have unblocked them.  This has still not fixed the problem but it might point us towards some other limiting feature of Windows that is stopping me from running the exes.
-Chris

[2015-08-06 13:24] jacoposartore commented on #361
@chriswmackey,

one year ago, when I was tutoring in a workshop about Ladybug and Honeybee, most of the 30 students had troubles with daylighting simulation component not finding the radiance folder.

I then made sure that everyone checked their PATH variables under System Properties -> Advanced -> Environment Variables and, in case, add the missing paths.

See these pictures (they are in italian,

[2015-08-06 13:35] ayezioro commented on #361
Chris, I was about to check the block thing. Maybe it is ReadOnly?
Check also the readability of the containing folder ... maybe is not the child but the father?
Check also in the file properties the security permissions. At least the read & execute should be checked.

One detail that rings some bell for me is the date of your file. Mine is 29.1.2013 and yours 8.5.2015. I downloaded from the link

[2015-08-06 13:36] ayezioro commented on #361
Forgot to say. Yes, your images are like mine.

[2015-08-06 13:50] jacoposartore commented on #361
@ayezioro my evalglare.exe's dates are

C:\DAYSIM\bin  08/01/2013
C:\Radiance\bin  29/01/2013
C:\DIVA\DaysimBinaries 30/01/2013

All of the same size: 313.145 bytes

Chris's evalglare date is strange: evalglare.exe downloaded from Faunhofer's website is dated 29/01/2015.

[2015-08-06 14:00] ayezioro commented on #361
Just to be all in the same page. This is the version i downloaded and installed:
https://www.dropbox.com/s/3fduthw366lixby/evalglare_v1.11_windows.zip?dl=0
It is version 1.1 from 2013.
-A.

[2015-08-06 18:47] mostaphaRoudsari commented on #361
Hi all. Sorry for being so late to reply to this discussion. I believe it's an issue with path. @chriswmackey I just committed a new component. Can you please check and let me know if it works fine?

[2015-08-06 19:00] mostaphaRoudsari commented on #362
@chriswmackey I will take a look at this soon [=early next week]. The workflow should work. Branch checking warning is a bug that I think happened once I get it fixed for advanced dynamic blind simulation with daysim. In general you probably don't want to use the conceptual Daysim's blind anyways. It's very simplified.

Abraham's issue is a famous Daysim's issue/bug that hasn't been solved for a l

[2015-08-06 22:13] chriswmackey commented on #361
@mostaphaRoudsari ,
Your new component fixed the issue!  Thank you!

@ayezioro ,
Thanks so much for the support with this it seems your intuition was right about the PATH.  I tried every other thing on your list before trying out the new component Mostapha committed.  I am still at a loss to explain what had changed over the last few months as I remember being able to run the glare analysis fine i

[2015-08-06 22:13] #361 closed

[2015-08-08 03:44] chriswmackey commented on #362
@mostaphaRoudsari ,

Thanks for the response and I definitely agree that using radiance functions directly instead of having to go through Daysim would be ideal.  That famous Daysim bug seems to be the clearest indication to me that Daysim is not keeping up on its bug-fixes and compatibility.  How long has this famous bug been around?

I am very anxious to hear what you find out from Andy and, if

[2015-08-15 03:11] mostaphaRoudsari opened #363 "Add an input to let users name glazing surfaces"
This can be added to addGlzSrf component. Check this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topics/how-to-specify-a-new-for-a-glazing-surface?commentId=2985220%3AComment%3A1340839&xg_source=msg_com_gr_forum

[2015-08-15 03:14] mostaphaRoudsari opened #364 "Change EPConstruction and RadMaterial to list inputs in addGlZSrfs Component"
It will give the freedom to assign different materials to glazing surfaces with no need to decomposing the zone.

[2015-08-15 21:42] chriswmackey commented on #363
@mostaphaRoudsari ,
I agree that this would be super-useful!  I just had someone ask me about this the other day.
-Chris

[2015-08-17 03:17] chriswmackey opened #365 "Checking Surface Normals Is not Working"
@mostaphaRoudsari ,

I have been at this problem for 8 hours and I imagine that you could probably fix it in one as you know all of the code you wrote to check surface normals much better than I.  I have finally realized that this is the bug behind some huge inaccuracies that I have been experiencing with the solar calculation and, right now, this seems to me to be the biggest threat to people con

[2015-08-19 04:01] mostaphaRoudsari commented on #365
@chriswmackey I ran a quick test and it looks to be an issue only when you create the zone surface by surface. I guess this is just a bug with the initial check normal in create HB Zones from surfaces, and not with point sorting function. otherwise it should have produced wrong results for all cases. Will check and try to fix it tomorrow. Thanks for reporting.

[2015-08-20 02:06] mostaphaRoudsari commented on #365
@chriswmackey I needed to flip the baseplane for HBSurface when flip the surface itself. I added the line. If you check the latest Honeybee it should work fine.

[2015-08-20 02:06] #365 closed

[2015-08-20 02:11] mostaphaRoudsari commented on #339
This should be also fixed via 50347c16676599a2c69f304e730fbd4eb3e2a2ac

[2015-08-20 02:11] #339 closed

[2015-08-20 02:21] chriswmackey commented on #365
@mostaphaRoudsari ,
You are awesome.  Thank you for fixing this.
Now that we have the simple geometry case fixed, I am going to try to address one for more complex geometry unless you get to it first.  The current normal-checking function fails whenever you have an L-shaped zone that is shallow enough that the volume centroid lies inside the L.  I have been exploring a couple of ways to fix this c

[2015-08-20 02:26] mostaphaRoudsari commented on #365
@chriswmackey thanks. That sounds good to me. I'm really not sure what is the best way to address the issue. While you're thinking about this an interesting somehow related issue is handling non-convex surfaces (e.g. L shaped surfaces). It would be great if we catch them and break them down in convex surfaces.

[2015-08-20 02:40] mostaphaRoudsari commented on #290
Here is the code how to integrate Radiance measure into the process in Ruby:

[code]

[2015-08-21 18:36] antonszilasi opened #367 "Issue with custom schedules for AddEarthtube"
This was previously working but now it is not has something been changed in Run Energy Simulation?
@mostaphaRoudsari  @chriswmackey

[2015-08-21 22:02] #367 closed

[2015-08-21 22:02] antonszilasi commented on #367
Solved

[2015-08-21 23:15] mostaphaRoudsari commented on #367
@antonszilasi what was the issue?

[2015-08-22 22:05] antonszilasi commented on #367
Dont worry just my own stupidity nothing to worry about wasnt using most up to date components

[2015-08-25 05:06] chriswmackey commented on #365
@mostaphaRoudsari ,
The normals bug has finally been fixed.  Now, this L-shaped case that would have failed previously:
![oldnormalbug](https://cloud.githubusercontent.com/assets/5567574/9459103/6e38f9a4-4ac5-11e5-9901-46f45a770330.JPG)

Is checked and corrected:
![normal bug fixed](https://cloud.githubusercontent.com/assets/5567574/9459107/7323f0a4-4ac5-11e5-9879-84c931aac39f.JPG)

While I was at

[2015-08-25 21:05] chriswmackey commented on #202
@mostaphaRoudsari ,
This feature is proving to be a necessity in my current job and I have yet to work on a project where the project north is the same as true north.  I noticed that adding a "north_" input to the annual daylight simulation does not grant me access to anything that you have implemented so far.  Is there any chance that this is on the priority list in the near future?  If not, I ca

[2015-08-28 10:13] mostaphaRoudsari commented on #202
@chriswmackey, Of course I can put this on top of the list but how critical is it in your workflow. I mean is there anything that rotating the geometry won't provide for you?

[2015-08-28 10:26] mostaphaRoudsari commented on #365
Nice! I need to give it a try. Back to your question based on this discussion it is both: https://unmethours.com/question/1326/non-convex-surfaces-in-energyplus/

Spliting a non-convex zone to a convex zone can be tricky though. I can also see it as [a wish](https://energyplus.uservoice.com/forums/258860-energyplus/suggestions/9314436-calculate-interior-solar-distribution-for-concave) on EnrgyPlus

[2015-08-29 17:21] mostaphaRoudsari opened #372 "Add csv schedules to HB_Library"

[2015-09-07 17:41] chriswmackey commented on #202
@mostaphaRoudsari ,
Rotating all of the geometry with native GH components is how I am addressing this right now and, when I am working with just one GH file, this is a perfectly fine way of going about it.  I am just realizing that, when I have to implement this same exact rotating process on 5+ projects that all want annual daylight metrics, it starts to become worthwhile for me to invest some t

[2015-09-07 17:49] chriswmackey commented on #365
@mostaphaRoudsari ,
I agree that this is something that E+ team really should fix if they want people to use it.  I voted for the wish and, hopefully, they come through in the near future.
-Chris

[2015-09-09 05:12] chriswmackey opened #373 "Add Component to Re-Evaluate Zone Geometry"
As per this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1356815&xg_source=msg

[2015-09-11 02:26] mostaphaRoudsari commented on #373
I added my comments here: http://www.grasshopper3d.com/group/ladybug/forum/topics/modeling-high-rise-buildings-in-hb?commentId=2985220%3AComment%3A1359669&groupId=2985220%3AGroup%3A658987

[2015-09-11 17:20] jtyow commented on #361
I'm having the same, using the latest glare component from Github. I've checked my paths and can't find the issue. thoughts?

[2015-09-14 00:06] chriswmackey commented on #361
@jtyow ,
Are you using the version of the component that is from August 28th?  If so, can you send a screenshot of the error?  It might be the case that some systems want to have the Rad Path while others do not.
Hopefully, we can get to the bottom of this.
-Chris

[2015-09-25 07:55] jacoposartore opened #381 "Read EP Result error with most recent components"
Hello everyone,

I'm getting a red error (Solution exception:Index) on the Read EP Result component when running EnergyPlus simulations:

![ep error](https://cloud.githubusercontent.com/assets/8501837/10095577/1771f26a-636b-11e5-956c-8e71847d9d18.png)

When using old components from early September everything works fine.

![ep ok](https://cloud.githubusercontent.com/assets/8501837/10095602/35f90a0

[2015-09-26 03:14] chriswmackey commented on #381
@jacoposartore,

I am pretty sure that this is happening because you did not manually replace the readEPResult component after running the uodate honeybee component. I added a new output for outdoor air energy to allow you to reconstruct the energy balance that E+ is running.  Because of this new output, you need to replace the component manually.

Let me know if this fixes it and, if so, close ou

[2015-09-28 07:33] jacoposartore commented on #381
thank you @chriswmackey, that solved the problem. I'm closing the issue.

[2015-09-28 07:33] #381 closed

[2015-10-02 01:15] #272 closed

[2015-10-03 19:27] chriswmackey commented on #373
@mostaphaRoudsari ,
I remember you said on the GH group topic that you would give this component a shot. Given this and that you probably understand how to do this better than I, I am transferring the issue assignee to you.  If the issue is not addressed within a few more months, I will tackle it myself.
-Chris

[2015-10-03 19:31] chriswmackey commented on #362
@mostaphaRoudsari ,
I don't intend to have 3-phase implemented by the next stable release but I think that we should do something to address this clear bug for this release (even if it means taking out the Daysim shading components for the release until we get 3-phase working).
I am adding it to the milestone for this reason and let me know what course of action you would recommend.
-Chris

[2015-10-03 19:34] chriswmackey commented on #358
Now that I looked into it a bit, this is something that is just too easy to do with the current native text tag component such that any HB component that I make for this would be a real waste of time.  I am closing out the issue for now.

[2015-10-03 19:34] #358 closed

[2015-10-03 19:36] chriswmackey commented on #354
@mostaphaRoudsari ,
By virtue of the fact that this is a bug, I feel that it should probably be addressed by the next stable release.  Feel free to remove the milestone marker if you feel otherwise.
-Chris

[2015-10-03 19:46] mostaphaRoudsari commented on #354
Thanks. Agreed. I will address this soon.

[2015-10-03 20:01] chriswmackey commented on #336
@mostaphaRoudsari ,
Given that you implemented this a while back, I am closing out the issue.  I just added one last tweak to what you implemented: I now make sure that the magnitude of the move vector is equal to the distFromBaseSrf:
https://github.com/mostaphaRoudsari/Honeybee/commit/3f9119275dc19c3f3f375293c0db74e8f705785c

This should do it and, if you feel otherwise, please re-open.
-Chris

[2015-10-03 20:01] #336 closed

[2015-10-03 20:06] chriswmackey commented on #183
This issue will be partially addressed once this is implemented:
https://github.com/mostaphaRoudsari/Honeybee/issues/373

[2015-10-03 20:06] chriswmackey commented on #333
This issue will be partially addressed once this is implemented:
https://github.com/mostaphaRoudsari/Honeybee/issues/373

[2015-10-03 20:12] chriswmackey commented on #362
I should also note that the general 3-phase implementation referenced in this issue is covered here:
https://github.com/mostaphaRoudsari/Honeybee/issues/290

[2015-10-03 20:22] chriswmackey commented on #271
@mostaphaRoudsari ,
I believe that this should be fixed by now thanks to the extra "rhino-baking" check that I do at the end of splitBuildingMass and by the good general normal-checking functions that I have put in for HBSrfs.  I am going to close out the issue but feel free to re-open if you think that stuff that I put in did not fix it.
-Chris

[2015-10-03 20:23] #271 closed

[2015-10-03 20:25] chriswmackey commented on #251
I have now implemented this on a lot of components and I aim to finish this off before the next stable release.

[2015-10-03 20:29] chriswmackey commented on #235
@mostaphaRoudsari ,
It seems like this one was fixed a LONG time ago.  I'm closing it!
-Chris

[2015-10-03 20:29] #235 closed

[2015-10-03 20:36] chriswmackey commented on #201
@ayezioro ,

We never closed out this issue after you made your awesome component but I am glad that we did not as I now have a few extra things to be added.  Unless you beat me to it, I will:

1) Add an output to your component that gives the total Flow/Zone (which helps when setting air flow for fan-driven natural ventilation).

2) Add a component to calculate infiltration flow by square meter o

[2015-10-03 20:46] chriswmackey commented on #134
Hello All,
Given that I have implemented a lot of the natural ventilation stuff so far, I am going to change myself to be the asignee here.  All that I have to implement to close out the issue now is the airflow network and the basic natural ventilation objects on the OpenStudio workflow.
-Chris

[2015-10-03 20:47] chriswmackey commented on #122
@mostaphaRoudsari ,
Now that we have the warning and the other issue about units, I am closing this one out.
-Chris

[2015-10-03 20:47] #122 closed

[2015-10-03 20:50] chriswmackey commented on #29
@mostaphaRoudsari ,
Now that we have a bunch of more specific issues about blinds open, I am going to close this very old one out.
-Chris

[2015-10-03 20:50] #29 closed

[2015-10-03 20:50] chriswmackey commented on #13
@mostaphaRoudsari ,
I believe that we take care of this now, No?
-Chris

[2015-10-03 21:10] chriswmackey opened #382 "Finish the Export to LBNL THERM"
I just wanted to create this issue to that we have a forum to discuss how I am building out the connection form Honeybee to THERM.  Here is the description of the workflow and the accompanying image:

![generalthermworkflow](https://cloud.githubusercontent.com/assets/5567574/10265139/869c40a0-69f1-11e5-80ce-a98f5c9ecf74.JPG)

You will draw closed polygons and polylines for boundary conditions in R

[2015-10-06 14:40] mostaphaRoudsari commented on #279
@arkdanielnielsen try this: http://tt-acm.github.io/DesignExplorer/

[2015-10-06 14:40] #279 closed

[2015-10-06 17:17] antonszilasi opened #383 "Remove Window by name functionality added to Honeybee_remove Glazing and some questions"
@mostaphaRoudsari
@chriswmackey
Mostapha,Chris

I've added functionality to Honeybee remove glazing so that you can remove a window just by its name. Its in my latest pull request.

The users can get the name of the windows from the component LabelSurfaces. However I noticed (Please see the screenshot), that in the case of child surfaces the names given in the component createHBsrfs are re-assigne

[2015-10-07 17:06] antonszilasi commented on #383
@mostaphaRoudsari @chriswmackey

After doing some beta testing with Nick Novelli I'd like to remove the srfIndex and Pattern inputs on the component Honeybee remove window. As we found that these inputs can be very confusing and unclear and it makes more sense to simply have the option to remove windows by window name.

Let me know what you think,

Anton
![1](https://cloud.githubusercontent.com/as

[2015-10-07 23:44] chriswmackey commented on #383
@antonszilasi ,
I could see this as a good idea. Perhaps you can sense whether a given input is an integer and, if not, search for the name. This way, you can keep both functionalities.

As far as the naming of glazing goes, EnergyPlus needs trapezoidal widows to be broken up into two triangles and this may be one reason for the renaming. Another reason might be related to this issue:

https://git

[2015-10-10 06:40] arkdanielnielsen commented on #279
@mostaphaRoudsari This is awesome!!

[2015-10-10 07:30] arkdanielnielsen commented on #279
@mostaphaRoudsari one Q.... is the setup the same as Honeybee>Pollination and what about attaching images? Do you have a example file?

[2015-10-10 12:23] mostaphaRoudsari commented on #279
@arkdanielnielsen thanks. It's very similar. check file preparation here: https://github.com/tt-acm/DesignExplorer/wiki
Images should be hosted on the web and the link should be provided inside the csv file.

[2015-10-17 16:57] chriswmackey opened #386 "Add a Component to Search for Input Surface Names and Pull out just the surface geometries with the name"
as per this discussion:

http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1379985&xg_source=msg

[2015-10-17 17:56] chriswmackey opened #387 "Clean Up Passing of Attribute Lists In Comfort Map Workflow"
As per this brilliant method figured out by @mostaphaRoudsari :
https://github.com/mostaphaRoudsari/Honeybee/pull/385

-Chris

[2015-10-19 13:59] gdemichele opened #388 "Come up with a better default naming convention for HBZones when multiple Mass2 Zone components are used"
Got all the zones (with same orientation) one on the other. See the discussion at the following link
http://www.grasshopper3d.com/group/ladybug/forum/topics/problem-with-the-solve-adjacencies-component?commentId=2985220%3AComment%3A1379925&xg_source=msg_com_gr_forum

[2015-10-22 08:25] etienneburdet opened #389 "Large scale SVF and sun visibility"
Hello,

I tried to use LB to compute a large number of SVF on a scene (about 2000 points) using the LB_mask component. While it works great to compute 1 to a dozen SVF, once the number grows too large, it seems the component and/or LB cannot handle the large number of outputs (GH seems to be "loading" forever). A bit of the same problem appears for the "sunisvisible" variable of the sunlight hours

[2015-10-22 09:05] etienneburdet commented on #389
*Whoops posted in HB instead of LB*

[2015-10-22 09:05] #389 closed

[2015-10-23 00:36] chriswmackey commented on #388
@gdemichele ,

I am changing the name of this issue to be more specific about the conclusion that came out of the grasshopper discussion (which is that Honeybee needs better default names for zones).

We will hopefully address this soon,
-Chris

[2015-10-23 07:18] gdemichele commented on #388
That's perfect Chris, I am not so familiar with "bug reporting" so any advice is welcome.

Good work,
Giuseppe

[2015-10-23 13:58] Kristoffernegendahl commented on #382
Hey Chris. This is amazing. Just updated the HB objects and saw the WIP Therm polygon module. The final objective to completely bypass the THERM GUI is fantastic. Until now I have avoided THERM because of the many frustrations of the drawing GUI. But using GH/Rhino as an exporter with quality check is just making me wanting to use therm in all projects. Looking forward to see the implementations.

[2015-10-25 01:29] mostaphaRoudsari opened #392 "Assigning new construction fails in OpenStudio component"
See [this](http://www.grasshopper3d.com/group/ladybug/forum/topics/unable-to-re-assign-constructions) discussion.

[2015-10-25 08:17] chriswmackey commented on #392
@mostaphaRoudsari ,

I had to fix this bug for work anyway.  Closed:
https://github.com/mostaphaRoudsari/Honeybee/commit/57d8e42c1a71f46336d5451bd934beb8a40ee5e3

[2015-10-25 08:17] #392 closed

[2015-10-25 13:36] mostaphaRoudsari commented on #392
Thanks @chriswmackey!

[2015-10-25 15:31] chriswmackey opened #393 "Can't Figure Out How to Get the Airside Economizer to Reduce Cooling Energy"
@chiensiTB ,

I have been trying for 3 hours now to get the airside economizer to reduce the cooling electric energy used by a chiller but it inevitably increases the cooling by a small margin no matter what I do toyour component.  I am working in San Francisco, which I know is supposed to be a good climate for economizers.  You can see my file that is giving me the issue here:
https://www.dropbox

[2015-10-25 18:24] chriswmackey commented on #393
I should also mention that any knowledge shared here will be written into the component descriptions and our new gitbook documentation that @mostaphaRoudsari put together. This way others will hopefully be able to avoid this problem in the future.

[2015-10-25 18:58] chiensiTB commented on #393
Hi Chris-

I'm going to take a look at this now.

On Sun, Oct 25, 2015 at 2:24 PM, Chris Mackey <notifications@github.com>
wrote:

[2015-10-26 00:39] chriswmackey commented on #393
Awesome. Thank you. IT may just be an issue with the control s that I have not been able to crack yet.

-Chris

[2015-10-26 19:07] antonszilasi commented on #393
@chiensiTB  Hi Chien Si are you available to discuss your Open Studio components over Skype? I am trying to finish them off where you left off. If you are please add me on Skype - anton.szilasi. Oh and by the way I hear we are co-workers at P+W ; ).

[2015-10-26 19:54] chiensiTB commented on #393
Hi Anton-

Sure, we can do that.  Thanks for reaching out.  I'm not working at P+W by
the way, I'm just helping Ben out to get his project underway.  Is there a
good time to reach you?

Cheers,
Chien Si

On Mon, Oct 26, 2015 at 3:07 PM, Anton Szilasi <notifications@github.com>
wrote:

[2015-10-27 04:58] chriswmackey commented on #393
@antonszilasi and @chiensiTB ,

Let's plan a time to meet together.  Chien Si, in case you don't have it, my skype name is mackeyarchitecture.  I can do any time after work on Wednesday or Thursday of this week.  Otherwise, Saturday is good.

-Chris

[2015-10-27 15:15] jacoposartore opened #394 "Wish - Add wall cavity and exterior naturally vented cavity"
Hi there,

I was wondering whether the evaluation of opaque ventilated façades will be implemented in the future. I read that's actually done in EP, respectively, by creating a Material:AirGap with thermal resistance and by adding the "SurfaceProperty:ExteriorNaturalVentedCavity" to the related surfaces.

[2015-10-27 16:44] mostaphaRoudsari commented on #326
@chriswmackey has already addressed this one.

[2015-10-27 16:44] #326 closed

[2015-10-27 16:46] jacoposartore commented on #326
Great! Thank you!

[2015-10-27 16:51] chiensiTB commented on #393
Hi guys-

That sounds fine to me.  I can only do Wednesday night or Saturday.

On Tue, Oct 27, 2015 at 12:58 AM, Chris Mackey <notifications@github.com>
wrote:

[2015-10-28 02:07] chriswmackey commented on #394
@jacoposartore ,

EnergyPlus can model trombe walls and ventilated cavities this way but I have always preferred to model such cavity spaces as separate zones, which I feel does a better job modeling the ventilation and the solar distribution calculation.  You can use the setEPAirflow component to naturally ventilate the cavity to the outdoors (assuming that you use the custom stack and wind objec

[2015-10-28 02:14] chriswmackey commented on #393
@chiensiTB  and @antonszilasi ,
Now that I am looking at how busy tomorrow is, let's go for Saturday.  Shall we say Saturday morning for the sake of Anton in Portugal?
-Chris

[2015-10-28 08:09] jacoposartore commented on #394
Thank you @chriswmackey, this seems a clever and more detailed alternative.
So do you basically add another zone with the thickness of the cavity? Could you provide a simple example file?

What about unventilated cavity wall? I read that this could be implemented by creating an air space layer like it's done currently with window's air cavities (http://bigladdersoftware.com/epx/docs/8-0/input-outp

[2015-10-28 12:17] chiensiTB commented on #393
Saturday morning is fine for me, not a problem.

On Tue, Oct 27, 2015 at 10:14 PM, Chris Mackey <notifications@github.com>
wrote:

[2015-10-28 19:54] antonszilasi commented on #393
@chiensiTB @chriswmackey  Could we shoot for Saturday morning your time. That would be best for me. I'm on GMT time. Thanks guys! Also Chien Si your TerraBuild email isn't working.

[2015-10-29 02:04] chriswmackey commented on #393
@chiensiTB  and @antonszilasi ,

Shall we say Saturday morning at 10:00AM EST over skype?

Also, my original reason for making this post has now been fixed.  So, once we all decide on the time, let's close out the issue.

-Chris

[2015-10-29 02:30] chriswmackey commented on #394
@jacoposartore ,
I apologize that the file is so large but you can find an example of a ventilated double-skin facade here:
https://www.dropbox.com/s/vz2e1jxk5i1qinh/VentedCavityExample.gh?dl=0

If you understand it, please close out the issue.
-Chris

[2015-10-29 02:52] mostaphaRoudsari commented on #386
This is a little bit tricky as in many cases surfaces  get re-named before getting exported to Honeybee. Naming should have a better procedure anyways.

[2015-10-29 11:20] antonszilasi commented on #393
@chriswmackey @chiensiTB  Sounds good to me although I think ChienSi is in LA so that would be early for him.

[2015-10-29 11:24] chiensiTB commented on #393
I'm in New York, so it is fine with me.

On Thu, Oct 29, 2015 at 7:20 AM, Anton Szilasi <notifications@github.com>
wrote:

[2015-10-29 11:40] antonszilasi commented on #393
@chiensiTB  I sent a invitation to your terrabuild email for 10 am EST.

I'm thinking discussion points are:

- Chris's economizer question
- A discussion regarding what you intended for the AirhandlerDetail component and what remains to be coded. I'm starting to get my head around the OS SDK so if you point me in the right direction I should be able to finish this component for you.
- A brief out

[2015-10-29 11:45] chiensiTB commented on #393
From now on, please use my gmail account.  I am switching domains and hosts
so that email will be down indefinitely.

Guys, I'm happy that we're doing this.

I think generally the approach is good.  See you at 10!

On Thu, Oct 29, 2015 at 7:40 AM, Anton Szilasi <notifications@github.com>
wrote:

[2015-10-30 02:21] mostaphaRoudsari commented on #290
Starting runManager makes Rhino crash and gives me this error. I checked and Qt libraries are under OpenStudio folder.

![image](https://cloud.githubusercontent.com/assets/2915573/10836974/b0009f1a-7e8a-11e5-9ec6-d902acb978cb.png)

![image](https://cloud.githubusercontent.com/assets/2915573/10837008/1e828426-7e8b-11e5-88d1-eb0ffc54826f.png)

@macumber any idea why this is happening? I'm going to l

[2015-10-30 02:32] mostaphaRoudsari commented on #290
Changing the library path didn't help. The same error happens. @macumber do I need to install Qt separately. I just uninstalled it a couple of weeks ago assuming it is already shipped with OpenStudio.

[2015-10-30 03:04] mostaphaRoudsari commented on #290
Also tried to update to OpenStudio 1.9.2 and it's still the same.

```OpenStudio.RunManager()``` is enough to get the error.

[2015-10-30 03:24] macumber commented on #290
Two ideas, first is that Qt plugins must be located in the right directory relative to the Qt dlls, the windows plugin is located at C:\Program Files\OpenStudio 1.9.0\bin\platforms in our installer.  More info about Qt plugins is at http://doc.qt.io/qt-5/deployment-plugins.html.

Second is that RunManager can be initialized without the GUI system by setting the 2nd and 3rd arguments to false, see

[2015-10-30 03:41] mostaphaRoudsari commented on #290
Thanks @macumber! Running with no GUI works for now. I can initiate a run manager. Let's see if I can get the whole process to work. :moon:

[2015-10-30 04:15] mostaphaRoudsari commented on #290
@macumber two updates:

1. I think I hit the wall again with this old issue that we had about ```Ruleset``` in C# bindings. I can't get the arguments. I believe this is also what stopped @axelstudios and @kbenne from developing a similar code 2 years ago at the hackathon. We actually still have the code [here] (https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_Export%20To%20Ope

[2015-10-30 04:58] macumber commented on #290
On #1 you are correct, we are working on a solution to this but don't have anything good right now.  On #2 you are also correct, you should be able to just use the defaults.  Do you get any information after the crash?  Any log messages?  Can you point me to the code where you are assembling the RunManager workflow?

[2015-10-30 05:05] macumber commented on #290
Are you saying that just calling `OpenStudio.BCLMeasure.radianceMeasure()` causes the crash?  Or is it when you try to run the workflow?

[2015-10-30 05:11] mostaphaRoudsari commented on #290
yes. Just
[code]
crashes Rhino. I'm trying to find the crash log.

[2015-10-30 05:12] mostaphaRoudsari commented on #290
I also tried to use the path ```OpenStudio.BCLMeasure("pathToMeasure")``` but then it gives me an error that the ruby file is not a measure!

[2015-10-30 05:16] macumber commented on #290
The `OpenStudio.BCLMeasure("pathToMeasure")` method takes the path to the directory containing the measure, not the ruby file, have you tried that?  For the radianceMeasure method to work you would have to have the radiance measure in the same location relative to the openstudio_utilities.dll as it is in the OpenStudio installer.  Are you using the complete OpenStudio installer?

[2015-10-30 05:17] mostaphaRoudsari commented on #290
Yes. I do have the full installation. Let me try the path. Thanks for the after midnight live support! :)

[2015-10-30 05:17] macumber commented on #290
It's only 11 here :-)

[2015-10-30 05:24] mostaphaRoudsari commented on #290
I think your guess is right! Here is the dump file summary:

![image](https://cloud.githubusercontent.com/assets/2915573/10839042/f1b211b8-7ea4-11e5-933a-d0d9e306068a.png)

I'm checking the other solution now.

[2015-10-30 05:27] mostaphaRoudsari commented on #290
Good news! ```OpenStudio.BCLMeasure(OpenStudio.Path(r"C:\Program Files\OpenStudio 1.9.2\share\openstudio-1.9.2\pat\Measures\RadianceMeasure"))``` works fine!

[2015-10-30 06:07] mostaphaRoudsari commented on #290
This code doesn't give an error but also doesn't generate any meaningful results. Only run.db file is generated. I can't see EnergyPlus or Radiance running in processes. There should be a better way to get the report of what's really happening once  RunManager is running. Thanks @macumber for your help so far. We should be pretty close I assume.

[code]

[2015-10-30 14:17] macumber commented on #290
If you are not seeing anything happening in your out dir then I would suspect this line `rm.setPaused(True)`, that is pausing RunManager you need to call `rm.setPaused(False)` to unpause it and start the run.

The other thing I would mention is that EnergyPlus and Radiance are shipped with OpenStudio, you should use the versions that are bundled with OpenStudio for any OpenStudio runs.

Final thin

[2015-10-30 16:20] rpg777 commented on #290
I'm sorry, wasn't ```rm.setPaused(False)``` _(like, totally,)_ the obvious way to say "run"? =) Waiting with baited breath here, to find out how you make out!

[2015-10-30 17:01] mostaphaRoudsari commented on #290
=). I started to work on some other stuff this morning but then you guys made it very hard to concentrate! ;P

Here is the update:
Actually I noticed that line last night/morning and I commented it out but it didn't make a difference. Now I realize that I need to start it since I set it to false in the initialization line ```rm = OpenStudio.RunManager(rmDBPath, True, True, False, False)```

Settin

[2015-10-30 17:05] mostaphaRoudsari commented on #290
One more thing to add. Once the script is executed, Ruby interpreter starts working and EnergyPlus goes after that. No Radiance.

[2015-10-30 17:21] mostaphaRoudsari commented on #290
Some more updates! I added an illuminance grid manually and tested the file and it didn't make a difference! Then I used the testmodel.osm that comes with daylighting measure and boom!

![image](https://cloud.githubusercontent.com/assets/2915573/10852790/029e39de-7f09-11e5-8aae-2bae7c6326b9.png)

The error with RunManager is still there. I will compare the models and check the results to see what

[2015-10-30 17:35] macumber commented on #290
Probably need to start pinging @rpg777 if the issues are model dependent

[2015-10-30 17:41] mostaphaRoudsari commented on #290
Already started doing that! =)
Here is the short summary of what works and what fails:
* gendaymtx works and the sky is there
* gendctimestep can't run successfully and results are empty

I think next step is to run the measure from OpenStudio and see if it works.

@macumber regardless of this measure if we can get the argument part fixed looks like we should be able to load OpenStudio measures to

[2015-10-30 17:45] macumber commented on #290
All sounds good to me :-)  The measure arguments are in the measure.xml file next to the measure.rb file, so you can get them from there.  The only complication is that measure arguments that depend on the specific model (e.g. list of all zones in the model) won't be right.  That is the piece that we need to add in the coming year.  As for setting the argument values that should be easy, let me kn

[2015-10-31 00:06] mostaphaRoudsari commented on #290
Ok. I'm back on this one. The measure fails even when I run it from OpenStudio:

![image](https://cloud.githubusercontent.com/assets/2915573/10860615/1b24e934-7f41-11e5-9066-81b31aa90388.png)

@rpg777 let me know if this image tells you anything otherwise I need to check the commands line by line to see where does it fail.

@macumber I assume that it will be actually ok. We already have OpenStudio

[2015-10-31 00:25] mostaphaRoudsari commented on #62
Made some progress at #290

[code]

[2015-10-31 00:59] chriswmackey commented on #290
@mostpharoudsari and @macumber ,

I just wanted to say that you gentlemen are epic. The suspense of this issue has been thrilling. Keep kicking ass!

[2015-10-31 03:26] mostaphaRoudsari commented on #290
@macumber I think I won the hackathon :). Click on the image to watch the video.

[![image](https://cloud.githubusercontent.com/assets/2915573/10861615/48d892d8-7f5d-11e5-9822-c14c226956fe.png)](https://www.youtube.com/watch?v=DHs-inRuHwc)
Now let's see if I can use this data to set measure arguments!

[2015-10-31 04:13] macumber commented on #290
![winner](https://cloud.githubusercontent.com/assets/1327850/10861806/423131b0-7f53-11e5-91c6-ccf1934fdc5d.jpg)

This is awesome :-)  I've always envisioned having a line represent the OpenStudio model (I guess it could be the model in memory or a path) and then stringing the OpenStudio model into the measure and having it come out so you could chain it into another measure.  Is that even possible

[2015-10-31 04:42] mostaphaRoudsari commented on #290
Thanks! and yes that's exactly how it will be working (that's how honeybee works in general). To me it's always like how javascript objects are and let you chain multiple changes together. I need to have a more solid import from OpenStudio to be able to show the changes in the model in each step similar to what we do with Honeybee.

I also have an update on Radiance side. I copied all the lines in

[2015-10-31 04:45] mostaphaRoudsari commented on #290
Path looks fine! Now I have no idea why it goes wrong.
![image](https://cloud.githubusercontent.com/assets/2915573/10861890/a3be6b72-7f68-11e5-8915-480e3392331c.png)

[2015-10-31 05:09] macumber commented on #290
I think I will have to try to get my environment set up to help on this.  This year we will be replacing RunManager with something that should make all this easier to do (and no more scanning for stuff we install).  However, we will have to keep you in the loop to make sure that it actually does make things easier and not worse.

[2015-10-31 06:07] mostaphaRoudsari commented on #354
```(\n|^)(\w*(\h*\w.*\n){1,})``` will work for almost any radiance object! I will implement this tomorrow

[2015-10-31 15:11] chriswmackey opened #395 "Add OpenStudio HVAC Attributes to Label Zone Attribute List"

[2015-10-31 15:14] chriswmackey opened #396 "Finish Implementing Zone-Level Airflow Rates for OpenStudio"

[2015-10-31 15:53] chriswmackey commented on #161
@macumber and @mostaphaRoudsari ,

I have added a work-around in Honeybee for this by writing CSV schedules into the IDF after OpenStudio outputs the IDF.  I know that this solution is far from elegant but the CSV schedules are such a critical part of the application of Honeybee, since the visual scripting interface is very conducive to schedules input as lists, that the workflow is almost unusabl

[2015-10-31 16:35] mostaphaRoudsari commented on #290
@macumber sounds great to me! I'm happy that the current workflow is almost working. There is still minor bugs here an there but that should be fine. As a side note it should be hard to write something that is harder to figure out than runmanager! ;)

@rpg777 please see the warnings and errors from running the batch file here:

![radiancemeasureerrors](https://cloud.githubusercontent.com/assets/29

[2015-10-31 16:37] mostaphaRoudsari commented on #62
It's here now > https://github.com/mostaphaRoudsari/Honeybee/commit/5b0013db94469adbeb576eceb20150ff81f0100d

I close this and open new issues for the next steps of the development.

[2015-10-31 16:37] #62 closed

[2015-10-31 16:39] mostaphaRoudsari opened #397 "Add set arguments inside applyOpenStudio"
Should be added at this line: https://github.com/mostaphaRoudsari/Honeybee/commit/5b0013db94469adbeb576eceb20150ff81f0100d#diff-1445ce9a4a7a5424fcb4f9924cc7aecfR103

[2015-11-01 01:42] mostaphaRoudsari commented on #295
It's now under 4|Extra in Ladybug.

![image](https://cloud.githubusercontent.com/assets/2915573/10866803/3e649c0a-8018-11e5-822a-a86b9f1726e4.png)

[2015-11-01 01:42] mostaphaRoudsari commented on #295
oh... and it's called fly! :)

[2015-11-01 01:59] chriswmackey commented on #396
@antonszilasi and @chiensiTB ,

After realizing that the specifications of outdoor air and recirculated air really need to be assigned on the zone level and not the overall system level, I have now ensured that the outdoor air specifications on the "Set Zone Loads" component will influence the functioning of the OpenStudio HVAC systems:
https://github.com/mostaphaRoudsari/Honeybee/commit/d96f55ce0

[2015-11-01 16:47] #354 closed

[2015-11-01 16:51] mostaphaRoudsari commented on #354
![image](https://cloud.githubusercontent.com/assets/2915573/10870046/f0a17c3c-808e-11e5-96c5-80f258361b57.png)

[2015-11-01 17:36] mostaphaRoudsari commented on #286
I will check this after addressing #126.

[2015-11-02 07:12] #324 closed

[2015-11-02 07:13] #126 closed

[2015-11-02 07:18] mostaphaRoudsari opened #398 "Add standard and climate-zone input for mass2Zone and createZone"
Updated OpenStudio library has keys for constructions and schedules based on standards and climate-zone. Construction set for couple of building types were empty so I didn't implement it at this point.

This change will automate the process of assigning construction sets and also makes the process of creating template buildings easier.

![image](https://cloud.githubusercontent.com/assets/2915573/1

[2015-11-02 11:54] jacoposartore opened #399 "Read EP Result not showing the airHeatGainRate output"
Hi there,

I updated the components with the latest release this morning (terrific update, by the way) and I wasn't able to get that output anymore, even starting from a fresh definition as shown here.
![image](https://cloud.githubusercontent.com/assets/8501837/10881046/fb1abff8-815f-11e5-898b-3698510297b3.png)
![image](https://cloud.githubusercontent.com/assets/8501837/10881068/1ac0bbe6-8160-11e5

[2015-11-02 15:45] antonszilasi commented on #136
I'll finish off System 6 and 8

[2015-11-02 16:36] rpg777 commented on #290
Wow @macumber and @mostaphaRoudsari, you guys have been busy! Sorry I'm just tuning back in here. I have good news but you may want to kill me for not sharing this sooner. That last error you're seeing, about the "unexpected EOF", is most likely being caused by an incorrect Radiance version, simple as that. You need to be using NREL binaries vintage 5.0.a.5 https://github.com/NREL/Radiance/release

[2015-11-02 16:41] antonszilasi opened #400 "OpenStudio HVAC system 5"
@chiensiTB  @chriswmackey

When I am setting HVAC system 5. I am getting the error that the coolingairflow is not defined in the dictonary HVACdetails, please see the file I sent to you by email. (Cant attach GH files here)

Can I also ask why is System 5 the only system that has this key in the dictionary along with 'heatingAirflow',and 'floatingAirflow'.

[2015-11-02 17:07] jacoposartore commented on #394
@chriswmackey,
I used your file as a reference to create a new one from scratch to simulate the impact of both the unventilated and the ventilated wall cavities.
Here it is (https://www.dropbox.com/s/llodsxxojfwmlqb/EPUn-VentilatedWallCavityREV1.gh?dl=0).

I used this paper (http://porto.polito.it/2517736/1/BSA_2013_Corrado_et_al.pdf) and this presentation (www.e3lab.org/upl/website/publication111

[2015-11-02 17:22] antonszilasi commented on #396
@chriswmackey

Is this something that I can do?

[2015-11-02 18:04] macumber commented on #290
@kbenne @henryHorsey @axelstudios @nllong this is a good example for who wants a better interface to OpenStudio measures and also it's just cool :-)

[2015-11-02 23:02] chriswmackey commented on #400
@antonszilasi ,

This is my fault.  Since we are now assigning these flow rates on the zone level (as opposed to the system level), there is no longer a need for these flow rates in the HVAC dictionary.  I switched this over for the other systems but forgot to do so for system 5.  This is fixed in this commit:
https://github.com/mostaphaRoudsari/Honeybee/commit/cea133d6656f7fed74c065eed4092df4c4ec

[2015-11-02 23:02] #400 closed

[2015-11-02 23:05] mostaphaRoudsari commented on #400
```or at least focus our efforts on making one common system good and then apply that template to the others```
:+1:

Having several inputs for the same value is no good. I would consider that as a bug that should be fixed.

[2015-11-02 23:10] chriswmackey commented on #396
@antonszilasi ,

For now, I think that the best we can do is try to apply the components to a number of cases to understand the best way of organizing zone vs system level inputs (or at least understand what needs to be a zone level input and what needs to be a system level input).  Right now, it is a bit of a redundant mess between the two.  I am gaining some clarity as I apply them to projects a

[2015-11-02 23:40] antonszilasi commented on #396
@chriswmackey completely agree. Let me know when you're ready to chat about a consistent template at the moment it seems like its a big mess. I'll just go through the code bit by bit with Chien Si and try to understand it. Then when you are ready all 3 of us can chat about a consistent template.

[2015-11-02 23:44] mostaphaRoudsari commented on #290
Hi @rpg777. Thank you for your input. We're **33%** there. The only place that I was using an older version of Radiance was the batch file. Updating the Radiance did the job. For the other two cases, running from inside Grasshopper and OpenStudio the analysis fails. 1 works out of 3 = **33.33333334%** Any idea what might be the reason?

How can I get a better report from run manager than Failed or

[2015-11-02 23:48] antonszilasi commented on #400
@chriswmackey ok that solved that one lol, do you understand why only system 5 has 'heatingAirflow' and 'floatingAirflow'

[2015-11-03 04:23] chiensiTB commented on #400
Hi @antonszilasi and @chriswmackey .  Thanks for this start to new feedback.  So I agree with you agreeing with me, of course.  Now onto anton's question:

In my component on my own machine, which should be the same as everyone's, I also note that floating airflow and heating airflow has not been coded out fully in all of the system type descriptions.  This is simply because I did not fully work t

[2015-11-03 14:12] chriswmackey commented on #400
@antonszikasi ,

To clarify further, in the last 2 weeks, I was playing around with the implementation that @chiensiTB did of this feature and realized that it was not working for a lot of systems and that, from a user perspective, we should be overriding any autosizing by using the input specifications for outdoor and recirculated air on the zone level (not on the system level as Chien Si initial

[2015-11-03 14:14] chriswmackey opened #401 "Figure out a coherent way to set HVAC Availability for Openstudio"
Here is some info from Chien Si (copied from an email):

So, for this issue of simplifying the availability managers and help users get up to speed.  Here are my suggestions:

I can't speak to the set zone schedules component.  I don't quite use this much.
The reason that there is an availability manager and availability schedule on the air handler detail is primarily because smaller systems (type

[2015-11-03 15:24] rpg777 commented on #290
@mostaphaRoudsari, can you point me to an archive of the failed jobs and I can dig around? Running locally, the stderr and stdout logs that end up in the radiance run directory are generally the best places to look for clues. We may still have some Windows/unix path issue going on here, but this crap all works even on Windows with the latest version of the measure (which I ASSume you are using, an

[2015-11-03 16:09] chriswmackey commented on #399
@jacoposartore ,

Thank you so much for posting this issue.  It was a bug that resulted from a change I made to include fan/pump energy from OpenStudio  runs.  You can find your fixed file here:
https://www.dropbox.com/s/pyvcqfbpdo1gsks/ReadEPResultMissingOutput_CWM.gh?dl=0

-Chris

[2015-11-03 16:09] #399 closed

[2015-11-03 16:35] jacoposartore commented on #399
Great, thank you!

[2015-11-03 17:11] antonszilasi commented on #401
@chriswmackey  Are you saying that we should do away with the availability manager all together. This was my understanding of the discussion.

[2015-11-03 17:23] chiensiTB commented on #401
We would only do away with it on the airside economizer.  It is still essential elsewhere, this is my opinion.  It is a fundamental control object for many components.

[2015-11-03 17:43] mostaphaRoudsari commented on #290
@rpg777, I was not using the latest measure from develop folder so I updated and tried again.

The error is an easy one > ```unknown type "BSDF"``` I'm sure that I have the latest version of Radiance installed so [this should not happen](http://www.radiance-online.org/pipermail/radiance-general/2012-July/008741.html). Right? Any thoughts?

In case you still need the files you can download it from

[2015-11-03 17:43] rpg777 commented on #290
Hey Mo, here's a little ditty from the IDEAkit project, that adds an illuminance map, primary daylighting control, and glare sensor to specific spaces. Gives you an idea of the API calls you need to use to get 'em in there and wired up correctly so the Radiance measure can do its thing. What's missing here is some logic[TM] to get the origin, extents and dimensions of the map and other point detai

[2015-11-03 17:47] mostaphaRoudsari opened #402 "Adding sensors and illuminance map with OpenStudioAPI"
Hey Mo, here's a little ditty from the IDEAkit project, that adds an illuminance map, primary daylighting control, and glare sensor to specific spaces. Gives you an idea of the API calls you need to use to get 'em in there and wired up correctly so the Radiance measure can do its thing. What's missing here is some logic[TM] to get the origin, extents and dimensions of the map and other point detai

[2015-11-03 17:50] mostaphaRoudsari commented on #402
@rpg777 I'm opened a new issue for this one to be easier to track.

Thanks for the code. Very helpful.

It's a little bit different in Honeybee since we already have the test points generated and it is much more flexible than STADIC dxgridmaker utility. Can I add the points as a list instead of creating a grid as you did up there? Should I add multiple sensors?

[2015-11-03 18:03] rpg777 commented on #290
Yeah, so ah, our measure does not deal with "switchable glazing" correctly. We need to fix that ASAP. In the meantime can you try using the alternate option for shade controls, using the material option rather than the switchable glazing option? Create a new shading control in the plugin and pick one of the standard material types in that menu (blind, shade, or daylight redirecting device).
![scre

[2015-11-03 18:25] antonszilasi opened #403 "Open studio ASHRAE HVAC components roadmap"
Hi Everyone

@chiensiTB @chriswmackey @mostaphaRoudsari
Even after our skype meeting the other day and few emails back and forth I am still quite confused as to where we are at and what needs to be implemented with these components. I also wanted to put all the information in one place. This is to help me and hopefully everyone else clarify this. We can discuss all the issues here and then I will

[2015-11-03 19:16] mostaphaRoudsari commented on #290
@rpg777, I can't create a new shading control for some reason! The button is disabled and then I can't  changed the shading type! That is also disabled. Do you want to send me an updated model?

One more question. If this is an issue with ```switchable glazing``` why everything is fine if I run very similar commands from a batch file?

![image](https://cloud.githubusercontent.com/assets/2915573/10

[2015-11-03 20:06] rpg777 commented on #290
Yeah, you need to create and modify these things in the SketchUp plugin, not the app. And I do not know the answer to your other question. I will look into this.

[2015-11-03 20:14] rpg777 commented on #402
Unfortunately most of the Radiance stuff in OpenStudio *expects* an illuminance map object as the origin for the calculation points. But since you're the developer of Honeybee, you could probably do whatever the heck you want, right? Ultimately all the illuminance map points get concatenated to one input file for the Radiance programs, so maybe we could bypass the illuminance map parts and take in

[2015-11-03 21:19] mostaphaRoudsari commented on #290
Well... The screenshot is from SkectchUp plugin! It's not the main issue here though :)

[2015-11-03 21:22] rpg777 commented on #290
You're right, of course. Sorry, what I mean to say is that you need to use the "Set Shading Controls" user script in the plugin, you cannot use the inspector. I haven't had a chance to look at your model yet so I don't have any other info for you just yet...

[2015-11-03 21:23] mostaphaRoudsari commented on #402
That sounds great. If you can bypass test points then we can generate similar files from honeybee to be used by the measure. The only issue that I can see is the order of execution. We should find a solution to make sure OpenStudio measure doesn't overwrite the already generated test points! Let's talk about this then :)

[2015-11-03 23:27] #364 closed

[2015-11-03 23:29] #363 closed

[2015-11-03 23:30] mostaphaRoudsari commented on #364
![image](https://cloud.githubusercontent.com/assets/2915573/10925046/f111d358-8258-11e5-939c-e751365189a8.png)

[2015-11-03 23:30] mostaphaRoudsari commented on #363
![image](https://cloud.githubusercontent.com/assets/2915573/10925048/f5df97e4-8258-11e5-86ea-bf732b6a2aa0.png)

[2015-11-04 03:00] #362 closed

[2015-11-04 03:05] mostaphaRoudsari commented on #362
@chriswmackey this is fixed now. It was two mistakes in checking the number of result files and sorting the outputs. You may want to read [here](http://daysim.ning.com/page/daysim-header-file-keyword-simple-dynamic-shading) to understand how conceptual dynamic shading in Daysim works. Back to EnergyPlus integration OpenStudio is definitely the way to go. Rob has already figured it out so unless we

[2015-11-04 05:03] mostaphaRoudsari commented on #286
This is happening because the josn file doesn't have the key for setback schedules. I'm not sure why is that. Here is the available schedules :
[code]

[2015-11-04 05:20] mostaphaRoudsari commented on #286
Regardless of the warning the component looks to be working fine and generates the schedule. I think we can close this but I think it's better to have more people looking at this before I close it

![image](https://cloud.githubusercontent.com/assets/2915573/10930176/bccd6d06-8289-11e5-8e8a-03375a04a4ee.png)

[2015-11-04 12:55] chriswmackey commented on #286
@mostapharoudsari ,

In the year or so that I have been applying this component, it has always worked as intended for the simulation but I have never completely understood the warnings that I get every time that I input vales into the setback.  For this reason, I changed the warnings to cments a couple of months ago.

The way I am explaining it to myself right now, there are some setpoint schedule

[2015-11-04 13:03] mostaphaRoudsari opened #404 "Finish run multiple batch files component"
I started developing a component for running a number of batch files in parallel in [this discussion](http://www.grasshopper3d.com/group/ladybug/forum/topics/running-several-e-simulations-at-a-time?commentId=2985220%3AComment%3A1388833&groupId=2985220%3AGroup%3A658987)
I had to make couple of changes to re-run idf that I needs to be cleaned and pushed to Honeybee.

Inputs and outputs also need des

[2015-11-04 13:38] chiensiTB commented on #403
Hi @antonszilasi.  I see the need for two different paths of development.  One path is the "define airflow rates path".  I don't agree with Chris to do away with system level airflow rates.  I believe @chriswmackey that setting the airflow rate at the air handler sets the airflow rate of the airhandler, and setting the airflow rate at the zone is at the zone level.  For systems that support multi-

[2015-11-04 19:00] macumber commented on #290
Hey Mo, have you seen this tutorial on shading controls in OS?

http://nrel.github.io/OpenStudio-user-documentation/tutorials/tutorial_shadingcontrols/

Also this radiance one:

On Tue, Nov 3, 2015 at 2:22 PM, Rob Guglielmetti <notifications@github.com>
wrote:

[2015-11-04 19:00] macumber commented on #290
D'oh. this radiance one:

http://nrel.github.io/OpenStudio-user-documentation/tutorials/radiance_tutorial/

On Wed, Nov 4, 2015 at 12:00 PM, Dan Macumber <macumber@alum.mit.edu> wrote:

[2015-11-04 19:51] macumber commented on #402
Interesting :-)

[2015-11-04 20:21] #397 closed

[2015-11-04 20:42] #373 closed

[2015-11-04 21:42] mostaphaRoudsari commented on #290
Thanks @macumber. No I didn't know about the first links. Made the changes and @rpg777 guess was right. ***It runs with no errors!*** :tada: :balloon:

![image](https://cloud.githubusercontent.com/assets/2915573/10952165/5bfc07a4-830f-11e5-9484-6b51b40c0759.png)

We need to get 5 more steps before closing this:
1. Measure looks into the wrong folder for Ruby files. The temporary fix for this was t

[2015-11-04 23:51] mostaphaRoudsari opened #405 "Modify read annual daylight analysis to accept EnergyPlus schedule"
I realized that even when users use Daysim for annual daylight simulation they don't update occupancy schedule based on EnergyPlus model. The process of converting EP Schedule to Daylighting schedule currently take a couple of steps which will be streamlined after making this change.

[2015-11-04 23:52] mostaphaRoudsari opened #406 "Release Notes!"
Thank you @chriswmackey!

[2015-11-04 23:53] mostaphaRoudsari opened #407 "Update versions and make a github release"
Both for Ladybug + Honeybee. I just open this issue for both of them.

[2015-11-04 23:54] mostaphaRoudsari opened #408 "update gitbook"
Both for Ladybug and Honeybee

[2015-11-04 23:55] mostaphaRoudsari commented on #202
With the new transform method I should  be able to finish this tonight!

[2015-11-05 01:11] chriswmackey commented on #202
That would be awesome!!!

[2015-11-05 01:14] chriswmackey commented on #406
@mostapharoudsari ,

I can have this ready to go within a day. If you have time to skim over what I put together shortly after I finish, we can publish the release notes closer to when we update the food4rhino links. Let me know if this sounds like a good idea or if you would rather wait until the weekend as we discussed.

-Chris

[2015-11-05 01:36] mostaphaRoudsari commented on #333
http://www.grasshopper3d.com/group/ladybug/forum/topics/modeling-high-rise-buildings-in-hb?commentId=2985220%3AComment%3A1392588&groupId=2985220%3AGroup%3A658987

[2015-11-05 01:36] #333 closed

[2015-11-05 01:36] mostaphaRoudsari commented on #183
http://www.grasshopper3d.com/group/ladybug/forum/topics/modeling-high-rise-buildings-in-hb?commentId=2985220%3AComment%3A1392588&groupId=2985220%3AGroup%3A658987

[2015-11-05 01:36] #183 closed

[2015-11-05 01:52] mostaphaRoudsari commented on #406
Thanks @chriswmackey! Let's take it easy and post it during the weekend? 1. You won't get burnt out. 2. We will have a grace period for knowing about any potential major bugs for the new release. I will use the latest version this weekend which will be another place to make sure everything works as expected.

[2015-11-05 02:42] mostaphaRoudsari commented on #202
![image](https://cloud.githubusercontent.com/assets/2915573/10958518/eba5f68a-833c-11e5-88a3-5a5d7294a4ab.png)

[2015-11-05 03:01] chriswmackey commented on #406
@mostaphaRoudsari ,
Great.  The plan makes sense and you are right that I appreciate the extra time.

[2015-11-05 03:01] chriswmackey commented on #202
WOOOOOO HOOOOO!!!!!!!!!

[2015-11-05 03:28] chriswmackey commented on #362
@mostaphaRoudsari ,
Awesome.  Thanks for fixing this and for the info.  Very excited for the fusion of HB with OpenStudio that seems immanent.
-Chris

[2015-11-05 03:50] chriswmackey commented on #401
I feel we should have just one common way to set availability and I agree with @chiensiTB that this should be done through an availability manager (since it seems to be the method that exposes the most options).  This means that I will eventually get rid of the HVACAvailability on the zone level once we have this up and running.

[2015-11-05 04:12] chriswmackey commented on #396
I think that all that we need to assign on the zone level is the airflow rates and this will be done through the set Zone Loads component.  So there will be no need for an additional component.

-Chris

[2015-11-05 04:14] chriswmackey commented on #403
@chiensiTB  and @antonszilasi

Thank you for the insight and the visuals in your presentation, @chiensiTB ,will be super-useful for communicating how to others about how to use the components:
https://drive.google.com/file/d/0Bz2PwDvkjovJNG1MU2VFLXVGdUk/view?usp=sharing

I agree with the way that you have organized the components and I should say that, over the last year, this organization has act

[2015-11-05 04:20] chriswmackey commented on #324
@mostaphaRoudsari ,
For clarity, does this mean that this issue won't be addressed until LB_LB + HB_HB become standalone libraries that are no longer in a component?
-Chris

[2015-11-05 04:23] mostaphaRoudsari commented on #324
@chriswmackey it has been fixed which means only the first time that Honeybee_honeybee is dropped on canvas default libraries will be loaded. Otherwise the libraries will be kept as it is. As a result if user has created any new constructions, they will have access to it which was the bug.

[2015-11-05 04:27] chriswmackey commented on #324
Wow!  That's Awesome!!!!!
Thanks for the clarification!!!!!

[2015-11-05 04:52] chiensiTB commented on #403
@antonszilasi.  I believe an appropriate use case for you to work on in the short term is to either attempt to complete systems 6 and 8.  How is that going?  Or alternatively, you can begin to work with Chris on an upstream zone override component.

@chriswmackey should we meet again this Saturday?  I can bring a features request and bug/enhancement list.

[2015-11-05 05:00] #405 closed

[2015-11-05 05:01] mostaphaRoudsari commented on #405
![image](https://cloud.githubusercontent.com/assets/2915573/10960221/68a4d788-8350-11e5-9884-2cb7be9af1e0.png)

[2015-11-05 05:05] mostaphaRoudsari commented on #286
Since this is working fine I change the lable to enhancement and I will check it later.

[2015-11-05 09:17] #408 closed

[2015-11-05 09:18] mostaphaRoudsari commented on #407
Updated the versions. Will make the releases at the airport.

[2015-11-05 11:22] moethu opened #409 "unknown checkIfTransformed error thrown"
Hi Mostapha,
I tried to traceback this error but I cannot find the Library where the checkIfTransformed method is in.
The geometry hasn't been moved or modified.
Thanks for your help.

![capture](https://cloud.githubusercontent.com/assets/8201465/10967007/4fbc6cd6-83af-11e5-9719-1c941de73a0f.png)

[2015-11-05 11:46] elsamullin opened #410 "global name 'north_' is not defined"
Hi mostapha, I'm trying to connect epw file to the updated annualDaylightSimulation component and have a "global name 'north_' is not defined" error in the updated component.

It looks like the older version of the component had the lines below, and they are not in the new script. Could this be the issue?

def main():
    north_ = 0

Thanks!

![capture3](https://cloud.githubusercontent.com/assets/

[2015-11-05 12:58] chriswmackey commented on #403
@chiensiTB ,

I think meeting this saturday is a good idea. We seem to all be on different pages right now. Since system 5 is also VAV, I think the implementation of it will be easier after I have finished adding in zone-level inputs for system 7 and we have solidified things like the plant details and heat recovery.  Then, implementing system 5 is just a matter of using a lot of the same code fro

[2015-11-05 13:03] mostaphaRoudsari commented on #409
Hi Max! This is in Honeybee_honeybee. The class name is Honeybee_Hive. I just landed. Will take a look as soon as I can. Thanks.

[2015-11-05 13:06] mostaphaRoudsari commented on #410
Hi @elsamullin. I removed the line as now it's implemented and you can set north direction for annual analysis. Re-insert the component from Honeybee tab to solve the problem.

[2015-11-05 13:06] #410 closed

[2015-11-05 13:17] elsamullin commented on #410
@mostaphaRoudsari  thank you!

[2015-11-05 14:19] mostaphaRoudsari commented on #409
I can't recreate the issue. What are your units and tolerance? The code probable needs to be more forgivable bit to catch cases like this.

[2015-11-05 14:34] #409 closed

[2015-11-05 14:36] mostaphaRoudsari commented on #409
@moethu I made the check less restrict (032c3027ba65580cd172c23704c4af3285f4c24f). Can you please update Honeybee_Honybee component and try again. Let me if the issue persists.

[2015-11-05 15:17] jacoposartore opened #411 "Get Zone EnergyPlus Loads calculation error"
Hi there,

I have used this component and when comparing the results with the older Get EnergyPlus Loads component there are discrepancies due to the conversion ft^2-to-m^2, that is no longer needed.
![image](https://cloud.githubusercontent.com/assets/8501837/10972223/8e1c04cc-83d8-11e5-844a-24d7613548ae.png)

[2015-11-05 15:21] mostaphaRoudsari commented on #411
Thanks @jacoposartore for reporting this. I assume you're using the updates json library? Is that right?

[2015-11-05 15:24] jacoposartore commented on #411
Yes, it's the one you updated 3 days ago..

[2015-11-05 15:26] mostaphaRoudsari commented on #411
Great. Just wanted to make sure. That means that all the values in the new OpenStudio_Standard.json are in SI and not in IP anymore. @macumber can you confirm this?

[2015-11-05 15:29] mostaphaRoudsari commented on #411
My bad! OpenStudio file is still the same. New Zone load components don't need the conversation as it has already being made under the hood. I will get this fixed now.

[2015-11-05 15:30] jacoposartore commented on #411
Great, thank you @mostaphaRoudsari.

[2015-11-05 15:39] #411 closed

[2015-11-05 15:39] mostaphaRoudsari commented on #411
Thanks @jacoposartore! Should be fixed now.

![image](https://cloud.githubusercontent.com/assets/2915573/10972953/8005f264-83a9-11e5-94ec-f5140a75eb8e.png)

[2015-11-05 17:03] antonszilasi commented on #404
@mostaphaRoudsari  leave it to me just having some troubles with rhino at the moment so I'm offline today...

[2015-11-05 17:38] antonszilasi commented on #403
@chrismackey @chiensiTB

Meeting this saturday sounds good. Just give me a time and I'll find a cafe (Travelling again). Chris I think getting me to list the inputs on each component is an excellent idea. Lets make that one of the outcomes of the meeting, therefore questions that spring to my mind for the meeting are.

- Should outdoor and recirculated air be set at a zone level?
- Should other HV

[2015-11-05 20:34] macumber commented on #411
I believe the standards are still in IP, the repo is here if you are interested:  https://github.com/NREL/openstudio-standards

@asparke2 is the main contact for the standards

[2015-11-06 14:20] chriswmackey commented on #403
@chiensiTB and @antonszilasi ,

Let's plan to talk again at 11 AM EST tomorrow unless you state otherwise here.

-Chris

[2015-11-06 14:23] antonszilasi commented on #403
Sounds good

[2015-11-06 14:34] chiensiTB commented on #403
Great, I will be on skype at that time and ready to go.

On Fri, Nov 6, 2015 at 9:23 AM, Anton Szilasi <notifications@github.com>
wrote:

[2015-11-06 15:14] macumber commented on #161
We will be working on refactoring the OSM file structure for OpenStudio 2.0 this year.  One of the main concerns here is to better define the file structure of OSMs so it is easier to find files associated with the OSM.  This should make it easier to reliably use CSV for input.  So I would say it is on the ~ 1 year time frame.

[2015-11-06 16:01] chriswmackey commented on #161
Awesome.  Thanks for letting me know, @macumber !

[2015-11-06 19:57] chriswmackey commented on #394
@jacoposartore ,

I apologize for getting back so late.  I checked your file and things are looking great and there are only 2 changes that I would make:

1) I am guessing that you do not get any wind-driven ventilation (aka. cross ventilation) through these air cavities.  As such, you should just set the wind discharge coefficient to 0.

2) Your stack discharge coefficient is correct but I should

[2015-11-06 19:57] #394 closed

[2015-11-07 20:04] ayezioro opened #412 "addHBGlz child surface issue"
Hi,
Just before the official release i think there is a bug in the HB_addHBGlz.
Connecting multiple surfaces to the _childSurfaces input i'm getting the following:
1. Solution exception:'tuple' object has no attribute 'isPossibleChild'
I was updating one of the examples in Hydra.
-A.

[2015-11-07 20:13] mostaphaRoudsari commented on #412
Hi Abraham! I thought I just fixed the issue this morning! http://www.grasshopper3d.com/xn/detail/2985220:Comment:1395481

What's the date of the component that you're using?

[2015-11-07 20:17] ayezioro commented on #412
Hi Mostapha,
First of all you can close this one.
I updated the file and somehow it get the Nov 5 version. Now i updated again and it is 7 Nov and it is working.
So probably i get something between the cracks of the update.
Sorry and thanks,
-A.

[2015-11-07 20:19] mostaphaRoudsari commented on #412
Great and thank YOU!

[2015-11-07 20:19] #412 closed

[2015-11-08 12:33] ayezioro opened #413 "Radiance library materials issue"
Hi,
Hoping again i'm doing something wrong ...
I'm having issues using the HB_callFromLibrary. It turns red with the following:
1. Solution exception:'dict' object has no attribute 'type'
All components are updated to Nov_07. The HB_HB says that 27 materials were loaded from library, but still i can't get materials from library.
Moreover, in the same case i defined a glass material with the HB_rad

[2015-11-08 21:01] #413 closed

[2015-11-08 21:02] mostaphaRoudsari commented on #413
![image](https://cloud.githubusercontent.com/assets/2915573/11022659/18b9b4e8-8632-11e5-8a14-b22e61486ce9.png)

[2015-11-08 21:06] boris-p opened #414 "Daysim limitation workaround - manipulate multiple ill files"
Being more exposed to real projects and workflows where I work, I recently had the chance to try and make some workflows more efficient and wanted to first figure out if there are already better ways to do what i'm trying to do and if not see if you think it might be relevant for other HB users.

The issue is regarding daylight simulation using HB and daysim in the background. For simplicity's sak

[2015-11-08 21:10] boris-p commented on #414
Chris has kindly pointed out to me that Mostapha is implementing the 3-Phase method which might eliminate the need for this workaround altogether.

What do you guys think? Would it just be redundant?

best,

boris

[2015-11-08 22:21] ayezioro commented on #413
Great!
Thanks.
-A.

[2015-11-09 10:05] #406 closed

[2015-11-09 10:05] #407 closed

[2015-11-09 19:25] chriswmackey opened #415 "Label Outputs of "Step of Simulation" with HOY on the Comfort Maps"
It seems that this just confuses everyone:
http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=Indoor_Microclimate_Map

-Chris

[2015-11-11 09:38] agusHariyadi opened #416 "Question on Integrated Daylight and Energy simulation Example file"
@mostaphaRoudsari
about your example on Integrated Daylight and Energy simulation, in http://hydrashare.github.io/hydra/viewer?owner=mostaphaRoudsari&fork=hydra_1&id=Integrated_Daylight_and_Energy_simulation
this example was very interesting for me..
When I see the result, the reduce of lighting energy was very dramatically, more than 99%.
Correct me if I am wrong..
But when I see the zone program

[2015-11-13 01:04] mostaphaRoudsari opened #417 "setEPAirflow component error"
http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1399294&xg_source=msg

@chriswmackey it looks like a bug to me. Let me know if you want me to have a look.

[2015-11-13 03:38] mostaphaRoudsari commented on #416
Hi @agusHariyadi. I agree that the schedule generated by daysim is strange. I used different schedules as the occupancy schedule and I get very different results. I will check your file and let you know the conclusion. Thanks.

[2015-11-13 11:49] jramsden271 opened #418 "Radiance Glass_Material component"
If no name is inputted, the RADmaterial output is null. However, this is not obvious to the user. The component should return an error if no name is inputted. Otherwise, the user may continue to model with a 'null' material, which can alter analysis results.

[2015-11-13 16:17] chriswmackey commented on #417
It is Fixed:
https://github.com/mostaphaRoudsari/Honeybee/commit/5c46abd15994eb2c9372b1a59aee46a72a5edc5a

[2015-11-13 16:17] #417 closed

[2015-11-13 16:27] mostaphaRoudsari commented on #418
@jramsden271 I added input check to all material components. It now gives a warning if any of required inputs is missing.

[2015-11-13 16:27] #418 closed

[2015-11-13 17:48] chriswmackey commented on #418
Also, @jramsden271 ,

This issue will be addressed across all LB+HB components once we implement the new graphic standards for the next stable release in January:

https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/Ladybug%20Grahpic%20Standards.md

https://github.com/mostaphaRoudsari/ladybug/issues/196

-Chris

[2015-11-14 02:33] #416 closed

[2015-11-14 02:42] mostaphaRoudsari commented on #416
Hi @agusHariyadi. I ended up checking the source code to find why this is happening. As far as I can see in the source code Daysim can't handle partial occupancy which EnergyPlus does indeed support. This creates multiple limitations in the way daysim calculates the schedule. Here is the comparative results after the final modifications of the code.

![image](https://cloud.githubusercontent.com/as

[2015-11-14 03:19] agusHariyadi commented on #416
@mostaphaRoudsari  Thank you for checking this issue, I would love to develop this further, but I am still learning phyton so I`ll do the best I could.
btw where is the open issue that you mention about EP`s daylight sensor?
As far as I know, the limitation of this daylight sensor is the number of sensor only limited up to 2 sensor and working as one system in one zone which It will be confusing t

[2015-11-14 04:00] mostaphaRoudsari commented on #416
@agusHariyadi the open issue is here: https://github.com/mostaphaRoudsari/Honeybee/issues/118
The main issue is the accuracy of the results. Here you can find more information about daylight:controls in EnergyPlus: http://bigladdersoftware.com/epx/docs/8-0/input-output-reference/page-016.html

[2015-11-21 01:23] mostaphaRoudsari commented on #414
Hi @boris-p! Sorry for getting back to this pretty late. I would say that any post processing component can be very useful. I assume you already know about a couple of available components such as *Honeybee_Read DS Result for a point*, *Honeybee_Read Hourly Results from Annual Daylight Study* and *Honeybee_Read All the Hourly Results from Annual Daylight Study*. Specially if you have clean classes

[2015-11-25 08:04] boris-p commented on #414
Hello @mostaphaRoudsari , I've prepared a small example file (the geometry got a bit messed up so the illuminance results are a bit strange, but in terms of manipulating ill files, it should all work) https://www.dropbox.com/s/jcf2g6knszg44ul/manipulate_ill_files.rar?dl=0

The plugin in also there (once installed - under TsTools). I left it in c# for now so we could first talk about what makes sen

[2015-11-26 13:06] mostaphaRoudsari opened #424 "isStudyOver fails for Daylighting analysis"
A couple of users reported this recently. It's not clear if it is an issue with Windows 10 or there is other reasons.

[2015-11-26 13:08] mostaphaRoudsari opened #425 "Add transmittance schedule to HBSurface and remove EPContext"
See this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topics/problems-with-honeybee-e-context-shading-component

[2015-11-27 11:24] antonszilasi commented on #214
@chriswmackey @mostaphaRoudsari @macumber

Gentlemen how do I actually solve this issue? I am experiencing it with Open Studio version 1.9 at the moment. Where can I download an earlier release of Open Studio? My understanding from this discussion is that using version 1.8 should fix the issue.

[2015-11-29 01:48] mostaphaRoudsari commented on #214
@antonszilasi did you try what I suggested on Grasshopper group? You should not see the issue if you're using 1.9+ OpenStudio libraries. You can download older versions from github. Check release tags here: https://github.com/NREL/OpenStudio/tags

[2015-11-29 03:39] mostaphaRoudsari opened #426 "Add extra check for EP constructions"
It will be mainly useful for beginners to check EPConstruction and make sure layers are assigned correctly. A common mistake for example is to mix WindowMaterial and Material together in a construction.

[2015-12-01 18:24] mostaphaRoudsari opened #427 "climateMap analysisPeriod doesn't support reversed periods"
@chriswmackey it happens since you're checking the range by assuming the first item on the list is the smallest HOY in the range however in cases with reverse months it is not the case and will give an error. I don't know enough about the component to suggest the easiest fix.

![image](https://cloud.githubusercontent.com/assets/2915573/11509829/6e468d2e-982e-11e5-86f3-13e643b62ac6.png)

Let me kno

[2015-12-01 23:16] chriswmackey commented on #427
@mostaphaRoudsari ,
This capability should have been be present and I believe that I have fixed it with this commit:
https://github.com/mostaphaRoudsari/Honeybee/commit/c8e7dd3978594e742ed8dccdb0fdf61696f1ebc6

Here is the working GH file:
https://www.dropbox.com/s/eq84pcvrnrtlu4g/Comfort_Autonomy_CWM.gh?dl=0

-Chris

[2015-12-01 23:16] #427 closed

[2015-12-02 15:10] mostaphaRoudsari opened #428 "Add shading Control with a defined setpoint to EP blinds"
Hi @chriswmackey. Check [this discussion](http://www.grasshopper3d.com/group/ladybug/forum/topics/shading-control-with-a-defined-setpoint?commentId=2985220%3AComment%3A1413081&xg_source=msg_com_gr_forum) for the details. @antonszilasi has already gave it a try and looks it's very close.

[2015-12-04 18:26] ayezioro opened #431 "Test points rotated when north changed"
Hi,
I think there is a bug when changing north direction using daylight simulations.
See this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topics/an-error-in-honeybee-recolor-mesh/showLastReply
The points are rotated somewhere between the recipe and the analysis component.
-A.

[2015-12-07 03:58] mostaphaRoudsari commented on #431
Hi Abraham, I replied [here](http://www.grasshopper3d.com/xn/detail/2985220:Comment:1416176). Let me know your thoughts.

[2015-12-07 04:39] ayezioro commented on #431
Hi Mostapha,
Thanks.
This is the reply i wrote on the forum, but i have more questions/comments. Probably most of them because ignorance, so sorry if so.
I believe there is something new that i need to learn. getting the rad file/materials imported, where they are supposed to be connected in order to simulate the annual analysis?
Now, supposing i want to parametrize the orientation for annual anal

[2015-12-08 04:50] chriswmackey commented on #214
@antonszilasi ,
Did you conclude that the error was an idiosyncrasy on your system or has the PINVOKE Error returned?  Please let me know and, if it is the former, I will update to 1.9 now.

[2015-12-08 23:11] antonszilasi commented on #214
@chriswmackey  when I updated to OpenStudio 1.9.5 it went away. I had to manipulate the code within Export to Open Studio to get 1.9.5 to work however.

[2015-12-09 22:36] chriswmackey opened #432 "Weird Annual Daylight Error"
I got some weird behavior for the run daylight simulation component that I have not yet been able to understand:
1. Solution exception:HybridMapping is full

Even though Daysim is still running, GH has responded and given an error for the Run Daylight analysis component.  Here's and image with an error and the file that generated the error:
![image](https://cloud.githubusercontent.com/assets/55675

[2015-12-09 23:04] mostaphaRoudsari commented on #432
@chriswmackey which line is the error? I should probably rewrite isStudyOver function.

[2015-12-10 02:57] chriswmackey commented on #432
@mostapharoudsari ,
This may be something weird on my system. I will have a clearer idea tomorrow once another attempt at this simulation finishes. I will post back here then if I am able to re-create the error.
-Chris

[2015-12-10 17:28] mostaphaRoudsari commented on #424
http://www.grasshopper3d.com/forum/topics/hb-annual-daylight-simulation-cannot-find-the-results?groupUrl=ladybug&xg_source=msg_com_gr_forum&groupId=2985220%3AGroup%3A658987&id=2985220%3ATopic%3A1203169&page=2#comments

[2015-12-10 17:44] mostaphaRoudsari opened #433 "Add RadianceParameters with no input values"
http://www.grasshopper3d.com/xn/detail/2985220:Comment:1418856
This is an interesting feature to be added. Currently RADPar only accepts parameters with a value but what if user wants to add -u to rtrace? I can imagine it as {"-u" : " "}. Still it needs modifications both in parsing and writing batch files.
In the feature it should be a good approach to add all the parameters including -i, -I, ...

[2015-12-11 02:41] chriswmackey commented on #424
@mostaphaRoudsari ,
As you know, I experienced something similar the other day.  However, I was using Widows 8 and the error message from the component was different. I could not re-create the error after that one weird occasion. However, while I have since been able to run the annual analysis, I have not been able to run the Read Annual Result I on either windows 8 or windows 7. The Daysim functi

[2015-12-13 01:50] #433 closed

[2015-12-13 01:51] mostaphaRoudsari commented on #433
![image](https://cloud.githubusercontent.com/assets/2915573/11764916/1001374a-a112-11e5-877c-17e6b8295d61.png)

[2015-12-13 03:46] #424 closed

[2015-12-13 16:03] ayezioro opened #434 "HB_callFromLibrary error"
Hi,
Being in need of calling radiance material from the library i get the following error in the callFromLibrary component:
1. Solution exception:'dict' object has no attribute 'type'
Checking the errors in the code editor i get:
Traceback:
  line 1093, in searchRadMaterials, "<string>"
  line 70, in main, "<string>"
  line 79, in script

The component is red right after inserting it.
I would say

[2015-12-13 16:16] mostaphaRoudsari commented on #434
Hi Abraham,

I can't reproduce this issue. Looks like an issue because an old version of Honeybee is flying around.
In the older version Radiance materials were collected as dictionaries and in the new version they are objects. Can you drop a new Honeybee_honeybee to canvas and then re-insert this component?

In any case version check should have warned you about this. Let me know if my guess is r

[2015-12-13 16:45] ayezioro commented on #434
Hi Mostapha,
Tried it but no results.
Now itried opening a new session of rhino+GH and it works.
I noticed that when you remains with R+GH open for a few days they get tired and behaves weirdly. For instance this case.
You can get crazy with such things.
Thanks. I'm closing the issue.
-A.

[2015-12-13 16:45] #434 closed

[2015-12-13 16:50] mostaphaRoudsari commented on #434
Thanks! Let me know if it happened again and I can take a closer look. The new version always should overwrite the material library. Maybe I'm making a mistake somewhere in the process.

[2015-12-13 16:54] ayezioro commented on #434
Oh no!! Its not you!!
I noticed strange behaviors some other times after i left R+GH open for quite a long time and many files opened.
-A.

[2015-12-13 17:34] sariths opened #435 "ASE and the Fifth phase for the 5-Phase Method for Annual Daylighting Simulations."
Hi Guys,

I have finished writing a beta-implementation of the phase 5 of the 5-phase method for my research. In plain-speak, it is the part that involves subtracting out the direct sun component generated through Reinhart/Perez skies from calculations and substituting that with a more accurate calculation. In my case I am using the dxAnalemma to do the direct sun calculations. Dxanalemma, which w

[2015-12-13 20:29] chriswmackey commented on #432
@mostaphaRoudsari ,
I have been unable to re-create the error and I also see that you have re-written the isStudyOver function:
https://github.com/mostaphaRoudsari/Honeybee/issues/424
In light of this, I will close out the issue but we at least have a record of this error here on the github in case anyone ever manages to encounter it in the future.

-Chris

[2015-12-13 20:29] #432 closed

[2015-12-13 21:33] chriswmackey commented on #434
@ayezioro ,
I also notice such behavior usually occurring for the reason that @mostaphaRoudsari cites: if you open up a GH file with an older version of HB_HB, your other open GH files will try to call functions from this older HB_HB since only one HB_HB can be flying at a given time.  I usually solve the issue by re-computing the canvass that I am interested in so that the HB_HB on that canvass i

[2015-12-13 21:44] ayezioro commented on #434
Thanks Chris,
Definitely makes sense!! I was in the process of updating old files when it happened.
Thanks for the tip.
-A.

[2015-12-13 21:52] chriswmackey commented on #435
@sariths ,
This is definitely the right place for this, although it sounds like this might merit two issues (one for ASE and another for 5-Pahse).  Both you and @mostaphaRoudsari are way deeper into the daylight stuff than I and so I think we should hear Mostapha's  thoughts before deciding how to integrate this into Honeybee.
It looks like you did some really intense research and scripting to get

[2015-12-14 23:07] sariths commented on #435
@chriswmackey ,

Thanks. For my research its still a "A journey of thousand miles....." kind of situation. My colleagues are implementing a similar workflow for ASE in STADIC(https://github.com/Architectural-Lighting-Simulation/STADIC) although the coding environment there is C++. I agree that ASE and 5-Phase method are two separate issues. I will start a separate issue for the ASE calcs after dis

[2015-12-15 10:17] boris-p opened #436 "Daysim Occupancy Generator issue"
hey, maybe I just got something wrong but could it be that the occupancy generator produces wrong results in relation to weekend days?
I've plotted the occupancy schedule to get a better look and the results seem suspicious -
![occupancy](https://cloud.githubusercontent.com/assets/3728381/11807826/b24d1256-a31c-11e5-94f7-b1324b9baef3.jpg)

The input for weekend days was a list- 1,2 and the results

[2015-12-15 16:55] chriswmackey commented on #436
@boris-p ,
I had a look at the situation and you are right that it was a bug:
https://www.dropbox.com/s/29tkabmohz8zkmd/FixedDaysimOccGenerator.gh?dl=0

I have fixed it with this commit:
https://github.com/mostaphaRoudsari/Honeybee/commit/9dce3df26099c3a6c96c213541d84768bc3caa42

Thanks for finding this one!
-Chris

[2015-12-15 16:55] #436 closed

[2015-12-19 21:17] ocni-dtu opened #437 "Thermal Autonomy Analysis bug"
Hey again

I don't know if you fixed this,  but I couldn't find a post about it.
I found one or two bugs in the Thermal Autonomy component.

![taa](https://cloud.githubusercontent.com/assets/16247318/11915245/049356c2-a69e-11e5-8f4c-a5ba1212dbe4.PNG)

In line 270 and 280 the names are not the same.
In the else case I put a [ in front of; a checkData5 statement seems to be missing. It works when I

[2015-12-21 19:41] mostaphaRoudsari opened #439 "read annual analysis returns -1 with no warning/error message"
See this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topics/strange-results-from-daylight-autonomy

[2015-12-21 22:44] chriswmackey commented on #437
@ocni-dtu ,
Awesome job!  Thanks for finding this.  Your corrections are spot-on and I fixed the error here:
https://github.com/mostaphaRoudsari/Honeybee/commit/abf92c217ff9a7737e291a44a5b0bb31b16a746b

Many future users thank you!
-Chris

[2015-12-21 22:44] #437 closed

[2015-12-23 16:57] mostaphaRoudsari commented on #431
Hi Abraham,

After reading your comments, and also a bug report, I changed the approach and the component outputs the original points. You don't need to run the analysis twice. If you run it just once it should work fine.

To make sure there is no confusion I try to explain the current workflow. In all the daylighting simulations except the annual simulation Honeybee just rotates the sky and geome

[2015-12-23 17:04] mostaphaRoudsari commented on #431
PS: I should have send these links to you in an email but anyways. Check the links below.
https://twitter.com/__Mostapha__/status/674851348597350400
https://twitter.com/__Mostapha__/status/676308602337013760

[2015-12-23 19:03] ayezioro commented on #431
This is awsome (The Dynamo views). The shore line is at view.

As for the orientation issue, i'll check later and let you know.

Thanks,
-A.

[2015-12-23 22:53] mostaphaRoudsari opened #440 "Add a dark sky for lighting designers"
It came up during discussion with @sariths

[2015-12-24 02:07] #440 closed

[2015-12-24 02:07] mostaphaRoudsari commented on #440
![image](https://cloud.githubusercontent.com/assets/2915573/11988158/12894552-a9b9-11e5-80f5-7cd12bc6f7ad.png)

[2015-12-24 02:14] mostaphaRoudsari commented on #435
Here is the conclusion after our discussion:

1. ASE component is almost ready to be shared. We need to also ship STADIC dependencies with Honeybee. It's already following Honeybee workflows and should be pretty easy for users to understand and use.

2. I will create a prototype of honeybee-core and honeybee-grasshopper as the starting point for integrating 3-5 phase methods to Honeybee.

@sariths

[2015-12-24 03:05] sariths commented on #435
@mostaphaRoudsari Agreed. I will open an issue for ASE within a few days.

[2015-12-24 03:05] #435 closed

[2015-12-27 16:02] ayezioro commented on #431
Smooooooooth.
Perfect. For now i don't think geometries need to be rotated back.
Thanks,
-A.

[2015-12-28 21:57] chriswmackey commented on #359
I forgot to close this a while back when I put in the display of the date.

[2015-12-28 21:58] chriswmackey commented on #359
Woops.  I closed the wrong issue

[2015-12-28 21:59] chriswmackey commented on #415
I meant to close this issue a while ago when I put in the ability to display the date instead of the step of simulation.

[2015-12-28 21:59] #415 closed

[2015-12-28 22:23] chriswmackey commented on #300
I can finally close out this issue:
https://github.com/mostaphaRoudsari/Honeybee/commit/180bac5d289e46c148ecbe61809e0c26324c301f
Phew!

[2015-12-28 22:24] chriswmackey commented on #190
Another issue closed!
https://github.com/mostaphaRoudsari/Honeybee/commit/180bac5d289e46c148ecbe61809e0c26324c301f

[2015-12-28 22:24] #190 closed

[2015-12-28 22:25] chriswmackey commented on #428
Full support of set points is now online!
https://github.com/mostaphaRoudsari/Honeybee/commit/180bac5d289e46c148ecbe61809e0c26324c301f

[2015-12-28 22:29] chriswmackey commented on #300
Also, @ayezioro ,
Let me know if you agree with the implementation,  I realized that all of the properties of a shade material coincide nicely with a window construction in an "on" electrochromic state.  If you feel there are certain key features that are missing with this workflow, let me know and we can strategize a better way to implement it.
-Chris

[2015-12-28 22:31] ayezioro commented on #300
Oh, i will :-)
Just get the email with these news and i'm eager to test this ASAP. Coincidentialy i had a class today where we deal with  blinds. Almost perfect timing.
Thanks!!!
-A.

[2015-12-28 22:32] chriswmackey commented on #359
@ayezioro ,
I have not yet gotten around to implementing the shade abilities in the OpenStudio workflow but I have finished adding all of the capabilities in the EnergyPlus one so I should be able to tackle this next.

[2015-12-29 14:19] ayezioro commented on #300
Hi Chris,
Started to check, but in the process i get an IDF than doesn't contain any of the definitions: No windows (at all), no shades, no blinds, no materials etc, related to the updated compoent.
I just run the hydra example.
Can you confirm there is an issue there?
Thanks,
-A.

[2015-12-29 16:54] #431 closed

[2015-12-29 16:55] mostaphaRoudsari commented on #431
Great. Thanks for the feedback.

[2015-12-31 05:11] chriswmackey commented on #300
@ayezioro ,
Thanks for checking this so quickly and very sorry for the late reply.  I had messed things up so badly that I did not even notice that I had messed up.  I guess the simulation was running so well because none of my objects were actually being written.

Needless to say, everything should be fixed after this commit:
https://github.com/mostaphaRoudsari/Honeybee/commit/ed6cf17f9bb503daed3

[2015-12-31 05:11] #300 closed

[2015-12-31 05:15] ayezioro commented on #300
My pleasure and THANK YOU for fixing this so soon.
Now you can go and celebrate the New Year. have a very good one!!
-A.

[2015-12-31 05:26] chriswmackey opened #441 "Figure Out If/How It is Worth Integrating Shading Objects on the Window Shade Generator"
Should I include shading objects like overhangs and fins in the component?  I can't figure out if it is worth it or not.  There is more information on this thread:

https://github.com/mostaphaRoudsari/Honeybee/pull/438#issuecomment-166155818

[2015-12-31 06:45] chriswmackey opened #442 "Add PET to Thermal Comfort Maps"
Thanks to @stgeorges 's awesome work, this is now easily implement-able.  I will try to integrate this as soon as I get the chance.  I am still debating whether it should have it's own comfort recipe or I should make the UTCI recipe dynamic to accept both UTCI and PET.  If anyone has any thoughts, please post here.

[2016-01-04 14:50] chriswmackey opened #446 "Find a Way to Stop HB_HB from Over-writing Materials/Constructions in Memory"
I have realized that this issue seems to confuse the great majority of the user base:
http://www.grasshopper3d.com/group/ladybug/forum/topics/therm-example?commentId=2985220%3AComment%3A1429638&xg_source=msg_com_gr_forum
http://www.grasshopper3d.com/group/ladybug/forum/topics/problem-setting-energy-plus-fields-in-honeybee?commentId=2985220%3AComment%3A1261028&groupId=2985220%3AGroup%3A658987

@mos

[2016-01-04 21:22] sariths opened #447 "IES Components for Honeybee"
Hi @mostaphaRoudsari and @chriswmackey,

I was creating an example for the IES components when I realized that I have some tiny scripts in my workflow that aren't a part of Honeybe/Ladybug. I can get rid of most of them, however, I am not aware of anything that can put multiple filepaths on to the canvas. Is it possible to do something like  https://www.youtube.com/watch?v=c1vP5DL3tqg&feature=yout

[2016-01-05 02:42] mostaphaRoudsari commented on #447
Hi @sariths! The answer is yes and no. There is an openEpw component that does something similar to what you have in the video but it's only for epw files but we don't have it for every file type. **Human** plugin has a component that does it though. Also there are so many other ways to copy the path into Grasshopper so it's not critical to have component for that. At the same time if you think it

[2016-01-05 02:59] mostaphaRoudsari commented on #446
Hi @chriswmackey,
I thought I have already fixed this but probably not >
(https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_Honeybee.py#L8011-L8032) Let me check this again. I have probably made a made a mistake.

[2016-01-05 03:13] sariths commented on #447
@mostaphaRoudsari I know that openEpw component does something similar. My script was almost 90% inspired/copied from your component. I just tweaked it a bit.

Anyways, I think this.....**At the same time if you think it's critical in your process to avoid having multiple components we can add it to LookUp component. It already loads epw files and we can add ies files as one more output?"**....is

[2016-01-05 03:25] mostaphaRoudsari commented on #447
Here you go >
![image](https://cloud.githubusercontent.com/assets/2915573/12106816/54bd7f8e-b331-11e5-8d30-a13d0d6e5a09.png)

Sounds great to me!

[2016-01-05 03:35] sariths commented on #447
That was quick. Thanks !

[2016-01-05 03:35] #447 closed

[2016-01-05 03:46] #446 closed

[2016-01-05 03:48] mostaphaRoudsari commented on #446
@chriswmackey it was my bad but since the code was already there it was an easy fix. Should be fixed now.

[2016-01-05 14:43] chriswmackey commented on #446
Oh, man.  I can't believe that I went for so long not realizing that this was a bug.  Thank you for fixing it so quickly!

[2016-01-05 15:00] chriswmackey opened #449 "Add RAD Material and EP Construction to the Glazing Based on Ratio Component"
This is definitely something that is needed and probably should have been put in long ago (as raised by this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topics/hb-glazingbasedonratio-component?commentId=2985220%3AComment%3A1430919&xg_source=msg_com_gr_forum)

I will try to implement this soon.  My only point of deliberation is that adding these two extra inputs is going to make th

[2016-01-05 16:17] ayezioro commented on #446
You are the BEST!! Both of you :-)

[2016-01-05 21:38] sariths opened #450 "Path issue in gridBasedSimulation"
Hi @mostaphaRoudsari ,

I was trying to create a grid based-simulation on my G: drive and found that the octree doesn't get written. The batch file tries to set the path to c: when it should be setting it to g:.(see lines 2-3 below) Is it required that HB/LB simulations be run from the C: drive ?

    SET RAYPATH=.;C:\Radiance\lib
    PATH=C:\Radiance\bin;$PATH
    c:
    cd G:\lighting\unnamed\gr

[2016-01-05 23:07] sariths commented on #447
Hi @mostaphaRoudsari  @chriswmackey

Here is a very basic example of IES components being used in an Indoor electric lighting simulation:

https://www.dropbox.com/s/xqxwsql0s4r2axs/LightingBasic.zip?dl=0 . (The folder inside the zip file should be placed on c: )

https://www.youtube.com/watch?v=7Y4tIAW3odg&feature=youtu.be   (Not a how to video, just a screencap)

I couldn't get Hydra to display t

[2016-01-05 23:52] mostaphaRoudsari commented on #447
@sariths thanks! It's easy to make it work on Hydra. You just need to move the files under the master branch. It's under ElectricalLighting branch right now.

[2016-01-05 23:54] mostaphaRoudsari commented on #450
Looks like a bug! I will check and report back.

[2016-01-06 00:02] sariths commented on #447
@mostaphaRoudsari Thanks, I think it is working now. I watched a 10 minute video about Github yesterday so I feel like an expert now. What is your opinion on using branches to push files to the main Honeybee-master ? The reason I am asking is that if I commit something to my master and then push it your repository I am ahead of you even after syncing my fork. So, is it okay if I use a branch to de

[2016-01-06 00:08] mostaphaRoudsari commented on #447
@sariths we won't have this problem with Hydra since you don't have ever to send a pull-request. The main Hydra page loads the files directly form your fork. You can consider it as a distributed file sharing system. As you can see in the [Hydra repository](https://github.com/HydraShare/hydra) there is no example file. It all live inside forks. Does it make any sense?

[2016-01-06 00:13] sariths commented on #447
@mostaphaRoudsari Yup, thanks. I think I managed to mess it up anyway ! Do you have to remove this http://hydrashare.github.io/hydra/viewer?owner=sariths&fork=hydra&id=Indoor_Electric_Lighting manually ? I deleted that example because it was a duplicate. It seems like the page and the link are still there however.

[2016-01-06 00:15] mostaphaRoudsari commented on #447
@sariths that's fine. The link will be removed in 15 minutes. Hydra caches the data from all the forks every 15 minutes. Thanks for getting it fixed.

[2016-01-06 00:51] #450 closed

[2016-01-06 00:51] mostaphaRoudsari commented on #450
It was a bug which is fixed now. Thanks for reporting.

[2016-01-06 23:35] sariths opened #451 "MSH2RAD swallows a modifier from the material definition for complex materials."
Hi @mostaphaRoudsari ,

I tried using a complex material with MSH2RAD and this happened (see the first line in both screenshots). This might be a bug.

![1-6-2016 6-33-34 pm](https://cloud.githubusercontent.com/assets/10361848/12158018/41cfb968-b4a4-11e5-902d-7335611fe3f4.jpg)
![1-6-2016 6-33-44 pm](https://cloud.githubusercontent.com/assets/10361848/12158024/44a04c98-b4a4-11e5-8e56-428176362fdc.j

[2016-01-07 04:41] mostaphaRoudsari commented on #451
Hi @sariths! Looks like a bug. How do you apply the material? Do you connect the whole material definition to the component?

[2016-01-07 05:55] sariths commented on #451
@mostaphaRoudsari Yes, I connected the whole material definition to the component. I think the error is occurring somewhere inside the Honeybee_Honeybee ( ie main) component. The self.RAD attribute gets written properly. The error occurs after that where you are constructing the string.

[2016-01-07 19:55] mostaphaRoudsari opened #452 "Remove normal warning for shading surfaces"
Shadings can face any directions. The current warning is unnecessary. See this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1433093&xg_source=msg

[2016-01-08 03:28] mostaphaRoudsari opened #453 "Suggestion for the IES component"
@sariths I just downloaded the example file from Hydra. It looks very great and it's easy to follow. I just have a suggestion for outputting the data as a class instead of a list of a dictionary. You will need to modify how the other component reads the values which should be pretty straight forward. I think it will look much nicer and will be human readable.
![image](https://cloud.githubuserconte

[2016-01-08 04:23] sariths commented on #453
Hi @mostaphaRoudsari ,

This *"suggestion for outputting the data as a class instead of a list of a dictionary."* is done. See below:
![1-7-2016 11-19-07 pm](https://cloud.githubusercontent.com/assets/10361848/12190330/4b82ded0-b595-11e5-9258-71eae5e1617b.jpg)
I was putting stuff inside lists before because I couldn't think of a better way of doing this.

I need to make a few additional changes (o

[2016-01-08 05:03] mostaphaRoudsari commented on #453
:+1:

[2016-01-09 16:37] mostaphaRoudsari commented on #428
Reported by Claudio: http://www.grasshopper3d.com/group/ladybug/forum/topics/shading-control-with-a-defined-setpoint?commentId=2985220%3AComment%3A1431076&groupId=2985220%3AGroup%3A658987

[2016-01-09 16:45] mostaphaRoudsari commented on #449
:+1:

[2016-01-10 16:43] mostaphaRoudsari opened #454 "First Daysim analysis runs much faster than the second one!"
After reading [this discussion](http://www.grasshopper3d.com/group/ladybug/forum/topics/variance-in-calculation-times) I did a couple of tests and mysteriously the first daysim job generated by Honeybee runs faster than the second identical job!

I initially thought it might have to do something with the files. They are identical!

I suspected if this has something to do with how Daysim manages me

[2016-01-10 16:52] mostaphaRoudsari commented on #454
Problem solved! They are not really identical.

![image](https://cloud.githubusercontent.com/assets/2915573/12222651/3eabbc5c-b790-11e5-9c4c-755db0faa081.png)

Radiance parameters for the first run don't get modified by Honeybee (This is a bug!). This is why the analysis runs faster the first time.

[2016-01-10 16:52] #454 closed

[2016-01-10 22:39] mostaphaRoudsari commented on #451
@sariths I can't recreate the issue. Can you share an example with me?

![image](https://cloud.githubusercontent.com/assets/2915573/12224525/2047b67c-b7c1-11e5-9631-6651f5c57b4b.png)

[2016-01-11 14:07] antonszilasi commented on #439
@mostaphaRoudsari

After playing with the file I've discovered that actually it is the schedule causing this.

Without the schedule I get reasonable results.

![working](https://cloud.githubusercontent.com/assets/8773483/12235553/77b943ac-b86c-11e5-8529-f5f4dd1310a2.JPG)
![working2](https://cloud.githubusercontent.com/assets/8773483/12235557/7af655f0-b86c-11e5-806d-b778f65af967.JPG)

With the sche

[2016-01-11 17:18] mostaphaRoudsari commented on #439
Thanks @antonszilasi. That's helpful.

BTW if you want the result to be calculated for different spaces separately do not flatten the inputs.

[2016-01-11 17:23] mostaphaRoudsari commented on #439
also you don't want to use the office occupancy schedule as the base schedule for occupancy as the values are not between 0 and 1. I will check this tonight and will explain more meanwhile you can use the create the schedule in csv format.

[2016-01-12 03:04] mostaphaRoudsari opened #455 "OpenStudio csv schedule bug"
From [this discussion](http://www.grasshopper3d.com/group/ladybug/forum/topics/openstudio-give-me-error-warning?commentId=2985220%3AComment%3A1436554&xg_source=msg_com_gr_forum):

It looks like a bug to me w/o checking the file.

[2016-01-12 04:17] sariths commented on #451
Hi Mostapha,

I think the issue only seems to arise in case of improper formatting. See:
![1-11-2016 11-10-38 pm](https://cloud.githubusercontent.com/assets/10361848/12254654/e4172e00-b8b8-11e5-8362-2283709e056c.jpg)
![1-11-2016 11-10-51 pm](https://cloud.githubusercontent.com/assets/10361848/12254655/e41e6e90-b8b8-11e5-9778-3b0393900fe1.jpg)
![1-11-2016 11-11-18 pm](https://cloud.githubuserconten

[2016-01-12 04:19] mostaphaRoudsari commented on #439
@antonszilasi I can't recreate the issue:

![image](https://cloud.githubusercontent.com/assets/2915573/12254696/8b084424-b8b9-11e5-9b6b-d066d2eae09f.png)

Can you try to re-create the issue in this file: https://www.dropbox.com/s/lfzdffdj55aajso/testAnnualAnalysis.gh?dl=0

[2016-01-12 05:11] #451 closed

[2016-01-12 05:22] mostaphaRoudsari commented on #451
@sariths in general materials should be fairly structured to be imported by MSH2RAD.

![image](https://cloud.githubusercontent.com/assets/2915573/12255523/9ce5d522-b8c2-11e5-8798-61879a9b6441.png)

Honeybee can handle less structured materials but MSH2RAD has a slightly different workflow. For now I fixed the issue for the first case.

![image](https://cloud.githubusercontent.com/assets/2915573/12

[2016-01-12 05:49] sariths commented on #451
@mostaphaRoudsari  Okay, thanks! I think I will stick to creating materials through the Honeybee library components. It's just one extra component.

[2016-01-12 17:22] antonszilasi commented on #439
@mostaphaRoudsari

The issue is in this file here. Can you take a look? It would be really good to get to the bottom of this one.https://www.dropbox.com/sh/sc10qczsj100s75/AACyghDtZ-Gd6kb4x8P7ZgYGa?dl=0

[2016-01-12 17:39] antonszilasi commented on #439
@mostaphaRoudsari  Strangely now the run daysim component is not outputting an annual_analysis_file. Maybe you can get to the bottom of this one too?

![strange](https://cloud.githubusercontent.com/assets/8773483/12271524/7b1bd40a-b953-11e5-9887-144922f542b7.JPG)

[2016-01-13 03:25] mostaphaRoudsari commented on #455
one more here: http://www.grasshopper3d.com/xn/detail/2985220:Comment:1437718

@chriswmackey let me know if you want me to take a look at this.

[2016-01-13 23:10] chriswmackey commented on #455
@mostaphaRoudsari ,

Man, I did not expect people to be using this feature so quickly. I will take a look at it in a couple of hours.

-Chris

[2016-01-14 02:57] chriswmackey commented on #455
@mostaphaRoudsari ,
I'll admit that my implementation of this csv capability was originally a bit hacky.  I guess that a workaround for a feature that should be present in OpenStuido is bound to be hacky by nature.  In any case, hopefully what I wrote this time should be more resilient to different cases:
https://github.com/mostaphaRoudsari/Honeybee/commit/43c2587024a7e7a739cdfc6d02eb32cf06a10480

[2016-01-14 02:57] #455 closed

[2016-01-14 03:24] mostaphaRoudsari commented on #455
Thanks @chriswmackey! I think @macumber said they will officially add it to OpenStudio at some point this year.

[2016-01-14 16:01] mostaphaRoudsari commented on #453
http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1438108&xg_source=msg

[2016-01-14 16:01] #453 closed

[2016-01-15 05:00] macumber commented on #455
Might be this year but no promises :-)

[2016-01-15 05:22] mostaphaRoudsari commented on #455
Thanks :)

[2016-01-16 19:56] chriswmackey commented on #428
Bugs have been addressed:
http://www.grasshopper3d.com/group/ladybug/forum/topics/shading-control-with-a-defined-setpoint?commentId=2985220%3AComment%3A1431076&groupId=2985220%3AGroup%3A658987
I think that the second error might have resulted from Claudio adding old components with new ones.  If not, I will re-open this issue.
-Chris

[2016-01-16 19:56] #428 closed

[2016-01-18 22:25] antonszilasi commented on #360
@chriswmackey I'll give this a shot. I need some more practice with Open Studio

[2016-01-26 00:10] Omidmr opened #461 "Error "Red_EP result, get surface color & doesn't correctly Run EP"
Hi
I used  that latest version (LB 0.0.62 & HB 0.0.59) of this component (Jan_26_2016) returns this error:

Runtime error (TypeErrorException): unsupported operand type(s) for //: 'float' and 'NoneType'
Traceback:
  line 389, in getData, "<string>"
  line 698, in script

and

Runtime error (MissingMemberException): 'str' object has no attribute 'GetBoundingBox'
Traceback:
  line 664, in script

TN

[2016-01-26 00:24] chriswmackey commented on #461
@Omidmr ,
Thank you for reporting this. I believe that it results from a recent change that we made with graphic standards for the components.  I will take a look at it shortly and attempt to fix it.
If you could post a link to a GH file that shows the error, it would help me fix it sooner.
Thanks again,
-Chris

[2016-01-26 00:39] Omidmr commented on #461
YW, TNX T U.
https://www.dropbox.com/s/fvzo5lzm4oasnfs/OmidTest.zip?dl=0

[2016-01-26 00:53] Omidmr commented on #461
And this file has multiple zoning.
https://www.dropbox.com/s/gziinw0a0hvpzzp/Omid_2nd_test.rar?dl=0
TNX
-omid

[2016-01-26 03:04] chriswmackey opened #462 "Implement BakeIt on Visual Components"

[2016-01-26 03:53] chriswmackey commented on #461
@Omidmr ,
The error in color zone surfaces was occurring because one of the zones did not have any floor surfaces and it was trying to normalize by floor area.  That bug has been fixed.

The error in "Read EP Srf Result" was happening because of curved surfaces and I have since put in a check that fixes this case.
![coolhousegeo](https://cloud.githubusercontent.com/assets/5567574/12572146/585c1a52

[2016-01-26 03:53] #461 closed

[2016-01-26 04:27] Omidmr commented on #461
@chriswmackey
TNX a lot Chris.
Did you check First file?. That file has a multiple zone.
https://www.dropbox.com/s/gziinw0a0hvpzzp/Omid_2nd_test.rar?dl=0
Thanks again,
-Omid

[2016-01-26 04:58] Omidmr commented on #461
@chriswmackey
TNX a lot.
-Omid

[2016-01-26 22:06] Omidmr opened #463 "Errors in run EP & custom EP materials"
Hi again,
I try for run EP in ladybug and honeybee that latest version (LB 0.0.62 & HB 0.0.59) of this component (Jan_26_2016) returns show  this errors with custom EP materials:

Runtime error (MissingMemberException): 'NoneType' object has no attribute 'GetBoundingBox'
Traceback:
  line 117, in copyHBZoneData, "<string>"
  line 656, in script

and

Runtime error (MissingMemberException): 'NoneTy

[2016-01-26 23:24] Omidmr commented on #463
[Error.txt](https://github.com/mostaphaRoudsari/Honeybee/files/105864/Error.txt)

[2016-01-27 02:01] chriswmackey commented on #463
@Omidmr ,
You have to give us files that show only what is needed to re-create error.  I can't tell what your issue is  as your file is very large. Your components in your image are red bcause there is no zoneData going into the component. I can also say is that you are creating duplicate materials with the same name and you should just create the material once and use the name of that material to

[2016-01-27 02:01] #463 closed

[2016-01-28 09:12] ayezioro opened #464 "ScheduleTypeLimits=Any Number"
Hi,
I started to get the following error in E+ simulation:
1. The simulation has not run correctly because of this severe error:
   ** Severe  ** IP: IDF line~154 Invalid Number in Numeric Field#1 (Lower Limit Value), value=SCHEDULETYPELIMITS, in SCHEDULETYPELIMITS=ANY NUMBER
The file was OK until recently, so i assume something has changes lately.
************************
Checking the idf i see t

[2016-01-28 10:00] ayezioro commented on #428
Hi,
Not a bug but something that need to be clarified. The new HB_EPWindowShades requires the shadeCntrlType_ input to work. If not provided it will turn red (1. Solution exception:KeyError). This input doesn't appear as compulsory. Other inputs appear as compulsory but thay aren't (numOfShds for instance).
This is cosmetic so no need to rush fixing it.
Thanks,
-A.

[2016-01-28 10:18] ayezioro commented on #464
Weird,
I don't know what exactly i did but the files in question are working now. Probably a "recompute" did the trick ...
-A.

[2016-01-28 15:30] ayezioro opened #465 "openstudio and epw files"
I want to retake this development:
https://github.com/mostaphaRoudsari/Honeybee/issues/273

The think is that i noticed now that the OS component doesn't like my local epw file. It complains about the following:
**********************************
Current working directory is set to:  c:\ladybug\unnamed\OpenStudio
Runtime error (ApplicationException): Optional not initialized
Traceback:
  line 213,

[2016-01-29 00:34] Omidmr opened #466 "How to export HB result files to Excel and compression on 2d & 3d charts"
Hi everyone,
I have a problem how to export files to Excel and convert result of the honeybee energyplus analysis to charts and diagrams. Then comparison of two analysis values together in Excel.
The question is:
What is the best way to do this?
Have a any suggestions or idea?
TNX.
-Omid

[2016-01-29 15:21] #466 closed

[2016-01-31 15:25] ayezioro commented on #273
Hi @mostaphaRoudsari @arkdanielnielsen @chriswmackey
I send a request for this component. Can you check if i did right. This github environment is not very friendly ... for now.
Anyway, i think i finished the component that allows to look up for E+/OS results contained in one folder. As similar to the Daylight one.
Is maybe not the most elegant but it is a working component. All Mostapha's request

[2016-01-31 16:19] ayezioro commented on #273
As for the broken link, this is weird, but if you google waterslade (https://www.google.co.il/search?q=waterslade&ie=utf-8&oe=utf-8&gws_rd=cr&ei=GDOuVum3BIb9sQHdzae4BA) you'll get the main page. Look there for the "dev_potential" image.
So weird.
-A.

[2016-02-01 01:19] mostaphaRoudsari opened #467 "Honeybee gives an error for double curvature surfaces with openings"
Check this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1451041&xg_source=msg

[2016-02-01 23:39] antonszilasi opened #469 "Open Studio returns PINVOKE Execption"
@mostaphaRoudsari  @chriswmackey
I know there was an issue already open on this but I can't find it. I'm opening a new issue here.  Mostapha since I couldnt solve this issue through your advice. Should we get the Open Studio developers on board here?

![capture](https://cloud.githubusercontent.com/assets/8773483/12735147/4dbd3f72-c93d-11e5-9b8a-df434fad7456.JPG)

[2016-02-02 00:20] mostaphaRoudsari commented on #469
@antonszilasi can you share the full error report?

[2016-02-03 04:05] chriswmackey commented on #464
@ayezioro ,
This just happened to me today.  It seems to only affect Honeybee files that have been updated with the "Update Honeybee" component since I was able to build the same file from scratch and everything worked fine.
Recomputing did not work for me when the error came and it really required a brand new GH file. I don't know what update caused it but hopefully we won't experience it if we j

[2016-02-03 15:22] jasbour commented on #465
Hi there,
i am having this issue with OpenStudio,
i want to use it because i want to include radiators for a heating system in my simulations,
but i get this error (as in snapshot),
Is there a workaround that i am missing?
I tried with US weather file and the problem was not solved,
any ideas? Thanks
![osbug](https://cloud.githubusercontent.com/assets/17048234/12786618/3019070c-ca92-11e5-879b-0bd1

[2016-02-03 16:32] mostaphaRoudsari commented on #465
The error is because the component cannot find the .ddy file next to the epw file. The solution is to use energySimPar_ and set the path to ddy file:
![image](https://cloud.githubusercontent.com/assets/2915573/12788368/31c73e32-ca67-11e5-829b-970f929cc314.png)

I added a meaningful error message for this case.
![image](https://cloud.githubusercontent.com/assets/2915573/12788878/6fa9001c-ca69-11e5-

[2016-02-03 16:32] #465 closed

[2016-02-03 16:39] mostaphaRoudsari commented on #464
This is happening because the old parser is parsing this specific schedule in the new library wrong (as you can see in @ayezioro's post).

When you open an old file it will load the library and will overwrite the current library (This was a bug which we fixed later). Now you update the file and Honeybee_honeybee will re_run but it won't overwrite the already loaded objects - since we told it not t

[2016-02-03 17:41] jasbour commented on #465
You are so fast and helpful!
that was the issue,
still i am now getting this error, which must be associated with my schedules,
because when i disconnect them, its working, but it's not working when i connect them,
they are custom made, 8760 values, inputted in the "Set EnergyPlus Zone Schedules" component,
am i doing something wrong? this is a snapshot,
thank you
![schedules_prob_maybe](https://c

[2016-02-03 17:48] mostaphaRoudsari commented on #465
@jasbour - @chriswmackey should be able to help you with this one if you open a new issue. He has already fixed it once: https://github.com/mostaphaRoudsari/Honeybee/issues/455

[2016-02-03 18:19] mostaphaRoudsari commented on #464
Should be fixed now!

[2016-02-03 18:19] #464 closed

[2016-02-03 19:19] jasbour commented on #465
ok
thank you

[2016-02-03 21:00] jasbour opened #470 "Honeybee Openstudio csv schedules issue"
Hi there,
I have this issue that the "honeybee_export to openstudio " component outputs the following, once i assign a custom schedule on my HB zone, using the "Create CSV Schedule" component: " _Failed to find DEFAULTCSVPLACEHOLDER in the Honeybee schedule library._"
Is there a possible workaround? I am posting the script if someone can check:
https://www.dropbox.com/sh/5a5drumpm14nen7/AABy7DZNtU

[2016-02-03 23:02] chriswmackey commented on #470
@jasbour ,
This is a duplicate issue that has already been addressed. Follow the instructions that I give in this GH dsicussion to get csv schedules working for you.
http://www.grasshopper3d.com/group/ladybug/forum/topics/lighting-schedules-for-energyplus?commentId=2985220%3AComment%3A1437718&groupId=2985220%3AGroup%3A658987

...and keep in mind that this is a work-around until OpenStudio team imp

[2016-02-03 23:02] #470 closed

[2016-02-03 23:52] jasbour commented on #470
ok got it!
thank you for the link,
i was able to solve it as explained in the GS forum!

[2016-02-04 05:38] ayezioro commented on #464
Thanks,
Will report if it happens again. Hopefully not.
-A.

[2016-02-04 05:43] ayezioro commented on #273
Hi,
Just want to be sure i did right.
Did you get my pull request for this new component?
Thanks,
-A.

[2016-02-04 20:01] chriswmackey commented on #464
Thanks @mostaphaRoudsari !
It's good to know that this won't affect the updating of the example files now.

[2016-02-04 20:20] chriswmackey commented on #273
@ayezioro ,
The pull request is not showing up on the Master Branch of the repository:
https://github.com/mostaphaRoudsari/Honeybee/pulls
You may have sent a pull request in the opposite direction.  Let me know if you have difficulty figuring it out and I can show you quickly over skype.
-Chris

[2016-02-04 21:25] ayezioro commented on #273
Thanks Chris,
I think i did it. Can you check please?
In any case i'll appreciate if you check the example and test the component workflow.
-A.

[2016-02-04 22:09] chriswmackey commented on #273
@ayezioro ,
Yes, I see it and it is looking good.  I am going to merge it now and test out the workflow.  I might also move a couple of my components around to make this better fit in the toolbar.
-Chris

[2016-02-04 22:17] ayezioro commented on #273
Great!! Thanks,
-A.

[2016-02-04 22:26] chriswmackey commented on #273
@ayezioro ,

The workflow really looks good.  My only edit is that you follow one of the minor points of the [Ladybug Graphic Standards](https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/Ladybug%20Grahpic%20Standards.md) and you put in a line that calls the isInputMissing function like in the template file:
https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/Ladybug_C

[2016-02-04 22:47] ayezioro commented on #273
Thanks Chris,
For the first part i'm not getting it. So please feel free to implement as needed ... or letting me understand better.
For the second part, i'll give it a try. I think i have an idea how to do it.
For the third part, excellent. Will be more consistent.
-A.

[2016-02-04 23:25] chriswmackey commented on #273
@ayezioro ,

I finished adding in the study folder for the E+ and OS components:
https://github.com/mostaphaRoudsari/Honeybee/commit/072077b72c460f12242a94d9a05740e27cdec90e

This commit shows what I meant by updating to the recent template (I realized that it was more than one line that needed to be switched):
https://github.com/mostaphaRoudsari/Honeybee/commit/a8370cac51fff5042c4661b9bfdd558d4d2

[2016-02-05 13:39] mostaphaRoudsari opened #474 "Air flow volume change in summer"
See this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topics/unknown-air-flow-volume?xg_source=activity

@chriswmackey do you have any inputs on this?

[2016-02-06 04:28] mostaphaRoudsari commented on #273
This is very useful! Thanks @ayezioro and @chriswmackey  :+1:
Should we close this issue then?

[2016-02-06 06:15] mostaphaRoudsari opened #475 "indoor view factor calculator" takes a long time to "settle down" with new input conneccted"
@chriswmackey FYI!
http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1448265&xg_source=msg

[2016-02-06 17:43] ayezioro commented on #273
Not yet,
I still need to fix some default values ...
-A.

[2016-02-07 17:51] Omidmr opened #476 ""Illegal charecter in weather file path" HB EP simulation epw error in newer version"
Hi,
I updated HB & LB components returns this error in EP simulation epw  file path.
![123](https://cloud.githubusercontent.com/assets/11173265/12873993/612cfe38-cde0-11e5-9ade-03023836ae19.JPG)

TNX.
-Omid

[2016-02-07 18:21] mostaphaRoudsari commented on #476
You need to load the weather file a different path with no *&*. EnergyPlus will fail to run the analysis with illegal character in path. ImportEPW is different from EnergyPlus.

[2016-02-07 18:21] #476 closed

[2016-02-08 21:47] sariths opened #477 "ASE"
Hi @mostaphaRoudsari ,

The workflow for ASE has two additional dependencies in the form of a binary file and a dll. Is there a specific location where they should be placed ? I don't think src and userObjects folders could be used (or can they?).

Thanks,
Sarith

[2016-02-09 14:47] mostaphaRoudsari commented on #477
You're right. They should be copied under resources in github: https://github.com/mostaphaRoudsari/Honeybee/tree/master/resources

You can either ask users to download it manually or download it for them if the file doesn't exist.

https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_Glare%20Analysis.py#L147-L153
or
https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Hone

[2016-02-09 18:01] sariths commented on #477
Okay, thanks ! I am keeping this issue open for the time being as I think I might have a few other clarifications/questions.

[2016-02-09 22:41] sariths commented on #477
@mostaphaRoudsari I have pushed some files on to a separate branch that are all the files required for ASE. I think it's still not ready for the main branch.

https://github.com/sariths/Honeybee/commit/5869c37ebb1216bb3330839e52d26257881f7388

[2016-02-09 22:55] sariths commented on #477
@mostaphaRoudsari ,Some additional notes:

1. The binary file and dll file should be placed in the radiance bin folder and be available through path.
2. I have added somewhat of a hacky copyright notice for the STADIC stuff. Any comments ?
3. I am currently using subprocess for calling the binary files. Depending on how it plays out, we could use os.system instead.

[2016-02-10 19:11] AhmedToutou opened #478 "Error in run energy simulation"
hello guys:
it is my first trial to run energy simulation by honeybee. i used your example file   "@chriswmackey " to be a guide for me but unfortunately there was an error.

https://drive.google.com/file/d/0ByMBlrZixe-1MjNQTUs5dW9fUTQ/view?usp=sharing
https://drive.google.com/file/d/0ByMBlrZixe-1d2c4YXUwTy1jRkk/view?usp=sharing

[2016-02-11 21:20] mostaphaRoudsari commented on #477
@sariths my first test. It can't find the points file.
![image](https://cloud.githubusercontent.com/assets/2915573/12990750/fcbabd8a-d0d9-11e5-8aac-6097ef98214c.png)

Back to number 2 we should add it to the [Honeybee license](https://github.com/mostaphaRoudsari/Honeybee/blob/master/License_Honeybee_GPL.txt#L14-L42).

[2016-02-11 21:26] mostaphaRoudsari commented on #477
Once I added the pts file it gives me an error that it can't find sunmat.rad
![image](https://cloud.githubusercontent.com/assets/2915573/12991117/c30ee2b2-d0db-11e5-9b11-f6b1f288ab1f.png)

For some reason it still runs the batch file which makes dxanalemma.exe to crash:
![image](https://cloud.githubusercontent.com/assets/2915573/12991176/20c06e62-d0dc-11e5-81a5-e946b7c3c922.png)

Looks like dxanal

[2016-02-11 21:35] mostaphaRoudsari commented on #477
Turns out one of the libraries are missing>
![image](https://cloud.githubusercontent.com/assets/2915573/12991451/4d00ee1a-d0dd-11e5-8fe4-b51bb7e20f03.png)

BTW do we really need this for the component we can use Ladybug's sunpath to get all the sun positions/vectors for rcontrib.

[2016-02-11 21:55] mostaphaRoudsari commented on #478
@AhmedToutou you need to send questions like this to [Ladybug forum](http://www.grasshopper3d.com/group/ladybug/forum). Github is for development discussions. Thanks! :)

[2016-02-11 21:55] #478 closed

[2016-02-11 22:32] sariths commented on #477
@mostaphaRoudsari Thanks for testing this...Let me see if the results between Ladybug's sunpath and dxAnalemaa are compatible. We have tested dxAnalemma internally so I was leaning on that. However, I am all for having zero external dependencies. If Ladybug doesn't work out, I think I can write a Grasshopper or Cython implementation of dxAnalemma.

[2016-02-11 22:39] sariths commented on #477
By the way I have added additional dependencies here: https://github.com/sariths/Honeybee/commit/fe6736e68fd546e3f4d98f145afd4130988f9d78

[2016-02-11 22:40] mostaphaRoudsari commented on #477
@sariths Thanks! The comparison sounds good to me.

Just FYI ladybug's sunpath algorithm is based on NREL's algorithm which is more accurate than Radiance's sun.c algorithm. It might be a good chance to give the new sunpath class a try: https://github.com/ladybug-analysis-tools/ladybug-core/blob/master/ladybug/sunpath.py#L23-L27

Let me know if I need to me to create a better sample code. Can you

[2016-02-11 23:36] sariths commented on #477
@mostaphaRoudsari Here you go : https://www.dropbox.com/s/gp1w1ox7mgdg6zw/ASECal2.zip?dl=0 . This is an entire run of ASE calculations with dxAnalemma, rcontrib etc. I have stored the end result as a csv file in the rm1_East folder.

The files skydef_geo.rad, skydef_mat.rad and skydef.smx in the root folder were created by dxAnalemma. Then if you follow the script in the python component, you'd se

[2016-02-12 04:14] mostaphaRoudsari commented on #477
@sariths thanks for sharing the files. Seems all you need is sun vectors for sunuphours. I imported the values from skydef_geo.rad and recreated the points in Grasshopper and then used the ladybug library to create sun positions as you can see them next to each other in Grasshopper.

The main difference is the number of suns which I assume my lack of understanding about how dxAnalemma works. Am I

[2016-02-12 11:14] AhmedToutou commented on #478
Thank you :)

[2016-02-12 15:34] sariths commented on #477
I didn't realize adding the "-core" scripts was so simple ! Anyways, thanks for the new file. I need to figure out a couple of things before I can update this one...shall keep you posted.

[2016-02-12 15:38] mostaphaRoudsari commented on #477
Thanks! Looking forward to the day that we can say the same for honeybee-core very soon. :D

[2016-02-13 17:49] sariths opened #481 "Updating IES Components"
@mostaphaRoudsari, @chriswmackey

Based on some comments that I got from my colleagues, I am trying to add an export to Excel option in a new component. The Excel functionality is added by  the lines below:
[code]
Are you guys aware of (or foresee) any issues with trying to use an export to excel feature inside Grasshopper ?

PS: I have some other questions regarding updating existing components,

[2016-02-14 00:00] mostaphaRoudsari commented on #481
@sariths do you really need excel or can you just export the data as csv file?

There are several plugins in Grasshopper (Lunchbox, TTToolBox, Bumble bee) which provide read and write feature to excel. If you do a quick search you can see different issues that can happen with excel libraries. I would try to use csv files if possible.

[2016-02-14 02:23] sariths commented on #481
@mostaphaRoudsari Okay, case closed! I will stick to csv files.
(I am keeping this issue open as I will be asking/checking a few other things on IES components in the coming days).

[2016-02-14 03:19] mostaphaRoudsari commented on #474
Explained by @chriswmackey here: http://www.grasshopper3d.com/xn/detail/2985220:Comment:1458453

[2016-02-14 03:19] #474 closed

[2016-02-14 13:41] ayezioro commented on #273
I've sent a pull request.
I settled making the studyType input as compulsory input.
Found a bit complicated to make some checkings instead.

Maybe later on i'll try harder ... :-(

-A.

[2016-02-14 23:02] chriswmackey commented on #273
@ayezioro ,
See my comments on your pull request.
-Chris

[2016-02-15 18:04] sariths opened #483 "Daysim doesn't work when used with electric lights"
Hi @mostaphaRoudsari ,

I just tried an electric lighting file with daysim and could not get it to work. Some screenshots are below:

The simulation works fine without electric lights.
![2-15-2016 12-59-02 pm](https://cloud.githubusercontent.com/assets/10361848/13056606/5f919610-d3e4-11e5-98c7-1c4efcc8899c.png)

I get this when I try to add _additionalRadFiles:
![2-15-2016 1-00-33 pm](https://clou

[2016-02-16 14:51] chriswmackey commented on #475
This is not a bug and just a misunderstanding of how the component works.  I have responded to Grasshope here:

http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1448265&xg_source=msg#

-Chris

[2016-02-16 14:51] #475 closed

[2016-02-16 17:19] mostaphaRoudsari commented on #6
http://www.grasshopper3d.com/group/ladybug/forum/topics/honeybee-imagebasedsimulation-from-parallel-camera?commentId=2985220%3AComment%3A1464073&xg_source=msg_com_gr_forum

[2016-02-16 17:29] #6 closed

[2016-02-16 18:24] mostaphaRoudsari commented on #483
Hi @sariths! Do you know if it is even a possibility to add ies files to an annual simulation using Daysim? I'm not sure if it is possible at all. I can be totally wrong though.

I know some of the users have been doing something similar with Honeybee but I don't know about the details. Let me see if I can find it online.

[2016-02-16 18:27] mostaphaRoudsari commented on #483
[Here](http://www.grasshopper3d.com/group/ladybug/forum/topics/energy-saving-simulate-for-intelligient-lighting-system-with?commentId=2985220%3AComment%3A1400006&groupId=2985220%3AGroup%3A658987) is the discussion and here is the [paper](https://www.researchgate.net/publication/280716460_Energy_saving_exploiting_light_availability_a_new_method_to_evaluate_daylight_contribution).

[2016-02-16 19:28] sariths commented on #481
Turns out I didn't have a lot of questions. However, there is one which is more of a best practices kind of question...

The new component that I wrote consolidates all the luminaire rad files in one place:
![2-16-2016 2-19-43 pm](https://cloud.githubusercontent.com/assets/10361848/13088098/e60c4864-d4b8-11e5-8b0f-ed930da219fa.png)

This is made possible by the new output called elecLightingData t

[2016-02-16 19:38] sariths commented on #483
@mostaphaRoudsari You are right. I don't think Daysim supports electric lighting. (Update: I know it doesn't , just checked with my advisor). I have been using DaysimPS for so long that I forgot that the original version of Daysim infact doesn't support electric lighting. We can still make Honeybee work with Daysim and Electric lighting. I will update the discussion on the forum here in a day or t

[2016-02-16 19:38] #483 closed

[2016-02-16 20:39] mostaphaRoudsari commented on #481
@sariths I think we should keep both of them. Let's just make sure we have a clear description for the input. It give a great a level of flexibility.

[2016-02-16 21:02] sariths commented on #481
@mostaphaRoudsari Okay, noted. I will play around with these components for a while before I send you another PR with a better description/input comments. Thanks for acting on the current PR promptly.

[2016-02-16 21:02] #481 closed

[2016-02-17 15:45] chriswmackey opened #486 "Add the Ability to Set Custom Comfort Temperatures on the Adaptive Comfort Recipe"
As per this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/unconditioned-addaptive-comfort-set-temperature?commentId=2985220%3AComment%3A1464150&xg_source=msg_com_gr_forum

[2016-02-17 17:43] antonszilasi opened #487 "surface.IDs of honeybee surfaces are being reset and Honeybee PV can no longer work"
@mostaphaRoudsari @chriswmackey

I've discovered that now Honeybee generators are not working as for some reason each time a surface is called from the Honeybee hive the .ID attribute of the surface is reset.

Honeybee generators rely on this .ID attribute remaining constant all the time

I believe this is due, to this line of code.

HBObject.resetID()

In the method addToHoneybeeHive. I think thi

[2016-02-17 23:14] mostaphaRoudsari commented on #487
This is my fault. Sorry! I did this as a better solution to generate IDs for surfaces for the next release and also make export/import components to work. Can you tell me how do you use the IDs? Is there a way that we can address both?

[2016-02-18 03:42] chriswmackey opened #488 "Change additionalWindSpeed on Microclimate Maps to just windSpeed"
I don't know why I thought adding the additional speed to existing wind was a good idea.  If someone is willing to get deep enough into the analysis to use this input, they are probably going to want to set an absolute wind speed.

Also, Theodore need this changed so that he can do the first integration of CFD with the microclimate maps.  Should be exciting!

[2016-02-18 10:46] antonszilasi commented on #487
@mostapha How about I just make a surface.ID just for Honeybee generator objects and call it .HBGID? Maybe its not the cleanest but it will solve the problem

[2016-02-18 10:57] antonszilasi commented on #469
@mostapha,bizzarely it just started working again and I have no idea why.

[2016-02-18 13:48] mostaphaRoudsari commented on #469
@antonszilasi not sure if I should be happy or sad about this one. Have you made any changes? Let's close this issue then for now.

[2016-02-18 13:48] #469 closed

[2016-02-18 13:55] mostaphaRoudsari commented on #487
Thanks @antonszilasi! I agree that it won't be clean and it also won't work with import, export process.

My understanding is that you're collecting the data in sticky but you don't really need to if you save the data in surface level. Is there a way to add the data in the level of HBSurface so you can check it without accessing the id? Similar to what we do for HVAC systems and almost everything

[2016-02-19 22:20] antonszilasi commented on #487
@mostaphaRoudsari  that might just be the trick

[2016-02-21 17:04] chriswmackey opened #492 "Write a Function Like recallHBHive That Does Not Copy the Objects"
Copying the objects takes a very long time as noted in this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/limit-to-decomposing-zones?commentId=2985220%3AComment%3A1467504&xg_source=msg_com_gr_forum

The components that I know will be affected by this are:
Label Zone / Surfaces
Color Zones / Surface
View Factor Calculator
Decompose based on Type / Boundary Condition
Energy Bal

[2016-02-22 00:00] chriswmackey commented on #492
Done!  I can't believe I did not think of this sooner.
https://github.com/mostaphaRoudsari/Honeybee/commit/1feed1415a7421cbe8729ddddf85c3a53f5ea2d5

[2016-02-22 00:00] #492 closed

[2016-02-23 21:11] sariths opened #493 "Using multi-modifier materials with Radiance."
Hi @mostaphaRoudsari ,

Is Honeybee compatible with materials with multiple modifers ? The [example ](http://hydrashare.github.io/hydra/viewer?owner=mostaphaRoudsari&fork=hydra_1&id=Render_Water_Cube_with_Honeybee&slide=0&scale=1&offset=0,0)for water on Hydrashare uses one modifier. I was wondering if more than one are possible..

I was testing
![2-23-2016 4-07-03 pm](https://cloud.githubuserconte

[2016-02-25 00:14] mostaphaRoudsari commented on #493
Hi @sariths! Looks like a bug. Can you share the file with me so I don't have to type it all for testing?

[2016-02-25 01:36] sariths commented on #493
Hi @mostaphaRoudsari ,

Here you go : https://www.dropbox.com/s/655fsxx4is77b85/multMaterial.gh?dl=0

[2016-02-26 15:48] antonszilasi opened #494 "Question about reconstructing geometries in Grasshopper and Honeybee surface.extractPoints()"
@mostaphaRoudsari
@chriswmackey

I discovered that when I use the vertices of a surface to decompose and reconstruct the surface like so.

1. Decompose the brep into vertices/points
brepVertices = []

for HBZone in HBZonesFromHive:

    for vertice in HBZone.geometry.Vertices:

          brepVertices.append(vertice.Location)

2. Enter the brepVertices into the vertices of the construct mesh compon

[2016-02-29 14:17] mostaphaRoudsari commented on #494
@antonszilasi honeybee has a number of extra checks for the points to make sure they are sorted correctly. [Take a look here](https://github.com/mostaphaRoudsari/Honeybee/blob/master/src/Honeybee_Honeybee.py#L6072-L6078)

[2016-03-04 10:25] Ding- commented on #306
@mostaphaRoudsari @francesco-de-luca
Could you please see my questions regarding the work mechanism of the lighting control in HB/Daysim (http://www.grasshopper3d.com/group/ladybug/forum/topics/lighting-control-group-issue-2) at your convenience? thank you so much  in advance!

[2016-03-24 06:26] sariths opened #496 "Reading non-Honeybee ill files with the Annual Daylights component. (Question)"
Hi @mostaphaRoudsari ,

I was trying to debug the project posted [here](http://www.grasshopper3d.com/group/ladybug/forum/topics/read-annual-result-error) when I ran into an exception over the fileName : "Can't sort .ill files based on the file names. Make sure branches are sorted correctly."

Is there a way that I can explode all the branches in pts files and visualize all the points as one single

[2016-03-27 19:07] mostaphaRoudsari commented on #496
@sariths I assume you have already solved this. In any case.

The key is to merge ill files and not the points. Points are only used for grafting the results.

[2016-03-27 20:51] sariths commented on #496
@mostaphaRoudsari , I think I tried a different approach. Anyways, I haven't looked into that project since then. I am going close this issue for now. I will let you know if I run into this again.

[2016-03-27 20:51] #496 closed

[2016-03-27 21:19] mostaphaRoudsari commented on #477
@sariths I'm studying your workflow to create a prototype of this workflow for the new library. I'm mainly interested to use this method for sunlighthours analysis which is slightly different from this calculation but I think I can create that if I understand this method.

I have two main questions.
1. In the first step which you use dxanalemma.exe it outputs 3 files which you use to create sunlis

[2016-03-27 23:31] mostaphaRoudsari commented on #477
@sariths I could successfully modify this workflow to calculate sunlight hours. I didn't need suns.smx but I still like to know what it really is.

I also found the answer to my other question:

I was wrong and the answer is *no*. rcontrib returns the values for each modifier (material in this case) separately and since each material is representing a different sun position we need to have them al

[2016-03-28 00:12] sariths commented on #477
Hi @mostaphaRoudsari,  If I remember correctly, the .smx file contains rgb triplets for the radiation of the sun at 1619 positions for each hour of the year.The rationale behind using 1619 is that the overlap of suns will be minimal in that case.

The total number of lines is 8760 x 1619 = 14182440. The arrangement of lines is 1619 sets of 8760 numbers. So, the first 8760 lines should have one rgb

[2016-03-28 00:16] sariths commented on #496
@mostaphaRoudsari I guess I [figured this out](http://www.grasshopper3d.com/group/ladybug/forum/topics/read-annual-result-error) without knowing that I figured this out..I had some questions regarding the file arrangement and parsing inside that results component that I couldn't get. I will check with you once I find the time to read that code again.

[2016-03-28 13:52] mostaphaRoudsari commented on #477
Hi @sariths, Thanks. That's definitely helpful.

Back to your comments about rcontrib I think that is exactly the reason that Greg wrote rfluxmtx. Once I finish sunlight hours workflow I'm thinking to give it another try for radiation analysis for Ladybug. [I have done it once using rfluxmtx](https://twitter.com/__Mostapha__/status/545230150942851073) by following [Andy's tutorial](http://www.radi

[2016-03-28 17:31] sariths commented on #477
@mostaphaRoudsari That twitter example was 2014 ! #respect !!

I don't think the recipe concept works well for what I am trying to do in my research but I think I can pitch in with creating the classes for radiance binaries and defining/testing the workflows (and radiance coding in general). If you are starting a new binary class, just let me know in the issues through the new-development tag (as

[2016-03-29 02:27] chriswmackey commented on #388
@gdemichele ,
I had addressed this issue with a commit:
https://github.com/mostaphaRoudsari/Honeybee/commit/e01ab83c5a1fe6bc39be8dd8c5cdd012c4d70465
Now, you won't end up with duplicate zone names if you take the default.
-Chris

[2016-03-29 02:27] #388 closed

[2016-03-29 02:36] chriswmackey opened #497 "Split Up "SplitBldgMass" Component in Two and Build Up a Library of Core/Perimeter Functions"
as referenced in this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1493543&xg_source=msg

This really seems to be the best way around the issue.  The code just became too complex trying to do everything in one component and an organized strategy is needed to make this component great.

-Chris

[2016-04-04 21:13] ayezioro opened #498 "EPShadeMat - reflectance + transmittance lower than 1"
Hi,
As for this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/perforated-screen-energy-simulation?page=1&commentId=2985220%3AComment%3A1499719&x=1#2985220Comment1499719
I suggest to add those lines after line 93:

    checkData4 = True
    if (reflectance + transmittance) > 0.99: #!< 1:
        checkData4 = False
        print "reflectance_ + transmittance_ must be lower than

[2016-04-06 03:56] chriswmackey commented on #498
@ayezioro ,
Thanks for the suggestion and the code.  I whole-heatedly agree and it is done:
https://github.com/mostaphaRoudsari/Honeybee/commit/d6ba21e2a9828ba68ac626db52f9d68c3a511784

-Chris

[2016-04-06 03:56] #498 closed

[2016-04-06 14:48] mostaphaRoudsari opened #499 "'Honeybee_Glazing based on ratio' is very slow after solve adjacency"
Read more here: http://www.grasshopper3d.com/group/ladybug/forum/topics/massing-studies-with-honeybee-speed-of-zone-and-window-creation

[2016-04-09 17:34] mostaphaRoudsari opened #503 "EnergyPlus and OpenStudio Components Giving Different Transmitted Solar Energy"
Looks like a bug with the OpenStudio component. Read more [here](http://www.grasshopper3d.com/group/ladybug/forum/topics/energyplus-and-openstudio-components-giving-different-transmitted).

[2016-04-10 02:46] antonszilasi commented on #487
@mostaphaRoudsari When you say it won't work with import and export what do you mean?

[2016-04-10 22:18] antonszilasi commented on #503
@mostaphaRoudsari a bug within the open studio component? Or a bug within open studio itself?

[2016-04-10 22:24] mostaphaRoudsari commented on #503
@antonszilasi I'm not sure which one is the case. I haven't take a look. As I suggested in the discussion the first step is to make sure the idf file which is exported from the component looks as expected. I assume this is an issue with the exporter and not OpenStudio.

[2016-04-11 01:55] antonszilasi commented on #503
@mostaphaRoudsari Ok I'll take a look at this

[2016-04-11 09:00] moethu opened #504 "AppData"
Hi @mostaphaRoudsari,

Duncan realized the other day that some of your scripts are accessing the AppData folder the following way: C:\User\%UserName%\AppData... could you change this to %AppData% entirely? We changed our usernames differing from the user folder name, so this path doesn't work for us anymore.
Its not really best practice, but well, we cannot change that at the moment.

Thanks, Max

[2016-04-11 13:29] mostaphaRoudsari commented on #504
Hi @moethu! I should have already changed it to os.getenv('APPDATA'). Can you try the code on your machine and let me know if it returns the correct path. I will update the code once you confirm that it will work.

[code]

[2016-04-11 14:22] #504 closed

[2016-04-11 14:23] mostaphaRoudsari commented on #504
@moethu this should solve the problem. Let me know otherwise.

[2016-04-11 16:39] JShultz89 commented on #503
I saw a behavior that maybe the OpenStudio component is not properly rotating when a different north angle is given. I did not get the chance to investigate further but the numbers made sense for the north (0 rotation) but not when rotating the file to East (90 degree).

[2016-04-11 17:12] #503 closed

[2016-04-11 17:14] mostaphaRoudsari commented on #503
Thanks @JShultz89 for reporting. Good catch. That was it! The north value in OpenStudio file was in Radians. It's fixed now.

[2016-04-11 18:50] antonszilasi opened #505 "Small issue with getEPFolder"
@mostaphaRoudsari

I've had a problem with the OpenStudio component refusing to run due to the getEPFolder returning None. This was because instead of EnergyPlus, it was EnergyPlus V. Is this a bug? Im using the component from 4th of April.

https://github.com/mostaphaRoudsari/Honeybee/blob/1ea348290aee2de0b11bfe8eef2a5a3783a0cb4c/src/Honeybee_Export%20To%20OpenStudio.py#L2173